@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Scheme.ViewModels.PCSFileUploadViewModel
@{
    ViewBag.Title = "Submit data returns";
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

@section main_content
{
    <script type="text/javascript">
        @*
            Prevent FireFox from using it's bfcache for this page
            by adding an empty event handler to the "beforeunload"
            window event.
        *@
        if (window.addEventListener) {
            window.addEventListener("beforeunload", function() {});
        }

        function ajaxSubmit() {

            if (!$("#form1").valid()) {
                return false;
            }

            $("#title")
                .html('Checking your file for errors');

            $("#preSubmissionContent")
                .hide();

            $("#anotherActivitylink")
                .hide();

            $("#submitButton")
                .prop('disabled', true)
                .prop('value', 'Checking file for errors...');

            setTimeout(function() {
                $("#processingTimeMessage")
                    .fadeIn("slow");
            }, 5000);

            @*
                Without the FormData API, doing an AJAX upload of a file is really hard.
                This only affects IE9 and earlier, so we'll fall back to a non-AJAX submission.
            *@
            if (typeof FormData == 'undefined') {
                return true;
            } else {
                $("#spinner")
                    .show();

                $.ajax({
                    url: "@Url.Action("Upload", "DataReturns")",
                    type: "POST",
                    data: $("#form1").serializeFiles(),
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        var placeHolderLocation = "@Url.Action("Review", "DataReturns", new { dataReturnUploadId = Guid.Empty })";
                        window.location = placeHolderLocation.replace("@Guid.Empty", response);
                    },
                    statusCode: {
                        500: function(response) {
                            window.location = "@Url.Action("InternalError", "Errors", new { area = string.Empty })";
                        }
                    },
                });

                return false;
            }
        }
    </script>

    @using (Html.BeginForm("Upload", "DataReturns", FormMethod.Post,
        new
        {
            id = "form1",
            enctype = "multipart/form-data",
            onsubmit = "return ajaxSubmit();",
            autocomplete = "off"
        }))
    {
        <header class="hgroup">
            <h1 id="title" class="heading-large" aria-live="off">
                Submit a data return
            </h1>
        </header>

        <div id="preSubmissionContent">
            @Html.AntiForgeryToken()
            @Html.Gds().ValidationSummary()
            <p>A data return contains information about:</p>
            <ul class="list-bullet">
                <li>Waste Electrical and Electronic Equipment (WEEE) your PCS has collected</li>
                <li>Electrical and Electronic Equipment (EEE) your producers have placed on the market</li>
            </ul>
            
            <p>To submit your data return, upload an XML file.</p>
            <p class="bold-small">
                <img src="~/Content/govuk_toolkit/images/icon-important.png" alt="important" class="important-image" />Your XML file must use the version 3.22 schema.
            </p>
            <div class="form-group @Html.Gds().FormGroupClass(m => m.File)">
                @(this.WeeeGds().ScreenReaderLabelFor(m => m.File))
                @Html.Gds().ValidationMessageFor(m => m.File)
                @Html.Gds().TextBoxFor(m => m.File, new { type = "file", accept = ".xml" })
           </div>

        </div>

        @(this.WeeeGds().Submit("Check file for errors", new { id = "submitButton", @class = "button", style = "margin-top: 20px" }, true))

        <p>
            @Html.ActionLink("Perform another activity", "ChooseActivity", "Home", null, new { id = "anotherActivitylink" })
        </p>
    }

    <noscript>
        <p class="bold-small">
            It may take a minute or two to check your file for errors, so please bear with us.
        </p>
    </noscript>

    <p class="bold-small" style="display: none;" id="processingTimeMessage" aria-live="polite">
        It may take a minute or two to check your file for errors, so please bear with us.
    </p>
}