@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.ReusedOffSiteSummaryListViewModel
@{
    ViewBag.Title = "Reused WEEE";
}
<section id="main-content">
    <h1 class="govuk-heading-l" style="padding-top: 0px;">WEEE reused as a whole appliance</h1>

    @using (Html.BeginForm("Index", "ReusedOffSiteSummaryList", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.OrganisationId)
        @Html.HiddenFor(m => m.ReturnId)

        <table class="govuk-table govuk-!-font-size-16" id="reuse-table-sites" style="width:50%; display:inline-table;">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" style="text-align:right" scope="col">B2C (tonnes)</th>
                    <th class="govuk-table__header" style="text-align:right" scope="col">B2B (tonnes)</th>
                    <th class="govuk-table__header" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="govuk-table__cell" style="text-align:right">@Model.B2cTotal</td>
                    <td class="govuk-table__cell" style="text-align:right">@Model.B2bTotal</td>
                    <td class="govuk-table__cell">
                        <span class="govuk-visually-hidden">Change WEEE re-used</span>@Html.RouteLink("Change", AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, aatfId = Model.AatfId, action = "Index", controller = "ObligatedReused" }, null)
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="govuk-!-padding-bottom-4"></div>
        <table class="govuk-table govuk-!-font-size-16" id="reuse-table-summary" style="margin-bottom: 0px;">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" style="width:20%" scope="col">Site name</th>
                    <th class="govuk-table__header" style="width:60%" scope="col">Address</th>
                    <th class="govuk-table__header" style="width:20%" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var address in Model.Addresses)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="col">@address.Name</td>
                        <td class="govuk-table__cell" scope="col">@address.Address</td>
                        <td class="govuk-table__cell" scope="col">
                            <span class="govuk-visually-hidden">Change the address of @address.Name</span>
                            @Html.RouteLink("Change", AatfRedirect.AatfOrganisationSelectedRoute, new { returnId = Model.ReturnId, aatfId = Model.AatfId, organisationId = Model.OrganisationId, siteId = address.Id, action = "Index", controller = "ReusedOffSiteCreateSite" }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="govuk-!-padding-bottom-2"></div>
        @Html.RouteLink("Add another site", AatfRedirect.AatfOrganisationSelectedRoute, new { returnId = Model.ReturnId, aatfId = Model.AatfId, organisationId = Model.OrganisationId, action = "Index", controller = "ReusedOffSiteCreateSite" }, null)
        <div class="govuk-!-padding-bottom-8"></div>

        Html.RenderPartial("_AatfTaskListButton", Model.ReturnId);
    }
</section>