@using EA.Weee.Core.Helpers
@using EA.Weee.Web.Areas.Producer.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Producer.ViewModels.TaskListViewModel

@{
    const string title = "Application for EEE Producer Registration";
    ViewBag.Title = title + " - GOV.UK";
}
@section full_main_content
{
    @(this.WeeeGds().BackLink(@Url.UrlFor<EA.Weee.Web.Areas.Scheme.Controllers.HomeController>(a => a.ChooseActivity(Model.OrganisationId))))

    <header class="hgroup">
        <h1 class="govuk-heading-l">@title</h1>
    </header>

    <p class="govuk-body">There @(Model.ProducerTaskModels.Count == 1 ? "is" : "are") @Model.ProducerTaskModels.Count @(Model.ProducerTaskModels.Count == 1 ? "step" : "steps") required to complete the registration.</p>
    <p class="govuk-body">After completing a step, you can click on the <span class="govuk-!-font-weight-bold">Return to tasklist</span> button, to return to this page. When you have completed all the steps within the application and provided all the documents required, click the submit button below.</p>
    <p class="govuk-body">The charge for registering is <span class="govuk-!-font-weight-bold">£30.00.</span></p>

    <ul class="govuk-task-list">
        @foreach (var task in Model.ProducerTaskModels)
        {
            var described = task.TaskLinkName.ToLower().Replace(" ", "-") + "-status";

            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="@Url.Action(task.Action, typeof(ProducerSubmissionController).GetControllerName())" aria-describedby="@described">
                        @task.TaskLinkName
                    </a>
                </div>

                @if (@task.Complete)
                {
                    <div class="govuk-task-list__status" id="@described">
                        Completed
                    </div>
                }
                else
                {
                    <div class="govuk-task-list__status" id="@described">
                        <strong class="govuk-tag govuk-tag--blue">
                            Incomplete
                        </strong>
                    </div>
                }

            </li>
        }
    </ul>

    @using (Html.BeginForm("CheckAnswers", "Producer", FormMethod.Get, null))
    {
        @Html.AntiForgeryToken()


        if (Model.CheckAnswersEnabled)
        {
            <div class="govuk-form-group">
                @(this.WeeeGds().Submit("Check your answers"))
            </div>
        }
        else
        {
            <div class="govuk-form-group">
                @(this.WeeeGds().Submit("Check your answers", new { disabled = "disabled"}))
            </div>
        }
       
    }
}
