@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Scheme.ViewModels.ChooseActivityViewModel
@{
    ViewBag.Title = "Choose Activity";
}

@section main_content
{   
    <header class="hgroup">
        <h1 class="govuk-heading-l">
            What would you like to do?
        </h1>
    </header>

    @using (Html.BeginForm(actionName: "ChooseActivity", controllerName: "Home", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.OrganisationId)

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedValue)" id="ActivityOptions">
            @this.WeeeGds().RadioButtonsFor(
                m => m.SelectedValue,
                Model.PossibleValues,
                "What would you like to do?",
                RadioButtonLegend.VisuallyHidden,
                RadioButtonLayout.Stacked)
        </div>

        @(this.WeeeGds().Submit("Continue"))
    }

    @if (Model.ShowLinkToCreateOrJoinOrganisation)
    {
    <p>
        <a href="@Url.Action("Search", "OrganisationRegistration", new { area = "" })">Create or access another organisation</a>
    </p>
}
}

