@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@model EA.Weee.Core.Organisations.OrganisationData

@{
    ViewBag.Title = "Manage organisation contact details";
}

@section main_content {
    <header class="hgroup">
        <h1 class="govuk-heading-l">Manage organisation contact details</h1>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        @Html.HiddenFor(model => model.Id)

        @Html.HiddenFor(model => model.Contact.RowVersion)

        <div class="form-group @Html.Gds().FormGroupClass(m => m.Contact.FirstName)">
            @Html.Gds().ValidationMessageFor(model => model.Contact.FirstName)
            @Html.Gds().LabelFor(model => model.Contact.FirstName)
            @Html.Gds().TextBoxFor(model => model.Contact.FirstName, new { @maxlength = CommonMaxFieldLengths.FirstName })
        </div>

        <div class="form-group @Html.Gds().FormGroupClass(m => m.Contact.LastName)">
            @Html.Gds().ValidationMessageFor(model => model.Contact.LastName)
            @Html.Gds().LabelFor(model => model.Contact.LastName)
            @Html.Gds().TextBoxFor(model => model.Contact.LastName, new { @maxlength = CommonMaxFieldLengths.LastName })
        </div>

        <div class="form-group @Html.Gds().FormGroupClass(m => m.Contact.Position)">
            @Html.Gds().ValidationMessageFor(model => model.Contact.Position)
            @Html.Gds().LabelFor(model => model.Contact.Position)
            @Html.Gds().TextBoxFor(model => model.Contact.Position, new { @maxlength = CommonMaxFieldLengths.Position })
        </div>

        @Html.EditorFor(model => model.OrganisationAddress)

        <p>
            <button class="button">Save and Continue</button>
        </p>
    }

    <div>
        @Html.ActionLink("Leave unchanged and perform another activity", "ChooseActivity", new { pcsId = Model.Id })
    </div>
}

