@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Scheme.ViewModels.OrganisationUsersViewModel
@{
    ViewBag.Title = "Manage organisation users";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="govuk-heading-l">Which user would you like to manage?</h1>
    </header>

   @using (Html.BeginForm(actionName: "ManageOrganisationUsers", controllerName: "Home", method: FormMethod.Post))
    {
       @Html.Gds().ValidationSummary()
       @Html.AntiForgeryToken()

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedOrganisationUser)">
            @this.WeeeGds().RadioButtonsFor(m => m.SelectedOrganisationUser,
                Model.OrganisationUsers,
                r => r.Value,
                r => r.Key,
                RadioButtonLegend.VisuallyHidden,
                RadioButtonLayout.Stacked)
        </div>

        @(this.WeeeGds().Submit("Continue"))
    }
    <div>
         @Html.ActionLink("Perform another activity", "ChooseActivity", "Home")
    </div>
}