@using System.Globalization
@using System.Linq
@using EA.Weee.Requests.Shared
@using EA.Weee.Web.Infrastructure.Paging
@model EA.Weee.Web.Areas.Scheme.ViewModels.DataReturnSubmissionHistoryViewModel
@{
    ViewBag.Title = "View Data Return Submission History";
}

<header class="hgroup">
    <h1 class="govuk-heading-l">
        Submission history
    </h1>
</header>

<p>
    <span class="font-bold">Submission type:</span> Data returns
</p>
@if (Model.Results.Any())
{
    <div class="govuk-form-group">
        <table id="submissions" class="govuk-table">
            <caption><span class="govuk-visually-hidden">Data returns submission history</span></caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    @switch (Model.OrderBy)
                    {
                        case DataReturnSubmissionsHistoryOrderBy.ComplianceYearAscending:
                            <th class="govuk-table__header sorted-ascending">
                                <a href="@Url.Action("ViewDataReturnSubmissionHistory", new { OrderBy = DataReturnSubmissionsHistoryOrderBy.ComplianceYearDescending })">Compliance year</a>
                                <span class="govuk-visually-hidden">Sorted by earliest compliance year.</span>
                            </th>
                            break;

                        case DataReturnSubmissionsHistoryOrderBy.ComplianceYearDescending:
                            <th class="govuk-table__header sorted-descending">
                                <a href="@Url.Action("ViewDataReturnSubmissionHistory", new { OrderBy = DataReturnSubmissionsHistoryOrderBy.ComplianceYearAscending })">Compliance year</a>
                                <span class="govuk-visually-hidden">Sorted by most recent compliance year.</span>
                            </th>
                            break;

                        default:
                            <th class="govuk-table__header">
                                <a href="@Url.Action("ViewDataReturnSubmissionHistory", new { OrderBy = DataReturnSubmissionsHistoryOrderBy.ComplianceYearAscending })">Compliance year</a>
                            </th>
                            break;
                    }

                    @switch (Model.OrderBy)
                    {
                        case DataReturnSubmissionsHistoryOrderBy.QuarterAscending:
                            <th class="govuk-table__header sorted-ascending">
                                <a href="@Url.Action("ViewDataReturnSubmissionHistory", new { OrderBy = DataReturnSubmissionsHistoryOrderBy.QuarterDescending })">Quarter reported</a>
                                <span class="govuk-visually-hidden">Sorted by earliest quarter.</span>
                            </th>
                            break;

                        case DataReturnSubmissionsHistoryOrderBy.QuarterDescending:
                            <th class="govuk-table__header sorted-descending">
                                <a href="@Url.Action("ViewDataReturnSubmissionHistory", new { OrderBy = DataReturnSubmissionsHistoryOrderBy.QuarterAscending })">Quarter reported</a>
                                <span class="govuk-visually-hidden">Sorted by most recent quarter.</span>
                            </th>
                            break;

                        default:
                            <th class="govuk-table__header">
                                <a href="@Url.Action("ViewDataReturnSubmissionHistory", new { OrderBy = DataReturnSubmissionsHistoryOrderBy.QuarterAscending })">Quarter reported</a>
                            </th>
                            break;
                    }

                    @switch (Model.OrderBy)
                    {
                        case DataReturnSubmissionsHistoryOrderBy.SubmissionDateAscending:
                            <th class="govuk-table__header sorted-ascending">
                                <a href="@Url.Action("ViewDataReturnSubmissionHistory", new { OrderBy = DataReturnSubmissionsHistoryOrderBy.SubmissionDateDescending })">Date and time (GMT)</a>
                                <span class="govuk-visually-hidden">Sorted by earliest submission date.</span>
                            </th>
                            break;

                        case DataReturnSubmissionsHistoryOrderBy.SubmissionDateDescending:
                            <th class="govuk-table__header sorted-descending">
                                <a href="@Url.Action("ViewDataReturnSubmissionHistory", new { OrderBy = DataReturnSubmissionsHistoryOrderBy.SubmissionDateAscending })">Date and time (GMT)</a>
                                <span class="govuk-visually-hidden">Sorted by most recent submission date.</span>
                            </th>
                            break;

                        default:
                            <th class="govuk-table__header">
                                <a href="@Url.Action("ViewDataReturnSubmissionHistory", new { OrderBy = DataReturnSubmissionsHistoryOrderBy.SubmissionDateAscending })">Date and time (GMT)</a>
                            </th>
                            break;
                    }

                    <th class="govuk-table__header">Submitted by</th>
                    <th class="govuk-table__header">File name</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var item in Model.Results)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@item.ComplianceYear</td>
                        <td class="govuk-table__cell">@item.Quarter</td>
                        <td class="govuk-table__cell">@item.SubmissionDateTime.ToString("dd MMM yyyy h:mm tt", CultureInfo.InvariantCulture)</td>
                        <td class="govuk-table__cell">@item.SubmittedBy</td>
                        <td class="govuk-table__cell">@item.FileName</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />

        @if (@Model.Results.PageCount > 1)
        {
            <div class="pager govuk-body">
                @Html.Pager(Model.Results.PageSize, Model.Results.PageNumber, Model.Results.TotalItemCount).Options(o => o.AddRouteValue("orderby", @Model.OrderBy))
            </div>
            <p class="govuk-body">Showing @Model.Results.ItemStart - @Model.Results.ItemEnd of @Model.Results.TotalItemCount</p>
        }
    </div>
}
else
{
    <div class="govuk-form-group">
        <p class="govuk-body">There are no submissions to view.</p>
    </div>
}
<p>
    @Html.ActionLink("Perform another activity", "ChooseActivity", "Home", new { @area = "Scheme" }, new { @class = "govuk-button" })
</p>



