@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.SchemeReports.EvidenceAndObligationProgressViewModel
@{
    ViewBag.Title = "Evidence notes report - GOV.UK";
}
@section full_main_content
{
    <p>
        @(this.WeeeGds().BackLink(Url.Action("ChooseReport", "Reports")))
    </p>

    <header class="hgroup">
        <h1 class="govuk-heading-l">PCS evidence and obligation progress report</h1>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <p class="govuk-body">This report shows a summary of the PCS obligations including household and non-household, reuse and the waste transferred in and out.</p>
        <p class="govuk-body">All data is reported in tonnes (t) to three decimal places.</p>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedYear)">
            @Html.Gds().LabelFor(m => m.SelectedYear)
            @Html.Gds().ValidationMessageFor(m => m.SelectedYear)
            @Html.Gds().DropDownListFor(m => m.SelectedYear, Model.ComplianceYears, string.Empty, new { autocomplete = "false", @class = "govuk-!-width-one-quarter" })
        </div>

        <div class="govuk-form-group  @Html.Gds().FormGroupClass(m => m.SelectedAppropriateAuthority)">
            @Html.Gds().LabelFor(m => m.SelectedAppropriateAuthority)
            @Html.Gds().ValidationMessageFor(m => m.SelectedAppropriateAuthority)
            @Html.Gds().DropDownListFor(m => m.SelectedAppropriateAuthority, Model.AppropriateAuthorities, string.Empty, new { autocomplete = "false", @class = "govuk-!-width-one-quarter" })
        </div>

        <div class="govuk-form-group  @Html.Gds().FormGroupClass(m => m.SelectedSchemeId)">
            @Html.Gds().LabelFor(m => m.SelectedSchemeId)
            @Html.Gds().ValidationMessageFor(m => m.SelectedSchemeId)
            @Html.Gds().DropDownListFor(m => m.SelectedSchemeId, Model.Schemes, string.Empty, withLookAhead: true, new { autocomplete = "false", @class = "govuk-!-width-one-quarter" })
        </div>

        <p>
            If there is a large amount of data, it may take a while to download the report.
        </p>

        @(this.WeeeGds().SubmitWithEventTracking("Download (CSV)", "Internal reports",
            "Report download", "PCS evidence and obligation progress report", new Dictionary<string, object> { { "class", "button" } }))
    }

    <p>
        @Html.ActionLink("Perform another activity", "ChooseActivity", "Home")
    </p>

}
@section scripts {
    @if (ViewBag.TriggerDownload)
    {
        <script type="text/javascript">
            window.location = "@Html.Raw(@Url.Action("DownloadEvidenceNoteReport", new
                          {
                              complianceYear = Model.SelectedYear,
                              tonnageToDisplay = Model.SelectedTonnageToDisplay
                          }))";
        </script>
    }
}