@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Producers.RemovedViewModel
@{
    var title = "Removed producer registration";
    ViewBag.Title = @title + " - GOV.UK";
}

@section main_content {

    <header class="hgroup">
        <h1 class="govuk-heading-l">@title</h1>
    </header>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ProducerName)
        @Html.HiddenFor(m => m.ComplianceYear)

        <p>You have successfully removed the producer registration for '@Model.ProducerName', for @Model.ComplianceYear.</p>

        @(this.WeeeGds().Submit("Continue"))
    }
}

