@using MvcNavigationHelpers
@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Core.Helpers
@using EA.Weee.Core.Admin;
@model EA.Weee.Web.Areas.Admin.ViewModels.Producers.ConfirmReturnViewModel
@{
    var title = "Are you sure you want to return this producer submission?";
    ViewBag.Title = @title + " - GOV.UK";
}

@section full_main_content
{
    @(this.WeeeGds().BackLink(@Url.UrlFor<EA.Weee.Web.Areas.Admin.Controllers.ProducerSubmissionController>(a => a.Submissions(Model.Producer.RegistrationNumber, Model.Producer.ComplianceYear))))

    <header class="hgroup">
        <h1 class="govuk-heading-l">
            @title
        </h1>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        @Html.HiddenFor(m => m.Producer.RegistrationNumber, new { id = "registrationNumber" })
        @Html.HiddenFor(m => m.Producer.ComplianceYear, new { id = "year" })
        @Html.HiddenFor(m => m.Producer.RegisteredProducerId, new { id = "registeredProducerId" })
        @Html.HiddenFor(m => m.Producer.ProducerName)
        @Html.HiddenFor(m => m.DirectProducerSubmissionId)


        <p class="govuk-body govuk-!-margin-bottom-0">The following producer submission will be returned to the producer.</p>

        <table class="govuk-table">
            <thead class="govuk-table__head prsd-table-small-collapse prsd-table-small-collapse-header">
                <tr class="govuk-table__row govuk-table__cell--thick prsd-table-small-collapse prsd-table-small-collapse-header">
                    <th scope="col" class="govuk-table__header prsd-table-small-collapse" style="width: 30%;"><span class="govuk-visually-hidden">name</span></th>
                    <th scope="col" class="govuk-table__header prsd-table-small-collapse"><span class="govuk-visually-hidden">value</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row task-list-row govuk-table__cell--thick prsd-table-small-collapse">
                    <th class="govuk-table__header" style="width: 30%;" scope="row">Producer name</th>
                    <td class="govuk-table__cell">@Model.Producer.ProducerName</td>
                </tr>
                <tr class="govuk-table__row task-list-row govuk-table__cell--thick prsd-table-small-collapse">
                    <th class="govuk-table__header" style="width: 30%;" scope="row">Producer registration number</th>
                    <td class="govuk-table__cell">@Model.Producer.RegistrationNumber</td>
                </tr>
            </tbody>
        </table>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedValue)" id="SelectedValue">
            @this.WeeeGds().RadioButtonsFor(
                m => m.SelectedValue,
                Model.PossibleValues,
                "Select yes or no to return this producer submission",
                RadioButtonLegend.VisuallyHidden,
                RadioButtonLayout.Inline)
        </div>

        @(this.WeeeGds().Submit("Continue"))
    }
}