@model EA.Weee.Web.ViewModels.Account.ResetPasswordRequestViewModel

@section main_content {
    <h1 class="heading-large">
        Reset your password
    </h1>

    @using (Html.BeginForm(actionName: "ResetPasswordRequest", controllerName: "Account", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <p>To reset your password, enter the email address associated with your account.</p>

        <div class="form-group @Html.Gds().FormGroupClass(m => m.Email)">
            @Html.Gds().LabelFor(m => m.Email)
            @Html.Gds().ValidationMessageFor(m => m.Email)
            @Html.Gds().TextBoxFor(m => m.Email, new { autocomplete = "off" })
        </div>

        <div class="form-group">
            <input type="submit" value="Continue" class="button" />
        </div>
    }

    <div class="form-group">
        <details>
            <summary><span class="summary">I don't know the email address for my account</span></summary>
            <div class="panel-indent">
                <p>
                    If you don't know the email address belonging to your account, contact the  relevant helpline:
                </p>
                <ul class="list-bullet">
                    <li>Environment Agency (England): 03708 506 506</li>
                    <li>Scottish Environment Protection Agency: 01786 457700</li>
                    <li>Northern Ireland Environment Agency: 02 890 569338</li>
                    <li>Natural Resources Wales helpline: 03000 65 3096</li>
                </ul>
            </div>
        </details>
    </div>
}
