@using EA.Weee.Web.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.ViewModels.Account.LoginViewModel

@section main_content {
    <header class="hgroup">
        <h1 class="govuk-heading-l">
            Sign in to your account
        </h1>
    </header>

    @using (Html.BeginForm("SignIn", "Account", new { ReturnUrl = Request.QueryString["ReturnUrl"] }))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        @Html.HiddenFor(m => m.ReturnUrl)

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Email)">
            @Html.Gds().LabelFor(m => m.Email)
            @Html.Gds().ValidationMessageFor(m => m.Email)
            @Html.Gds().TextBoxFor(m => m.Email, new { autocomplete = "off" })
        </div>
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Password)">
            @Html.Gds().LabelFor(m => m.Password)
            @Html.Gds().ValidationMessageFor(m => m.Password)
            @Html.Gds().PasswordFor(m => m.Password)
        </div>

        @(this.WeeeGds().Submit("Continue"))
    }

    <p class="govuk-body">
        @Html.ActionLink("Create a user account", "UserCreation", "NewUser")
    </p>
    <p>
        @this.WeeeGds().ActionLinkWithEventTracking("Reset password", 
            Url.UrlFor<AccountController>(c => c.ResetPasswordRequest()),
            "User account", 
            "Reset password", 
            "External")
    </p>
}
