@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@using EA.Weee.Core.Shared
@using EA.Weee.Web.Areas.Admin.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Scheme.SchemeViewModelBase
@{
    ViewBag.Title = "Edit PCS";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IsChangeableStatus)
    @Html.HiddenFor(m => m.OrganisationId)
    @Html.HiddenFor(m => m.SchemeId)

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <header class="hgroup">
                <h1 class="govuk-heading-l">Edit PCS</h1>
            </header>
        </div>
    </div>

    @Html.Gds().ValidationSummary()

    @Html.Partial("_SchemeDetails")

    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Status)">
        @Html.Gds().LabelFor(m => m.Status)
        @Html.Gds().ValidationMessageFor(m => m.Status)
        @if (!Model.IsChangeableStatus)
        {
            <select class="form-control govuk-select govuk-!-width-one-half" disabled="disabled">
                <option>@Model.Status</option>
            </select>
            @Html.HiddenFor(m => m.Status)
        }
        else
        {
            @Html.Gds().DropDownListFor(m => m.Status, Model.StatusSelectList, string.Empty, new { @class = "govuk-!-width-one-half" })
        }
    </div>

    if (Model.IsChangeableStatus)
    {
        @(this.WeeeGds().Submit("Save and Continue"))
    }
    <p>
        <a href="@(Url.UrlFor<SchemeController>(a => a.Overview(Model.SchemeId, null, null)))">Back</a>
    </p>
}


@section scripts {
    <script>
        $("#Status").change(function () {
            if ($(this).val() === "3") /* Rejected status */ {
                document.forms[1].submit(); // Submit the form immediately
            }

            if ($(this).val() === "4") /* Withdrawn status */ {
                document.forms[1].submit(); // Submit the form immediately
            }
        });
    </script>
}
