@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@using EA.Weee.Core.Organisations
@model EA.Weee.Web.Areas.Admin.ViewModels.Scheme.EditSoleTraderOrIndividualOrganisationDetailsViewModel
@{
    ViewBag.Title = "Edit organisation details";
}

@section main_content {
    <header class="hgroup">
        <h1 class="govuk-heading-l">Edit organisation details</h1>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        @Html.HiddenFor(m => m.OrgId)
        @Html.HiddenFor(m => m.SchemeId)
        @Html.HiddenFor(m => m.OrganisationType)

        <p>
            <span class="font-bold marginRight">Organisation type:</span> @if (Model.OrganisationType == OrganisationType.SoleTraderOrIndividual)
            {
                @:Sole trader or individual
                                }
            else if (Model.OrganisationType == OrganisationType.Partnership)
            {
                @:Partnership
                                }
        </p>
            
        <div class="form-group @Html.Gds().FormGroupClass(m => m.BusinessTradingName)">
            @Html.Gds().LabelFor(m => m.BusinessTradingName)
            @Html.Gds().ValidationMessageFor(m => m.BusinessTradingName)
            @Html.Gds().TextBoxFor(m => m.BusinessTradingName, new { @maxlength = CommonMaxFieldLengths.DefaultString })
        </div>

        @Html.EditorFor(m => m.BusinessAddress)

        <div class="form-group">
            <button class="button">Save and Continue</button>
        </div>
        <p>
            <a href="javascript:history.back();">Back</a>
        </p>
    }

}
