@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.Helpers
@using EA.Weee.Core.Shared
@using EA.Weee.Web.Areas.Admin.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Scheme.ManageSchemesViewModel
@{
    ViewBag.Title = "Manage PCSs";
}

@section scripts{
    <script>
        $('#idManageSchemesTable tr').click(function () {
            $(this).find('td input[type=radio]').prop('checked', true);
        })
    </script>
}

<header class="hgroup">
    <h1 class="govuk-heading-l">
        Which PCS would you like to manage?
    </h1>
</header>
@using (Html.BeginForm(actionName: "ManageSchemes", controllerName: "Scheme", method: FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    <div class="table-hr"></div>
    <table id="idManageSchemesTable" class="govuk-table prsd-table hover-effect">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Organisation name</th>
                <th class="govuk-table__header" scope="col">Scheme name</th>
                <th class="govuk-table__header" scope="col">Status</th>
                <th class="govuk-table__header" style="padding-right: 20px;" scope="col">Select</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var scheme in Model.Schemes)
            {
                <tr>
                    <td class="govuk-table__cell" width="100%">@scheme.Name.HardTrim(80)</td>
                    <td class="govuk-table__cell">@scheme.SchemeName</td>
                    <td class="govuk-table__cell">@scheme.SchemeStatus</td>
                    <td class="govuk-table__cell">@Html.RadioButtonFor(m => m.Selected, @scheme.Id)</td>
                </tr>
            }
        </tbody>
    </table>
    <br/>

    @(this.WeeeGds().Submit("Continue"))

    <p>
        <a href="@(Url.UrlFor<HomeController>(a => a.ChooseActivity()))">Back</a>
    </p>
}

