@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@model EA.Weee.Web.Areas.Admin.ViewModels.Scheme.ManageContactDetailsViewModel

@{
    ViewBag.Title = "Edit organisation contact details";
}

@section main_content {
    <header class="hgroup">
        <h1 class="govuk-heading-l">Edit organisation contact details</h1>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        @Html.HiddenFor(m => m.OrgId)
        @Html.HiddenFor(m => m.SchemeId)

        @Html.HiddenFor(m => m.Contact.RowVersion)

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Contact.FirstName)">
            @Html.Gds().ValidationMessageFor(m => m.Contact.FirstName)
            @Html.Gds().LabelFor(m => m.Contact.FirstName)
            @Html.Gds().TextBoxFor(m => m.Contact.FirstName, new { @maxlength = CommonMaxFieldLengths.FirstName })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Contact.LastName)">
            @Html.Gds().ValidationMessageFor(m => m.Contact.LastName)
            @Html.Gds().LabelFor(m => m.Contact.LastName)
            @Html.Gds().TextBoxFor(m => m.Contact.LastName, new { @maxlength = CommonMaxFieldLengths.LastName })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Contact.Position)">
            @Html.Gds().ValidationMessageFor(m => m.Contact.Position)
            @Html.Gds().LabelFor(m => m.Contact.Position)
            @Html.Gds().TextBoxFor(m => m.Contact.Position, new { @maxlength = CommonMaxFieldLengths.Position })
        </div>

        @Html.EditorFor(m => m.OrganisationAddress)

        <div class="govuk-form-group">
            <button class="govuk-button">Save and Continue</button>
        </div>
        <p>
            <a href="javascript:history.back();">Back</a>
        </p>
    }

}
