@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.Helpers
@using EA.Weee.Core.Shared
@using EA.Weee.Web.Areas.Admin.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Scheme.ManageSchemesViewModel
@{
    ViewBag.Title = "Manage PCSs";
}

@section scripts{
    <script>
        $('#idManageSchemesTable tr').click(function () {
            $(this).find('td input[type=radio]').prop('checked', true);
        })
    </script>
}

<header class="hgroup">
    <h1 class="heading-large">
        Which PCS would you like to manage?
    </h1>
</header>
@using (Html.BeginForm(actionName: "ManageSchemes", controllerName: "Scheme", method: FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    <div class="table-hr"></div>
    <table id="idManageSchemesTable" class="prsd-table hover-effect">
        <thead>
            <tr>
                <th>Organisation name</th>
                <th>Scheme name</th>
                <th>Status</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var scheme in Model.Schemes)
            {
                <tr>
                    <td width="100%">@scheme.Name.HardTrim(80)</td>
                    <td>@scheme.SchemeName</td>
                    <td>@scheme.SchemeStatus</td>
                    <td>@Html.RadioButtonFor(m => m.Selected, @scheme.Id)</td>
                </tr>
            }
        </tbody>
    </table>
    <br/>

    @(this.WeeeGds().Submit("Continue", new { @class = "button" }))

    <p>
        <a href="@(Url.UrlFor<HomeController>(a => a.ChooseActivity()))">Back</a>
    </p>
}

