@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Web.Areas.Admin.Controllers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Obligations.UploadObligationsViewModel
@{
    ViewBag.Title = "Manage PCS obligations";
}

@section full_main_content
{
    @(this.WeeeGds().BackLink(Url.UrlFor<ObligationsController>(a => a.SelectAuthority())))

    @if (Model.AnyError)
    {
        <div class="error-summary govuk-error-summary" id="error_explanation" aria-labelledby="error-summary-title" role="alert" aria-atomic="true" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    @if (Model.DisplaySelectFileError)
                    {
                        <li>
                            <a href="#File">You have not selected a file</a>
                            <p class="govuk-error-message">@Html.Gds().VisuallyHidden("Error:") You must select a file before the system can check for errors</p>
                        </li>
                    }
                    @if (Model.DisplayDataError)
                    {
                        <li>
                            <a href="#File">Your file contains @Model.NumberOfDataErrors data error</a>
                            <p class="govuk-error-message">@Html.Gds().VisuallyHidden("Error:") There may be a problem with the data in the file, which prevents our system from validating it. You should rectify any errors before we can continue our validation process.</p>
                        </li>
                    }
                    @if (Model.DisplayFormatError)
                    {
                        <li>
                            <a href="#File">Your file is in the wrong format</a>
                            <p class="govuk-error-message">@Html.Gds().VisuallyHidden("Error:")The error may be a problem with the file structure, which prevents our system from validating your file. You should rectify this error before we can continue our validation process.</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
    @if (Model.DisplaySuccessMessage)
    {
        @(this.WeeeGds().Panel("You have successfully uploaded the obligations for the compliance year 2022"))
    }

    <header class="hgroup">
        <div>
            <h1 class="govuk-heading-l">Manage PCS obligations</h1>
        </div>
    </header>

    @using (Html.BeginForm("UploadObligations", "Obligations", FormMethod.Post, new
    {
        enctype = "multipart/form-data",
    }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Authority)
        <p>
            To upload your PCS's obligations, you need to first download the CSV template for the current compliance year. After this you can fill in the template with the data and upload it.
        </p>
        <p>
            @Html.ActionLink("Download template", "DownloadTemplate", new { authority = Model.Authority })
        </p>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.File)">
            @(this.WeeeGds().ScreenVisuallyHiddenLabelFor(m => m.File))
            @Html.Gds().ValidationMessageFor(m => m.File)
            <input class="govuk-file-upload" id="File" data-val="true" name="File" accept=".csv" type="file">
        </div>

        @(this.WeeeGds().Button("Upload file"))

        <table id="pcs-obligation-table" class="govuk-table">
            <caption class="govuk-table__caption govuk-visually-hidden">PCS obligation</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">
                        PCS
                    </th>
                    <th class="govuk-table__header govuk-!-text-align-right">
                        Obligation updated (GMT)
                    </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr>
                    <td colspan="2">
                        <p>There are currently no PCS obligations uploaded</p>
                    </td>
                </tr>
            </tbody>
        </table>
    }
}
@section scripts {
    @if (ViewBag.TriggerDownload != null && ViewBag.TriggerDownload)
    {
        <script type="text/javascript">
            window.location = "@Html.Raw(@Url.Action("DownloadTemplate", new
                               {
                                    authority = Model.Authority
                               }))";
        </script>
    }
}