@using EA.Weee.Core.AatfReturn
@using EA.Weee.Core.DataStandards
@using EA.Weee.Web.Areas.Admin.Controllers
@using MvcNavigationHelpers
@using EA.Weee.Web.Extensions
@model EA.Weee.Web.Areas.Admin.ViewModels.AddOrganisation.SearchViewModel
@{
    var title = "Add " + @Model.EntityTypeFormatted() + " to an organisation";
    ViewBag.Title = title + " - GOV.UK";
}
@section main_content
{
    <header class="hgroup">
        <h1 class="govuk-heading-l">@title</h1>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.EntityType)

        <p>
            Search for an organisation that you wish to add @Model.EntityTypeFormatted() to
        </p>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SearchTerm) form-search">
            @Html.Gds().LabelFor(m => m.SearchTerm, new { @class = "govuk-visually-hidden" })
            @Html.Gds().ValidationMessageFor(m => m.SearchTerm)
            @Html.Gds().TextBoxFor(m => m.SearchTerm, new { @class = "govuk-!-width-one-half", @maxLength = CommonMaxFieldLengths.DefaultString }) <!-- SG Change, form control forces 50% width -->
            <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
                <img src="@Url.Content("~/Content/weee/images/icon-search.png")" alt="Search" />
            </button>
        </div>

        <p>
            <a class="govuk-button" href="@(Url.UrlFor<HomeController>(a => a.ChooseActivity()))">Perform another activity</a>
        </p>

        if (Model.IsAeOrAatf)
        {
            <p>
                <a href="@(Url.UrlFor<AatfController>(u => u.ManageAatfs((FacilityType)Model.EntityType)))">Back</a>
            </p>
        }

    }
}
@section scripts {
    <script type="text/javascript">
        initJqueryAutoComplete("@Url.Action("FetchSearchResultsJson")");
    </script>
}