@model EA.Weee.Web.ViewModels.NotificationApplication.InitialQuestionsViewModel

@{
    ViewBag.Title = "Recovery or Disposal Question";
}

@using (Html.BeginForm("NotificationTypeQuestion", "NotificationApplication", FormMethod.Post))
{
    <header class="hgroup">
        <h2 class="heading-large">What type of waste shipment notification are you applying for?</h2>
    </header>
    <div class="text-danger">@Html.Gds().ValidationSummary()</div>
    if (Model != null)
    {
        @Html.HiddenFor(m => m.CompetentAuthority)
        <div class="form-group">
            <fieldset>
                @foreach (var notificationType in Model.NotificationTypes)
                {
                    var labelFor = "rdo" + notificationType;
                    <label class="block-label" for="@labelFor">
                        @Html.RadioButtonFor(m => m.SelectedNotificationType, notificationType, new {@id = "rdo" + notificationType})@notificationType
                    </label>
                }
            </fieldset>
        </div>
        <div class="form-group">
            <div class="panel-indent" id="disposal-message">
                If you are shipping for disposal then we advise you to contact your relevant competent authority before completing your notification application.

                <p>@Model.CompetentAuthorityContactInfo</p>
            </div>
        </div>
    }
    <div class="form-group">
        <button class="button" type="submit">Continue</button>
    </div>
}
@section scripts
{
    <script>
        $(function() {
            $("#disposal-message").hide();

            $("#rdoDisposal").click(function () {
                $("#disposal-message").show("fast");
            });

            $("#rdoRecovery").click(function () {
                $("#disposal-message").hide("fast");
            });
        });
    </script>
}