@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards

@model EA.Weee.Web.Areas.Admin.ViewModels.Scheme.SchemeViewModelBase

@if (Model.IsChangeableStatus)
{
    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SchemeName)">
        @Html.Gds().LabelFor(m => m.SchemeName)
        @Html.Gds().ValidationMessageFor(m => m.SchemeName)
        @Html.Gds().TextBoxFor(m => m.SchemeName, new { @class = "govuk-!-width-one-half", @maxlength = EnvironmentAgencyMaxFieldLengths.SchemeName })
    </div>
    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.ApprovalNumber)">
        @Html.Gds().LabelFor(m => m.ApprovalNumber)
        @Html.Gds().ValidationMessageFor(m => m.ApprovalNumber)
        @Html.Gds().TextBoxFor(m => m.ApprovalNumber, new { @class = "govuk-!-width-one-half", @maxlength = EnvironmentAgencyMaxFieldLengths.SchemeApprovalNumber })
    </div>
    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.IbisCustomerReference)">
        @Html.Gds().LabelFor(m => m.IbisCustomerReference, "(optional for SEPA, NIEA, NRW)")
        @Html.Gds().ValidationMessageFor(m => m.IbisCustomerReference)
        @Html.Gds().TextBoxFor(m => m.IbisCustomerReference, new { @class = "govuk-!-width-one-half", @maxlength = EnvironmentAgencyMaxFieldLengths.IbisBillingReference })
    </div>
    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.ObligationType)">
        @Html.Gds().LabelFor(m => m.ObligationType)
        @Html.Gds().ValidationMessageFor(m => m.ObligationType)
        @Html.Gds().DropDownListFor(m => m.ObligationType, Model.ObligationTypeSelectList, string.Empty, new { @class = "govuk-!-width-one-half", autocomplete = "false" })
    </div>
    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.CompetentAuthorityId)">
        @Html.Gds().LabelFor(m => m.CompetentAuthorityId)
        @Html.Gds().ValidationMessageFor(m => m.CompetentAuthorityId)
        @Html.Gds().DropDownListFor(m => m.CompetentAuthorityId, new SelectList(Model.CompetentAuthorities, "Id", "Abbreviation"), string.Empty, new { @class = "govuk-!-width-one-half", autocomplete = "false" })
    </div>
}