@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.Helpers
@using EA.Weee.Web.Areas.Admin.ViewModels.Shared
@using EA.Weee.Web.Extensions
@using EA.Weee.Web.RazorHelpers

@model EA.Weee.Web.Areas.Admin.ViewModels.ManageEvidenceNotes.ViewAllEvidenceNotesViewModel

@section full_main_content
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">


            @Html.Partial("~/Areas/Admin/Views/ManageEvidenceNotes/_ManageEvidenceNotesHeader.cshtml", Model)

            <div class="govuk-tabs">

                @Html.Partial("~/Areas/Admin/Views/ManageEvidenceNotes/_ManageEvidenceNotesTabs.cshtml", Model)

                <div class="govuk-tabs__panel" id="allEvidenceNotes">

                    @using (Html.BeginForm("Index", "ManageEvidenceNotes", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Gds().ValidationSummary()
                        @Html.Hidden("tab", Extensions.ToDisplayString(Model.ActiveDisplayOption), new { id = "tab-all-evidence" })
                        @Html.Hidden("ManageEvidenceNoteViewModel.SelectedComplianceYear", Model.ManageEvidenceNoteViewModel.SelectedComplianceYear)

                        <h2 class="govuk-heading-m govuk-!-padding-bottom-4">
                            View all evidence notes
                        </h2>

                        Html.RenderPartial("~/Areas/Admin/Views/ManageEvidenceNotes/_internalFiltersPartial.cshtml", Model, new ViewDataDictionary()
                                                    {
                                new KeyValuePair<string, object>("tab",
                                    Extensions.ToDisplayString(ManageEvidenceNotesTabDisplayOptions.ViewAllEvidenceNotes))
                            });

                    }
                    <div class="govuk-!-padding-top-6">
                        <table id="all-evidence-notes-table" class="govuk-table">
                            <caption class="govuk-table__caption govuk-visually-hidden">All evidence notes</caption>
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header" scope="col" style="width: 15%;">
                                        Reference ID
                                    </th>
                                    <th class="govuk-table__header" scope="col" style="width: 12%;">
                                        Submitted date
                                    </th>
                                    <th class="govuk-table__header" scope="col" style="width: 29%;">
                                        Submitted by
                                    </th>
                                    <th class="govuk-table__header" scope="col" style="width: 29%;">
                                        Recipient
                                    </th>
                                    <th class="govuk-table__header" scope="col" style="width: 10%;">
                                        Status
                                    </th>
                                    <th class="govuk-table__header" scope="col" style="width: 5%;">
                                        @Html.Gds().VisuallyHidden("actions")
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @if (Model.EvidenceNotesDataList.Any())
                                {
                                    foreach (var note in Model.EvidenceNotesDataList)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">@note.ReferenceDisplay</td>
                                            @if (note.SubmittedDate.HasValue)
                                            {
                                                <td class="govuk-table__cell">@note.SubmittedDate.Value.ToShortDateString()</td>
                                            }
                                            else
                                            {
                                                <td class="govuk-table__cell"></td>
                                            }
                                            <td class="govuk-table__cell">@note.SubmittedBy</td>
                                            <td class="govuk-table__cell">@note.Recipient</td>
                                            <td class="govuk-table__cell">@note.Status.ToString() </td>
                                            <td class="govuk-table__cell">
                                                @Html.NavigationRouteLink("View", "View evidence note with reference ID " + @note.ReferenceDisplay, "admin_view_evidence_note_details", new { action = "ViewEvidenceNote", controller = "ManageEvidenceNotes", evidenceNoteId = note.Id, page = Model.EvidenceNotesDataList.PageNumber, queryString = ReturnUrlHelper.TidyQueryString(Context.Request.QueryString) }, null)
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6">
                                            @Html.Partial("~/Views/Shared/_NoResultsPartial.cshtml", Model, new ViewDataDictionary() { new KeyValuePair<string, object>("no-results-message", "<p>There are currently no evidence notes to view </p>") })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">
                                            <p> Showing 0 - 0 of 0 </p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                    @{
                        Html.RenderPartial("~/Views/Shared/_EvidenceNotesPagerPartial.cshtml", Model.EvidenceNotesDataList, new ViewDataDictionary() {
                                {
                                    "pagerRouteValues", new
                                    {
                                        tab = Extensions.ToDisplayString(Model.ActiveDisplayOption),
                                        selectedComplianceYear = Model.ManageEvidenceNoteViewModel.SelectedComplianceYear,
                                        startDate = Model.ManageEvidenceNoteViewModel.SubmittedDatesFilterViewModel.StartDate.HasValue ? Model.ManageEvidenceNoteViewModel.SubmittedDatesFilterViewModel.StartDate.Value.ToShortDateString() : null,
                                        endDate = Model.ManageEvidenceNoteViewModel.SubmittedDatesFilterViewModel.EndDate.HasValue ? Model.ManageEvidenceNoteViewModel.SubmittedDatesFilterViewModel.EndDate.Value.ToShortDateString() : null,
                                        receivedId = Model.ManageEvidenceNoteViewModel.RecipientWasteStatusFilterViewModel.ReceivedId,
                                        wasteTypeValue = Model.ManageEvidenceNoteViewModel.RecipientWasteStatusFilterViewModel.WasteTypeValue.HasValue ? Model.ManageEvidenceNoteViewModel.RecipientWasteStatusFilterViewModel.WasteTypeValue.Value.ToInt() : (int?)null,
                                        noteStatusValue = Model.ManageEvidenceNoteViewModel.RecipientWasteStatusFilterViewModel.NoteStatusValue.HasValue ? Model.ManageEvidenceNoteViewModel.RecipientWasteStatusFilterViewModel.NoteStatusValue.Value.ToInt() : (int?)null,
                                        submittedBy = Model.ManageEvidenceNoteViewModel.RecipientWasteStatusFilterViewModel.SubmittedBy,
                                    }
                                }
                            });
                    }
                </div>

            </div>
        </div>
    </div>

}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            setAAAutoCompleteZIndex();
            initialiseTabs();
        });
    </script>
}
@{ Html.RenderPartial("~/Areas/Admin/Views/ManageEvidenceNotes/_mobileCss.cshtml"); }