@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.ViewModels.Shared.ViewTransferNoteViewModel
@{
    ViewBag.Title = Model.TabName + " - GOV.UK";
}

@section full_main_content{

    @(this.WeeeGds().BackLink(
    Url.Action("Index", "ManageEvidenceNotes",
        new { tab = Model.InternalUserRedirectTab, @selectedComplianceYear = Model.ComplianceYear })))

    <h1 class="govuk-heading-l">Are you sure you want to void evidence note transfer @Model.ReferenceDisplay?</h1>

    <p class="govuk-body">Voiding an evidence note transfer is permanent and cannot be undone. When voiding a transfer the tonnage will be re-distributed to the original notes.</p>

    <p class="govuk-body">
        Please provide a reason for voiding the note below. <br />
        The reason entered here is displayed on the evidence note transfer and will be visible to the customers.
    </p>

    @using (Html.BeginForm("VoidTransferNote", "ManageEvidenceNotes", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("evidenceNoteId", Model.EvidenceNoteId);
        @Html.TextAreaFor(m => m.VoidedReason, htmlAttributes: new { @id = "VoidedReason", @class = "govuk-textarea", @maxlength = "200", @rows = "4", @title = "You can type up to 200 characters" })
        @(this.WeeeGds().Submit("Confirm void", new { id = "confirmVoidButton", @class = "govuk-button", style = "margin-top: 20px" }, true))
    }
}
<!-- screen 6.08a -->
