@using EA.Weee.Core.DataReturns
@using EA.Weee.Core.Shared
@using EA.Weee.Web.Extensions
@using EA.Weee.Core.Admin

@model ProducerDetails

@foreach (var scheme in Model.Schemes)
{
    <div class="section-tabs">
        <ul>
            <li class="active">
                <a href="#" id="@(scheme.ObligationType)-registration-details-tab">Overview</a>
            </li>

            <li>
                <a href="#" id="@(scheme.ObligationType)-contact-details-tab">Contact details</a>
            </li>

            <li>
                <a href="#" id="@(scheme.ObligationType)-total-eee-details-tab">Total EEE</a>
            </li>

            @if (scheme.ProducerEeeDetails.Q1EEE.Any())
                {
                <li>
                    <a href="#" id="@(scheme.ObligationType)-q1-details-tab">Q1</a>
                </li>
            }

            @if (scheme.ProducerEeeDetails.Q2EEE.Any())
                {
                <li>
                    <a href="#" id="@(scheme.ObligationType)-q2-details-tab">Q2</a>
                </li>
            }

            @if (scheme.ProducerEeeDetails.Q3EEE.Any())
                {
                <li>
                    <a href="#" id="@(scheme.ObligationType)-q3-details-tab">Q3</a>
                </li>
            }

            @if (scheme.ProducerEeeDetails.Q4EEE.Any())
                {
                <li>
                    <a href="#" id="@(scheme.ObligationType)-q4-details-tab">Q4</a>
                </li>
            }
        </ul>
    </div>

    <table id="@(scheme.ObligationType)-registration-details-table">
        <thead>
            <tr class="govuk-visually-hidden">
                <th colspan="2">Overview</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Registered PCS</th>
                <td>
                    @scheme.SchemeName
                    @if (Model.CanRemoveProducer)
                    {
                        <br />@Html.ActionLink("Remove producer", "ConfirmRemoval", "Producers", new { registeredProducerId = @scheme.RegisteredProducerId }, null)
                    }
                </td>
            </tr>
            <tr>
                <th>Producer name</th>
                <td>@scheme.ProducerName</td>
            </tr>
            <tr>
                <th>Trading name</th>
                <td>@scheme.TradingName</td>
            </tr>
            <tr>
                <th>Registration date</th>
                <td>@scheme.RegistrationDate.ToString("dd MMMM yyyy")</td>
            </tr>
            @if (@scheme.CompanyNumber != null)
                {
                <tr>
                    <th>Company registration number</th>
                    <td>@scheme.CompanyNumber</td>
                </tr>
            }
            <tr>
                <th>@(scheme.IsCompany ? "Registered office" : "Principal place of business")</th>
                <td>@scheme.ProducerBusinessContact.Address</td>
            </tr>
            <tr>
                <th>Obligation type</th>
                <td>@scheme.ObligationType</td>
            </tr>
            <tr>
                <th>Charge band type</th>
                <td>@scheme.ChargeBandType</td>
            </tr>
            <tr>
                <th>Authorised representative</th>
                <td>@scheme.IsAuthorisedRepresentative</td>
            </tr>
            @if (@scheme.CeasedToExist != null)
                {
                <tr>
                    <th>Ceased to exist</th>
                    <td>@scheme.CeasedToExist.Value.ToString("dd MMMM yyyy")</td>
                </tr>
            }
        </tbody>
    </table>

    <table id="@(scheme.ObligationType)-contact-details-table" class="visually-hidden">
        <thead>
            <tr class="visually-hidden">
                <th colspan="2">Contact details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Contact name</th>
                <td>@scheme.ProducerBusinessContact.ContactName</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>@scheme.ProducerBusinessContact.Telephone</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>@scheme.ProducerBusinessContact.Mobile</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>@scheme.ProducerBusinessContact.Email</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>@scheme.ProducerBusinessContact.Address</td>
            </tr>
        </tbody>
    </table>

    <table id="@(scheme.ObligationType)-total-eee-details-table" class="visually-hidden">
        <thead>
            <tr class="govuk-visually-hidden">
                <th colspan="3">Total EEE</th>
            </tr>
            <tr>
                <th>Category</th>
                <th>B2C (Tonnes)</th>
                <th>B2B (Tonnes)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@((int)WeeeCategory.LargeHouseholdAppliances) - @(WeeeCategory.LargeHouseholdAppliances.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.LargeHouseholdAppliances, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.LargeHouseholdAppliances, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.SmallHouseholdAppliances) - @(WeeeCategory.SmallHouseholdAppliances.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.SmallHouseholdAppliances, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.SmallHouseholdAppliances, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ITAndTelecommsEquipment) - @(WeeeCategory.ITAndTelecommsEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.ITAndTelecommsEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.ITAndTelecommsEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ConsumerEquipment) - @(WeeeCategory.ConsumerEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.ConsumerEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.ConsumerEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.LightingEquipment) - @(WeeeCategory.LightingEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.LightingEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.LightingEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ElectricalAndElectronicTools) - @(WeeeCategory.ElectricalAndElectronicTools.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.ElectricalAndElectronicTools, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.ElectricalAndElectronicTools, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ToysLeisureAndSports) - @(WeeeCategory.ToysLeisureAndSports.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.ToysLeisureAndSports, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.ToysLeisureAndSports, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.MedicalDevices) - @(WeeeCategory.MedicalDevices.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.MedicalDevices, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.MedicalDevices, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.MonitoringAndControlInstruments) - @(WeeeCategory.MonitoringAndControlInstruments.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.MonitoringAndControlInstruments, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.MonitoringAndControlInstruments, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.AutomaticDispensers) - @(WeeeCategory.AutomaticDispensers.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.AutomaticDispensers, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.AutomaticDispensers, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.DisplayEquipment) - @(WeeeCategory.DisplayEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.DisplayEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.DisplayEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.CoolingApplicancesContainingRefrigerants) - @(WeeeCategory.CoolingApplicancesContainingRefrigerants.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.CoolingApplicancesContainingRefrigerants, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.CoolingApplicancesContainingRefrigerants, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.GasDischargeLampsAndLedLightSources) - @(WeeeCategory.GasDischargeLampsAndLedLightSources.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.GasDischargeLampsAndLedLightSources, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.GasDischargeLampsAndLedLightSources, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.PhotovoltaicPanels) - @(WeeeCategory.PhotovoltaicPanels.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.PhotovoltaicPanels, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.All, WeeeCategory.PhotovoltaicPanels, ObligationType.B2B)</td>
            </tr>
        </tbody>
    </table>

    <table id="@(scheme.ObligationType)-q1-details-table" class="visually-hidden">
        <thead>
            <tr class="govuk-visually-hidden">
                <th colspan="3">Q1 EEE</th>
            </tr>
            <tr>
                <th>Category</th>
                <th>B2C (Tonnes)</th>
                <th>B2B (Tonnes)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@((int)WeeeCategory.LargeHouseholdAppliances) - @(WeeeCategory.LargeHouseholdAppliances.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.LargeHouseholdAppliances, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.LargeHouseholdAppliances, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.SmallHouseholdAppliances) - @(WeeeCategory.SmallHouseholdAppliances.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.SmallHouseholdAppliances, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.SmallHouseholdAppliances, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ITAndTelecommsEquipment) - @(WeeeCategory.ITAndTelecommsEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.ITAndTelecommsEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.ITAndTelecommsEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ConsumerEquipment) - @(WeeeCategory.ConsumerEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.ConsumerEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.ConsumerEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.LightingEquipment) - @(WeeeCategory.LightingEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.LightingEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.LightingEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ElectricalAndElectronicTools) - @(WeeeCategory.ElectricalAndElectronicTools.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.ElectricalAndElectronicTools, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.ElectricalAndElectronicTools, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ToysLeisureAndSports) - @(WeeeCategory.ToysLeisureAndSports.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.ToysLeisureAndSports, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.ToysLeisureAndSports, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.MedicalDevices) - @(WeeeCategory.MedicalDevices.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.MedicalDevices, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.MedicalDevices, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.MonitoringAndControlInstruments) - @(WeeeCategory.MonitoringAndControlInstruments.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.MonitoringAndControlInstruments, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.MonitoringAndControlInstruments, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.AutomaticDispensers) - @(WeeeCategory.AutomaticDispensers.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.AutomaticDispensers, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.AutomaticDispensers, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.DisplayEquipment) - @(WeeeCategory.DisplayEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.DisplayEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.DisplayEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.CoolingApplicancesContainingRefrigerants) - @(WeeeCategory.CoolingApplicancesContainingRefrigerants.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.CoolingApplicancesContainingRefrigerants, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.CoolingApplicancesContainingRefrigerants, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.GasDischargeLampsAndLedLightSources) - @(WeeeCategory.GasDischargeLampsAndLedLightSources.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.GasDischargeLampsAndLedLightSources, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.GasDischargeLampsAndLedLightSources, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.PhotovoltaicPanels) - @(WeeeCategory.PhotovoltaicPanels.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.PhotovoltaicPanels, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q1, WeeeCategory.PhotovoltaicPanels, ObligationType.B2B)</td>
            </tr>
        </tbody>
    </table>

    <table id="@(scheme.ObligationType)-q2-details-table" class="visually-hidden">
        <thead>
            <tr class="govuk-visually-hidden">
                <th colspan="3">Q2 EEE</th>
            </tr>
            <tr>
                <th>Category</th>
                <th>B2C (Tonnes)</th>
                <th>B2B (Tonnes)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@((int)WeeeCategory.LargeHouseholdAppliances) - @(WeeeCategory.LargeHouseholdAppliances.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.LargeHouseholdAppliances, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.LargeHouseholdAppliances, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.SmallHouseholdAppliances) - @(WeeeCategory.SmallHouseholdAppliances.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.SmallHouseholdAppliances, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.SmallHouseholdAppliances, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ITAndTelecommsEquipment) - @(WeeeCategory.ITAndTelecommsEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.ITAndTelecommsEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.ITAndTelecommsEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ConsumerEquipment) - @(WeeeCategory.ConsumerEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.ConsumerEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.ConsumerEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.LightingEquipment) - @(WeeeCategory.LightingEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.LightingEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.LightingEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ElectricalAndElectronicTools) - @(WeeeCategory.ElectricalAndElectronicTools.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.ElectricalAndElectronicTools, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.ElectricalAndElectronicTools, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ToysLeisureAndSports) - @(WeeeCategory.ToysLeisureAndSports.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.ToysLeisureAndSports, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.ToysLeisureAndSports, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.MedicalDevices) - @(WeeeCategory.MedicalDevices.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.MedicalDevices, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.MedicalDevices, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.MonitoringAndControlInstruments) - @(WeeeCategory.MonitoringAndControlInstruments.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.MonitoringAndControlInstruments, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.MonitoringAndControlInstruments, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.AutomaticDispensers) - @(WeeeCategory.AutomaticDispensers.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.AutomaticDispensers, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.AutomaticDispensers, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.DisplayEquipment) - @(WeeeCategory.DisplayEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.DisplayEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.DisplayEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.CoolingApplicancesContainingRefrigerants) - @(WeeeCategory.CoolingApplicancesContainingRefrigerants.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.CoolingApplicancesContainingRefrigerants, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.CoolingApplicancesContainingRefrigerants, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.GasDischargeLampsAndLedLightSources) - @(WeeeCategory.GasDischargeLampsAndLedLightSources.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.GasDischargeLampsAndLedLightSources, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.GasDischargeLampsAndLedLightSources, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.PhotovoltaicPanels) - @(WeeeCategory.PhotovoltaicPanels.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.PhotovoltaicPanels, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q2, WeeeCategory.PhotovoltaicPanels, ObligationType.B2B)</td>
            </tr>
        </tbody>
    </table>

    <table id="@(scheme.ObligationType)-q3-details-table" class="visually-hidden">
        <thead>
            <tr class="govuk-visually-hidden">
                <th colspan="3">Q3 EEE</th>
            </tr>
            <tr>
                <th>Category</th>
                <th>B2C (Tonnes)</th>
                <th>B2B (Tonnes)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@((int)WeeeCategory.LargeHouseholdAppliances) - @(WeeeCategory.LargeHouseholdAppliances.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.LargeHouseholdAppliances, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.LargeHouseholdAppliances, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.SmallHouseholdAppliances) - @(WeeeCategory.SmallHouseholdAppliances.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.SmallHouseholdAppliances, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.SmallHouseholdAppliances, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ITAndTelecommsEquipment) - @(WeeeCategory.ITAndTelecommsEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.ITAndTelecommsEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.ITAndTelecommsEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ConsumerEquipment) - @(WeeeCategory.ConsumerEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.ConsumerEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.ConsumerEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.LightingEquipment) - @(WeeeCategory.LightingEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.LightingEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.LightingEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ElectricalAndElectronicTools) - @(WeeeCategory.ElectricalAndElectronicTools.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.ElectricalAndElectronicTools, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.ElectricalAndElectronicTools, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ToysLeisureAndSports) - @(WeeeCategory.ToysLeisureAndSports.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.ToysLeisureAndSports, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.ToysLeisureAndSports, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.MedicalDevices) - @(WeeeCategory.MedicalDevices.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.MedicalDevices, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.MedicalDevices, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.MonitoringAndControlInstruments) - @(WeeeCategory.MonitoringAndControlInstruments.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.MonitoringAndControlInstruments, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.MonitoringAndControlInstruments, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.AutomaticDispensers) - @(WeeeCategory.AutomaticDispensers.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.AutomaticDispensers, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.AutomaticDispensers, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.DisplayEquipment) - @(WeeeCategory.DisplayEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.DisplayEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.DisplayEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.CoolingApplicancesContainingRefrigerants) - @(WeeeCategory.CoolingApplicancesContainingRefrigerants.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.CoolingApplicancesContainingRefrigerants, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.CoolingApplicancesContainingRefrigerants, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.GasDischargeLampsAndLedLightSources) - @(WeeeCategory.GasDischargeLampsAndLedLightSources.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.GasDischargeLampsAndLedLightSources, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.GasDischargeLampsAndLedLightSources, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.PhotovoltaicPanels) - @(WeeeCategory.PhotovoltaicPanels.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.PhotovoltaicPanels, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q3, WeeeCategory.PhotovoltaicPanels, ObligationType.B2B)</td>
            </tr>
        </tbody>
    </table>

    <table id="@(scheme.ObligationType)-q4-details-table" class="visually-hidden">
        <thead>
            <tr class="govuk-visually-hidden">
                <th colspan="3">Q4 EEE</th>
            </tr>
            <tr>
                <th>Category</th>
                <th>B2C (Tonnes)</th>
                <th>B2B (Tonnes)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@((int)WeeeCategory.LargeHouseholdAppliances) - @(WeeeCategory.LargeHouseholdAppliances.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.LargeHouseholdAppliances, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.LargeHouseholdAppliances, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.SmallHouseholdAppliances) - @(WeeeCategory.SmallHouseholdAppliances.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.SmallHouseholdAppliances, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.SmallHouseholdAppliances, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ITAndTelecommsEquipment) - @(WeeeCategory.ITAndTelecommsEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.ITAndTelecommsEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.ITAndTelecommsEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ConsumerEquipment) - @(WeeeCategory.ConsumerEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.ConsumerEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.ConsumerEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.LightingEquipment) - @(WeeeCategory.LightingEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.LightingEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.LightingEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ElectricalAndElectronicTools) - @(WeeeCategory.ElectricalAndElectronicTools.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.ElectricalAndElectronicTools, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.ElectricalAndElectronicTools, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.ToysLeisureAndSports) - @(WeeeCategory.ToysLeisureAndSports.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.ToysLeisureAndSports, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.ToysLeisureAndSports, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.MedicalDevices) - @(WeeeCategory.MedicalDevices.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.MedicalDevices, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.MedicalDevices, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.MonitoringAndControlInstruments) - @(WeeeCategory.MonitoringAndControlInstruments.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.MonitoringAndControlInstruments, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.MonitoringAndControlInstruments, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.AutomaticDispensers) - @(WeeeCategory.AutomaticDispensers.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.AutomaticDispensers, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.AutomaticDispensers, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.DisplayEquipment) - @(WeeeCategory.DisplayEquipment.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.DisplayEquipment, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.DisplayEquipment, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.CoolingApplicancesContainingRefrigerants) - @(WeeeCategory.CoolingApplicancesContainingRefrigerants.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.CoolingApplicancesContainingRefrigerants, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.CoolingApplicancesContainingRefrigerants, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.GasDischargeLampsAndLedLightSources) - @(WeeeCategory.GasDischargeLampsAndLedLightSources.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.GasDischargeLampsAndLedLightSources, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.GasDischargeLampsAndLedLightSources, ObligationType.B2B)</td>
            </tr>
            <tr>
                <td>@((int)WeeeCategory.PhotovoltaicPanels) - @(WeeeCategory.PhotovoltaicPanels.ToDisplayString())</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.PhotovoltaicPanels, ObligationType.B2C)</td>
                <td class="numeric">@scheme.ProducerEeeDetails.DisplayTonnage(QuarterSelection.Q4, WeeeCategory.PhotovoltaicPanels, ObligationType.B2B)</td>
            </tr>
        </tbody>
    </table>
}
<script type="text/javascript">
    $("a[id$='details-tab']").click(function (event) {
        event.preventDefault();

        var schemeIdentifier = $(this).attr('id')
            .replace('registration', '')
            .replace('contact', '')
            .replace('total-eee', '')
            .replace('q1', '')
            .replace('q2', '')
            .replace('q3', '')
            .replace('q4', '')
            .replace('-details-tab', '');

        // Inactivate scheme tags
        $("a[id$='details-tab']").each(function () {
            if ($(this).attr('id').indexOf(schemeIdentifier) !== -1) {
                $(this).parent().removeClass();
            }
        });

        // Except this tab
        $(this).parent().addClass("active");

        var tableIdentifier = $(this).attr('id').replace('details-tab', '');

        // Hide all data tables in scheme
        $("table[id$='details-table']").each(function () {
            if ($(this).attr('id').indexOf(schemeIdentifier) !== -1) {
                $(this).addClass('visually-hidden');
            }
        });

        // Except for the table corresponding to this tab
        $("table[id$='" + tableIdentifier + "details-table']").removeClass('visually-hidden');
    })
</script>