@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Producers.ConfirmRemovalViewModel
@{
    ViewBag.Title = "Confirm Remove Producer";
}

@section main_content {

    <header class="hgroup">
        <h1 class="govuk-heading-l">Are you sure you want to remove this producer?</h1>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <p>The following producer will no longer be a member of @Model.Producer.SchemeName for @Model.Producer.ComplianceYear.</p>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-visually-hidden">
                    <th colspan="2">Confirm Producer Details</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Producer name</th>
                    <td class="govuk-table__header" scope="col">@Model.Producer.ProducerName</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Producer registration number</th>
                    <td class="govuk-table__cell">@Model.Producer.RegistrationNumber</td>
                </tr>
            </tbody>
        </table>
        <br/>

        if(Model.Producer.HasSubmittedEEE)
        {
            <p class="important">
                The scheme has already submitted a data return for this producer. If you remove this producer, their EEE data for the specified scheme and compliance year will be lost.                
            </p>
        }

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedValue)" id="ConfirmRemoval">
            @this.WeeeGds().RadioButtonsFor(
                m => m.SelectedValue,
                Model.PossibleValues,
                "Are you sure you want to remove this producer?",
                RadioButtonLegend.VisuallyHidden,
                RadioButtonLayout.Inline)
        </div>

        @(this.WeeeGds().Submit("Continue"))
    }
}
