@using EA.Weee.Web.Areas.Admin.Controllers
@using EA.Weee.Web.Areas.Admin.ViewModels.Home
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Producers.DetailsViewModel
@{
    ViewBag.Title = @InternalUserActivity.ProducerDetails;
}

@section main_content {

    <header class="hgroup">
        <h1 class="heading-large">@InternalUserActivity.ProducerDetails</h1>
    </header>  

    <p>
        <div class="form-group @Html.Gds().FormGroupClass(m => m.SelectedYear)">
            <span class="font-bold">@Html.LabelFor(m => m.SelectedYear):</span>
            @Html.Gds().ValidationMessageFor(m => m.SelectedYear)
            <span class="text-margin">@Html.Gds().DropDownListFor(m => m.SelectedYear, Model.ComplianceYears, new { autocomplete = "false" })</span>
        </div>
        <span class="font-bold">@Html.LabelFor(m => m.RegistrationNumber):</span><span class="text-margin">@Model.RegistrationNumber</span>
        
        @Html.HiddenFor(m => m.RegistrationNumber)
    </p>

    <div class="form-group" id="detailsResults"></div>

    <br />
    <p>
        @Html.ActionLink("Download registration amendment history (CSV)", "DownloadProducerAmendmentsCsv", "Producers", new { registrationNumber = @Model.RegistrationNumber }, null)
    </p>
    <p>
        @Html.ActionLink("Download EEE data history (CSV)", "DownloadProducerEeeDataHistoryCsv", "Producers", new { registrationNumber = @Model.RegistrationNumber }, null)
    </p>
    <p>
        @Html.ActionLink("Perform another activity", "ChooseActivity", "Home", null, new { @class = "button" })
    </p>
    <p>
        <a href="@(Url.UrlFor<ProducersController>(a => a.Search()))">Back</a>
    </p>
}

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            var selectedYear = $("#SelectedYear").val();
            var registrationNumber = $("#RegistrationNumber").val();
            FetchProducerDetails(registrationNumber, selectedYear);
        });        

        function FetchProducerDetails(registrationNumber, selectedYear) {
            $.ajax({
                url: '@Url.Action("FetchDetails")',
                type: 'POST',
                cache: false,
                data: { registrationNumber: registrationNumber, complianceYear: selectedYear, __RequestVerificationToken: $("[name=__RequestVerificationToken]").val() },
                success: function (data) {
                    $('#detailsResults').html(data);
                }
            });
        }

        $("#SelectedYear")
            .change(function () {
                var selectedYear = $(this).val();
                var registrationNumber = $("#RegistrationNumber").val();
                FetchProducerDetails(registrationNumber, selectedYear);
            });
    </script>
}