@model EA.Weee.Web.Areas.Admin.ViewModels.Producers.DetailsViewModel
@{
    string schemePlural = Model.Details.Schemes.Count != 1 ? "PCSs" : "PCS";
    ViewBag.Title = "Details";
}

@section main_content {

    <header class="hgroup">
        <h1 class="heading-large">Producer details</h1>
    </header>

    <p>
        <span class="font-bold">Compliance year:</span><span class="text-margin">@Model.Details.ComplianceYear</span><br>
        <span class="font-bold">Producer registration number (PRN):</span><span class="text-margin">@Model.Details.RegistrationNumber</span>
    </p>

    @foreach (var scheme in Model.Details.Schemes)
    {
        <table>
            <thead>
                <tr class="visuallyhidden">
                    <th colspan="2">Producer Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Registered PCS</th>
                    <td>@scheme.SchemeName</td>
                </tr>
                <tr>
                    <th>Producer name</th>
                    <td>@scheme.ProducerName</td>
                </tr>
                <tr>
                    <th>Trading name</th>
                    <td>@scheme.TradingName</td>
                </tr>
                <tr>
                    <th>Registration date</th>
                    <td>@scheme.RegistrationDate.ToString("dd MMMM yyyy")</td>
                </tr>
                @if (@scheme.CompanyNumber != null)
                {
                    <tr>
                        <th>Company registration number</th>
                        <td>@scheme.CompanyNumber</td>
                    </tr>
                }
                <tr>
                    <th>Obligation type</th>
                    <td>@scheme.ObligationType</td>
                </tr>
                <tr>
                    <th>Charge band type</th>
                    <td>@scheme.ChargeBandType</td>
                </tr>
                <tr>
                    <th>Authorised representative</th>
                    <td>@scheme.IsAuthorisedRepresentative</td>
                </tr>
                @if (@scheme.CeasedToExist != null)
                {
                    <tr>
                        <th>Ceased to exist</th>
                        <td>@scheme.CeasedToExist.Value.ToString("dd MMMM yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>

            <br />
    }
    <p>
        @Html.ActionLink("Download amendment history (CSV)", "DownloadProducerAmendmentsCsv", "Producers", new { registrationNumber = @Model.Details.RegistrationNumber }, null)
    </p>
    <p>
        <a href="javascript:history.back();">Back</a>
    </p>
}

