@using EA.Weee.Web.Areas.Admin.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Producers.SearchResultsViewModel
@{
    ViewBag.Title = "Search results";
}

@section main_content {

    <header class="hgroup">
        <h1 class="govuk-heading-l">Search results</h1>
    </header>

    @if (Model.Results.Count > 0)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Gds().ValidationSummary()

            <p>
                Here are some producers that matched your search:
            </p>

            <div class="table-hr"></div>
            <table id="producers" class="govuk-table prsd-table hover-effect">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Producer</th>
                        <th class="govuk-table__header">Registration Number</th>
                        <th class="govuk-table__header">Select</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var result in Model.Results)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@result.Name</td>
                            <td class="govuk-table__cell">@result.RegistrationNumber</td>
                            <td class="govuk-table__cell">
                                @Html.RadioButtonFor(m => m.SelectedRegistrationNumber, result.RegistrationNumber)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br/>

            @(this.WeeeGds().Submit("Continue"))
        }
    }
    else
    {
        <p>We didn't find any producers that matched your search.</p>
    }

    <p>
        <a href="@(Url.UrlFor<ProducersController>(a => a.Search()))">Back</a>
    </p>
}

@section scripts{
    <script type="text/javascript">
        $('#producers tr').click(function () {
            $(this).find('td input[type=radio]').prop('checked', true);
        })
    </script>
}








