@using EA.Weee.Core.DataStandards
@using EA.Weee.Web.Areas.Admin.Controllers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Producers.SearchViewModel
@{
    ViewBag.Title = "Find producer";
}

@section main_content {

    <header class="hgroup">
        <h1 class="govuk-heading-l">Find producer</h1>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        @Html.HiddenFor(m => m.SelectedRegistrationNumber);
        
        <p id="introJavaScriptEnabled" style="display:none;">
            Start typing the name or producer registration number to find a match.
        </p>
        <noscript>
            <p>Type the name or producer registration number to find a match.</p>
        </noscript>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SearchTerm)">
            @Html.Gds().LabelFor(m => m.SearchTerm, new { @class = "govuk-visually-hidden" })
            @Html.Gds().ValidationMessageFor(m => m.SearchTerm)
            @Html.Gds().TextBoxFor(m => m.SearchTerm, new { style = "width:100%", maxlength = EnvironmentAgencyMaxFieldLengths.ProducerSearchTerm })
        </div>
        
        <p>
            <button class="govuk-button" type="submit" data-module="govuk-button" data-prevent-double-click="true">Continue</button>
        </p>
    }

    <p>
        <a href="@(Url.UrlFor<HomeController>(a => a.ChooseActivity()))">Back</a>
    </p>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#introJavaScriptEnabled").show();
        });

        initJQueryAutoComplete("@Url.Action("FetchSearchResultsJson")",
            (item) => { return { label: item.Name + ', ' + item.RegistrationNumber, id: item.RegistrationNumber, name: item.Name } },
            (item) => { return "<span>" + item.name + "</span><span class=\"registrationNumber\">" + item.id + "</span>" },
            $("#SelectedRegistrationNumber")
        );

    </script>
}
