@model EA.Weee.Web.Areas.Admin.ViewModels.Submissions.DataReturnSubmissionsHistoryViewModel
@{
    ViewBag.Title = "Data Return submissions history";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="govuk-heading-l">Submissions history</h1>
    </header>

    <div>
        <p>View submissions for:</p>
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedYear)">
            @Html.Gds().LabelFor(m => m.SelectedYear)
            @Html.Gds().ValidationMessageFor(m => m.SelectedYear)
            @Html.Gds().DropDownListFor(m => m.SelectedYear, Model.ComplianceYears, new { @class = "govuk-!-width-one-half", autocomplete = "false" })
        </div>
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedScheme)">
            @Html.Gds().LabelFor(m => m.SelectedScheme)
            @Html.Gds().ValidationMessageFor(m => m.SelectedScheme)
            @Html.Gds().DropDownListFor(m => m.SelectedScheme, Model.SchemeNames, new { @class = "govuk-!-width-one-half", autocomplete = "false" })
        </div>

        <p>
            <span class="font-bold">Submission type:</span> Data returns
        </p>
    </div>


    <div>
        <div class="govuk-form-group" id="submissionResults"></div>
    </div>

    <p class="left-cleared">
        <a href="javascript:history.back();">Back</a>
    </p>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var selectedYear = $("#SelectedYear").val();
            var selectedScheme = $("#SelectedScheme").val();
            FetchDataReturnSubmissionResults(selectedYear, selectedScheme);
        });

        function FetchDataReturnSubmissionResults(selectedYear, selectedScheme) {
            $.ajax({
                url: '@Url.Action("FetchDataReturnSubmissionResults")',
                type: 'POST',
                cache: false,
                data: { year: selectedYear, schemeId: selectedScheme, __RequestVerificationToken: $("[name=__RequestVerificationToken]").val() },
                success: function (data) {
                    $('#submissionResults').html(data);
                }
            });
        }

        function FectSchemeForComplainceYear(selectedYear) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("FetchDataReturnSchemeForComplainceYear")',
                cache: false,
                data: { complianceYear: selectedYear, __RequestVerificationToken: $("[name=__RequestVerificationToken]").val() },
                success: function (data) {
                    // Clear options
                    $("#SelectedScheme").find("option").remove();

                    // Loop through JSON response
                    $.each(data, function (index, item) {
                        $('#SelectedScheme').append('<option value="' + item.Value + '">' + item.Text + '</option>');
                    })

                    var selectedScheme = $("#SelectedScheme").val();
                    FetchSubmissionResults(selectedYear, selectedScheme);
                }
            });
        }

        $("#SelectedYear")
            .change(function () {

                var selectedYear = $(this).val();
                var selectedScheme = $("#SelectedScheme").val();
                FetchDataReturnSubmissionResults(selectedYear, selectedScheme);
            });

        $("#SelectedScheme")
            .change(function () {
                var selectedScheme = $(this).val();
                var selectedYear = $("#SelectedYear").val();
                FetchDataReturnSubmissionResults(selectedYear, selectedScheme);
            });
    </script>
}

