@using EA.Weee.Web.Areas.Admin.Controllers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Submissions.SubmissionsHistoryViewModel
@{
    ViewBag.Title = "Submissions history";
}

<section>
    <header class="hgroup">
        <h1 class="govuk-heading-l">Submissions history</h1>
    </header>

    <div class="govuk-grid-column-two-thirds">
        <p>View submissions for:</p>
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedYear)">
            @Html.Gds().LabelFor(m => m.SelectedYear)
            @Html.Gds().ValidationMessageFor(m => m.SelectedYear)
            @Html.Gds().DropDownListFor(m => m.SelectedYear, Model.ComplianceYears, new { @class = "govuk-!-width-one-half", autocomplete = "false" })
        </div>
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedScheme)">
            @Html.Gds().LabelFor(m => m.SelectedScheme)
            @Html.Gds().ValidationMessageFor(m => m.SelectedScheme)
            @Html.Gds().DropDownListFor(m => m.SelectedScheme, Model.SchemeNames, new { @class = "govuk-!-width-one-half", autocomplete = "false" })
        </div>

        <p>
            <span class="font-bold">Submission type:</span> Member registrations
        </p>
    </div>

    <div class="govuk-form-group" id="submissionResults"></div>

    <p class="left-cleared">
        <a href="javascript:history.back();">Back</a>
    </p>
</section>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var selectedYear = $("#SelectedYear").val();
            var selectedScheme = $("#SelectedScheme").val();
            FetchSubmissionResults(selectedYear, selectedScheme);
        });

        function FetchSubmissionResults(selectedYear, selectedScheme) {
            $.ajax({
                url: '@Url.Action("FetchSubmissionResults")',
                type: 'POST',
                cache: false,
                data: { year: selectedYear, schemeId: selectedScheme, __RequestVerificationToken: $("[name=__RequestVerificationToken]").val() },
                success: function (data) {
                    $('#submissionResults').html(data);
                }
            });
        }

        $("#SelectedYear")
            .change(function () {

                var selectedYear = $(this).val();
                var selectedScheme = $("#SelectedScheme").val();
                FetchSubmissionResults(selectedYear, selectedScheme);
            });

        $("#SelectedScheme")
            .change(function () {
                var selectedScheme = $(this).val();
                var selectedYear = $("#SelectedYear").val();
                FetchSubmissionResults(selectedYear, selectedScheme);
            });
    </script>
}

