@model EA.Weee.Web.ViewModels.OrganisationRegistration.JoinOrganisationViewModel
@{
    ViewBag.Title = "Access Organisation";
}

@section main_content {
    <header class="hgroup">
        <h1 class="heading-large">
            Confirm your organisation access request
        </h1>
    </header>

    @using (Html.BeginForm(actionName: "JoinOrganisation", controllerName: "OrganisationRegistration", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.OrganisationId)

        <p>A request to access this organisation will be sent to their administrator.</p>
        <p>If you do not wish to access this organisation, you can search for a different one.</p>

        <div class="form-group @Html.Gds().FormGroupClass(m => m.SelectedValue)" id="JoinOrganisationOptions">
            @Html.WeeeGds().RadioButtonsFor(m => m.SelectedValue, Model.PossibleValues, "Confirm your organisation access request", true)
        </div>

        <div class="form-group">
            <input type="submit" class="button" value="Continue" />
        </div>
    }
}
