@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.ViewModels.OrganisationRegistration.JoinOrganisationViewModel
@{
    ViewBag.Title = "Access Organisation";
}

@section main_content {
    <header class="hgroup">
        <h1 class="govuk-heading-l">
            Are you sure you want to request access to this organisation?
        </h1>
    </header>

    @using (Html.BeginForm(actionName: "JoinOrganisation", controllerName: "OrganisationRegistration", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.OrganisationId)
        @Html.HiddenFor(m => m.OrganisationName)

        <p>We will send an access request to the administrator of @Model.OrganisationName.</p>
        <p>You will not be able to perform activities on behalf of this organisation until your request is authorised.</p>

        <div class="form-group @Html.Gds().FormGroupClass(m => m.SelectedValue)" id="JoinOrganisationOptions">
            @this.WeeeGds().RadioButtonsFor(
                m => m.SelectedValue,
                Model.PossibleValues,
                "Confirm your organisation access request",
                RadioButtonLegend.VisuallyHidden,
                RadioButtonLayout.Inline)
        </div>

        @(this.WeeeGds().Submit("Continue", new { @class = "button" }))
    }
}
