@model EA.Weee.Web.ViewModels.Organisation.OrganisationContactPersonViewModel
@{
    ViewBag.Title = "Organisation Main Contact Person";
}

@section main_content
{
    @using (Html.BeginForm(actionName: "MainContactPerson", controllerName: "Organisation", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <header class="hgroup">
            <h2 class="heading-large">Main contact person</h2>
            <div class="colored-header-bar"></div>
        </header>
        <p>Details for the main contact person for your organisation.</p>

        <div class="form-group">
            @Html.HiddenFor(m => m.OrganisationId)
        </div>
        <div class="form-group @Html.Gds().FormGroupClass(m => m.MainContactPerson.FirstName)">
            @Html.ValidationMessageFor(m => m.MainContactPerson.FirstName)
            @Html.Gds().LabelFor(m => m.MainContactPerson.FirstName)
            @Html.Gds().TextBoxFor(m => m.MainContactPerson.FirstName)
        </div>
        <div class="form-group @Html.Gds().FormGroupClass(m => m.MainContactPerson.LastName)">
            @Html.ValidationMessageFor(m => m.MainContactPerson.LastName)
            @Html.Gds().LabelFor(m => m.MainContactPerson.LastName)
            @Html.Gds().TextBoxFor(m => m.MainContactPerson.LastName)
        </div>
        <div class="form-group @Html.Gds().FormGroupClass(m => m.MainContactPerson.Position)">
            @Html.ValidationMessageFor(m => m.MainContactPerson.Position)
            @Html.Gds().LabelFor(m => m.MainContactPerson.Position)
            @Html.Gds().TextBoxFor(m => m.MainContactPerson.Position)
        </div>

      
        <div class="form-group">
            <button class="button" type="submit">Continue</button>
        </div>
    }
}