@using EA.Weee.Core.DataStandards
@using MvcNavigationHelpers
@using EA.Weee.Web.Controllers
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Core.Organisations.Base.OrganisationViewModel
@{
    const string title = "Organisation details";
    ViewBag.Title = title + " - GOV.UK";
}
@section full_main_content
{
    @(this.WeeeGds().BackLink(@Url.UrlFor<OrganisationRegistrationController>(a => a.Type())))

    <header class="hgroup">
        <h1 class="govuk-heading-l">@title</h1>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        @Html.Partial("_OrganisationHeadingAndCountryPartial", Model)

        @Html.EditorFor(model => model)

        @Html.Partial("_OrganisationDetailsPartial", Model)

        <div class="govuk-form-group">
            @(this.WeeeGds().Submit("Continue"))
        </div>

        @(this.WeeeGds().BackToTopLink())
    }
}