@using EA.Weee.Web.ViewModels.OrganisationRegistration.PrincipalPlaceOfBusiness
@model EA.Weee.Web.ViewModels.OrganisationRegistration.PrincipalPlaceOfBusiness.PrincipalPlaceOfBusinessViewModel
@{
    ViewBag.Title = "Principal Place Of Business";
}
@section main_content
{
    <h1 class="heading-large">
        Principal place of business
    </h1>
    <p>
        The contact details for your principal place of business.
    </p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        
        @Html.HiddenFor(m => m.OrganisationId)

        <div class="form-group @Html.Gds().FormGroupClass(m => m.Address1)">
            @Html.Gds().LabelFor(m => m.Address1)
            @Html.ValidationMessageFor(m => m.Address1)
            @Html.Gds().TextBoxFor(m => m.Address1)
        </div>

        <div class="form-group @Html.Gds().FormGroupClass(m => m.Address2)">
            @Html.Gds().LabelFor(m => m.Address2)
            @Html.ValidationMessageFor(m => m.Address2)
            @Html.Gds().TextBoxFor(m => m.Address2)
        </div>

        <div class="form-group @Html.Gds().FormGroupClass(m => m.TownOrCity)">
            @Html.Gds().LabelFor(m => m.TownOrCity)
            @Html.ValidationMessageFor(m => m.TownOrCity)
            @Html.Gds().TextBoxFor(m => m.TownOrCity)
        </div>

        <div class="form-group @Html.Gds().FormGroupClass(m => m.CountyOrRegion)">
            @Html.Gds().LabelFor(m => m.CountyOrRegion)
            @Html.ValidationMessageFor(m => m.CountyOrRegion)
            @Html.Gds().TextBoxFor(m => m.CountyOrRegion)
        </div>

        <div class="form-group @Html.Gds().FormGroupClass(m => m.Postcode)">
            @Html.Gds().LabelFor(m => m.Postcode)
            @Html.ValidationMessageFor(m => m.Postcode)
            @Html.Gds().TextBoxFor(m => m.Postcode)
        </div>

        <div class="form-group @Html.Gds().FormGroupClass(m => m.Country)">
            @Html.Gds().LabelFor(m => m.Country)
            @Html.ValidationMessageFor(m => m.Country)
            @Html.Gds().DropDownListFor(m => m.Country, EnumHelper.GetSelectList(typeof(UkCountry)))
        </div>

        <div class="form-group @Html.Gds().FormGroupClass(m => m.Telephone)">
            @Html.Gds().LabelFor(m => m.Telephone)
            @Html.ValidationMessageFor(m => m.Telephone)
            @Html.Gds().TextBoxFor(m => m.Telephone)
        </div>

        <div class="form-group @Html.Gds().FormGroupClass(m => m.Email)">
            @Html.Gds().LabelFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
            @Html.Gds().TextBoxFor(m => m.Email)
        </div>

        <div class="form-group">
            <button class="button" type="submit">Continue</button>
        </div>
    }
}