@using EA.Weee.Core.DataStandards
@using MvcNavigationHelpers
@using EA.Weee.Web.Controllers
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Core.Organisations.RegisteredCompanyDetailsViewModel
@{
    ViewBag.Title = "Registered company";
}
@section full_main_content
{
    @(this.WeeeGds().BackLink(@Url.UrlFor<OrganisationRegistrationController>(a => a.Type())))

    <header class="hgroup">
        <h1 class="govuk-heading-l">Organisation details</h1>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.OrganisationType)

        @Html.Partial("_OrganisationAddressCountryPartial", Model)

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.CompanyName)">
            @Html.Gds().LabelFor(m => m.CompanyName)
            @Html.Gds().ValidationMessageFor(m => m.CompanyName)
            @Html.Gds().TextBoxFor(m => m.CompanyName, new { @maxlength = CommonMaxFieldLengths.DefaultString })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.BusinessTradingName)">
            @Html.Gds().LabelFor(m => m.BusinessTradingName)
            @Html.Gds().TextBoxFor(m => m.BusinessTradingName, new { @maxlength = CommonMaxFieldLengths.DefaultString })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.CompaniesRegistrationNumber)">
            @Html.Gds().LabelFor(m => m.CompaniesRegistrationNumber)
            @Html.Gds().ValidationMessageFor(m => m.CompaniesRegistrationNumber)
            @Html.Gds().TextBoxFor(m => m.CompaniesRegistrationNumber, new { @maxlength = EnvironmentAgencyMaxFieldLengths.CompanyRegistrationNumber })
        </div>

        <h2 class="govuk-heading-s">Registered office address</h2>

        @Html.Partial("_OrganisationAddressPartial", Model)

        <div class="govuk-form-group">
            @(this.WeeeGds().Submit("Continue"))
        </div>

        @(this.WeeeGds().BackToTopLink())
    }
}
