@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.ViewModels.OrganisationRegistration.SearchResultsViewModel
@{
    ViewBag.Title = "Choose your organisation";
}

@section main_content
{
    @if (Model.Results.Count > 0)
    {
        <header class="hgroup">
            <h1 class="govuk-heading-l">
                Search results
            </h1>
            <h2 class="govuk-heading-s">We found results for ‘@Model.SearchTerm’</h2>
        </header>

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Gds().ValidationSummary()

            <p class="govuk-body">If your organisation is not listed, this may be because:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>you mistyped the organisation’s name</li>
                <li>your organisation has not yet been created in our service</li>
                <li>you entered something other than the organisation name</li>
            </ul>

            @*<div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedOrganisationId)">
                @Html.Gds().ValidationMessageFor(m => m.SelectedOrganisationId)
                @this.WeeeGds().RadioButtonsFor(
                    m => m.SelectedOrganisationId,
                    Model.Results,
                    r => r.OrganisationId,
                    r => r.NameWithAddress,
                    RadioButtonLegend.VisuallyHidden,
                    RadioButtonLayout.Stacked)
            </div>*@

            <table id="idManageAatfsTable" class="govuk-table prsd-table hover-effect">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Select</th>
                        <th class="govuk-table__header" scope="col">Name</th>
                        <th class="govuk-table__header" scope="col">Address</th>
                        <th class="govuk-table__header" scope="col">PCS</th>
                        <th class="govuk-table__header" scope="col">AATF</th>
                        <th class="govuk-table__header" style="padding-right: 20px;" scope="col">AE</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var org in Model.Results)
                    {
                        {
                    <tr>
                        <td class="govuk-table__cell"><label class="govuk-visually-hidden" for="@org.OrganisationId">select</label> @Html.RadioButtonFor(m => m.SelectedOrganisationId, org.OrganisationId, new { id = @org.OrganisationId })</td>
                        <td style="word-break:break-word" class="govuk-table__cell">@org.Name</td>
                        <td style="word-break:break-word" class="govuk-table__cell">@Html.Raw(@org.AddressString)</td>
                        <td class="govuk-table__cell">@org.PcsCount</td>
                        <td class="govuk-table__cell">@org.AatfCount</td>
                        <td class="govuk-table__cell">@org.AeCount</td>
                    </tr>
                        }
                    }
                </tbody>
            </table>

            @(this.WeeeGds().Submit("Continue"))
        }

        <p>
            @Html.ActionLink("Start another search", "Search", "OrganisationRegistration")
        </p>
        <p>
            @Html.ActionLink("Create a new organisation", "CreateGuidance", "OrganisationRegistration", new { searchedText = @Model.SearchTerm }, new { @class = "govuk-button btnDisable" })
        </p>
    }
    else
    {
        <header class="hgroup">
            <h1 class="govuk-heading-l">
                No results found
            </h1>
            <h2 class="govuk-heading-s">We found no results for ‘@Model.SearchTerm’</h2>
        </header>

        <p class="govuk-body">If your organisation is not listed, this may be because:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>you mistyped the organisation’s name</li>
            <li>your organisation has not yet been created in our service</li>
            <li>you entered something other than the organisation name</li>
        </ul>

        <p>
            @Html.ActionLink("Create a new organisation", "CreateGuidance", "OrganisationRegistration", new { searchedText = @Model.SearchTerm }, new { @class = "govuk-button btnDisable" })
        </p>
        <p>
            @Html.ActionLink("Start another search", "Search", "OrganisationRegistration", new { searchedText = @Model.SearchTerm }, new { @class = "govuk-button" })

        </p>
    }


}

@section scripts{
    <script type="text/javascript">
        $('#organisations tr').click(function () {
            $(this).find('td input[type=radio]').prop('checked', true);
        })
    </script>
}
