@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.ViewModels.OrganisationRegistration.SearchResultsViewModel
@{
    ViewBag.Title = "Choose your organisation";
}

<div id="main-content">
    @if (Model.Results.Count > 0)
    {
        <header class="hgroup">
            <h1 class="govuk-heading-l">
                Search results
            </h1>
            <h2 class="govuk-heading-s">We found results for ‘@Model.SearchTerm’</h2>
        </header>

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Gds().ValidationSummary()

            <p class="govuk-body">If your organisation is not listed, this may be because:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>you mistyped the organisation’s name</li>
                <li>your organisation has not yet been created in our service</li>
                <li>you entered something other than the organisation name</li>
            </ul>
            <fieldset class="prsd-table-fieldset">
                <legend class="govuk-visually-hidden">select organisation</legend>
                <table id="organisationSearchResultsTable" class="govuk-table prsd-table hover-effect">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" style="width: 5%" scope="col">Select</th>
                            <th class="govuk-table__header" style="width: 40%" scope="col">Name</th>
                            <th class="govuk-table__header" style="width: 40%" scope="col">Address</th>
                            <th class="govuk-table__header" style="width: 5%" scope="col">PCS</th>
                            <th class="govuk-table__header" style="width: 5%" scope="col">AATF</th>
                            <th class="govuk-table__header" style="width: 5%; padding-right: 20px;" scope="col">AE</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var org in Model.Results)
                        {
                            {
                                var id = "selectOrg" + org.OrganisationId;

                                <tr>
                                    <td class="govuk-table__cell" style="text-align: center;"><label class="govuk-visually-hidden" for="@id">select</label> @Html.RadioButtonFor(m => m.SelectedOrganisationId, org.OrganisationId, new { id = @id })</td>
                                    <td style="word-break: break-word" class="govuk-table__cell">@org.Name</td>
                                    <td style="word-break: break-word" class="govuk-table__cell">@Html.Raw(@org.AddressString)</td>
                                    <td class="govuk-table__cell" style="text-align: center;">@org.PcsCount</td>
                                    <td class="govuk-table__cell" style="text-align: center;">@org.AatfCount</td>
                                    <td class="govuk-table__cell" style="text-align: center; padding-right: 10px;">@org.AeCount</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </fieldset>
            @(this.WeeeGds().Submit("Continue"))
        }

        <p>
            @Html.ActionLink("Start another search", "Search", "OrganisationRegistration")
        </p>
    }
    else
    {
        <header class="hgroup">
            <h1 class="govuk-heading-l">
                No results found
            </h1>
            <h2 class="govuk-heading-s">We found no results for ‘@Model.SearchTerm’</h2>
        </header>

        <p class="govuk-body">If your organisation is not listed, this may be because:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>you mistyped the organisation’s name</li>
            <li>your organisation has not yet been created in our service</li>
            <li>you entered something other than the organisation name</li>
        </ul>

        <p>
            @Html.ActionLink("Start another search", "Search", "OrganisationRegistration", new { searchedText = @Model.SearchTerm }, new { @class = "govuk-button" })
        </p>
    }
</div>
@section scripts{
    <script type="text/javascript">
        $('#organisationSearchResultsTable tr').click(function () {
            $(this).find('td input[type=radio]').prop('checked', true);
        })
    </script>
}
