@using EA.Weee.Core.DataStandards
@model EA.Weee.Web.ViewModels.OrganisationRegistration.SearchViewModel
@{
    ViewBag.Title = "Search Organisation";
}
@section main_content
{
    <header class="hgroup">
        <h1 class="govuk-heading-l">Find your organisation</h1>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        @Html.HiddenFor(m => m.SelectedOrganisationId);

        <p class="govuk-body">
            Search for your registered company, partnership, sole trader or individual name.
        </p>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SearchTerm) form-search">
            @Html.Gds().LabelFor(m => m.SearchTerm, new { @class = "govuk-visually-hidden" })
            @Html.Gds().ValidationMessageFor(m => m.SearchTerm)
            @Html.Gds().TextBoxFor(m => m.SearchTerm, new { @class = "govuk-!-width-one-half", @maxLength = CommonMaxFieldLengths.DefaultString }) <!-- SG Change, form control forces 50% width -->
            <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
                <img src="@Url.Content("~/Content/weee/images/icon-search.png")" alt="Search" />
            </button>
        </div>

        if (Model.ShowPerformAnotherActivityLink)
        {
            <p>
                @Html.ActionLink("Perform another activity", "Index", "Organisation")
            </p>
        }
    }
}

@section scripts {
    <script type="text/javascript">
        initJQueryAutoComplete("@Url.Action("FetchSearchResultsJson")",
            (item) => { return { label: item.Name, id: item.OrganisationId } },
            null,
            $("#SelectedOrganisationId")
        );

    </script>
}

