@model EA.Weee.Web.ViewModels.JoinOrganisation.SelectOrganisationViewModel
@{
    ViewBag.Title = "Choose your organisation";
}

<header class="hgroup">
    <h1 class="heading-large">
        Choose to join an existing organisation, or add a new one
    </h1>
</header>

@if (Model.MatchingOrganisations != null && Model.MatchingOrganisations.Count > 0)
{
    <p>We have found some organisations that match the information you have provided. Select your organisation or add it, if it is not listed.</p>

    using (Html.BeginForm(actionName: "SelectOrganisation", controllerName: "OrganisationRegistration", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationMessageFor(m => m.Selected)
        @Html.HiddenFor(m => m.Name)
        @Html.HiddenFor(m => m.TradingName)
        @Html.HiddenFor(m => m.CompaniesRegistrationNumber)
        @Html.HiddenFor(m => m.Type)

        for (int i = 0; i < Model.MatchingOrganisations.Count; i++)
        {
            bool isNewRow = i % 2 == 0;

            if (isNewRow)
            {
                @:<div class="grid-row">
        }

        <div class="column-half">
            <h3 class="heading-small"></h3>
            <div class="colored-header-bar"></div>
            <ul>
                <li>
                    @Html.HiddenFor(m => m.MatchingOrganisations[i].DisplayName)
                    <span class="bold-small">@Html.DisplayFor(m => m.MatchingOrganisations[i].DisplayName)</span>
                </li>
                <li>
                    @Html.HiddenFor(m => m.MatchingOrganisations[i].Address.Address1)
                    @Html.DisplayFor(m => m.MatchingOrganisations[i].Address.Address1),
                </li>
                <li>
                    @Html.HiddenFor(m => m.MatchingOrganisations[i].Address.TownOrCity)
                    @Html.DisplayFor(m => m.MatchingOrganisations[i].Address.TownOrCity),
                </li>
                <li>
                    @Html.HiddenFor(m => m.MatchingOrganisations[i].Address.Postcode)
                    @Html.DisplayFor(m => m.MatchingOrganisations[i].Address.Postcode)
                </li>
            </ul>
            <button type="submit" name="submitButton" value="@Html.Raw(Model.MatchingOrganisations[i].Id)" class="link-submit">Request to join this organisation</button>
        </div>

            if (!isNewRow || i == Model.MatchingOrganisations.Count - 1)
            {
                @:</div>
        }
        }
    }
    <br />
    @Html.Partial("_WeeePaging", Model.PagingViewModel)
}
else
{
    <p>We haven't found any organisations that match your search criteria. If you are expecting to see your organisation, you can go back and search again, otherwise you can add a new one.</p>
}

<hr />

<p>Organisation not listed?</p>

@using (Html.BeginForm(actionName: "CreateOrganisation", controllerName: "OrganisationRegistration", method: FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.TradingName)
    @Html.HiddenFor(m => m.CompaniesRegistrationNumber)
    @Html.HiddenFor(m => m.Type)
    @Html.HiddenFor(m => m.OrganisationId)

    <button type="submit" name="submitButton" class="button">Add new</button>
}