@model EA.Weee.Web.ViewModels.JoinOrganisation.SelectOrganisationViewModel
@{
    ViewBag.Title = "Choose your organisation";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="heading-large">
            Search results
        </h1>
    </header>

    @using (Html.BeginForm(actionName: "SelectOrganisation", controllerName: "OrganisationRegistration", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <div style="margin-bottom: 1.66667em;">
            <p>We found results for '@Model.Name'.</p>
        </div>

        @Html.HiddenFor(m => m.Name)
        @Html.HiddenFor(m => m.SearchedText)
        <p>Select an organisation to add.</p>
        <div class="form-group @Html.Gds().FormGroupClass(m => m.Organisations.Selected)">
            @Html.EditorFor(m => m.Organisations)
        </div>

        <div class="form-group">
            <button class="button" type="submit">Continue</button>
        </div>
    }

    <div class="form-group">
        <details>
            <summary><span class="summary">My organisation is not listed</span></summary>
            <div class="panel-indent">
                <p>If your organisation is not listed, @Html.ActionLink("create a new organisation", "Type", "OrganisationRegistration", new { searchedText = @Model.Name }, null).</p>
            </div>
        </details>
    </div>

    <p>
        @Html.ActionLink("Start new search", "SearchOrganisation", "OrganisationRegistration")
    </p>
}
