@using EA.Weee.Core.DataStandards
@using MvcNavigationHelpers
@using EA.Weee.Web.Controllers
@using EA.Weee.Web.RazorHelpers

@model EA.Weee.Core.Organisations.SoleTraderViewModel
@{
    const string title = "Sole Trader details";
    ViewBag.Title = title + " - GOV.UK";
}

@section full_main_content
{
    @(this.WeeeGds().BackLink(@Url.UrlFor<OrganisationRegistrationController>(a => a.Type())))

    <header class="hgroup">
        <h1 class="govuk-heading-l">@title</h1>
    </header>

    <p class="govuk-hint">
        Provide details of the business owner
    </p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.FirstName)">
            @Html.Gds().LabelFor(m => m.FirstName)
            @Html.Gds().ValidationMessageFor(m => m.FirstName)
            @Html.Gds().TextBoxFor(m => m.FirstName, new { @maxlength = CommonMaxFieldLengths.DefaultString })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.LastName)">
            @Html.Gds().LabelFor(m => m.LastName)
            @Html.Gds().ValidationMessageFor(m => m.LastName)
            @Html.Gds().TextBoxFor(m => m.LastName, new { @maxlength = CommonMaxFieldLengths.DefaultString })
        </div>

        <div class="govuk-!-margin-top-3">
            <div class="govuk-button-group">
                @(this.WeeeGds().Submit("Continue", new { name = "Action", value = "Submit", @class = "govuk-!-width-one-quarter" }))
            </div>
        </div>

        @(this.WeeeGds().BackToTopLink())
    }
}
