@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Account.ResetPasswordRequestViewModel

@section main_content {
    <h1 class="heading-large">
        Reset your password
    </h1>

    @using (Html.BeginForm(actionName: "ResetPasswordRequest", controllerName: "Account", routeValues: new { area = "admin" }, method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <p>To reset your password, enter the email address associated with your account.</p>

        <div class="form-group @Html.Gds().FormGroupClass(m => m.Email)">
            @Html.Gds().LabelFor(m => m.Email)
            @Html.Gds().ValidationMessageFor(m => m.Email)
            @Html.Gds().TextBoxFor(m => m.Email, new { autocomplete = "off" })
        </div>

        @(this.WeeeGds().Submit("Continue", new { @class = "button" }))
    }
    
    @Html.ActionLink("Sign in to my account", "SignIn", "Account")
}
