@using EA.Weee.Web.Areas.Admin.Controllers
@using EA.Weee.Web.Areas.Admin.ViewModels.Scheme.Overview
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers

@model OverviewViewModel
<header class="hgroup">
    <h1 class="heading-xlarge">@Model.SchemeName</h1>
</header>

<div class="section-tabs">
    <ul>
        @this.WeeeGds().Tab("PCS details",
            Url.UrlFor<SchemeController>(a => a.Overview(Model.SchemeId, OverviewDisplayOption.PcsDetails)),
            Model.ActiveOverviewDisplayOption == OverviewDisplayOption.PcsDetails)
        @this.WeeeGds().Tab("Members and data",
            Url.UrlFor<SchemeController>(a => a.Overview(Model.SchemeId, OverviewDisplayOption.MembersData)),
            Model.ActiveOverviewDisplayOption == OverviewDisplayOption.MembersData)
        @this.WeeeGds().Tab("Organisation details",
            Url.UrlFor<SchemeController>(a => a.Overview(Model.SchemeId, OverviewDisplayOption.OrganisationDetails)),
            Model.ActiveOverviewDisplayOption == OverviewDisplayOption.OrganisationDetails)
        @this.WeeeGds().Tab("Contact details",
            Url.UrlFor<SchemeController>(a => a.Overview(Model.SchemeId, OverviewDisplayOption.ContactDetails)),
            Model.ActiveOverviewDisplayOption == OverviewDisplayOption.ContactDetails)
    </ul>
</div>

