@using EA.Weee.Web.Areas.Admin.Controllers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Scheme.Overview.MembersData.MembersDataOverviewViewModel
<div class="govuk-!-padding-bottom-8"></div>
@Html.Partial("Overview/_OverviewHeaderAndTabs", Model)
@section main_content {


    @foreach (var yearlyDownloads in Model.SchemeDataAvailability.AnnualDataAvailibilities.OrderByDescending(yd => yd.Year))
    {
        <h2 class="heading-medium">@yearlyDownloads.Year</h2>

        if (yearlyDownloads.IsMembersDownloadAvailable)
        {
            <p>
                <a href="@(Url.UrlFor<SchemeController>(a => a.GetProducerCsv(Model.OrganisationId, yearlyDownloads.Year, Model.ApprovalNumber)))">Members overview.csv</a>
                <span style="color: #6f777b"> (less than 500KB).</span>
            </p>
        }

        if (yearlyDownloads.IsDataReturnsDownloadAvailable)
        {
            <p>
                <a href="@(Url.UrlFor<SchemeController>(a => a.GetEeeWeeeCsv(Model.OrganisationId, yearlyDownloads.Year)))">EEE/WEEE data overview.csv</a>
                <span style="color: #6f777b"> (less than 25KB).</span>
            </p>
        }
    }

    @Html.Partial("Overview/_OverviewAvailableActions")
}
