@using EA.Weee.Web.Areas.Admin.Controllers
@using EA.Weee.Core.Shared
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Scheme.Overview.PcsDetails.PcsDetailsOverviewViewModel

@section main_content {
    @Html.Partial("Overview/_OverviewHeaderAndTabs", Model)

    <table id="pcs-details-table">
        <thead>
        <tr class="govuk-visually-hidden">
            <th colspan="2">PCS Details</th>
        </tr>
        </thead>
        <tbody>
        @if (!Model.IsRejected)
        {
            <tr>
                <th>PCS name</th>
                <td>@Model.SchemeName</td>
            </tr>
            <tr>
                <th>Approval number</th>
                <td>@Model.ApprovalNumber</td>
            </tr>
            <tr>
                <th>Billing reference</th>
                <td>@Model.BillingReference</td>
            </tr>
            <tr>
                <th>Obligation type</th>
                <td>@Model.ObligationType</td>
            </tr>
            <tr>
                <th>Appropriate Authority</th>
                <td>@Model.AppropriateAuthority</td>
            </tr>
        }
        <tr>
            <th>Status</th>
            <td>@Model.Status</td>
        </tr>
        </tbody>
    </table>
    <br />
    @if (!(Model.Status == SchemeStatus.Rejected.ToString() || Model.Status == SchemeStatus.Withdrawn.ToString()) 
            && Model.CanEditPcs)
    {
        <p>
            <a href="@(Url.UrlFor<SchemeController>(a => a.EditScheme(Model.SchemeId)))">Edit PCS details</a>
        </p>
    }

    @Html.Partial("Overview/_OverviewAvailableActions")
}
