@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@model EA.Weee.Core.AatfReturn.AatfContactData

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.FirstName)">
            @Html.Gds().LabelFor(m => m.FirstName)
            @Html.Gds().ValidationMessageFor(m => m.FirstName)
            @Html.Gds().TextBoxFor(m => m.FirstName, new { @maxlength = CommonMaxFieldLengths.FirstName })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.LastName)">
            @Html.Gds().LabelFor(m => m.LastName)
            @Html.Gds().ValidationMessageFor(m => m.LastName)
            @Html.Gds().TextBoxFor(m => m.LastName, new { @maxlength = CommonMaxFieldLengths.LastName })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Position)">
            @Html.Gds().LabelFor(m => m.Position)
            @Html.Gds().ValidationMessageFor(m => m.Position)
            @Html.Gds().TextBoxFor(m => m.Position, new { @maxlength = CommonMaxFieldLengths.Position })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Address1)">
            @Html.Gds().LabelFor(m => m.Address1)
            @Html.Gds().ValidationMessageFor(m => m.Address1)
            @Html.Gds().TextBoxFor(m => m.Address1, new { @class = "govuk-!-width-full", @maxlength = CommonMaxFieldLengths.AddressLine })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Address2)">
            @Html.Gds().LabelFor(m => m.Address2)
            @Html.Gds().ValidationMessageFor(m => m.Address2)
            @Html.Gds().TextBoxFor(m => m.Address2, new { @class = "govuk-!-width-full", @maxlength = CommonMaxFieldLengths.AddressLine })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.TownOrCity)">
            @Html.Gds().LabelFor(m => m.TownOrCity)
            @Html.Gds().ValidationMessageFor(m => m.TownOrCity)
            @Html.Gds().TextBoxFor(m => m.TownOrCity, new { @class = "govuk-!-width-full", @maxlength = CommonMaxFieldLengths.AddressLine })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.CountyOrRegion)">
            @Html.Gds().LabelFor(m => m.CountyOrRegion)
            @Html.Gds().ValidationMessageFor(m => m.CountyOrRegion)
            @Html.Gds().TextBoxFor(m => m.CountyOrRegion, new { @class = "govuk-!-width-full", @maxlength = CommonMaxFieldLengths.AddressLine })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Postcode)">
            @Html.Gds().LabelFor(m => m.Postcode)
            @Html.Gds().ValidationMessageFor(m => m.Postcode)
            @Html.Gds().TextBoxFor(m => m.Postcode, new { @class = "govuk-!-width-full", @maxlength = CommonMaxFieldLengths.Postcode })
        </div>

        <div class="govuk-form-group countries @Html.Gds().FormGroupClass(m => m.CountryId)" id="country-dropdown-list">
            @Html.Partial("_CountryPartial", Model)
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Telephone)">
            @Html.Gds().LabelFor(m => m.Telephone)
            @Html.Gds().ValidationMessageFor(m => m.Telephone)
            @Html.Gds().TextBoxFor(m => m.Telephone, new { @maxlength = CommonMaxFieldLengths.Telephone })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Email)">
            @Html.Gds().LabelFor(m => m.Email)
            @Html.Gds().ValidationMessageFor(m => m.Email)
            @Html.Gds().TextBoxFor(m => m.Email, new { @maxlength = CommonMaxFieldLengths.EmailAddress })
        </div>
    </div>
</div>