@using EA.Weee.Web.Areas.Scheme.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.ViewModels.Shared.ViewTransferNoteViewModel
@{
    var tab = "Evidence note (transfer)";
    if (Model.DisplayMessage)
    {
        tab = "Transferred evidence";
    }
}
@{
    ViewBag.Title = @tab + " - GOV.UK";
}

@section full_main_content
{
    @if (Model.DisplayMessage)
    {
        @(this.WeeeGds().BackLink(@Url.UrlFor<ManageEvidenceNotesController>(a => a.Index(Model.SchemeId, Model.RedirectTab, null)), "Manage evidence notes"))
        @(this.WeeeGds().Panel(Model.SuccessMessage))
    }
    else
    {
        @(this.WeeeGds().BackLink(@Url.UrlFor<ManageEvidenceNotesController>(a => a.Index(Model.SchemeId, Model.RedirectTab, null))))
    }

    @Html.Partial("~/Areas/Scheme/Views/TransferEvidence/_ViewTransferEvidenceNotePartial.cshtml", Model)

    @if (Model.DisplayEditButton)
    {
        <div class="govuk-!-margin-top-3">
            @Html.RouteLink("Edit and submit", "Scheme_edit_transfer", new { pcsId = Model.SchemeId, evidenceNoteId = Model.EvidenceNoteId, returnToView = true }, new { @class = "govuk-button" })
        </div>
    }
}
