@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.Helpers
@using EA.Weee.Web.Areas.Aatf.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Aatf.ViewModels.ContactDetailsViewModel
@{
    var title = "Manage " + @Model.FacilityType.ToDisplayString() + " contact details";
    ViewBag.Title = title + " - GOV.UK";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="govuk-heading-l">
            @title
        </h1>
    </header>

    @using (Html.BeginForm(actionName: "Index", controllerName: "Home", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.OrganisationId)

        <p class="govuk-body">@Model.FacilityType.ToDisplayString() name: @Model.AatfName</p>

        @(this.WeeeGds().TableSummary(title, new Dictionary<string, object> {
            { @Resources.Aatf.AatfResources.FirstName, @Model.Contact.FirstName },
            { @Resources.Aatf.AatfResources.LastName, @Model.Contact.LastName },
            { @Resources.Aatf.AatfResources.Position, @Model.Contact.Position },
            { @Resources.Aatf.AatfResources.AddressLine1, @Model.Contact.AddressData.Address1 },
            { @Resources.Aatf.AatfResources.AddressLine2, @Model.Contact.AddressData.Address2 },
            { @Resources.Aatf.AatfResources.TownOrCity, @Model.Contact.AddressData.TownOrCity },
            { @Resources.Aatf.AatfResources.CountyOrRegion, @Model.Contact.AddressData.CountyOrRegion },
            { @Resources.Aatf.AatfResources.Postcode, @Model.Contact.AddressData.Postcode },
            { @Resources.Aatf.AatfResources.Country, @Model.Contact.AddressData.CountryName },
            { @Resources.Aatf.AatfResources.Phone, @Model.Contact.Telephone },
            { @Resources.Aatf.AatfResources.EmailAddress, @Model.Contact.Email }
        }))

        <p>
            <a href="@(Url.UrlFor<ContactDetailsController>(a => a.Edit(Model.AatfId)))">Edit  @Model.FacilityType.ToDisplayString() contact details</a>
        </p>

        <p>
            @Html.ActionLink("Perform another activity", "ChooseActivity", "Home", new { area = "Scheme", pcsId = Model.OrganisationId }, new { @class = "govuk-button" })
        </p>
    }
}