@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.SentOnRemoveSiteViewModel
@{
    ViewBag.Title = "Confirm removal of AATF/ATF - GOV.UK";
}
<section id="main-content">
    @using (Html.BeginForm("Index", "SentOnRemoveSite", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.WeeeSentOnId)
        @Html.HiddenFor(m => m.ReturnId)
        @Html.HiddenFor(m => m.AatfId)
        @Html.HiddenFor(m => m.OrganisationId)
        <h1 class="govuk-heading-l">Are you sure you want to remove this AATF/ATF from your list?</h1>
        <div class="govuk-table govuk-grid-column-full" id="weee-data-entry-table">
            <div class="govuk-table__head">
                <div class="govuk-grid-row govuk-table__row govuk-table__header" style="width: 50%">
                    <div class="govuk-grid-column-one-half">
                        AATF/ATF name and address
                    </div>
                    <div class="govuk-grid-column-one-half weee-tonnage-column-padding-left" style="font-weight: normal">
                        @Html.HiddenFor(model => model.SiteAddress)
                        @Html.Raw(Model.SiteAddress.Replace("\r\n", "<br />"))
                    </div>
                </div>
                <div class="govuk-grid-row govuk-table__row govuk-table__header" style="width: 50%">
                    <div class="govuk-grid-column-one-half">
                        Operator name and address
                    </div>
                    <div class="govuk-grid-column-one-half weee-tonnage-column-padding-left" style="font-weight: normal">
                        @Html.HiddenFor(model => model.OperatorAddress)
                        @Html.Raw(Model.OperatorAddress.Replace("\r\n", "<br />"))
                    </div>
                </div>
                <div class="govuk-grid-row govuk-table__row govuk-table__header" style="border-bottom: 0px; width: 50%">
                    <div class="govuk-grid-column-one-half">
                        WEEE sent on
                    </div>
                </div>
                <div class="govuk-grid-row govuk-table__row govuk-table__header" style="border-bottom: 0px; width: 50%">
                    <div class="govuk-grid-column-one-half">
                        B2C
                    </div>
                    <div class="govuk-grid-column-one-half weee-tonnage-column-padding-left" style="font-weight: normal">
                        @Html.HiddenFor(m => m.TonnageB2C)
                        @Model.TonnageB2C
                    </div>
                </div>
                <div class="govuk-grid-row govuk-table__row govuk-table__header" style="width: 50%">
                    <div class="govuk-grid-column-one-half">
                        B2B
                    </div>
                    <div class="govuk-grid-column-one-half weee-tonnage-column-padding-left" style="font-weight: normal">
                        @Html.HiddenFor(m => m.TonnageB2B)
                        @Model.TonnageB2B
                    </div>
                </div>
            </div>
        </div>
        <div class="govuk-form-group" style="padding-bottom: 10px">
            <div class="govuk-grid-column-full govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedValue)" style="padding-left: 0px; margin-bottom: 10px;">
                @this.WeeeGds().RadioButtonsFor(
                    m => m.SelectedValue,
                    Model.PossibleValues,
                    "Confirm if you want to remove this AATF/ATF from your list",
                    RadioButtonLegend.VisuallyHidden,
                    RadioButtonLayout.Inline)
            </div>
            <img src="~/Content/govuk_frontend/images/icon-important.png" alt="icon-important" style="float:left;" height="42" width="42">
            <p class="important">
                Removing this AATF/ATF will delete all tonnage data associated with it.
            </p>
        </div>

        <button type="submit" name="save" class="govuk-button" id="site-details">
            Save and continue
        </button>
    }

</section>
@Styles.Render("~/Content/remove-site")