@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.SentOnRemoveSiteViewModel
@{
    ViewBag.Title = "Are you sure you want to remove this AATF / ATF from your list? - GOV.UK";
}
<section id="main-content">
    @using (Html.BeginForm("Index", "SentOnRemoveSite", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.WeeeSentOnId)
        @Html.HiddenFor(m => m.ReturnId)
        @Html.HiddenFor(m => m.AatfId)
        @Html.HiddenFor(m => m.OrganisationId)
        @Html.HiddenFor(m => m.IsAatf)

        <h1 class="govuk-heading-l">@Resources.AatfReturn.ReturnsResources.RemoveAATFATFConfirmTitle</h1>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <table class="govuk-table prsd-table-collapse">
                    <caption class="govuk-table__caption govuk-visually-hidden">@Resources.AatfReturn.ReturnsResources.RemoveAATFATFfromyourlist</caption>
                    <thead class="govuk-table__head prsd-table-collapse prsd-table-collapse-header">
                        <tr class="govuk-table__row prsd-table-collapse prsd-table-collapse-header">
                            <th scope="col" class="govuk-table__header prsd-table-collapse" style="width: 60%">@Resources.AatfReturn.ReturnsResources.Typeofaddress</th>
                            <th scope="col" class="govuk-table__header prsd-table-collapse" style="width: 40%">@Resources.AatfReturn.ReturnsResources.Address</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body prsd-table-collapse">
                        <tr class="govuk-table__row prsd-table-collapse prsd-table-collapse-row">
                            <th scope="row" class="govuk-table__header">AATF / ATF name and address</th>
                            <td class="govuk-table__cell">
                                @Html.HiddenFor(model => model.SiteAddress)
                                @Html.Raw(Model.SiteAddress.Replace("\r\n", "<br />"))
                            </td>
                        </tr>
                        <tr class="govuk-table__row prsd-table-collapse prsd-table-collapse-row">
                            <th scope="row" class="govuk-table__header">Operator name and address</th>
                            <td class="govuk-table__cell">
                                @Html.HiddenFor(model => model.OperatorAddress)
                                @Html.Raw(Model.OperatorAddress.Replace("\r\n", "<br />"))
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="govuk-table prsd-table-collapse">
                    <caption class="govuk-table__caption govuk-visually-hidden">WEEE sent on</caption>
                    <thead class="govuk-table__head prsd-table-collapse prsd-table-collapse-header">
                        <tr class="govuk-table__row prsd-table-collapse prsd-table-collapse-header">
                            <th scope="col" class="govuk-table__header prsd-table-collapse" style="width: 60%">WEEE sent on</th>
                            <th scope="col" class="govuk-table__header prsd-table-collapse" style="width: 40%">@Resources.AatfReturn.ReturnsResources.Quantity</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body prsd-table-collapse">
                        <tr class="govuk-table__row prsd-table-collapse prsd-table-collapse-row">
                            <th scope="row" class="govuk-table__header" style="border-bottom: 0px;">@Resources.AatfReturn.ReturnsResources.B2C</th>
                            <td class="govuk-table__cell" style="border-bottom: 0px;">
                                @Html.HiddenFor(m => m.TonnageB2C)
                                @Model.TonnageB2C
                            </td>
                        </tr>
                        <tr class="govuk-table__row prsd-table-collapse prsd-table-collapse-row">
                            <th scope="row" class="govuk-table__header">@Resources.AatfReturn.ReturnsResources.B2B</th>
                            <td class="govuk-table__cell">
                                @Html.HiddenFor(m => m.TonnageB2B)
                                @Model.TonnageB2B
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="govuk-grid-column-full">
            <div class="govuk-grid-row">
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        @Resources.AatfReturn.ReturnsResources.RemoveAATFATFMsg
                    </strong>
                </div>
                <div class="govuk-grid-column-full govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedValue)" style="padding-left: 0px; margin-bottom: 10px;">
                    @this.WeeeGds().RadioButtonsFor(
                        m => m.SelectedValue,
                        Model.PossibleValues,
                        "Confirm if you want to remove this AATF / ATF from your list",
                        RadioButtonLegend.VisuallyHidden,
                        RadioButtonLayout.Inline)
                </div>
            </div>
        </div>
        <div class="govuk-!-padding-bottom-7"></div>
        <button type="submit" name="save" class="govuk-button" id="site-details" data-module="govuk-button" data-prevent-double-click="true">
            @Resources.AatfReturn.ReturnsResources.SaveAndContinue
        </button>
    }

</section>
@Styles.Render("~/Content/remove-site")