@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.SentOnRemoveSiteViewModel
@{
    ViewBag.Title = "Are you sure you want to remove this AATF / ATF from your list? - GOV.UK";
}
<section id="main-content">
    @using (Html.BeginForm("Index", "SentOnRemoveSite", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.WeeeSentOnId)
        @Html.HiddenFor(m => m.ReturnId)
        @Html.HiddenFor(m => m.AatfId)
        @Html.HiddenFor(m => m.OrganisationId)
        @Html.HiddenFor(m => m.IsAatf)

        <h1 class="govuk-heading-l">@Resources.AatfReturn.ReturnsResources.RemoveAATFATFConfirmTitle</h1>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" style="width: 40%">
                            @Resources.AatfReturn.ReturnsResources.Typeofaddress
                        </dt>
                        <dd class="govuk-summary-list__value" style="font-weight: 700;">
                            @Resources.AatfReturn.ReturnsResources.Address
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @Resources.AatfReturn.ReturnsResources.AATFATFnameAndAddress
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Html.HiddenFor(model => model.SiteAddress)
                            @Html.Raw(Model.SiteAddress.Replace("\r\n", "<br />"))
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @Resources.AatfReturn.ReturnsResources.OperatorNameAndAddress
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Html.HiddenFor(model => model.OperatorAddress)
                            @Html.Raw(Model.OperatorAddress.Replace("\r\n", "<br />"))
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @Resources.AatfReturn.ReturnsResources.WEEESentOn
                        </dt>
                        <dd class="govuk-summary-list__value" style="font-weight: 700;">
                            @Resources.AatfReturn.ReturnsResources.Quantity
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row" style="border-bottom: none">
                        <dt class="govuk-summary-list__key">
                            @Resources.AatfReturn.ReturnsResources.B2C
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Html.HiddenFor(m => m.TonnageB2C)
                            @Model.TonnageB2C
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @Resources.AatfReturn.ReturnsResources.B2B
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Html.HiddenFor(m => m.TonnageB2B)
                            @Model.TonnageB2B
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <div class="govuk-grid-column-full">
            <div class="govuk-grid-row">
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        @Resources.AatfReturn.ReturnsResources.RemoveAATFATFMsg
                    </strong>
                </div>
                <div class="govuk-grid-column-full govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedValue)" style="padding-left: 0px; margin-bottom: 10px;">
                    @this.WeeeGds().RadioButtonsFor(
                        m => m.SelectedValue,
                        Model.PossibleValues,
                        "Confirm if you want to remove this AATF / ATF from your list",
                        RadioButtonLegend.VisuallyHidden,
                        RadioButtonLayout.Inline)
                </div>
            </div>
        </div>
        <div class="govuk-!-padding-bottom-7"></div>
        @(this.WeeeGds().Submit(Resources.AatfReturn.ReturnsResources.SaveAndContinue, new { name="save", id= "site-details" }))
    }

</section>
@Styles.Render("~/Content/remove-site")