@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@using EA.Weee.Web.Extensions
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.NonObligatedValuesViewModel
@{
    ViewBag.Title = "Non-obligated WEEE";
}

<table class="govuk-table" id="weee-data-entry-table">
    <caption class="govuk-table__caption govuk-visually-hidden">Non-obligated WEEE</caption>
    <thead class="govuk-table__head">
    <tr>
        <th scope="col" class="govuk-table__header govuk-!-width-three-quarters"><span class="govuk-visually-hidden">Category</span></th>
        <th scope="col" class="govuk-table__header govuk-!-padding-left-3"><span>WEEE (tonnes)</span></th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
        @for (var i = 0; i < Model.CategoryValues.Count; i++)
        {
            var category = Model.CategoryValues[i];

            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-padding-bottom-0">
                    <span id="@category.CategoryId"> @(@category.CategoryId). @category.CategoryDisplay</span>
                    @Html.HiddenFor(m => m.CategoryValues[i].CategoryId)
                    @Html.HiddenFor(m => m.CategoryValues[i].CategoryDisplay)
                    @Html.HiddenFor(m => m.CategoryValues[i].Id)
                </td>
                <td class="govuk-table__cell">
                    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.CategoryValues[i], m => m.CategoryValues[i].Tonnage)">
                        @Html.Gds().ValidationMessageFor(m => m.CategoryValues[i].Tonnage)
                        @Html.TextBoxFor(m => m.CategoryValues[i].Tonnage, new { @class = "govuk-input govuk-input--width-10 tonnage-entry", aria_labelledby = @category.CategoryId, autocomplete = "off", maxlength = CommonMaxFieldLengths.Tonnage })
                    </div>
                </td>
            </tr>
        }

    <tr class="govuk-table__row">
        <td class="govuk-table__cell">
            <p class="govuk-body"><strong>Total</strong></p>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            <p class="govuk-body govuk-!-text-align-right" id="TonnageTotal">@Model.Total</p>
        </td>
    </tr>
    </tbody>
</table>

@Scripts.Render("~/bundles/weee_tonnage_totals")
<script>
    TonnageTotals('Tonnage');
</script>

