@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.ViewModels.Returns.ReturnViewModel

@{
    var hideOpenClass = Model.AnyAatfSchemes ? "" : "hide";
    var isCheckReturn = (bool)ViewData["displayEdit"];

    var tableHeaderWidth = isCheckReturn ? "16.6%" : "25%";
    var colSpan = isCheckReturn ? "2" : "3";
    var fullColSpan = isCheckReturn ? "4" : "3";
}

@Html.Partial("_SummaryReportingPeriodPartial", Model)

@if (Model.AatfsData.Any())
{
    <h2 class="govuk-heading-m">@Resources.AatfReturn.ReturnsResources.ObligatedWeee</h2>
    <div class="govuk-!-padding-bottom-4"></div>
    <div class="govuk-body">
        @if (Model.ShowDownloadObligatedDataLink)
        {
            @(this.WeeeGds().ActionLinkWithEventTracking("Download all obligated data",
                  "Download all obligated data",
                  Url.RouteUrl(AatfRedirect.Download, new { returnId = Model.ReturnId, obligated = true }),
                  "AATF return",
                  "Obligated data download",
                  "Obligated data download"
                  ))
        }
    </div>
    <div class="govuk-grid-column-full">
        <span id="mainLink-collapsible" class="mainLink-collapsibleclass collapsible-font-size">
            <a href="#" id="collapsibleHref" class="@hideOpenClass">Open all</a>
        </span>
    </div>
    <div class="govuk-!-padding-bottom-6"></div>
}

@for (var count = 0; count < Model.AatfsData.Count(); count++)
{
    var item = Model.AatfsData.ElementAt(count);

    if (count != 0)
    {
        <div class="govuk-!-padding-top-8"></div>
    }
    else
    {
        <div class="govuk-!-padding-top-4"></div>
    }

    <table class="aatf-task-list-table govuk-table prsd-table-small-collapse">
        <caption class="govuk-table__caption govuk-table__caption--s task-list-aatf-title">@item.Aatf.Name (@item.Aatf.ApprovalNumber) Status: @item.Aatf.AatfStatus</caption>
        <thead class="govuk-table__head prsd-table-small-collapse prsd-table-small-collapse-header">
            <tr class="govuk-table__row govuk-table__cell--thick prsd-table-small-collapse prsd-table-small-collapse-header">
                <th scope="col" class="govuk-table__header prsd-table-small-collapse govuk-!-text-align-right" style="width: 50%;"><span class="govuk-visually-hidden">@Resources.AatfReturn.ReturnsResources.ReportingOn</span></th>
                <th scope="col" class="govuk-table__header collapsible-padding-right govuk-!-text-align-right prsd-table-small-collapse" style="width: @tableHeaderWidth;">@Resources.AatfReturn.ReturnsResources.B2C</th>
                <th scope="col" class="govuk-table__header collapsible-padding-right govuk-!-text-align-right prsd-table-small-collapse" style="width: @tableHeaderWidth;">@Resources.AatfReturn.ReturnsResources.B2B</th>
                @if (isCheckReturn)
                {
                    <th scope="col" class="govuk-table__header govuk-!-text-align-right prsd-table-small-collapse" style="width: 16.6%;"><span class="govuk-visually-hidden">@Resources.AatfReturn.ReturnsResources.Actions</span> </th>
                }
            </tr>
        </thead>
        <tbody class="govuk-table__body prsd-table-small-collapse">
            <tr class="govuk-table__row task-list-row prsd-table-small-collapse">
                <td data-label="@Resources.AatfReturn.ReturnsResources.ReportingOn" class="govuk-table__cell task-list-title-cell prsd-table-small-collapse prsd-table-small-collapse-cell govuk-table__cell__bottom--none collapsible-padding-right">
                    <span class="summary-paragraph">
                        @Resources.AatfReturn.ReturnsResources.ReceivedOnBehalfOfPcs
                    </span>
                </td>
                @if (Model.ReportOnDisplayOptions.DisplayObligatedReceived)
                {
                    <td data-label="@Resources.AatfReturn.ReturnsResources.B2C" class="govuk-table__cell govuk-!-text-align-right collapsible-padding-right break-word prsd-table-small-collapse prsd-table-small-collapse-cell break-word govuk-table__cell__bottom--none">
                        @item.WeeeReceived.B2C
                    </td>
                    <td data-label="@Resources.AatfReturn.ReturnsResources.B2B" class="govuk-table__cell govuk-!-text-align-right collapsible-padding-right break-word prsd-table-small-collapse prsd-table-small-collapse-cell break-word govuk-table__cell__bottom--none">
                        @item.WeeeReceived.B2B
                    </td>
                }
                else
                {
                    <td colspan="@colSpan" class="govuk-table__cell not-reported-column govuk-table__cell__bottom--none">
                        <p>
                            @Resources.AatfReturn.ReturnsResources.NotSelectedForReporting
                        </p>
                    </td>
                }

                @if (isCheckReturn)
                {
                    <td class="govuk-table__cell weee-actions-display govuk-!-text-align-centre prsd-table-small-collapse prsd-table-small-collapse-cell govuk-table__cell__bottom--none">
                        @if (Model.ReportOnDisplayOptions.DisplayObligatedReceived)
                        {
                            @(this.WeeeGds().ActionLinkWithEventTracking("Change",
                                "change received for treatment relating to " + @item.Aatf.Name,
                                Url.RouteUrl(AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, aatfId = @item.Aatf.Id, action = "Index", controller = "ReceivedPcsList" }),
                                "AATF return",
                                "Check return changes",
                                "Check return changes"
                                ))
                        }
                        else
                        {
                            @Html.NavigationRouteLink(@Resources.AatfReturn.ReturnsResources.ReportData, "report on received on behalf of PCS for " + @item.Aatf.Name, AatfRedirect.SelectReportOptionsRouteName, new { action = "Index", returnId = Model.ReturnId, organisationId = Model.OrganisationId }, null)
                        }
                    </td>
                }
            </tr>

            @if (item.SchemeData.Count > 0)
            {
                <tr>
                    <td colspan="@fullColSpan">
                        <details class="govuk-details collapsible-font-size" data-module="govuk-details" aria-live="polite" role="group">
                            <summary id="details-@item.Aatf.Id" class="govuk-details__summary" aria-controls="details-content-@count" aria-expanded="false">
                                <span class="govuk-details__summary-text">
                                    @Resources.AatfReturn.ReturnsResources.BreakDownByPcs <span class="govuk-visually-hidden">Expand for breakdown of WEEE received on behalf of PCS for @item.Aatf.Name </span>
                                </span>
                            </summary>
                            <div class="govuk-details__text" id="details-content-@count">
                                <table class="govuk-table prsd-table-small-collapse aatf-task-list-pcs-table">
                                    <caption class="govuk-table__caption govuk-visually-hidden">Breakdown by PCS</caption>
                                    <thead class="govuk-table__head prsd-table-small-collapse prsd-table-small-collapse-header">
                                        <tr class="govuk-table__row prsd-table-small-collapse prsd-table-small-collapse-header">
                                            <th scope="col" class="govuk-!-text-align-left prsd-table-small-collapse" style="width: 30%;">@Resources.AatfReturn.ReturnsResources.PCSName</th>
                                            <th scope="col" class="govuk-!-text-align-left prsd-table-small-collapse" style="width: 20%;">@Resources.AatfReturn.ReturnsResources.ApprovalNumber</th>
                                            <th scope="col" class="govuk-!-text-align-right prsd-table-small-collapse" style="width: @tableHeaderWidth;"><span class="govuk-visually-hidden">@Resources.AatfReturn.ReturnsResources.B2C</span> </th>
                                            <th scope="col" class="govuk-!-text-align-right prsd-table-small-collapse" style="width: @tableHeaderWidth;"><span class="govuk-visually-hidden">@Resources.AatfReturn.ReturnsResources.B2B</span> </th>
                                            @if (isCheckReturn)
                                            {
                                                <th scope="col"><span class="govuk-visually-hidden">@Resources.AatfReturn.ReturnsResources.Actions</span> </th>
                                            }

                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body prsd-table-small-collapse">
                                        @foreach (var pcsdata in item.SchemeData)
                                        {
                                            <tr class="govuk-table__row prsd-table-small-collapse">
                                                <td data-label="@Resources.AatfReturn.ReturnsResources.PCSName" class="govuk-table__cell prsd-table-small-collapse prsd-table-small-collapse-cell collapsible-padding-right">
                                                    @pcsdata.Scheme.SchemeName
                                                </td>
                                                <td data-label="@Resources.AatfReturn.ReturnsResources.ApprovalNumber" class="govuk-table__cell prsd-table-small-collapse prsd-table-small-collapse-cell collapsible-padding-right">
                                                    @pcsdata.ApprovalName
                                                </td>
                                                <td data-label="@Resources.AatfReturn.ReturnsResources.B2C" class="govuk-table__cell prsd-table-small-collapse prsd-table-small-collapse-cell govuk-!-text-align-right break-word collapsible-padding-right">
                                                    @pcsdata.Received.B2C
                                                </td>
                                                <td data-label="@Resources.AatfReturn.ReturnsResources.B2B" class="govuk-table__cell prsd-table-small-collapse prsd-table-small-collapse-cell govuk-!-text-align-right break-word collapsible-padding-right">
                                                    @pcsdata.Received.B2B
                                                </td>
                                                @if (isCheckReturn)
                                                {
                                                    <td class="govuk-table__cell prsd-table-small-collapse prsd-table-small-collapse-cell govuk-!-text-align-centre">
                                                        @(this.WeeeGds().ActionLinkWithEventTracking(@Resources.AatfReturn.ReturnsResources.Change,
                                                            "change received for treatment relating to scheme " + pcsdata.Scheme.SchemeName,
                                                            Url.RouteUrl(AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, schemeId = pcsdata.Scheme.Id, aatfId = item.Aatf.Id, action = "Index", controller = "ObligatedReceived" }),
                                                            "AATF return",
                                                            "Check return changes",
                                                            "Check return changes"
                                                            ))
                                                    </td>
                                                }
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </details>
                    </td>
                </tr>
            }

        <tr class="govuk-table__row task-list-row govuk-table__cell--thick prsd-table-small-collapse">
            <td data-label="@Resources.AatfReturn.ReturnsResources.ReportingOn" class="govuk-table__cell task-list-title-cell prsd-table-small-collapse prsd-table-small-collapse-cell govuk-table__cell__border-top--thick aatf-task-list-mobile-border">
                @Resources.AatfReturn.ReturnsResources.SentToAnotherAatf
            </td>

            @if (Model.ReportOnDisplayOptions.DisplayObligatedSentOn)
            {
                <td data-label="@Resources.AatfReturn.ReturnsResources.B2C" class="govuk-table__cell govuk-!-text-align-right collapsible-padding-right break-word prsd-table-small-collapse prsd-table-small-collapse-cell govuk-table__cell__border-top--thick">
                    @item.WeeeSentOn.B2C
                </td>
                <td data-label="@Resources.AatfReturn.ReturnsResources.B2B" class="govuk-table__cell govuk-!-text-align-right collapsible-padding-right break-word prsd-table-small-collapse prsd-table-small-collapse-cell govuk-table__cell__border-top--thick">
                    @item.WeeeSentOn.B2B
                </td>
                }
                else
                {
                <td colspan="@colSpan" class="govuk-table__cell not-reported-column govuk-table__cell__border-top--thick">
                    <p>
                        @Resources.AatfReturn.ReturnsResources.NotSelectedForReporting
                    </p>
                </td>
                }

                @if (isCheckReturn)
                {
                    <td class="govuk-table__cell weee-actions-display govuk-!-text-align-centre prsd-table-small-collapse prsd-table-small-collapse-cell govuk-table__cell__border-top--thick">

                        @if (Model.ReportOnDisplayOptions.DisplayObligatedSentOn)
                        {
                            @(this.WeeeGds().ActionLinkWithEventTracking(@Resources.AatfReturn.ReturnsResources.Change,
                            "change sent to another AATF / ATF data relating to " + @item.Aatf.Name,
                            Url.RouteUrl(AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, aatfId = @item.Aatf.Id, organisationId = Model.OrganisationId, action = "Index", controller = "SentOnSiteSummaryList" }),
                            "AATF return",
                            "Check return changes",
                            "Check return changes"
                            ))
                        }
                        else
                        {
                            @Html.NavigationRouteLink("Report data", "report on sent to another AATF / ATF for " + @item.Aatf.Name, AatfRedirect.SelectReportOptionsRouteName, new { action = "Index", returnId = Model.ReturnId, organisationId = Model.OrganisationId }, null)
                        }

                    </td>
                }
            </tr>

            <tr data-label="@Resources.AatfReturn.ReturnsResources.ReportingOn" class="govuk-table__row task-list-row govuk-table__cell--thick prsd-table-small-collapse">
                <td class="govuk-table__cell task-list-title-cell prsd-table-small-collapse prsd-table-small-collapse-cell">
                    <span class="summary-paragraph">
                        @Resources.AatfReturn.ReturnsResources.ReusedAsWholeAppliance
                    </span>
                </td>
                @if (Model.ReportOnDisplayOptions.DisplayObligatedSentOn)
                {
                    <td data-label="@Resources.AatfReturn.ReturnsResources.B2C" class="govuk-table__cell govuk-!-text-align-right collapsible-padding-right break-word prsd-table-small-collapse prsd-table-small-collapse-cell">
                        @item.WeeeReused.B2C
                    </td>
                    <td data-label="@Resources.AatfReturn.ReturnsResources.B2B" class="govuk-table__cell govuk-!-text-align-right break-word prsd-table-small-collapse prsd-table-small-collapse-cell">
                        @item.WeeeReused.B2B
                    </td>
                }
                else
                {
                    <td colspan="@colSpan" class="govuk-table__cell not-reported-column">
                        <p>
                            @Resources.AatfReturn.ReturnsResources.NotSelectedForReporting
                        </p>
                    </td>
                }

                @if (isCheckReturn)
                {
                    <td class="govuk-table__cell weee-actions-display govuk-!-text-align-centre prsd-table-small-collapse prsd-table-small-collapse-cell">

                        @if (Model.ReportOnDisplayOptions.DisplayObligatedReused)
                        {
                            var message = "change reused as a whole appliance relating to " + item.Aatf.Name;

                            if (Equals(item.WeeeReused.B2B, "-") && Equals(item.WeeeReused.B2C, "-"))
                            {
                                @(this.WeeeGds().ActionLinkWithEventTracking(@Resources.AatfReturn.ReturnsResources.Change,
                                                                           @message,
                                                                          Url.RouteUrl(AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, aatfId = item.Aatf.Id, action = "Index", controller = "ObligatedReused" }),
                                                                          "AATF return",
                                                                          "Check return changes",
                                                                          "Check return changes"
                                                                          ))
                            }
                            else
                            {
                                @(this.WeeeGds().ActionLinkWithEventTracking(@Resources.AatfReturn.ReturnsResources.Change,
                                                                          @message,
                                                                          Url.RouteUrl(AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, aatfId = item.Aatf.Id, organisationId = Model.OrganisationId, action = "Index", controller = "ReusedOffSiteSummaryLIst" }),
                                                                          "AATF return",
                                                                          "Check return changes",
                                                                          "Check return changes"
                                                                          ))
                            }
                        }
                        else
                        {
                            @Html.NavigationRouteLink("Report data", "report on reused as a whole appliance for " + item.Aatf.Name, AatfRedirect.SelectReportOptionsRouteName, new { action = "Index", returnId = Model.ReturnId, organisationId = Model.OrganisationId }, null)
                        }

                    </td>
                }
            </tr>
        </tbody>
    </table>

}

<h2 class="govuk-heading-m">Non-obligated WEEE</h2>
<div class="govuk-body">
    @if (Model.ShowDownloadNonObligatedDataLink)
    {
        @(this.WeeeGds().ActionLinkWithEventTracking("Download all non-obligated data",
            "Download all non-obligated data",
            Url.RouteUrl(AatfRedirect.Download, new { returnId = Model.ReturnId, obligated = false }),
            "AATF return",
            "Non-obligated data download",
            "Non-obligated data download"
            ))
    }
</div>

<table class="govuk-table govuk-grid-column-full">
    <caption class="govuk-table__caption govuk-heading-m govuk-visually-hidden">@Resources.AatfReturn.ReturnsResources.NonObligatedWeee</caption>
    <thead class="govuk-table__head">

        <tr class="govuk-table__row govuk-table__cell--thick">
            <th scope="col" class="govuk-table__header" style="width: 45%;"><span class="govuk-visually-hidden">@Resources.AatfReturn.ReturnsResources.ReportingOn</span></th>
            @if (isCheckReturn)
            {
                <th scope="col" class="govuk-table__header govuk-!-text-align-right" style="width: 38.3%;">@Resources.AatfReturn.ReturnsResources.TotalTonnes</th>
                <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">@Resources.AatfReturn.ReturnsResources.Actions</span></th>
            }
            else
            {
                <th scope="col" class="govuk-table__header govuk-!-text-align-right" style="width: 50%;">@Resources.AatfReturn.ReturnsResources.TotalTonnes</th>
            }
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row task-list-row govuk-table__cell--thick">
            <td class="govuk-table__cell">
                <span class="summary-paragraph task-list-title-cell">
                    @Resources.AatfReturn.ReturnsResources.Received
                </span>
            </td>

            @if (Model.ReportOnDisplayOptions.DisplayNonObligated)
            {
                <td class="govuk-table__cell govuk-!-text-align-right break-word">
                    @Model.NonObligatedTonnageTotal
                </td>
            }
            else
            {
                <td class="govuk-table__cell govuk-!-text-align-right break-word">
                    @Resources.AatfReturn.ReturnsResources.NotSelectedForReporting
                </td>
            }

            @if (isCheckReturn)
            {
                <td class="govuk-table__cell govuk-!-text-align-centre">
                    @if (Model.ReportOnDisplayOptions.DisplayNonObligated)
                    {
                        @(this.WeeeGds().ActionLinkWithEventTracking(@Resources.AatfReturn.ReturnsResources.Change,
                        "Change non obligated",
                        Url.RouteUrl(AatfRedirect.NonObligatedRouteName, new { returnId = Model.ReturnId, dcf = false }),
                        "AATF return",
                        "Check return changes",
                        "Check return changes"
                        ))
                    }
                    else
                    {
                        @Html.NavigationRouteLink("Report data", "report on no obligated data", AatfRedirect.SelectReportOptionsRouteName, new { action = "Index", returnId = Model.ReturnId, organisationId = Model.OrganisationId }, null)
                    }
                </td>
            }
        </tr>

        <tr class="govuk-table__row task-list-row govuk-table__cell--thick">
            <td class="govuk-table__cell">
                <span class="summary-paragraph task-list-title-cell">
                    @Resources.AatfReturn.ReturnsResources.KeptRetainedByDcf
                </span>
            </td>

            @if (Model.ReportOnDisplayOptions.DisplayNonObligated)
            {
                <td class="govuk-table__cell govuk-!-text-align-right break-word">
                    @Model.NonObligatedTonnageTotalDcf
                </td>
            }
            else
            {
                <td class="govuk-table__cell govuk-!-text-align-right break-word">
                    @Resources.AatfReturn.ReturnsResources.NotSelectedForReporting
                </td>
            }

            @if (isCheckReturn)
            {
                <td class="govuk-table__cell govuk-!-text-align-centre">
                    @if (Model.ReportOnDisplayOptions.DisplayNonObligatedDcf)
                    {
                        @(this.WeeeGds().ActionLinkWithEventTracking(@Resources.AatfReturn.ReturnsResources.Change,
                        "Change non obligated DCF",
                        Url.RouteUrl(AatfRedirect.NonObligatedDcfRouteName, new { returnId = Model.ReturnId, dcf = true }),
                        "AATF return",
                        "Check return changes",
                        "Check return changes"
                        ))
                    }
                    else
                    {
                        @Html.NavigationRouteLink("Report data", "report on non obligated DCF data", AatfRedirect.SelectReportOptionsRouteName, new { action = "Index", returnId = Model.ReturnId, organisationId = Model.OrganisationId }, null)
                    }
                </td>
            }

        </tr>
    </tbody>
</table>
