@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers

@model EA.Weee.Web.ViewModels.Returns.ReturnViewModel
@{
    var opertatorName = Model.Organisation.Name;
    ViewBag.Title = "AATF return task list for " + opertatorName + " - GOV.UK";
    var displayObligatedGroup = Model.ReportOnDisplayOptions.DisplayObligatedReceived || Model.ReportOnDisplayOptions.DisplayObligatedSentOn || Model.ReportOnDisplayOptions.DisplayObligatedReused;
}

@section full_main_content
{
    <header class="hgroup">
        <div>
            <h1 class="govuk-heading-l">AATF return task list for @Model.OrganisationName</h1>
        </div>
    </header>

    @Html.Partial("_SummaryReportingPeriodPartial", Model)

<h2 class="govuk-heading-m">@Resources.AatfReturn.ReturnsResources.ObligatedWeee</h2>

    @if (displayObligatedGroup && Model.AatfsData.Any())
    {
        for (var count = 0; count < Model.AatfsData.Count(); count++)
        {
            var item = Model.AatfsData.ElementAt(count);

            if (count != 0)
            {
                <div class="govuk-!-padding-top-8"></div>
            }
            else
            {
                <div class="govuk-!-padding-top-4"></div>
            }

            <div class="aatf-task-list-table">

                <table class="govuk-table prsd-table-small-collapse aatf-task-list-table">
                    <caption class="govuk-table__caption govuk-table__caption--s task-list-aatf-title">@item.Aatf.Name (@item.Aatf.ApprovalNumber) Status: @item.Aatf.AatfStatus</caption>
                    <thead class="govuk-table__head prsd-table-small-collapse prsd-table-small-collapse-header">
                        <tr class="govuk-table__row govuk-table__cell--thick prsd-table-small-collapse prsd-table-small-collapse-header">
                            <th scope="col" class="govuk-table__header prsd-table-small-collapse" style="width: 50%;"><span class="govuk-visually-hidden">@Resources.AatfReturn.ReturnsResources.ReportingOn</span></th>
                            <th scope="col" class="govuk-table__header govuk-!-text-align-right prsd-table-small-collapse" style="width: 16.6%;">@Resources.AatfReturn.ReturnsResources.B2C</th>
                            <th scope="col" class="govuk-table__header govuk-!-text-align-right prsd-table-small-collapse" style="width: 16.6%;">@Resources.AatfReturn.ReturnsResources.B2B</th>
                            <th scope="col" class="govuk-table__header govuk-!-text-align-right prsd-table-small-collapse" style="width: 16.6%;"><span class="govuk-visually-hidden">@Resources.AatfReturn.ReturnsResources.Actions</span> </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body prsd-table-small-collapse">

                        @if (Model.ReportOnDisplayOptions.DisplayObligatedReceived)
                        {
                            <tr class="govuk-table__row task-list-row govuk-table__cell--thick prsd-table-small-collapse">
                                <td data-label="@Resources.AatfReturn.ReturnsResources.ReportingOn" class="govuk-table__cell task-list-title-cell prsd-table-small-collapse prsd-table-small-collapse-cell">
                                    <span class="summary-paragraph">
                                        @Resources.AatfReturn.ReturnsResources.ReceivedOnBehalfOfPcs
                                    </span>
                                </td>
                                <td data-label="@Resources.AatfReturn.ReturnsResources.B2C" class="govuk-table__cell govuk-!-text-align-right break-word prsd-table-small-collapse prsd-table-small-collapse-cell">
                                    <span class="summary-paragraph">
                                        @item.WeeeReceived.B2C
                                    </span>
                                </td>
                                <td data-label="@Resources.AatfReturn.ReturnsResources.B2B" class="govuk-table__cell govuk-!-text-align-right break-word prsd-table-small-collapse prsd-table-small-collapse-cell">
                                    <span class="summary-paragraph">
                                        @item.WeeeReceived.B2B
                                    </span>
                                </td>
                                <td class="govuk-table__cell weee-actions-display govuk-!-text-align-centre prsd-table-small-collapse prsd-table-small-collapse-cell">
                                    @Html.NavigationRouteLink(@Resources.AatfReturn.ReturnsResources.AddEditData, "add or edit received on behalf of PCS(s) data relating to " + @item.Aatf.Name, AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, aatfId = @item.Aatf.Id, action = "Index", controller = "ReceivedPcsList" }, null)
                                </td>
                            </tr>
                        }

                        @if (Model.ReportOnDisplayOptions.DisplayObligatedSentOn)
                        {
                            <tr class="govuk-table__row task-list-row govuk-table__cell--thick prsd-table-small-collapse">
                                <td data-label="@Resources.AatfReturn.ReturnsResources.ReportingOn" class="govuk-table__cell prsd-table-small-collapse prsd-table-small-collapse-cell">
                                    <span class="summary-paragraph task-list-title-cell">
                                        @Resources.AatfReturn.ReturnsResources.SentToAnotherAatf
                                    </span>
                                </td>
                                <td data-label="@Resources.AatfReturn.ReturnsResources.B2C" class="govuk-table__cell govuk-!-text-align-right break-word prsd-table-small-collapse prsd-table-small-collapse-cell">
                                    <span class="summary-paragraph">
                                        @item.WeeeSentOn.B2C
                                    </span>
                                </td>
                                <td data-label="@Resources.AatfReturn.ReturnsResources.B2B" class="govuk-table__cell govuk-!-text-align-right break-word prsd-table-small-collapse prsd-table-small-collapse-cell">
                                    <span class="summary-paragraph">
                                        @item.WeeeSentOn.B2B
                                    </span>
                                </td>
                                <td class="govuk-table__cell weee-actions-display govuk-!-text-align-centre prsd-table-small-collapse prsd-table-small-collapse-cell">
                                    @Html.NavigationRouteLink(@Resources.AatfReturn.ReturnsResources.AddEditData, "add or edit sent to another AATF / ATF data relating to " + @item.Aatf.Name, AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, organisationId = Model.OrganisationId, aatfId = @item.Aatf.Id, action = "Index", controller = "SentOnSiteSummaryList" }, null)
                                </td>
                            </tr>
                        }

                        @if (Model.ReportOnDisplayOptions.DisplayObligatedReused)
                        {
                            <tr class="govuk-table__row task-list-row govuk-table__cell--thick prsd-table-small-collapse">
                                <td data-label="@Resources.AatfReturn.ReturnsResources.ReportData" class="govuk-table__cell prsd-table-small-collapse prsd-table-small-collapse-cell">
                                    <span class="summary-paragraph task-list-title-cell ">
                                        @Resources.AatfReturn.ReturnsResources.ReusedAsWholeAppliance
                                    </span>
                                </td>
                                <td data-label="@Resources.AatfReturn.ReturnsResources.B2C" class="govuk-table__cell govuk-!-text-align-right break-word prsd-table-small-collapse prsd-table-small-collapse-cell">
                                    <span class="summary-paragraph">
                                        @item.WeeeReused.B2C
                                    </span>
                                </td>
                                <td data-label="@Resources.AatfReturn.ReturnsResources.B2B" class="govuk-table__cell govuk-!-text-align-right break-word prsd-table-small-collapse prsd-table-small-collapse-cell">
                                    <span class="summary-paragraph">
                                        @item.WeeeReused.B2B
                                    </span>
                                </td>
                                <td class="govuk-table__cell weee-actions-display govuk-!-text-align-centre prsd-table-small-collapse prsd-table-small-collapse-cell">
                                    @{
                                        var message = "add or edit reused as a whole appliance data relating to " + @item.Aatf.Name;
                                    }

                                    @if (item.WeeeReused.RedirectToSummary)
                                    {
                                        @Html.NavigationRouteLink(@Resources.AatfReturn.ReturnsResources.AddEditData, @message, AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, aatfId = @item.Aatf.Id, organisationId = Model.OrganisationId, action = "Index", controller = "ReusedOffSiteSummaryLIst" }, null)
                                    }
                                    else
                                    {
                                        @Html.NavigationRouteLink(@Resources.AatfReturn.ReturnsResources.AddEditData, @message, AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, aatfId = @item.Aatf.Id, action = "Index", controller = "ObligatedReused" }, null)
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="govuk-!-padding-bottom-6"></div>
        }
    }

    @if (Model.ReportOnDisplayOptions.DisplayNonObligated)
    {
        <div class="govuk-!-padding-top-8"></div>

        <h2 class="govuk-heading-m">@Resources.AatfReturn.ReturnsResources.NonObligatedWeee</h2>
        <table class="govuk-table govuk-grid-column-full">
            <caption class="govuk-table__caption govuk-heading-m govuk-visually-hidden">@Resources.AatfReturn.ReturnsResources.NonObligatedWeee</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row govuk-table__cell--thick">
                    <th scope="col" class="govuk-table__header" style="width: 50%;">&nbsp;</th>
                    <th scope="col" class="govuk-table__header govuk-!-text-align-right" style="width: 33.3%;">@Resources.AatfReturn.ReturnsResources.TotalTonnes</th>

                    <th scope="col" class="govuk-table__header govuk-!-text-align-right" style="width: 16.6%;"><span class="govuk-visually-hidden">@Resources.AatfReturn.ReturnsResources.Actions</span> </th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row task-list-row govuk-table__cell--thick">
                    <td class="govuk-table__cell">
                        <span class="summary-paragraph task-list-title-cell">
                            @Resources.AatfReturn.ReturnsResources.Received
                        </span>
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-right break-word">
                        <span class="summary-paragraph">
                            @Model.NonObligatedTonnageTotal
                        </span>
                    </td>
                    <td class="govuk-table__cell weee-actions-display govuk-!-text-align-centre">
                        @Html.NavigationRouteLink(@Resources.AatfReturn.ReturnsResources.AddEditData, "add or edit data relating to non obligated received", AatfRedirect.NonObligatedRouteName, new { returnId = Model.ReturnId, dcf = false }, null)
                    </td>
                </tr>

                @if (Model.ReportOnDisplayOptions.DisplayNonObligatedDcf)
                {
                    <tr class="govuk-table__row task-list-row govuk-table__cell--thick">
                        <td class="govuk-table__cell">
                            <span class="summary-paragraph task-list-title-cell">
                                @Resources.AatfReturn.ReturnsResources.KeptRetainedByDcf
                            </span>
                        </td>
                        <td class="govuk-table__cell govuk-!-text-align-right break-word">
                            <span class="summary-paragraph">
                                @Model.NonObligatedTonnageTotalDcf
                            </span>
                        </td>
                        <td class="govuk-table__cell weee-actions-display govuk-!-text-align-centre">
                            @Html.NavigationRouteLink(@Resources.AatfReturn.ReturnsResources.AddEditData, "add or edit data relating to non obligated DCF retained", AatfRedirect.NonObligatedDcfRouteName, new { returnId = Model.ReturnId, dcf = true }, null)
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    }

    @if (!displayObligatedGroup && !Model.ReportOnDisplayOptions.DisplayNonObligated)
    {
        <h2 class="govuk-heading-m">
            @Resources.AatfReturn.ReturnsResources.NothingToReport
        </h2>
    }
    <div class="govuk-!-padding-bottom-7"></div>
    @using (Html.BeginRouteForm(AatfRedirect.Default, FormMethod.Post, new { style = "display: inline" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.OrganisationId)
        <button type="submit" name="checkreturn" class="govuk-button" id="pcs-check-return" data-module="govuk-button" data-prevent-double-click="true">
            Check return
        </button>

        <p>
            @(this.WeeeGds().ActionLinkWithEventTracking("Change what you want to report on",
                "Change reporting options",
                Url.RouteUrl(AatfRedirect.SelectReportOptionsRouteName, new { returnId = Model.ReturnId, organisationId = Model.OrganisationId }),
                "AATF return",
                "Change report options",
                "Change report options"
                ))
        </p>
    }

    <div>
        @this.WeeeGds().CreateProgressiveDisclosure("Some of my AATFs are missing",
            @Html.Partial("_ContactProgressiveDisclosure").ToString(),
            "Hidden content",
            "Progressive disclosure",
            "Some of my AATFs are missing")
    </div>

    <a href="@Url.Action("Index", "Returns", new { organisationId = Model.OrganisationId })" class="govuk-back-link">@Resources.AatfReturn.ReturnsResources.Back</a>
}
