@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.AatfReturn
@using EA.Weee.Core.Helpers
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers

@model EA.Weee.Web.ViewModels.Returns.ReturnViewModel
@{
    var opertatorName = Model.Organisation.Name;
    ViewBag.Title = "AATF return task list for " + opertatorName + " - GOV.UK";
    var displayObligatedGroup = Model.ReportOnDisplayOptions.DisplayObligatedReceived || Model.ReportOnDisplayOptions.DisplayObligatedSentOn || Model.ReportOnDisplayOptions.DisplayObligatedReused;
}

<section id="main-content">
    <header class="hgroup">
        <div>
            <h1 class="govuk-heading-l">AATF return task list for @Model.OrganisationName</h1>
        </div>
    </header>

    <table class="govuk-table govuk-!-width-one-half">
        <caption class="govuk-table__caption govuk-visually-hidden">Compliance month and year</caption>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell gov-uk-no-bottom-border">@Html.DisplayNameFor(model => model.Year)</td>
                <td class="govuk-table__cell govuk-!-font-weight-bold gov-uk-no-bottom-border">@Model.Year</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell gov-uk-no-bottom-border">@Html.DisplayNameFor(model => model.Period)</td>
                <td class="govuk-table__cell govuk-!-font-weight-bold gov-uk-no-bottom-border">@Model.Period</td>
            </tr>
        </tbody>
    </table>

    @if (displayObligatedGroup && Model.AatfsData.Any())
    {
        <h2 class="govuk-heading-m">Obligated WEEE</h2>
        <div class="govuk-table govuk-grid-column-full">
            @for (var count = 0; count < Model.AatfsData.Count(); count++)
            {
                var item = Model.AatfsData.ElementAt(count);

                if (count != 0)
                {
                    <div class="govuk-!-padding-top-8"></div>
                }
                else
                {
                    <div class="govuk-!-padding-top-4"></div>
                }
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <p>
                            <strong>@item.Aatf.Name (@item.Aatf.ApprovalNumber) Status: @item.Aatf.AatfStatus</strong>
                        </p>
                    </div>
                </div>
                <div class="govuk-grid-row govuk-table__cell--thick tasklist-row">
                    <div class="govuk-grid-column-one-half">
                        &nbsp;
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-grid-column-one-third">
                            <p class="summary-paragraph">
                                <strong>B2C (tonnes)</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-third">
                            <p class="summary-paragraph">
                                <strong>B2B (tonnes)</strong>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-third">
                            &nbsp;
                        </div>
                    </div>
                </div>

                if (Model.ReportOnDisplayOptions.DisplayObligatedReceived)
                {
                    <div class="govuk-grid-row govuk-table__cell--thick weee-tonnage-top-aligned-display tasklist-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="summary-paragraph">
                                Received on behalf of PCS(s)
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display break-word">
                                <p class="summary-paragraph">
                                    @item.WeeeReceived.B2C
                                </p>
                            </div>

                            <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display break-word">
                                <p class="summary-paragraph">
                                    @item.WeeeReceived.B2B
                                </p>
                            </div>
                            <div class="govuk-grid-column-one-third weee-actions-display">
                                <p>
                                    @Html.NavigationRouteLink("add / edit data", "add or edit received on behalf of PCS(s) data relating to " + @item.Aatf.Name, AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, aatfId = @item.Aatf.Id, action = "Index", controller = "ReceivedPcsList" }, null)
                                </p>
                            </div>
                        </div>
                    </div>
                }

                if (Model.ReportOnDisplayOptions.DisplayObligatedSentOn)
                {
                    <div class="govuk-grid-row govuk-table__cell--thick weee-tonnage-top-aligned-display tasklist-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="summary-paragraph">
                                Sent to another AATF / ATF
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display break-word">
                                <p class="summary-paragraph">
                                    @item.WeeeSentOn.B2C
                                </p>
                            </div>
                            <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display break-word">
                                <p class="summary-paragraph">
                                    @item.WeeeSentOn.B2B
                                </p>
                            </div>
                            <div class="govuk-grid-column-one-third weee-actions-display">
                                <p>
                                    @Html.NavigationRouteLink("add / edit data", "add or edit sent to another AATF / ATF data relating to " + @item.Aatf.Name, AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, organisationId = Model.OrganisationId, aatfId = @item.Aatf.Id, action = "Index", controller = "SentOnSiteSummaryList" }, null)
                                </p>
                            </div>
                        </div>
                    </div>
                }

                if (Model.ReportOnDisplayOptions.DisplayObligatedReused)
                {
                    <div class="govuk-grid-row govuk-table__cell--thick weee-tonnage-top-aligned-display tasklist-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="summary-paragraph">
                                Reused as a whole appliance
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display break-word">
                                <p class="summary-paragraph">
                                    @item.WeeeReused.B2C
                                </p>
                            </div>
                            <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display break-word">
                                <p class="summary-paragraph">
                                    @item.WeeeReused.B2B
                                </p>
                            </div>
                            <div class="govuk-grid-column-one-third weee-actions-display">
                                <p>
                                    @{
                                        var message = "add or edit reused as a whole appliance data relating to " + @item.Aatf.Name;
                                    }

                                    @if (item.WeeeReused.RedirectToSummary)
                                    {
                                        @Html.NavigationRouteLink("add / edit data", @message, AatfRedirect.AatfSelectedRoute, new {returnId = Model.ReturnId, aatfId = @item.Aatf.Id, organisationId = Model.OrganisationId, action = "Index", controller = "ReusedOffSiteSummaryLIst"}, null)
                                    }
                                    else
                                    {
                                        @Html.NavigationRouteLink("add / edit data", @message, AatfRedirect.AatfSelectedRoute, new {returnId = Model.ReturnId, aatfId = @item.Aatf.Id, action = "Index", controller = "ObligatedReused"}, null)
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="govuk-!-padding-bottom-6"></div>
        </div>
    }


    @if (Model.ReportOnDisplayOptions.DisplayNonObligated)
    {
        <div class="govuk-!-padding-top-8"></div>
        <h2 class="govuk-heading-m">Non-obligated WEEE</h2>
        <div class="govuk-table govuk-grid-column-full">
            <div class="govuk-grid-row govuk-table__cell--thick tasklist-row">
                <div class="govuk-grid-column-one-half">
                    &nbsp;
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-grid-column-two-thirds">
                        <p class="summary-paragraph summary-paragraph-align-right">
                            <strong>Total (tonnes)</strong>
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row govuk-table__cell--thick weee-tonnage-top-aligned-display tasklist-row">
                <div class="govuk-grid-column-one-half">
                    <p class="summary-paragraph">
                        Received
                    </p>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-grid-column-two-thirds weee-tonnage-right-aligned-display break-word">
                        <p class="summary-paragraph">
                            @Model.NonObligatedTonnageTotal
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-third weee-actions-display">
                        <p>
                            @Html.NavigationRouteLink("add / edit data", "add or edit data relating to non obligated received", AatfRedirect.NonObligatedRouteName, new { returnId = Model.ReturnId, dcf = false }, null)
                        </p>
                    </div>
                </div>
            </div>
            @if (Model.ReportOnDisplayOptions.DisplayNonObligatedDcf)
            {
                <div class="govuk-grid-row govuk-table__cell--thick weee-tonnage-top-aligned-display tasklist-row">
                    <div class="govuk-grid-column-one-half">
                        <p class="summary-paragraph">
                            Kept / retained by a DCF
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-grid-column-two-thirds weee-tonnage-right-aligned-display break-word">
                            <p class="summary-paragraph">
                                @Model.NonObligatedTonnageTotalDcf
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-third weee-actions-display">
                            <p>
                                @Html.NavigationRouteLink("add / edit data", "add or edit data relating to non obligated DCF retained", AatfRedirect.NonObligatedDcfRouteName, new { returnId = Model.ReturnId, dcf = true }, null)
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    @if (!displayObligatedGroup && !Model.ReportOnDisplayOptions.DisplayNonObligated)
    {
        <h2 class="govuk-heading-m">
            Nothing to report
        </h2>
    }
    <div class="govuk-!-padding-bottom-7"></div>
    @using (Html.BeginRouteForm(AatfRedirect.Default, FormMethod.Post, new { style = "display: inline" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.OrganisationId)
        <button type="submit" name="checkreturn" class="govuk-button" id="pcs-check-return" data-module="govuk-button" data-prevent-double-click="true">
            Check return
        </button>

        <p>
            @(this.WeeeGds().ActionLinkWithEventTracking("Change what you want to report on",
            "Change reporting options",
            Url.RouteUrl(AatfRedirect.SelectReportOptionsRouteName, new { returnId = Model.ReturnId, organisationId = Model.OrganisationId }),
            "AATF return",
            "Change report options",
            "Change report options"
            ))
        </p>
    }

    <div>
        @this.WeeeGds().CreateProgressiveDisclosure(" Some of my AATFs are missing",
       @Html.Partial("_ContactProgressiveDisclosure").ToString(),
       "Hidden content",
       "Progressive disclosure",
       "Some of my AATFs are missing")
    </div>

    <a href="@Url.Action("Index", "Returns", new { organisationId = Model.OrganisationId})" class="govuk-back-link">Back</a>
</section>
