@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.AatfReturn
@using EA.Weee.Core.Helpers
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers

@model EA.Weee.Web.Areas.AatfReturn.ViewModels.ReturnViewModel
@{
    ViewBag.Title = "AATF task list";
    var displayObligatedGroup = Model.ReportOnDisplayOptions.DisplayObligatedReceived || Model.ReportOnDisplayOptions.DisplayObligatedSentOn || Model.ReportOnDisplayOptions.DisplayObligatedReused;
}

    <section id="main-content">
        <header class="hgroup">
            <div>
                <h1 class="govuk-heading-l">AATF return task list for @Model.OrganisationName</h1>
            </div>
        </header>

        <table class="govuk-table govuk-!-width-one-half">
            <caption class="govuk-table__caption govuk-visually-hidden">Compliance month and year</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell gov-uk-no-bottom-border" scope="row">@Html.DisplayNameFor(model => model.Year)</td>
                    <td class="govuk-table__cell govuk-!-font-weight-bold gov-uk-no-bottom-border">@Model.Year</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell gov-uk-no-bottom-border" scope="row">@Html.DisplayNameFor(model => model.Period)</td>
                    <td class="govuk-table__cell govuk-!-font-weight-bold gov-uk-no-bottom-border">@Model.Period</td>
                </tr>
            </tbody>
        </table>

        <div class="govuk-!-margin-bottom-4"></div>
        @if (displayObligatedGroup)
        {
            foreach (var item in Model.AatfsData)
            {
                <div class="govuk-grid-row govuk-table__cell" style="padding-top: 20px">
                    <div class="govuk-grid-column-one-half">
                        <p>
                            <b>Obligated WEEE - @item.Aatf.Name</b>
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-quarter weee-tonnage-right-aligned-display">
                        <p>
                            <b>B2C (tonnes)</b>
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-quarter weee-tonnage-right-aligned-display">
                        <p>
                            <b>B2B (tonnes)</b>
                        </p>
                    </div>
                </div>

            if (Model.ReportOnDisplayOptions.DisplayObligatedReceived)
            {
                <div class="govuk-grid-row govuk-table__cell weee-tonnage-top-aligned-display">
                    <div class="govuk-grid-column-one-half"></div>
                    <div class="govuk-grid-column-one-half">
                        <p>
                            @Html.NavigationRouteLink("Add received on behalf of PCS(s) data", @item.Aatf.Name + " received on behalf of PCS(s)", AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, aatfId = @item.Aatf.Id, action = "Index", controller = "ReceivedPcsList" })
                        </p>
                    </div>

                        <div class="govuk-grid-column-one-quarter weee-tonnage-right-aligned-display">
                            <p>
                                @item.WeeeReceived.B2C
                            </p>
                        </div>

                        <div class="govuk-grid-column-one-quarter weee-tonnage-right-aligned-display">
                            <p>
                                @item.WeeeReceived.B2B
                            </p>
                        </div>
                    </div>
                }

            if (Model.ReportOnDisplayOptions.DisplayObligatedSentOn)
            {
            <div class="govuk-grid-row govuk-table__cell weee-tonnage-top-aligned-display">
                <div class="govuk-grid-column-one-half">
                    <p>
                        @if (item.WeeeSentOn.RedirectToSummary)
                        {
                            @Html.NavigationRouteLink("Add sent to another AATF / ATF data", @item.Aatf.Name + " sent to another AATF / ATF", AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, organisationId = Model.OrganisationId, aatfId = @item.Aatf.Id, action = "Index", controller = "SentOnSiteSummaryList" })
                        }
                        else
                        {
                            @Html.NavigationRouteLink("Add sent to another AATF / ATF data", @item.Aatf.Name + " sent to another AATF / ATF", AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, aatfId = @item.Aatf.Id, action = "Index", controller = "SentOnCreateSite" })
                        }

                            </p>
                        </div>

                        <div class="govuk-grid-column-one-quarter weee-tonnage-right-aligned-display">
                            <p>
                                @item.WeeeSentOn.B2C
                            </p>
                        </div>

                        <div class="govuk-grid-column-one-quarter weee-tonnage-right-aligned-display">
                            <p>
                                @item.WeeeSentOn.B2B
                            </p>
                        </div>

                    </div>
                }

            if (Model.ReportOnDisplayOptions.DisplayObligatedReused)
            {
            <div class="govuk-grid-row govuk-table__cell weee-tonnage-top-aligned-display">
                <div class="govuk-grid-column-one-half">
                    <p>
                        @if (item.WeeeReused.RedirectToSummary)
                        {
                            @Html.NavigationRouteLink("Add reused as a whole appliance data", @item.Aatf.Name + " Reused as a whole appliance", AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, aatfId = @item.Aatf.Id, organisationId = Model.OrganisationId, action = "Index", controller = "ReusedOffSiteSummaryLIst" })
                        }
                        else
                        {
                            @Html.NavigationRouteLink("Add reused as a whole appliance data", @item.Aatf.Name + " Reused as a whole appliance", AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, aatfId = @item.Aatf.Id, action = "Index", controller = "ObligatedReused" })
                        }
                    </p>
                </div>

                        <div class="govuk-grid-column-one-quarter weee-tonnage-right-aligned-display">
                            <p>
                                @item.WeeeReused.B2C
                            </p>
                        </div>

                        <div class="govuk-grid-column-one-quarter weee-tonnage-right-aligned-display">
                            <p>
                                @item.WeeeReused.B2B
                            </p>
                        </div>
                    </div>
                }
            }
        }

    @if (Model.ReportOnDisplayOptions.DisplayNonObligated)
    {
        <div class="govuk-grid-row govuk-table__cell weee-tonnage-top-aligned-display">
            <div class="govuk-grid-column-one-half">
                <p>
                    <b>Non-obligated WEEE</b>
                </p>
                <p>
                    @Html.NavigationRouteLink("Add received data", "Non obligated received", AatfRedirect.NonObligatedRouteName, new { returnId = Model.ReturnId, dcf = false })
                </p>
                @if (Model.ReportOnDisplayOptions.DisplayNonObligatedDcf)
                {
                    <p>
                        @Html.NavigationRouteLink("Add retained by a DCF data", "Non obligated DCF retained", AatfRedirect.NonObligatedDcfRouteName, new { returnId = Model.ReturnId, dcf = true })
                    </p>
                }
            </div>
            <div class="govuk-grid-column-one-half weee-tonnage-right-aligned-display">
                <p>
                    <b>Total (tonnes)</b>
                </p>
                <p>
                    @Model.NonObligatedTonnageTotal
                </p>
                @if (Model.ReportOnDisplayOptions.DisplayNonObligatedDcf)
                {
                    <p>
                        @Model.NonObligatedTonnageTotalDcf
                    </p>
                }
            </div>
        </div>
    }

        @if (!displayObligatedGroup && !Model.ReportOnDisplayOptions.DisplayNonObligated)
        {
            <h2 class="govuk-heading-m">
                Nothing to report
            </h2>
        }
        <div class="govuk-!-padding-bottom-7"></div>
        @using (Html.BeginRouteForm(AatfRedirect.SelectPcsRouteName, FormMethod.Post, new { style = "display: inline" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.OrganisationId)
            <button type="submit" name="checkreturn" class="govuk-button" id="pcs-check-return">
                Check my return
            </button>
            <p>
                @Html.NavigationRouteLink("Change my reporting options", "Change my reporting options", AatfRedirect.SelectReportOptionsRouteName, new { returnId = Model.ReturnId, organisationId = Model.OrganisationId })
            </p>
        }

        <details class="govuk-details govuk-!-font-size-16" role="group">
            <summary class="govuk-details__summary" role="button" aria-controls="details-content" aria-expanded="false">
                <span class="govuk-details__summary-text">
                    Some of my AATFs are missing
                </span>
            </summary>
            @Html.Partial("_ContactProgressiveDisclosure")
        </details>

    </section>