@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Core.Shared
@using EA.Weee.Web.Areas.Admin.Controllers
@using EA.Weee.Web.Areas.Admin.ViewModels.Charge
@using MvcNavigationHelpers
@model ChooseActivityViewModel

@{
    ViewBag.Title = "Choose Activity";

    Dictionary<Activity, string> displayNames = new Dictionary<Activity, string>()
    {
        { Activity.ManagePendingCharges, "Pending charges" },
        { Activity.ManageIssuedCharges, "Issued charges" },
        { Activity.ViewInvoiceRunHistory, "Charges history" },
    };
}

@section main_content
{
    <header class="hgroup">
        <h1 class="govuk-heading-l">
            What would you like to manage?
        </h1>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <div class="form-group @Html.Gds().FormGroupClass(m => m.SelectedActivity)">
            @this.WeeeGds().RadioButtonsFor(
                m => m.SelectedActivity,
                Model.PossibleValues,
                a => a,
                a => displayNames[a],
                RadioButtonLegend.VisuallyHidden,
                RadioButtonLayout.Stacked)
        </div>

        @(this.WeeeGds().Submit("Continue", new { @class = "button" }))
    }

    <p>
        <a href="@(Url.UrlFor<ChargeController>(a => a.SelectAuthority()))">Back</a>
    </p>
}

