@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@model EA.Weee.Core.AatfReturn.OperatorAddressData

@Html.HiddenFor(m => m.Id)

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Name)">
            @Html.Gds().LabelFor(m => m.Name)
            @Html.Gds().ValidationMessageFor(m => m.Name)
            @Html.Gds().TextBoxFor(m => m.Name, new { @maxlength = CommonMaxFieldLengths.DefaultString })
        </div>
        <div id="operatorButton" style="display: none">
            <button type="submit" name="noJavascriptCopy" class="govuk-button" id="site-details" value="true">
                The operator address is the same as the ATF address
            </button>
        </div>
        <div class="govuk-form-group" id="operatorCheckBox">
            <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    @if (Model.IsOperatorTheSameAsAatf)
                    {

                        <input name="IsOperatorTheSameAsAATF" class="govuk-checkboxes__input" id="IsOperatorTheSameAsAATF" onclick="IsOperatorSameAddress()" type="checkbox" value="true" checked />
                    }
                    else
                    {

                        <input name="IsOperatorTheSameAsAATF" class="govuk-checkboxes__input" id="IsOperatorTheSameAsAATF" onclick="IsOperatorSameAddress()" type="checkbox" value="true" />
                    }
                    <label class="govuk-label govuk-checkboxes__label" for="IsOperatorTheSameAsAATF" style="padding-top: 7px;">@Html.DisplayNameFor(m => m.IsOperatorTheSameAsAatf)</label> <br />
                </div>
            </div>
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Address1)">
            @Html.Gds().LabelFor(m => m.Address1)
            @Html.Gds().ValidationMessageFor(m => m.Address1)
            @Html.Gds().TextBoxFor(m => m.Address1, new { @class = "govuk-!-width-full", @maxlength = CommonMaxFieldLengths.AddressLine })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Address2)">
            @Html.Gds().LabelFor(m => m.Address2)
            @Html.Gds().ValidationMessageFor(m => m.Address2)
            @Html.Gds().TextBoxFor(m => m.Address2, new { @class = "govuk-!-width-full", @maxlength = CommonMaxFieldLengths.AddressLine })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.TownOrCity)">
            @Html.Gds().LabelFor(m => m.TownOrCity)
            @Html.Gds().ValidationMessageFor(m => m.TownOrCity)
            @Html.Gds().TextBoxFor(m => m.TownOrCity, new { @class = "govuk-!-width-full", @maxlength = CommonMaxFieldLengths.TownCounty })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.CountyOrRegion)">
            @Html.Gds().LabelFor(m => m.CountyOrRegion)
            @Html.Gds().ValidationMessageFor(m => m.CountyOrRegion)
            @Html.Gds().TextBoxFor(m => m.CountyOrRegion, new { @class = "govuk-!-width-full", @maxlength = CommonMaxFieldLengths.TownCounty })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Postcode)">
            @Html.Gds().LabelFor(m => m.Postcode)
            @Html.Gds().ValidationMessageFor(m => m.Postcode)
            @Html.Gds().TextBoxFor(m => m.Postcode, new { @class = "govuk-!-width-full", @maxlength = CommonMaxFieldLengths.Postcode })
        </div>

        <div class="govuk-form-group countries @Html.Gds().FormGroupClass(m => m.CountryId)" id="operator-country-dropdown-list">
            @Html.Partial("_CountryPartial", Model)
        </div>
    </div>
</div>