@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.ViewModels.Shared.ViewEvidenceNoteViewModel

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-visually-hidden">Transfer history summary</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-text-align-left">Reference ID</th>
            <th scope="col" class="govuk-table__header govuk-!-text-align-left">Date submitted</th>
            <th scope="col" class="govuk-table__header govuk-!-text-align-left">Transferred to</th>
            <th scope="col" class="govuk-table__header govuk-!-text-align-left">Status</th>
            <th scope="col" class="govuk-table__header govuk-!-text-align-left">@Html.Gds().VisuallyHidden("actions")</th>
        </tr>
    </thead>

    <tbody class="govuk-table__body">
        @for (int i = 0; i < Model.EvidenceNoteHistoryData.Count; i++)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-text-align-left">
                    <p class="govuk-body">@Model.EvidenceNoteHistoryData[i].ReferenceDisplay</p>
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-text-align-left">
                    <p class="govuk-body" id="SubmittedDateDisplay-@i">@Model.EvidenceNoteHistoryData[i].SubmittedDateDisplay</p>
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-text-align-left">
                    <p class="govuk-body" id="TransferredTo-@i">@Model.EvidenceNoteHistoryData[i].TransferredTo</p>
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-text-align-left">
                    <p class="govuk-body" id="HistoryStatus-@i">@Model.EvidenceNoteHistoryData[i].Status</p>
                </td>
                <td class="govuk-table__cell">
                    @if (Model.IsInternalUser)
                    {
                        @(this.WeeeGds().ActionLinkToNewTab("View", @Url.Action("ViewEvidenceNoteTransfer", "ManageEvidenceNotes", new { area = "admin", evidenceNoteId = Model.EvidenceNoteHistoryData[i].Id, openedInNewTab = true }), string.Format("View evidence note with reference ID {0}", @Model.EvidenceNoteHistoryData[i].ReferenceDisplay)))
                    }
                    else
                    {
                        @(this.WeeeGds().ActionLinkToNewTab("View", @Url.HttpRouteUrl(@Model.EvidenceNoteHistoryData[i].SchemeViewRouteName, new { pcsId = Model.SchemeId, evidenceNoteId = @Model.EvidenceNoteHistoryData[i].Id, openedInNewTab = true }), string.Format("View evidence note with reference ID {0}", @Model.EvidenceNoteHistoryData[i].ReferenceDisplay)))
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
