@model EA.Weee.Web.ViewModels.Shared.ManageEvidenceNoteViewModel

<div class="govuk-panel-grey-background govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">
    <div class="govuk-grid-row govuk-!-padding-left-3">
        <div class="govuk-grid-column-one-half govuk-!-padding-top-5">
            @Html.EditorFor(m => m, "FilterViewModel")
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-padding-left-3">
        <div class="govuk-grid-column-full">
            <span class="govuk-label--s">
                Filter by
            </span>
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-padding-top-5 govuk-!-padding-left-3">
        <div class="govuk-grid-column-full govuk-grid-column-one-half-from-desktop govuk-!-padding-left-0 govuk-!-padding-right-0 weee-evidence-padding-right">
            @Html.EditorFor(m => m, "SubmittedDatesFiltersViewModel")
        </div>
        <div class="govuk-grid-column-full govuk-grid-column-one-half-from-desktop govuk-!-padding-left-0">
            @if (ViewData.ContainsKey("displaySubmittedByFilters") && @ViewData["displaySubmittedByFilters"].ToString() == "true")
            {
                @Html.EditorFor(m => m, "SubmittedByFiltersViewModel")
            }
            @if (ViewData.ContainsKey("displayReceivedByFilters") && @ViewData["displayReceivedByFilters"].ToString() == "true")
            {
                @Html.EditorFor(m => m, "RecipientFiltersViewModel")
            }
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-padding-top-5 govuk-!-padding-left-3">
        <div class="govuk-grid-column-full govuk-grid-column-one-half-from-desktop govuk-!-padding-left-0 govuk-!-padding-right-0 weee-evidence-padding-right">
            @if (ViewData.ContainsKey("displayObligationTypeFilters") && @ViewData["displayObligationTypeFilters"].ToString() == "true")
            {
                @Html.EditorFor(m => m, "ObligationTypeFiltersViewModel")
            }
            @if (ViewData.ContainsKey("displayStatusFilters") && @ViewData["displayStatusFilters"].ToString() == "true")
            {
                @Html.EditorFor(m => m, "StatusFiltersViewModel")
            }
            @if (ViewData.ContainsKey("displayEvidenceNoteTypeFilters") && @ViewData["displayEvidenceNoteTypeFilters"].ToString() == "true")
            {
                @Html.EditorFor(m => m, "EvidenceNoteTypeFiltersViewModel")
            }
        </div>
        <div class="govuk-grid-column-one-half govuk-grid-column-one-quarter-from-desktop govuk-!-padding-top-6">
            @Html.Partial("~/Views/Shared/_SearchFilterButtonsPartial.cshtml", Model, new ViewDataDictionary(ViewData))
        </div>
    </div>
</div>