@using EA.Weee.Web.RazorHelpers
@{
    Layout = "~/Views/Shared/_Layout.GovUK.cshtml";
    ViewBag.HeaderClass = "with-proposition";
}

@* Implement sections here *@

@section top_of_page {

}

@section head {
    @Html.Partial("_WeeeHead")
    @Html.Partial("_WeeeTracking")
    @RenderSection("head", required: false)
}

@section inside_header {

}

@section proposition_header {
    @Html.Partial("_WeeeNavigation")
}

@section after_header {

}

@section footer_top {
    <div class="footer_agencies">
        @if (ViewBag.ShowLinksToAgencies ?? true)
        {
            <div>
                <p>Environment Agency (England) helpline: 03708 506 506 – Producer Responsibility Regulatory Services</p>
                <p>Scottish Environment Protection Agency helpline: 01786 457700 - Producer Compliance and Waste Shipments Unit</p>
                <p>Northern Ireland Environment Agency helpline: 02 890 569338 - Producer Responsibility Unit</p>
                <p>Natural Resources Wales helpline: 03000 65 3096 - Producer Responsibility Unit</p>
            </div>
            <hr />
        }
    </div>
}

@section footer_support_links {
    <ul>
       @* Show terms and conditions and privacy policy only on external site *@
        @if (ViewBag.ShowLinksToAgencies ?? true)
        {
            <li>
                @this.WeeeGds().ActionLinkWithEventTracking("Terms and conditions", "TermsAndConditions", "NewUser",
                     "Policies", "Terms and conditions", routeValues: new RouteValueDictionary { { "area", string.Empty } }, newTab: true)
            </li>
            <li>
                @this.WeeeGds().ActionLinkWithEventTracking("Privacy", "Privacy", "NewUser",
                     "Policies", "Privacy", routeValues: new RouteValueDictionary { { "area", string.Empty } }, newTab: true)
            </li>
        }
       
        <li>
            @this.WeeeGds().ActionLinkToNewTab("Cookies",
                "Cookies", "NewUser", new { area = string.Empty })
        </li>
    </ul>
}

@section body_end {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/govuk_toolkit")
    @Scripts.Render("~/bundles/govuk_elements")
    @Scripts.Render("~/bundles/govuk_weee")
    @RenderSection("scripts", required: false)
}

<main id="content" role="main">
    @{ Html.RenderAction("_WeeeTitle", "Home", new { area = string.Empty });}
    @RenderBody()
    @if (IsSectionDefined("main_content"))
    {
        <div class="grid-row">
            <section class="column-two-thirds">
                @RenderSection("main_content", required: false)
            </section>
            @if (IsSectionDefined("related_content"))
            {
                <section class="column-third">
                    <div class="related">
                        @RenderSection("related_content", required: false)
                    </div>
                </section>
            }
        </div>
    }
</main>
