@{
    Layout = "~/Views/Shared/_Layout.GovUK.cshtml";
    ViewBag.HeaderClass = "with-proposition";
}

@* Implement sections here *@

@section top_of_page {

}

@section head {
    @Html.Partial("_WeeeHead")
    @Html.Partial("_WeeeTracking")
    @RenderSection("head", required: false)
}

@section inside_header {

}

@section proposition_header {
    @Html.Partial("_WeeeNavigation")
}

@section after_header {

}

@section footer_top {

}

@section footer_support_links {

}

@section body_end {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/govuk_toolkit")
    @Scripts.Render("~/bundles/govuk_weee")
    @Scripts.Render("~/bundles/prism")
    @RenderSection("scripts", required: false)
}

<main id="page-container" role="main">
    @Html.Partial("_FeedbackBanner")
    @RenderBody()
    @if (IsSectionDefined("two_thirds"))
    {
        <div class="grid-row">
            <section class="column-two-thirds">
                @RenderSection("two_thirds", required: false)
            </section>
            @if (IsSectionDefined("related_container"))
            {
                <div class="related-container">
                    <div class="related">
                        @RenderSection("related_container", required: false)
                    </div>
                </div>
            }
        </div>
    }
</main>