@using EA.Weee.Web.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@{
    Layout = "~/Views/Shared/_Layout.GovUK.cshtml";
    ViewBag.HeaderClass = "with-proposition";
}

@* Implement sections here *@

@*@section top_of_page {

    }*@

@section head {
    @Html.Partial("_WeeeHead")
    @Html.Partial("_WeeeTracking")
    @RenderSection("head", required: false)
}

@section inside_header {

}

@section proposition_header {
    @Html.Partial("_WeeeNavigation")
}


@section after_header {

}

@section footer_top {
    <div class="footer_agencies">
        @if (ViewBag.ShowLinksToAgencies ?? true)
        {
            <h2 class="heading-medium">Contact us</h2>
            <div class="grid-row">

                <div class="column-half">
                    <h3 class="heading-small">England</h3>
                    <p>
                        Environment Agency<br />
                        Producer Responsibility Regulatory Services<br />
                        Telephone: 03708 506 506<br />
                    </p>

                    <h3 class="heading-small">Scotland</h3>
                    <p>
                        Scottish Environment Protection Agency<br />
                        Producer Compliance and Waste Shipments Unit<br />
                        Telephone: 01786 457700<br />
                    </p>
                </div>

                <div class="column-half">
                    <h3 class="heading-small">Northern Ireland</h3>
                    <p>
                        Northern Ireland Environment Agency<br />
                        Producer Responsibility Unit<br />
                        Telephone: 02 890 569338<br />
                    </p>

                    <h3 class="heading-small">Wales</h3>
                    <p>
                        Natural Resources Wales<br />
                        Producer Responsibility Unit<br />
                        Telephone: 03000 65 3096<br />
                    </p>
                </div>

            </div>

            <hr />
        }
    </div>
}

@section footer_support_links {
    <ul>
        @* Show terms and conditions and privacy policy only on external site *@
        @if (ViewBag.ShowLinksToAgencies ?? true)
        {
            <li>
                @(this.WeeeGds().ActionLinkWithEventTracking("Terms and conditions",
                              Url.UrlFor<NewUserController>(c => c.TermsAndConditions()),
                              "Policies",
                              "Terms and conditions",
                              newTab: true))
            </li>
            <li>
                @(this.WeeeGds().ActionLinkWithEventTracking("Privacy",
                              Url.UrlFor<NewUserController>(c => c.Privacy()),
                              "Policies",
                              "Privacy",
                              newTab: true))
            </li>
        }
        <li>
            @(this.WeeeGds().ActionLinkToNewTab("Cookies", Url.UrlFor<NewUserController>(c => c.Cookies())))
        </li>
    </ul>
}

@section body_end {
    <!--[if gt IE 8]><!-->@Scripts.Render("~/bundles/jquery-2")<!--<![endif]-->
    <!--[if lte IE 8]>@Scripts.Render("~/bundles/jquery-1")<![endif]-->
    @*@Scripts.Render("~/bundles/govuk_weee")*@
    @Scripts.Render("~/bundles/govuk_frontend")
    @RenderSection("scripts", required: false)
}
<main id="content">
    @Html.Partial("_FeedbackBanner")
    @{ Html.RenderAction("_WeeeTitle", "Home", new { area = string.Empty });}
    @RenderBody()
    @if (IsSectionDefined("main_content"))
    {
        <div class="grid-row">
            <section id="main-content" class="column-two-thirds">
                @RenderSection("main_content", required: false)
            </section>
            @if (IsSectionDefined("related_content"))
            {
                <section class="column-third">
                    <div class="related">
                        @RenderSection("related_content", required: false)
                    </div>
                </section>
            }
        </div>
    }
</main>
