@using EA.Weee.Core.DataStandards
@model EA.Weee.Core.Organisations.Base.OrganisationViewModel

<div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Address.Address2)">
    @Html.Gds().LabelFor(m => m.Address.Address2)
    @Html.Gds().ValidationMessageFor(m => m.Address.Address2)
    @Html.Gds().TextBoxFor(m => m.Address.Address2, new { @maxlength = EnvironmentAgencyMaxFieldLengths.GenericAddress2 })
</div>

<div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Address.TownOrCity)">
    @Html.Gds().LabelFor(m => m.Address.TownOrCity)
    @Html.Gds().ValidationMessageFor(m => m.Address.TownOrCity)
    @Html.Gds().TextBoxFor(m => m.Address.TownOrCity, new { @maxlength = EnvironmentAgencyMaxFieldLengths.Town })
</div>

<div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Address.CountyOrRegion)">
    @Html.Gds().LabelFor(m => m.Address.CountyOrRegion)
    @Html.Gds().ValidationMessageFor(m => m.Address.CountyOrRegion)
    @Html.Gds().TextBoxFor(m => m.Address.CountyOrRegion, new { @maxlength = EnvironmentAgencyMaxFieldLengths.County })
</div>

<div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Address.Postcode)">
    @Html.Gds().LabelFor(m => m.Address.Postcode)
    @Html.Gds().ValidationMessageFor(m => m.Address.Postcode)
    @Html.Gds().TextBoxFor(m => m.Address.Postcode, new { @maxlength = EnvironmentAgencyMaxFieldLengths.Postcode })
</div>

<div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Address.Telephone)">
    @Html.Gds().LabelFor(m => m.Address.Telephone)
    @Html.Gds().ValidationMessageFor(m => m.Address.Telephone)
    @Html.Gds().TextBoxFor(m => m.Address.Telephone, new { @maxlength = EnvironmentAgencyMaxFieldLengths.Telephone })
</div>

<div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.EEEBrandNames)">
    <p>
        <span class="govuk-heading-s">Enter EEE brand names that you place on the UK market.</span>
        If you are registering as an authorised representative of a non-UK established organisation, enter the brands they place on the market.
    </p>
    @Html.Gds().LabelFor(m => m.EEEBrandNames)
    @Html.Gds().ValidationMessageFor(m => m.EEEBrandNames)
    @Html.Gds().TextAreaFor(m => m.EEEBrandNames)
</div>