@using EA.Weee.Core.Helpers
@model EA.Weee.Web.ViewModels.Shared.ViewEvidenceNoteViewModel

@{
    if (Model.DisplayH2Title)
    {
        <h2 class="govuk-heading-m">Evidence note</h2>
    }
    else
    {
        <h1 class="govuk-heading-l">Evidence note</h1>
    }

<div class="govuk-width-container govuk-!-margin-top-3">

    <div class="govuk-grid-row govuk-!-width-one-full govuk-!-margin-bottom-1">
        @Html.Gds().DisplayFor(m => m.ReferenceDisplay, Model.ReferenceDisplay, "govuk-grid-column-one-quarter")
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-1">
        @Html.Gds().DisplayFor(m => m.Status, Model.Status.ToDisplayString(), "govuk-grid-column-one-quarter")
    </div>
    
    <div class="govuk-grid-row govuk-!-width-one-full govuk-!-margin-bottom-1">
        @Html.Partial("_DisplayRejectedReasonPartial", Model, new ViewDataDictionary() { { "widthCss", "govuk-grid-column-one-quarter" } })
    </div>
    
    <div class="govuk-grid-row govuk-!-width-one-full govuk-!-margin-bottom-1">
        @Html.Partial("_DisplayReturnedReasonPartial", Model, new ViewDataDictionary() { { "widthCss", "govuk-grid-column-one-quarter" } })
    </div>

    @if (Model.HasSubmittedDate)
    {
        <div class="govuk-grid-row govuk-!-margin-bottom-1">
            @Html.Gds().DisplayFor(m => m.SubmittedDate, Model.SubmittedDate, "govuk-grid-column-one-quarter")
        </div>
    }

    @if (Model.HasApprovedDate)
    {
        <div class="govuk-grid-row govuk-!-margin-bottom-1">
            @Html.Gds().DisplayFor(m => m.ApprovedDate, Model.ApprovedDate, "govuk-grid-column-one-quarter")
        </div>
    }

    @if (Model.HasRejectedDate)
    {
        <div class="govuk-grid-row govuk-!-margin-bottom-1">
            @Html.Gds().DisplayFor(m => m.RejectedDate, Model.RejectedDate, "govuk-grid-column-one-quarter")
        </div>
    }

    @if (Model.HasBeenReturned)
    {
        <div class="govuk-grid-row govuk-!-margin-bottom-1">
            @Html.Gds().DisplayFor(m => m.ReturnedDate, Model.ReturnedDate, "govuk-grid-column-one-quarter")
        </div>
    }

    <div class="govuk-grid-row govuk-!-margin-bottom-1">
        @Html.Gds().DisplayFor(m => m.ComplianceYearDisplay, Model.ComplianceYearDisplay, "govuk-grid-column-one-quarter")
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-1">
        @Html.Gds().DisplayFor(m => m.WasteDisplay, Model.WasteDisplay, "govuk-grid-column-one-quarter")
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-1">
        @Html.Gds().DisplayFor(m => m.ProtocolDisplay, Model.ProtocolDisplay, "govuk-grid-column-one-quarter")
    </div>
</div>

    <div class="govuk-width-container govuk-!-padding-top-7 govuk-!-padding-left-0">
        <div class="govuk-grid-column-one-third govuk-!-padding-left-0">
            <span id="site" class="govuk-label--s">Site</span><br />
            <p aria-labelledby="site" class="govuk-body weee-word-break"> @Html.Raw(Model.SiteAddress)</p>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-padding-left-0 ">
            <span id="operator" class="govuk-label--s">Operator</span><br />
            <p aria-labelledby="operator" class="govuk-body weee-word-break">@Html.Raw(Model.OperatorAddress)</p>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-padding-left-0">
            <span id="recipient" class="govuk-label--s">Recipient</span><br />
            <p aria-labelledby="recipient" class="govuk-body weee-word-break">@Html.Raw(Model.RecipientAddress)</p>
        </div>
    </div>
    <div class="ui-helper-clearfix"></div>
    <div class="govuk-width-container govuk-!-padding-top-7">
        <p>
            By submitting this information you confirm that the following waste and electronic equipment from UK <strong>@Model.WasteDisplay.ToLower()</strong> has been received between
            <strong>@(Model.StartDate.Value.ToShortDateString())</strong> and <strong>@(Model.EndDate.Value.ToShortDateString())</strong> at this site.
            It has been reused as whole appliances to the extent set out below. No other evidence has been issued on these WEEE materials.
        </p>
    </div>
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-visually-hidden">Category tonnage values</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third govuk-!-text-align-left">Category</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third govuk-!-text-align-right">Total received (tonnes)</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third govuk-!-text-align-right">Reused as whole appliances (tonnes)</th>
            </tr>
        </thead>

        <tbody class="govuk-table__body">

            @for (var i = 0; i < Model.CategoryValues.Count; i++)
            {
                var category = Model.CategoryValues[i];

                <tr class="govuk-table__row" id="category-row-@category.CategoryId">
                    <td class="govuk-table__cell govuk-!-text-align-left">
                        <span id="@category.CategoryId-label">@(@category.CategoryId). @category.CategoryDisplay</span>
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-right">
                        @Html.Gds().VisuallyHidden("Received for " + @category.CategoryDisplay) @category.Received
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-right">
                        @Html.Gds().VisuallyHidden("Reused for " + @category.CategoryDisplay) @category.Reused
                    </td>
                </tr>
            }

            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-text-align-left">
                    <p class="govuk-body"><strong>Total (tonnes)</strong></p>
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-text-align-right">
                    <p class="govuk-body" id="ReceivedTotal">@Model.ReceivedTotal</p>
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-text-align-right">
                    <p class="govuk-body" id="ReusedTotal">@Model.ReusedTotal</p>
                </td>
            </tr>

        </tbody>
    </table>
}
