@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.ViewModels.Shared.TitleViewModel
@{
    bool showBreadcrumb =
           (Model.Breadcrumb.ExternalOrganisation != null)
        || (Model.Breadcrumb.ExternalActivity != null)
        || (Model.Breadcrumb.InternalActivity != null)
        || (Model.Breadcrumb.InternalOrganisation != null)
        || (Model.Breadcrumb.InternalUser != null)
        || (Model.Breadcrumb.TestAreaActivity != null);

    bool showIdentity = Model.User.Identity.IsAuthenticated;

    bool showTitle = showBreadcrumb || showIdentity;

    int columnCount = (showBreadcrumb ? 1 : 0) + (showIdentity ? 1 : 0);

    string columnClass;
    switch (columnCount)
    {
        default:
        case 0:
        case 1:
            columnClass = "column-whole";
            break;

        case 2:
            columnClass = "column-one-half";
            break;
    }
}
@if (TempData[Constants.ErrorOccurred] == null || (TempData[Constants.ErrorOccurred] != null && (bool)TempData[Constants.ErrorOccurred] != true))
{
    if (showTitle)
    {
        <div class="govuk-grid-row">

            @if (showBreadcrumb)
            {
                <div class="@columnClass">
                    <div class="breadcrumb-title-display font-xsmall">
                        <ul class="govuk-breadcrumbs__list">
                            @if (Model.Breadcrumb.ExternalOrganisation != null)
                            {
                                <li>
                                    @if (Model.ShowLinkToSelectOrganisation)
                                    {

                                        <div>
                                            @this.WeeeGds().ActionLinkWithEventTracking("Organisation",
                                                "Organisation link",
                                                Url.UrlFor<EA.Weee.Web.Controllers.OrganisationController>(a => a.Index()),
                                                "Navigation",
                                                "Organisation",
                                                "Organisation")

                                            : @Model.Breadcrumb.ExternalOrganisation
                                        </div>
                                    }
                                    else
                                    {
                                        @:Organisation: @Model.Breadcrumb.ExternalOrganisation
                                    }
                                </li>
                            }

                            @if (Model.Breadcrumb.ExternalActivity != null)
                            {
                                <li>
                                    @(this.WeeeGds().ActionLinkWithEventTracking("Activity",
                                          "External activity link",
                                          Url.UrlFor<EA.Weee.Web.Areas.Scheme.Controllers.HomeController>(a => a.ChooseActivity(Model.Breadcrumb.OrganisationId)),
                                          "Navigation",
                                          "External activity",
                                          null,
                                             new Dictionary<string, object>{ {"title", "External activity link"} })) :
                                        @Model.Breadcrumb.ExternalActivity
</li>
                            }

                            @if (Model.Breadcrumb.InternalActivity != null)
                            {
                                <li>
                                    @(this.WeeeGds().ActionLinkWithEventTracking("Activity",
                                          "Internal activity link",
                                          Url.UrlFor<EA.Weee.Web.Areas.Admin.Controllers.HomeController>(a => a.ChooseActivity()),
                                          "Navigation",
                                          "Internal activity",
                                          null,
                                          null)):
                                    @Model.Breadcrumb.InternalActivity
                                </li>
                            }

                            @if (Model.Breadcrumb.InternalOrganisation != null)
                            {
                                <li>
                                    <a href="@Url.Action("ManageSchemes", "Scheme", new {Area = "admin"})">Organisation</a>: @Model.Breadcrumb.InternalOrganisation
                                </li>
                            }
                            else if (Model.Breadcrumb.InternalScheme != null)
                            {
                                <li>
                                    <a href="@Url.Action("ManageSchemes", "Scheme", new {Area = "admin"})">PCS</a>: @Model.Breadcrumb.InternalScheme
                                </li>
                            }

                            @if (Model.Breadcrumb.InternalAatf != null)
                            {
                                <li>
                                    <a href="@Url.Action("ManageAatfs", "Aatf", new {Area = "admin", FacilityType = 1})">AATF</a>: @Model.Breadcrumb.InternalAatf
                                </li>
                            }

                            @if (Model.Breadcrumb.InternalAe != null)
                            {
                                <li>
                                    <a href="@Url.Action("ManageAatfs", "Aatf", new {Area = "admin", FacilityType = 2})">AE</a>: @Model.Breadcrumb.InternalAe
                                </li>
                            }

                            @if (Model.Breadcrumb.InternalUser != null)
                            {
                                <li>
                                    <a href="@Url.Action("ManageUsers", "User", new {Area = "admin"})">User</a>: @Model.Breadcrumb.InternalUser
                                </li>
                            }

                            @if (Model.Breadcrumb.TestAreaActivity != null)
                            {
                                <li>
                                    <a href="@Url.Action("Index", "Home", new {Area = "test"})">Activity</a>: @Model.Breadcrumb.TestAreaActivity
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }

            @if (showIdentity)
            {
                <div class="@columnClass">


                    <div class="username-title-display font-xsmall ">

                        <ul class="govuk-breadcrumbs__list">
                            <li>
                                <div class="text-secondary">Signed in as: <span class="username-format">@Model.User.Identity.Name</span></div>
                            </li>
                            <li>
                                @using (Html.BeginForm("SignOut", "Account", routeValues: new { area = (Model.UserIsInternal ? "admin" : string.Empty) }, method: FormMethod.Post, htmlAttributes: new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <input class="link-submit" id="link-sign-out" type="submit" value="Sign out" />
                                }
                            </li>
                        </ul>

                    </div>
                </div>
            }

        </div>

        <div class="account-link-banner"></div>
    }


    if (Model.Breadcrumb.SchemeInfo != null && (Model.Breadcrumb.SchemeInfo.StatusName != "Pending" && Model.Breadcrumb.SchemeInfo.StatusName != "Rejected") && Model.Breadcrumb.ExternalActivity != "AATF return")
    {
        <div id="schemeBanner">@(Model.Breadcrumb.SchemeInfo.Name): @(Model.Breadcrumb.SchemeInfo.ApprovalNo) Status: @(Model.Breadcrumb.SchemeInfo.StatusName)</div>
    }

    if (Model.Breadcrumb.QuarterDisplayInfo != null && Model.Breadcrumb.ExternalActivity == "AATF return")
    {
        <div id="schemeBanner">
            <div class="govuk-grid-row">
                @if (Model.Breadcrumb.QuarterDisplayInfo != null && !(String.IsNullOrEmpty(Model.Breadcrumb.QuarterDisplayInfo)))
                {
                    <div class="govuk-grid-column-one-third">
                        <strong>Reporting period: </strong>@Html.Raw(Model.Breadcrumb.QuarterDisplayInfo)
                    </div>
                }
                @if (Model.Breadcrumb.AatfDisplayInfo != null && !(String.IsNullOrEmpty(Model.Breadcrumb.AatfDisplayInfo)))
                {
                    <div class="govuk-grid-column-two-thirds">
                        <strong>Reporting on: </strong>@Html.Raw(Model.Breadcrumb.AatfDisplayInfo)
                    </div>
                }
            </div>
        </div>
    }
}