@using EA.Weee.Web.Infrastructure.Paging
@model EA.Weee.Core.Shared.Paging.IPagedList

@*<ul class="previous-next-navigation">
    @if (Model.PreviousPage >= 1)
    {
        <li class="previous">
            <a href="@Model.PreviousPageLink">
                Previous page
                <span class="page-numbers">@Model.PreviousPage of @Model.TotalPages</span>
            </a>
        </li>
    }

    @if (Model.NextPage <= Model.TotalPages)
    {
        <li class="next">
            <a href="@Model.NextPageLink">
                Next page
                <span class="page-numbers">@Model.NextPage of @Model.TotalPages</span>
            </a>
        </li>
    }
</ul>*@
@if (@Model.PageCount > 1)
{
    <br />
    <span style="display: inline-block">Showing @Model.ItemStart - @Model.ItemEnd of @Model.TotalItemCount</span>
    <div class="pager">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)

    </div>
}
