@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@using EA.Weee.Web.Constant
@model EA.Weee.Web.ViewModels.Shared.TitleViewModel
@{
    bool showBreadcrumb =
           (Model.Breadcrumb.ExternalOrganisation != null)
        || (Model.Breadcrumb.ExternalActivity != null)
        || (Model.Breadcrumb.InternalActivity != null)
        || (Model.Breadcrumb.InternalOrganisation != null)
        || (Model.Breadcrumb.InternalUser != null)
        || (Model.Breadcrumb.TestAreaActivity != null);

    bool showIdentity = Model.User.Identity.IsAuthenticated;

    bool showTitle = showBreadcrumb || showIdentity;

    var breadcrumbWidth = string.Empty;
    var identityWidth = "govuk-grid-column-full";

    if (showBreadcrumb)
    {
        breadcrumbWidth = "govuk-grid-column-two-thirds";
        identityWidth = "govuk-grid-column-one-third";
    }
}
@if (TempData[Constants.ErrorOccurred] == null || (TempData[Constants.ErrorOccurred] != null && (bool)TempData[Constants.ErrorOccurred] != true))
{
    if (showTitle)
    {
        <div class="govuk-grid-row">

            @if (showBreadcrumb)
            {
                <div class="@breadcrumbWidth">
                    <div class="breadcrumb-title-display font-xsmall">
                        <ul class="govuk-breadcrumbs__list">
                            @if (Model.Breadcrumb.ExternalOrganisation != null)
                            {
                                <li>
                                    @if (Model.ShowLinkToSelectOrganisation)
                                    {
                                        <span>Organisation:&nbsp;<strong>@Model.Breadcrumb.ExternalOrganisation</strong>&nbsp;</span>

                                        @(this.WeeeGds().ActionLinkWithEventTracking("Change organisation",
                                            string.Empty,
                                            Url.UrlFor<EA.Weee.Web.Controllers.OrganisationController>(a => a.Index()),
                                            "Navigation",
                                            "Organisation",
                                            "Organisation", new Dictionary<string, object>() { { "class", "organisation-title-display" } } ))
                                    }
                                    else
                                    {
                                        @:Organisation: <strong>@Model.Breadcrumb.ExternalOrganisation</strong>
                                    }
                                </li>
                            }

                            @if (Model.Breadcrumb.ExternalActivity != null)
                            {
                                <li>
                                    <span>Activity:&nbsp;<strong>@Model.Breadcrumb.ExternalActivity</strong> &nbsp;</span>

                                    @(this.WeeeGds().ActionLinkWithEventTracking("Change activity",
                                        string.Empty,
                                        Url.UrlFor<EA.Weee.Web.Areas.Scheme.Controllers.HomeController>(a => a.ChooseActivity(Model.Breadcrumb.OrganisationId)),
                                        "Navigation",
                                        "External activity",
                                        null,
                                        new Dictionary<string, object> { { "title", "External activity link" } }))

                                </li>
                            }

                            @if (Model.Breadcrumb.InternalActivity != null)
                            {
                                <li>
                                    <span>Activity:&nbsp;<strong>@Model.Breadcrumb.InternalActivity</strong> &nbsp;</span>

                                    @(this.WeeeGds().ActionLinkWithEventTracking("Change activity",
                                        string.Empty,
                                        Url.UrlFor<EA.Weee.Web.Areas.Admin.Controllers.HomeController>(a => a.ChooseActivity()),
                                        "Navigation",
                                        "Internal activity",
                                        null,
                                        null))

                                </li>
                            }

                            @if (Model.Breadcrumb.InternalOrganisation != null)
                            {
                                <li>
                                    <span>Organisation:&nbsp;<strong>@Model.Breadcrumb.InternalOrganisation</strong>&nbsp;</span>

                                    <a href="@Url.Action("ManageSchemes", "Scheme", new { Area = "admin" })">Change organisation</a>
                                </li>
                            }
                            else if (Model.Breadcrumb.InternalScheme != null)
                            {
                                <li>
                                    <span>PCS:&nbsp;<strong>@Model.Breadcrumb.InternalScheme</strong>&nbsp;</span>

                                    <a href="@Url.Action("ManageSchemes", "Scheme", new { Area = "admin" })">Change PCS</a>
                                </li>
                            }

                            @if (Model.Breadcrumb.InternalAatf != null)
                            {
                                <li>
                                    <span>AATF:&nbsp;<strong>@Model.Breadcrumb.InternalAatf</strong>&nbsp;</span>

                                    <a href="@Url.Action("ManageAatfs", "Aatf", new { Area = "admin", FacilityType = 1 })">Change AATF</a>
                                </li>
                            }

                            @if (Model.Breadcrumb.InternalAe != null)
                            {
                                <li>
                                    <span>AE:&nbsp;<strong>@Model.Breadcrumb.InternalAe</strong>&nbsp;</span>

                                    <a href="@Url.Action("ManageAatfs", "Aatf", new { Area = "admin", FacilityType = 2 })">Change AE</a>
                                </li>
                            }

                            @if (Model.Breadcrumb.TestAreaActivity != null)
                            {
                                <li>
                                    <span>Activity:&nbsp;<strong>@Model.Breadcrumb.TestAreaActivity</strong>&nbsp;</span>

                                    <a href="@Url.Action("Index", "Home", new { Area = "test" })">Change activity</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }

            @if (showIdentity)
            {
                <div class="@identityWidth">

                    <div class="username-title-display font-xsmall ">

                        <ul class="govuk-breadcrumbs__list">
                            <li>
                                <div class="text-secondary">Signed in as: <span class="username-format">@Model.User.Identity.Name</span></div>
                            </li>
                            <li>
                                @using (Html.BeginForm("SignOut", "Account", routeValues: new { area = (Model.UserIsInternal ? "admin" : string.Empty) }, method: FormMethod.Post, htmlAttributes: new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <input class="link-submit" id="link-sign-out" type="submit" value="Sign out" role="link"/>
                                }
                            </li>
                        </ul>

                    </div>
                </div>
            }

        </div>

        <div class="account-link-banner"></div>
    }


    if (Model.Breadcrumb.SchemeInfo != null && (Model.Breadcrumb.SchemeInfo.StatusName != "Pending" && Model.Breadcrumb.SchemeInfo.StatusName != "Rejected") && Model.Breadcrumb.ExternalActivity != "AATF return")
    {
        <div id="schemeBanner">@(Model.Breadcrumb.SchemeInfo.Name): @(Model.Breadcrumb.SchemeInfo.ApprovalNo) Status: @(Model.Breadcrumb.SchemeInfo.StatusName)</div>
    }

    if (Model.Breadcrumb.ExternalAatf != null)
    {
        <div id="schemeBanner">@(Model.Breadcrumb.ExternalAatf.Name): (@(Model.Breadcrumb.ExternalAatf.ApprovalNumber)) Status: @Model.Breadcrumb.ExternalAatf.AatfStatusDisplay</div>
    }

    if (Model.Breadcrumb.QuarterDisplayInfo != null && Model.Breadcrumb.ExternalActivity == BreadCrumbConstant.AatfReturn)
    {
        <div id="schemeBanner">
            <div class="govuk-grid-row">
                @if (Model.Breadcrumb.QuarterDisplayInfo != null && !(String.IsNullOrEmpty(Model.Breadcrumb.QuarterDisplayInfo)))
                {
                    <div class="govuk-grid-column-one-third">
                        <strong>Reporting period: </strong>@Html.Raw(Model.Breadcrumb.QuarterDisplayInfo)
                    </div>
                }
                @if (Model.Breadcrumb.AatfDisplayInfo != null && !(String.IsNullOrEmpty(Model.Breadcrumb.AatfDisplayInfo)))
                {
                    <div class="govuk-grid-column-two-thirds">
                        <strong>Reporting on: </strong>@Html.Raw(Model.Breadcrumb.AatfDisplayInfo)
                    </div>
                }
            </div>
        </div>
    }
}