@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Test.ViewModels.CreatePcsDataReturnXmlFile.SpecifyOptionsViewModel

@{
    ViewBag.Title = "Specify Options";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="heading-large">
            Specify options for the XML file
        </h1>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        @Html.HiddenFor(model => model.OrganisationID);

        <div class="form-group" @Html.Gds().FormGroupClass(m => m.ComplianceYear)>
            @Html.Gds().LabelFor(model => model.ComplianceYear)
            @Html.Gds().ValidationMessageFor(mode => Model.ComplianceYear)
            @Html.Gds().TextBoxFor(model => model.ComplianceYear)
        </div>

        <div class="form-group" @Html.Gds().FormGroupClass(m => m.Quarter)>
            @Html.Gds().LabelFor(model => model.Quarter)
            @Html.Gds().ValidationMessageFor(mode => Model.Quarter)
            @Html.EnumDropDownListFor(model => model.Quarter)
        </div>

        // TODO: Add UI for options.

        @(this.WeeeGds().Submit("Continue", new { @class = "button" }))

        @Html.ActionLink("Select a different PCS", "SelectOrganisation", "CreatePcsDataReturnXmlFile", null, null)
    }
}