@using System.Web.Mvc.Html
@using EA.Weee.Web.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Producer.ViewModels.PaymentResultModel
@{
    var title = "You have successfully submitted your producer registration";
    ViewBag.Title = @title + " - GOV.UK";
}

@section full_main_content{
    <div class="govuk-!-padding-bottom-5"></div>
    <div class="govuk-panel govuk-panel--confirmation govuk-!-width-two-thirds">
        <h1 class="govuk-panel__title">
            You are now registered as a small producer
        </h1>
        <div class="govuk-panel__body">
            Payment reference number:<br><strong>@Model.PaymentReference</strong>
        </div>
    </div>
    <p class="govuk-body">You have been emailed a receipt to the email address provided during the payment.</p>
    <div class="govuk-!-width-two-thirds">
        <p class="govuk-body"></p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
            If you have any queries about your application, please contact us.
        </p>
        <p class="govuk-body">
            @(this.WeeeGds().ActionLinkWithEventTracking("What did you think of this service?",
                "What did you think of this service?",
                Url.UrlFor<NewUserController>(c => c.Feedback()),
                "Feedback",
                "Producer Registration",
                "Feedback link",
                null,
                true
            ))
            (takes 30 seconds)
        </p>
        @using (Html.BeginForm("SignOut", "Account", new { area = string.Empty }, FormMethod.Post, new { id = "logout" }))
        {
            <p class="govuk-body">
                You can 
                @Html.AntiForgeryToken()
                @this.WeeeGds().CreateLinkButtonWithEventTracking("sign out", "Producer Registration", "sign out", "Sign out")
                or proceed to perform more activities.
            </p>
        }

    </div>

    @Html.ActionLink("Perform other activities", "ChooseActivity", "Home", new { area = "Scheme", pcsId = Model.OrganisationId }, new { @class = "govuk-button" })
}