@using EA.Weee.Web.Extensions
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.ViewModels.Returns.ReturnsViewModel
@{
    ViewBag.Title = "Manage AATF returns - GOV.UK";
}

<section id="main-content">
    <h1 class="govuk-heading-l">
        Manage AATF returns
    </h1>

    @if (Model.DisplayCreateReturn)
    {
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-half">
                @using (Html.BeginRouteForm(AatfRedirect.ReturnsRouteName, FormMethod.Post, null))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.OrganisationId)
                    @Html.HiddenFor(m => m.ComplianceYear)
                    @Html.HiddenFor(m => m.Quarter)

                    <div class="govuk-form-group">
                        @this.WeeeGds().CreateButtonWithEventTracking("Start a new return for " + @Model.Quarter.ToDisplayString() + " " + @Model.ComplianceYear, "AATF return", "Start AATF return", "Start AATF return")
                    </div>
                }

                <div>
                    @this.WeeeGds().CreateProgressiveDisclosure("I need to submit a return for a different quarter",
                   "If you want to start a different return other than the one available, contact your environmental regulator",
                   "Hidden content",
                   "Progressive disclosure",
                   "I need to submit a return for a different quarter (AATF)")
                </div>
            </div>
        </div>
    }
    @if (Model.Returns.Count > 0)
    {
        <table class="govuk-table prsd-table-collapse">
            <caption class="govuk-table__caption govuk-visually-hidden">Manage AATF returns</caption>
            <thead class="govuk-table__head prsd-table-collapse prsd-table-collapse-header">
                <tr class="govuk-table__row prsd-table-collapse prsd-table-collapse-header">
                    <th class="govuk-table__header prsd-table-collapse" scope="col">Year</th>
                    <th class="govuk-table__header prsd-table-collapse" scope="col">Q</th>
                    <th class="govuk-table__header prsd-table-collapse" scope="col">Total obligated (tonnes)</th>
                    <th class="govuk-table__header prsd-table-collapse" scope="col">Total non-obligated (tonnes)</th>
                    <th class="govuk-table__header prsd-table-collapse" scope="col">Created by</th>
                    <th class="govuk-table__header prsd-table-collapse" scope="col">Submitted date (GMT)</th>
                    <th class="govuk-table__header prsd-table-collapse" scope="col">Submitted by</th>
                    <th class="govuk-table__header prsd-table-collapse" scope="col">Status</th>
                    <th class="govuk-table__header prsd-table-collapse" scope="col"><span class="govuk-visually-hidden">Continue / edit</span></th>
                    <th class="govuk-table__header prsd-table-collapse" scope="col"><span class="govuk-visually-hidden">Summary</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body prsd-table-collapse">

                @for (var returnCount = 0; returnCount < Model.Returns.Count; returnCount++)
                {
                    var item = Model.Returns[returnCount];

                    <tr class="govuk-table__row prsd-table-collapse prsd-table-collapse-row">
                        <td class="govuk-table__cell prsd-table-collapse prsd-table-collapse-cell" style="text-align:right">@item.ReturnViewModel.Year</td>
                        <td class="govuk-table__cell prsd-table-collapse prsd-table-collapse-cell" style="text-align:right">@item.ReturnViewModel.Quarter</td>
                        <td class="govuk-table__cell prsd-table-collapse prsd-table-collapse-cell break-word" style="text-align:right">@item.ReturnViewModel.ObligatedTotal</td>
                        <td class="govuk-table__cell prsd-table-collapse prsd-table-collapse-cell break-word" style="text-align:right">@item.ReturnViewModel.NonObligatedTotal</td>
                        <td class="govuk-table__cell prsd-table-collapse prsd-table-collapse-cell">@item.ReturnViewModel.CreatedBy</td>
                        <td class="govuk-table__cell prsd-table-collapse prsd-table-collapse-cell">@item.ReturnViewModel.SubmittedDate</td>
                        <td class="govuk-table__cell prsd-table-collapse prsd-table-collapse-cell">@item.ReturnViewModel.SubmittedBy</td>
                        <td class="govuk-table__cell prsd-table-collapse prsd-table-collapse-cell">@item.ReturnViewModel.ReturnStatus.ToDisplayString()</td>
                        <td class="govuk-table__cell prsd-table-collapse prsd-table-collapse-cell">
                            @{
                                if (item.ReturnsListDisplayOptions.DisplayContinue)
                                {
                                    if (item.ReturnsListRedirectOptions.RedirectTaskList)
                                    {
                                        @Html.NavigationRouteLink("Continue", "Continue return", AatfRedirect.Default, new { action = "Index", controller = "AatfTaskList", returnId = @item.ReturnViewModel.ReturnId }, null)
                                    }
                                    else if (item.ReturnsListRedirectOptions.RedirectSelectYourPcs)
                                    {
                                        @Html.NavigationRouteLink("Continue", "Continue return", AatfRedirect.SelectPcsRouteName, new { action = "Index", returnId = @item.ReturnViewModel.ReturnId, organisationId = Model.OrganisationId }, null)
                                    }
                                    else if (item.ReturnsListRedirectOptions.RedirectReportingOptions)
                                    {
                                        @Html.NavigationRouteLink("Continue", "Continue return", AatfRedirect.SelectReportOptionsRouteName, new { action = "Index", returnId = @item.ReturnViewModel.ReturnId, organisationId = Model.OrganisationId }, null)
                                    }
                                }
                                if (item.ReturnsListDisplayOptions.DisplayEdit)
                                {
                                    using (Html.BeginForm("Copy", "Returns", new { returnId = @item.ReturnViewModel.ReturnId }, FormMethod.Post, null))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("returnId", @item.ReturnViewModel.ReturnId)
                                        @Html.Hidden("organisationId", @item.ReturnViewModel.OrganisationId)

                                        <button class="link-submit govuk-link govuk-link--no-visited-state" role="button" type="submit"><span class="govuk-visually-hidden">Edit return</span><div> Edit</div></button>
                                    }
                                }
                            }
                        </td>
                        <td class="govuk-table__cell prsd-table-collapse prsd-table-collapse-cell">
                            @if (item.ReturnsListDisplayOptions.DisplaySummary)
                            {
                                @Html.NavigationRouteLink("Summary", "Return summary", AatfRedirect.Default, new { action = "Index", controller = "ReturnsSummary", returnId = @item.ReturnViewModel.ReturnId }, null)
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <p>
            You have not yet started any AATF returns
        </p>
    }
    <p>
        @Html.ActionLink("Perform another activity", "ChooseActivity", "Home", new { area = "Scheme", pcsId = @Model.OrganisationId }, null)
    </p>
    <style type="text/css">

        @@media only screen and (max-width: 1020px) {
            td:nth-of-type(1):before {
                content: "Year";
            }

            td:nth-of-type(2):before {
                content: "Quarter";
            }

            td:nth-of-type(3):before {
                content: "Total obligated (tonnes)";
            }

            td:nth-of-type(4):before {
                content: "Total non-obligated (tonnes)";
            }

            td:nth-of-type(5):before {
                content: "Created by";
            }

            td:nth-of-type(6):before {
                content: "Submitted date (GMT)";
            }

            td:nth-of-type(7):before {
                content: "Submitted by";
            }

            td:nth-of-type(8):before {
                content: "Status";
            }
        }
    </style>

</section>
