@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Core.DataStandards
@model EA.Weee.Web.Areas.Admin.ViewModels.AatfReports.NonObligatedWeeeReceivedAtAatfViewModel

@{
    ViewBag.Title = "Download AATF non-obligated WEEE data - GOV.UK";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="govuk-heading-l">Download AATF non-obligated WEEE data</h1>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <p>Filter the report to download entries that match your criteria</p>
        <p>All data is reported in tonnes (t) to three decimal places</p>
        <p>Only data from the most recent "submitted" returns are included (anything that is in progress, but not submitted by an operator is omitted)</p>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedYear)">
            @Html.Gds().LabelFor(m => m.SelectedYear)
            @Html.Gds().ValidationMessageFor(m => m.SelectedYear)
            @Html.Gds().DropDownListFor(m => m.SelectedYear, Model.ComplianceYears, string.Empty, new { autocomplete = "false" })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.OrganisationName)">
            @Html.Gds().LabelFor(m => m.OrganisationName)
            @Html.Gds().TextBoxFor(m => m.OrganisationName, new { @maxlength = CommonMaxFieldLengths.DefaultString })
        </div>

        <p>
            If there is a large amount of returns data for your selected criteria, it may take a while to download your results
        </p>

        @(this.WeeeGds().SubmitWithEventTracking("Download (CSV)", "Internal reports", "Report download", "AATF non-obligated WEEE data", new Dictionary<string, object> { { "class", "button" } }))
    }

    <p>
        @Html.ActionLink("Perform another activity", "ChooseActivity", "Home")
    </p>
    <p>
        @Html.ActionLink("Back", "ChooseReport", "AatfReports")
    </p>
}
@section scripts {
    @if (ViewBag.TriggerDownload)
    {
        <script type="text/javascript">
            window.location = "@Html.Raw(@Url.Action("DownloadAatfNonObligatedDataCsv", new
                          {
                              complianceYear = Model.SelectedYear,
                              aatfName = Model.OrganisationName
                          }))";
        </script>
    }
}