@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@using EA.Weee.Web.Areas.Scheme.ViewModels
@using EA.Weee.Web.Areas.Admin.Controllers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.AddAatf.AddAatfViewModel
@{
    ViewBag.Title = "Enter AATF details - GOV.UK";
}

    <section id="main-content">
        <h1 class="govuk-heading-l">Add an AATF to an organisation</h1>

        <div>
            <p>
                <span class="govuk-heading-m">Organisation: @Model.OrganisationName</span>
            </p>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Gds().ValidationSummary()

            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.AatfName)">
                @Html.Gds().LabelFor(m => m.AatfName)
                @Html.Gds().ValidationMessageFor(m => m.AatfName)
                @Html.Gds().TextBoxFor(m => m.AatfName, new { @class = "govuk-!-width-one-third", @maxlength = CommonMaxFieldLengths.DefaultString })
            </div>

            <div class="govuk-!-padding-bottom-6"></div>

            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SiteAddressData)">
                @Html.EditorFor(m => m.SiteAddressData)
            </div>

            <div class="govuk-!-padding-bottom-6"></div>

            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.ApprovalNumber)">
                @Html.Gds().LabelFor(m => m.ApprovalNumber)
                @Html.Gds().ValidationMessageFor(m => m.ApprovalNumber)
                @Html.Gds().TextBoxFor(m => m.ApprovalNumber, new { @class = "govuk-!-width-one-third", @maxlength = CommonMaxFieldLengths.DefaultString })
            </div>

            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.CompetentAuthorityId)">
                @Html.Gds().LabelFor(m => m.CompetentAuthorityId)
                @Html.Gds().ValidationMessageFor(m => m.CompetentAuthorityId)
                @Html.Gds().DropDownListFor(m => m.CompetentAuthorityId, new SelectList(Model.CompetentAuthoritiesList, "Id", "Abbreviation"), string.Empty, new { @class = "govuk-!-width-one-third", autocomplete = "false" })
            </div>

            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedStatusValue)">
                @Html.Gds().LabelFor(m => m.SelectedStatusValue)
                @Html.Gds().ValidationMessageFor(m => m.SelectedStatusValue)
                @Html.Gds().DropDownListFor(m => m.SelectedStatusValue, new SelectList(Model.StatusList, "Value", "DisplayName"), string.Empty, new { @class = "govuk-!-width-one-third", autocomplete = "false" })
            </div>

            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedSizeValue)">
                @Html.Gds().LabelFor(m => m.SelectedSizeValue)
                @Html.Gds().ValidationMessageFor(m => m.SelectedSizeValue)
                @Html.Gds().DropDownListFor(m => m.SelectedSizeValue, new SelectList(Model.SizeList, "Value", "DisplayName"), string.Empty, new { @class = "govuk-!-width-one-third", autocomplete = "false" })
            </div>

            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.ApprovalDate)">
                @Html.Gds().LabelFor(m => m.ApprovalDate)
                @Html.Gds().ValidationMessageFor(m => m.ApprovalDate)
                @if (Model.ApprovalDate.HasValue)
                {
                    <input id="ApprovalDate" name="ApprovalDate" type="date" class="govuk-!-width-one-third form-control govuk-input" value="@Model.ApprovalDate.Value.ToString("yyyy-MM-dd")" />
                }
                else
                {
                    <input id="ApprovalDate" name="ApprovalDate" type="date" class="govuk-!-width-one-third form-control govuk-input" />
                }
            </div>

            <div>
                <h2 class="govuk-heading-m">AATF nominated day to day contact details</h2>
            </div>

            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.ContactData)">
                @Html.EditorFor(m => m.ContactData)
            </div>

            <div class="govuk-!-padding-bottom-6"></div>
            <button type="submit" name="save" class="govuk-button" id="site-details">
                Save and continue
            </button>
            <div class="govuk-!-padding-bottom-6"></div>
            <p>
                <a href="@(Url.UrlFor<AatfController>(u => u.ManageAatfs()))">Cancel</a>
            </p>
        }
    </section>