@using MvcNavigationHelpers
@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@using EA.Weee.Web.Areas.Admin.Controllers
@using EA.Weee.Web.Extensions
@model EA.Weee.Web.Areas.Admin.ViewModels.AddAatf.AddFacilityViewModelBase
@{
    ViewBag.Title = "Enter " + Model.FacilityType.ToDisplayString() + " details - GOV.UK";
}

<section id="main-content">
    <h1 class="govuk-heading-l">Add an @Model.FacilityType.ToDisplayString() to an organisation</h1>

    <div>
        <p>
            <span class="govuk-heading-m">Organisation: @Model.OrganisationName</span>
        </p>
    </div>

    @using (Html.BeginForm(actionName: Model.FacilityType == EA.Weee.Core.AatfReturn.FacilityType.Aatf ? "AddAatf" : "AddAe", controllerName: "AddAatf", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.OrganisationId)

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Name)">
            @Html.Gds().LabelForOverridden(m => m.Name, Model.GetType())
            @Html.Gds().ValidationMessageFor(m => m.Name)
            @Html.Gds().TextBoxFor(m => m.Name, new { @class = "govuk-!-width-one-third", @maxlength = CommonMaxFieldLengths.DefaultString })
        </div>

        @Html.Partial("_AatfDetails")

        var complianceYearState = ViewData.ModelState["ComplianceYear"];
        var complianceYearHasErrors = complianceYearState != null && complianceYearState.Errors.Count > 0;
        var selectedValue = Model.ComplianceYear == default(short) && !complianceYearHasErrors ? DateTime.Now.Year : Model.ComplianceYear;
        <div class="govuk-form-group @if (complianceYearHasErrors) { <text>govuk-form-group--error error</text> }">
            @Html.Gds().LabelFor(m => m.ComplianceYear)
            @Html.Gds().ValidationMessageFor(m => m.ComplianceYear)
            <select class="govuk-!-width-one-third govuk-!-width-one-half form-control govuk-select" id="ComplianceYear" name="ComplianceYear">
                <option></option>
                @{foreach (var year in Model.ComplianceYearList)
                    {
                        <option @if (year == selectedValue) { <text> selected="selected" </text> }>@year</option>
                    }
                }
            </select>
        </div>

        <div>
            <h2 class="govuk-heading-m">@Model.FacilityType.ToDisplayString() contact details</h2>
        </div>

        @Html.EditorFor(m => m.ContactData)

        <div class="govuk-!-padding-bottom-6"></div>
        <button type="submit" name="save" class="govuk-button" id="site-details">
            Create @Model.FacilityType.ToDisplayString()
        </button>
        <div class="govuk-!-padding-bottom-6"></div>
        <p>
            <a href="@(Url.UrlFor<AatfController>(u => u.ManageAatfs(Model.FacilityType)))">Cancel</a>
        </p>
    }
</section>
@section scripts {
    @Scripts.Render("~/bundles/hide-classes-when-competent-authory-is-not-ea")
}