@using MvcNavigationHelpers
@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@using EA.Weee.Web.Areas.Admin.Controllers
@using EA.Weee.Web.Extensions
@model EA.Weee.Web.Areas.Admin.ViewModels.AddAatf.AddFacilityViewModelBase
@{
    var title = "Add an " + @Model.FacilityType.ToDisplayString() + " to an organisation";
    ViewBag.Title = title + " - GOV.UK";
}

<section id="main-content">
    <h1 class="govuk-heading-l">@title</h1>

    <div>
        <p>
            <span class="govuk-heading-m">Organisation: @Model.OrganisationName</span>
        </p>
    </div>

    @using (Html.BeginForm(actionName: Model.FacilityType == EA.Weee.Core.AatfReturn.FacilityType.Aatf ? "AddAatf" : "AddAe", controllerName: "AddAatf", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.OrganisationId)

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Name)">
            @Html.Gds().LabelForOverridden(m => m.Name, Model.GetType())
            @Html.Gds().ValidationMessageFor(m => m.Name)
            @Html.Gds().TextBoxFor(m => m.Name, new { @class = "govuk-!-width-one-third", @maxlength = CommonMaxFieldLengths.DefaultString })
        </div>

        @Html.Partial("_AatfDetails")

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.ComplianceYear)">
            @Html.Gds().LabelFor(m => m.ComplianceYear)
            @Html.Gds().ValidationMessageFor(m => m.ComplianceYear)
            @Html.Gds().DropDownListFor(m => m.ComplianceYear, Model.ComplianceYearList, string.Empty, new { @class = "govuk-!-width-one-third", autocomplete = "false" })
        </div>

        <div>
            <h2 class="govuk-heading-m">@Model.FacilityType.ToDisplayString() contact details</h2>
        </div>

        @Html.EditorFor(m => m.ContactData)

        <div class="govuk-!-padding-bottom-6"></div>
        <button type="submit" name="save" class="govuk-button" id="site-details" data-module="govuk-button" data-prevent-double-click="true">
            Add @Model.FacilityType.ToDisplayString()
        </button>
        <div class="govuk-!-padding-bottom-6"></div>
        <p>
            <a href="@(Url.UrlFor<AatfController>(u => u.ManageAatfs(Model.FacilityType)))">Cancel</a>
        </p>
    }
</section>
@section scripts {
    @Scripts.Render("~/bundles/hide-classes-when-competent-authory-is-not-ea")
}