@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.CanNotFoundTreatmentFacilityViewModel

@{
    ViewBag.Title = "Can't find the AATF";
}

<section id="main-content">
    @if (Model.IsCanNotFindLinkClick)
    {
        <h1 class="govuk-heading-l">Can't find the AATF you're looking for?</h1>
    }
    else
    {
        <h1 class="govuk-heading-l">No results found</h1>
        <h3 class="govuk-heading-m">We found no results for '@Model.AatfName'</h3>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.OrganisationId)
        @Html.HiddenFor(m => m.ReturnId)
        @Html.HiddenFor(m => m.AatfId)

        <div class="govuk-body">
            This may be because:
            <ul>
                <li style="text-align: justify !important">
                    The treatment facility is as an ATF rather than an AATF. An ATF is an authorised treatment facility that is not approved to issue evidence. This means the details are not stored in this service and you must add them. You can check if a treatment facility is an AATF for the current compliance year by viewing the ‘Approved authorised treatment facility public register’ on GOV.UK.
                </li>

                <li style="padding-top: 30px; text-align: justify !important; list-style-type: none;">
                    @this.WeeeGds().CreateProgressiveDisclosure("What's the difference between an AATF and an ATF?",
                                                               @Html.Partial("_DifferenceAnAATFandATFPartial").ToString(), "Hidden content", "Progressive disclosure", "What's the difference between an AATF and an ATF?")
                </li>

                <li style="text-align: justify !important">
                    The treatment facility is not an AATF for the current compliance year. The treatment facility may have been an AATF in a previous compliance year but is not approved for the current compliance year. This means it may now be an ATF rather than an AATF and you must add the ATF details. You can check if a treatment facility is an AATF for the current compliance year by viewing the 'Approved authorised treatment facility public register' on GOV.UK.
                </li>

                <li style="padding-top: 20px; text-align: justify !important">
                    You've mistyped the AATF name, operator name or approval number.
                </li>

                <li style="padding-top: 20px; text-align: justify !important">
                    You've used an abbreviation to search for the AATF. For example, you've abbreviated the name of the AATF, try searching for the full AATF name. You can check AATF details for the current compliance year by viewing the 'Approved authorised treatment facility public register' on GOV.UK.
                </li>

                <li style="padding-top: 20px; list-style-type: none;">
                    <div class="govuk-button-group">
                        @Html.RouteLink("Start another search", AatfRedirect.AatfOrganisationSelectedRoute, new { returnId = Model.ReturnId, aatfId = Model.AatfId, organisationId = Model.OrganisationId, action = "Index", controller = "SearchAnAatf" }, new { @class = "govuk-button" })
                        @Html.RouteLink("Add ATF", AatfRedirect.AatfOrganisationSelectedRoute, new { returnId = Model.ReturnId, aatfId = Model.AatfId, organisationId = Model.OrganisationId, action = "Index", controller = "SentOnCreateSite" }, new { @class = "govuk-button" })
                    </div>
                </li>
            </ul>
        </div>
    }
</section>
