@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.SentOnSiteSummaryListViewModel
@{
    var aatfName = Model.AatfName;

    ViewBag.Title = "Which other AATFs / ATFs has " + aatfName + " sent WEEE to for treatment? - GOV.UK";
}
<section id="main-content">
    <h1 class="govuk-heading-l" style="padding-top: 0px;">Which other AATFs / ATFs has @Model.AatfName sent WEEE to for treatment?</h1>
    <p class="govuk-body">You can add multiple AATFs / ATFs</p>
    <p class="govuk-body">This is WEEE that you received at your AATF(s) which you have not treated and was sent on for treatment elsewhere</p>

    @using (Html.BeginForm("Index", "SentOnSiteSummaryList", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.OrganisationId, new { id = "OrganisationId" })
        @Html.HiddenFor(m => m.ReturnId, new { id = "ReturnId" })
        @Html.HiddenFor(m => m.AatfId, new { id = "AatfId" })

        if (Model.IsChkCopyPreviousQuarterVisible)
        {
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="chkCopyPreviousQuater" name="chkCopyPreviousQuater" type="checkbox" onclick="copyPreviousQuaterData();">
                    <label class="govuk-label govuk-checkboxes__label" for="chkCopyPreviousQuater">
                        Copy added AATFs / ATFs from previous quarter
                    </label>
                </div>
            </div>
        }
    }
    <div class="govuk-table govuk-grid-column-full">
        @if (Model.Sites.Count > 0)
        {
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">AATF / ATF name and address</th>
                        <th class="govuk-table__header" scope="col">Operator name and address</th>
                        <th class="govuk-table__header" scope="col">AATF approval number</th>
                        <th class="govuk-table__header" scope="col">WEEE sent B2C (tonnes)</th>
                        <th class="govuk-table__header" scope="col">WEEE sent B2B (tonnes)</th>
                        <th class="govuk-table__header" scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var address in Model.Sites)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                @Html.Raw(Model.CreateLongAddress(address.SiteAddress))
                            </td>
                            <td class="govuk-table__cell break-word">
                                @Html.Raw(Model.CreateLongAddress(address.OperatorAddress))
                            </td>
                            <td class="govuk-table__cell break-word">
                                @address.ApprovalNumber
                            </td>
                            <td class="govuk-table__cell break-word">
                                @address.Tonnages.B2C
                            </td>
                            <td class="govuk-table__cell break-word">
                                @address.Tonnages.B2B
                            </td>
                            <td class="govuk-table__cell break-word">
                                @if (address.ApprovalNumber == null || address.ApprovalNumber == "")
                                {
                                    @Html.NavigationRouteLink("Edit details", "Edit site address" + address.SiteAddress.Name, AatfRedirect.AatfOrganisationSelectedRoute, new { returnId = Model.ReturnId, aatfId = Model.AatfId, organisationId = Model.OrganisationId, weeeSentOnId = address.WeeeSentOnId, isEditDetails = true, isEditTonnage = false, action = "Index", controller = "SentOnCreateSite" })
                                }
                                <br />
                                @Html.NavigationRouteLink("Edit tonnage", "Edit site tonnage", AatfRedirect.AatfOrganisationSelectedRoute, new { returnId = Model.ReturnId, aatfId = Model.AatfId, organisationId = Model.OrganisationId, weeeSentOnId = address.WeeeSentOnId, siteName = address.SiteAddress.Name, isEditDetails = false, isEditTonnage = true, action = "Index", controller = "ObligatedSentOn" })
                                <br />
                                @if (address.ApprovalNumber == null || address.ApprovalNumber == "")
                                {
                                    @Html.NavigationRouteLink("Remove", "Remove site address" + address.SiteAddress.Name, AatfRedirect.AatfOrganisationSelectedRoute, new { returnId = Model.ReturnId, aatfId = Model.AatfId, organisationId = Model.OrganisationId, weeeSentOnId = address.WeeeSentOnId, isAatf = false, action = "Index", controller = "SentOnRemoveSite" })
                                }
                                else
                                {
                                    @Html.NavigationRouteLink("Remove", "Remove site address" + address.SiteAddress.Name, AatfRedirect.AatfOrganisationSelectedRoute, new { returnId = Model.ReturnId, aatfId = Model.AatfId, organisationId = Model.OrganisationId, weeeSentOnId = address.WeeeSentOnId, isAatf = true, action = "Index", controller = "SentOnRemoveSite" })
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="govuk-!-padding-bottom-8"></div>
            <p class="govuk-grid-row govuk-table__row govuk-table__header--noline">You have not entered any sites. If WEEE has been sent to another AATF / ATF for treatment, use the add another ATF link.</p>
        }
    </div>
    <div class="govuk-!-padding-bottom-2"></div>
    <p class="govuk-body" style="margin-bottom: 0px;">
        @Html.RouteLink("Add another AATF / ATF", AatfRedirect.AatfOrganisationSelectedRoute, new { returnId = Model.ReturnId, aatfId = Model.AatfId, organisationId = Model.OrganisationId, action = "Index", controller = "SearchAnAatf" }, null)
    </p>
    <div class="govuk-!-padding-bottom-8"></div>

    <p class="govuk-body" style="margin-bottom: 0px;">
        @Html.RouteLink("AATF task list", AatfRedirect.Default, new { returnId = Model.ReturnId, controller = "AatfTaskList", action = "Index" }, new { @class = "govuk-button" })
    </p>

</section>

<script type="text/javascript">

    function copyPreviousQuaterData() {
        $.ajax({
            url: "SentOnSiteSummaryList/Index",
            type: "POST",
            dataType: "json",
            data: {
                AatfId: $("[name=AatfId]").val(),
                IsCopyChecked: true,
                ReturnId: $("[name=ReturnId]").val(),
                OrganisationId: $("[name=OrganisationId]").val(),
                __RequestVerificationToken: $("[name=__RequestVerificationToken]").val()
            },
            complete: function () {
                window.location.reload();
            }
        });
    }
</script>