@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.SentOnSiteSummaryListViewModel
@{
    ViewBag.Title = "Sent On WEEE";
}
<section id="main-content">
    <h1 class="govuk-heading-l" style="padding-top: 0px;">WEEE sent to AATFs/ATFs for treatment</h1>
    <p class="govuk-body">You can report on multiple  AATFs/ATFs</p>

    @using (Html.BeginForm("Index", "SentOnSiteSummaryList", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.OrganisationId)
        @Html.HiddenFor(m => m.ReturnId)
        @Html.HiddenFor(m => m.AatfId)
        <div class="govuk-table govuk-grid-column-full" id="weee-data-entry-table">
            <div class="govuk-table__head">
                <div class="govuk-grid-row govuk-table__row govuk-table__header">
                    <div class="govuk-grid-column-one-quarter">
                        AATF/ATF name and address
                    </div>
                    <div class="govuk-grid-column-one-quarter weee-tonnage-column-padding-left">
                        Operator name and address
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display" style="word-break:break-word">
                            B2C (tonnes)
                        </div>
                        <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display" style="word-break:break-word">
                            B2B (tonnes)
                        </div>
                        <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                            Actions
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var address in Model.Sites)
            {
                <div class="govuk-grid-row govuk-table__cell">
                    <div class="govuk-grid-column-one-quarter" style="word-break:break-word">
                        @address.SiteAddressLong
                    </div>
                    <div class="govuk-grid-column-one-quarter weee-tonnage-column-padding-left" style="word-break:break-word">
                        @address.OperatorAddressLong
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                            @address.Tonnages.B2C
                        </div>
                        <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                            @address.Tonnages.B2B
                        </div>
                        <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                            <span class="govuk-visually-hidden">Change the address of @address.SiteAddress.Name</span> @Html.RouteLink("Change", AatfRedirect.AatfOrganisationSelectedRoute, new { returnId = Model.ReturnId, aatfId = Model.AatfId, organisationId = Model.OrganisationId, weeeSentOnId = address.WeeeSentOnId, action = "Index", controller = "SentOnCreateSite" }, null)
                            <br/>
                            <span class="govuk-visually-hidden">Remove @address.SiteAddress.Name</span> @Html.RouteLink("Remove", AatfRedirect.AatfOrganisationSelectedRoute, new { returnId = Model.ReturnId, aatfId = Model.AatfId, organisationId = Model.OrganisationId, weeeSentOnId = address.WeeeSentOnId, action = "Index", controller = "SentOnRemoveSite" }, null)
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="govuk-!-padding-bottom-2"></div>
        <p class="govuk-body" style="margin-bottom: 0px;">
            @Html.RouteLink("Add another AATF/ATF", AatfRedirect.AatfOrganisationSelectedRoute, new { returnId = Model.ReturnId, aatfId = Model.AatfId, organisationId = Model.OrganisationId, action = "Index", controller = "SentOnCreateSite" }, null)
        </p>
        <div class="govuk-!-padding-bottom-8"></div>

        Html.RenderPartial("_AatfTaskListButton", Model.ReturnId);
    }
</section>