@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.SentOnSiteSummaryListViewModel
@{
    var aatfName = Model.AatfName;

    ViewBag.Title = "Which other AATFs / ATFs has " + aatfName + " sent WEEE to for treatment? - GOV.UK";
}
<section id="main-content">
    <h1 class="govuk-heading-l" style="padding-top: 0px;">Which other AATFs / ATFs has @Model.AatfName sent WEEE to for treatment?</h1>
    <p class="govuk-body">You can add multiple AATFs / ATFs</p>
    <p class="govuk-body">This is WEEE that you received at your AATF(s) which you have not treated and was sent on for treatment elsewhere</p>    

    @using (Html.BeginForm("Index", "SentOnSiteSummaryList", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.OrganisationId)
        @Html.HiddenFor(m => m.ReturnId)
        @Html.HiddenFor(m => m.AatfId)

        if (Model.IsChkCopyPreviousQuarterVisible)
        {
            <div class="govuk-body govuk-form-group @Html.Gds().FormGroupClass(m => m.IsCopyChecked)">
                @Html.Gds().ValidationMessageFor(m => m.IsCopyChecked)
                <label>
                    @Html.CheckBoxFor(m => Model.IsCopyChecked, "chkCopyPreviousQuater") copy selection from previous quarter
                </label>
            </div>

            @(this.WeeeGds().Submit("Copy"))
        }
    }
    <div class="govuk-table govuk-grid-column-full" id="weee-data-entry-table">
        @if (Model.Sites.Count > 0)
        {
            <div class="govuk-table__head">
                <div class="govuk-grid-row govuk-table__row govuk-table__header">
                    <div class="govuk-grid-column-one-quarter">
                        AATF / ATF name and address
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        Operator name and address
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display" style="word-break:keep-all">
                            B2C (tonnes)
                        </div>
                        <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display" style="word-break:keep-all">
                            B2B (tonnes)
                        </div>
                        <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                            Actions
                        </div>
                    </div>
                </div>
            </div>
            foreach (var address in Model.Sites)
            {
                <div class="govuk-grid-row govuk-table__cell">
                    <div class="govuk-grid-column-one-quarter" style="word-break:break-all">
                        @Html.Raw(Model.CreateLongAddress(address.SiteAddress))
                    </div>
                    <div class="govuk-grid-column-one-quarter" style="word-break:break-all">
                        @Html.Raw(Model.CreateLongAddress(address.OperatorAddress))
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                            @address.Tonnages.B2C
                        </div>
                        <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                            @address.Tonnages.B2B
                        </div>
                        <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                            <div>
                                @Html.NavigationRouteLink("Change details", "Change site address " + address.SiteAddress.Name, AatfRedirect.AatfOrganisationSelectedRoute, new { returnId = Model.ReturnId, aatfId = Model.AatfId, organisationId = Model.OrganisationId, weeeSentOnId = address.WeeeSentOnId, isEditDetails = true, isEditTonnage = false, action = "Index", controller = "SentOnCreateSite" })
                            </div>
                            <div>
                                @Html.NavigationRouteLink("Change tonnage", "Change site tonnage", AatfRedirect.AatfOrganisationSelectedRoute, new { returnId = Model.ReturnId, aatfId = Model.AatfId, organisationId = Model.OrganisationId, weeeSentOnId = address.WeeeSentOnId, siteName = address.SiteAddress.Name, isEditDetails = false, isEditTonnage = true, action = "Index", controller = "ObligatedSentOn" })
                            </div>
                            <div style="padding-top: 10px;">
                                @Html.NavigationRouteLink("Remove", "Remove site address " + address.SiteAddress.Name, AatfRedirect.AatfOrganisationSelectedRoute, new { returnId = Model.ReturnId, aatfId = Model.AatfId, organisationId = Model.OrganisationId, weeeSentOnId = address.WeeeSentOnId, action = "Index", controller = "SentOnRemoveSite" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="govuk-!-padding-bottom-8"></div>
            <p class="govuk-grid-row govuk-table__row govuk-table__header--noline">You have not entered any sites. If WEEE has been sent to another AATF / ATF for treatment, use the add another ATF link.</p>
        }
    </div>
    <div class="govuk-!-padding-bottom-2"></div>
    <p class="govuk-body" style="margin-bottom: 0px;">
        @Html.RouteLink("Add another ATF", AatfRedirect.AatfOrganisationSelectedRoute, new { returnId = Model.ReturnId, aatfId = Model.AatfId, organisationId = Model.OrganisationId, action = "Index", controller = "SearchAnAatf" }, null)
    </p>
    <div class="govuk-!-padding-bottom-8"></div>

    <p class="govuk-body" style="margin-bottom: 0px;">
        @Html.RouteLink("AATF task list", AatfRedirect.Default, new { returnId = Model.ReturnId, controller = "AatfTaskList", action = "Index" }, new { @class = "govuk-button" })
    </p>

</section>