@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.SentOnCreateSiteViewModel
@{
    ViewBag.Title = "WEEE sent to another ATF for treatment - GOV.UK";
}

<section id="main-content">
    <h1 class="govuk-heading-l">WEEE sent to another ATF for treatment</h1>
    <h2 class="govuk-heading-m">Which ATF was the WEEE sent to for treatment?</h2>

    @using (Html.BeginRouteForm(AatfRedirect.AatfOrganisationSelectedRoute, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.OrganisationId)
        @Html.HiddenFor(m => m.ReturnId)
        @Html.HiddenFor(m => m.AatfId)
        @Html.HiddenFor(m => m.WeeeSentOnId)
        @Html.EditorFor(m => m.SiteAddressData)
        @Html.HiddenFor(m => m.SiteAddressData.CountryName)
        @Html.HiddenFor(m => m.IsEditDetails)
        @Html.HiddenFor(m => m.IsEditTonnage)

        <div class="govuk-!-padding-bottom-6" style="border-bottom: 1px solid #bfc1c3;"></div>
        <div class="govuk-!-padding-bottom-6"></div>
        <h2 class="govuk-heading-m">Who operates the site where the WEEE was sent to for treatment?</h2>

        @Html.EditorFor(m => m.OperatorAddressData)

        <div class="govuk-!-padding-bottom-3"></div>

        @(this.WeeeGds().Submit("Save and continue"))
    }
    @Html.RouteLink("Back", AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, organisationId = Model.OrganisationId, aatfId = Model.AatfId, action = "Index", controller = "SentOnSiteSummaryList" }, new { @class = "govuk-back-link" })
</section>

@Scripts.Render("~/bundles/sent-on-operator-address")
@section scripts {
    <noscript>
        <style type="text/css">
            #operatorCheckBox {
                display: none;
            }

            #operatorButton {
                display: block !important;
            }
        </style>
    </noscript>
}