@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using MvcNavigationHelpers
@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Web.Areas.AeReturn.Controllers
@model EA.Weee.Web.ViewModels.Returns.SubmittedReturnViewModel
@{
    var period = Model.Period;
    ViewBag.Title = "You have stated that no whole WEEE has been exported in " + period + " - GOV.UK";
}

<section id="main-content">

    <h1 class="govuk-heading-l">
        You have stated that no whole WEEE has been exported in @Model.Period
    </h1>

    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            By submitting you confirm that you have no whole WEEE to report
        </strong>
    </div>

    @using (Html.BeginForm("NilReturnConfirm", "Returns", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.OrganisationId)
        @Html.HiddenFor(m => m.ReturnId)

        <div class="govuk-form-group">
            @this.WeeeGds().CreateButtonWithEventTracking("Submit", "AE return", "Submit AE nil return", "Submit AE nil return")
        </div>
    }

    <p>
        <a href="@(Url.UrlFor<ReturnsController>(u => u.ExportedWholeWeee(Model.OrganisationId, Model.ReturnId)))">Cancel</a>
    </p>

</section>