@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers

@using EA.Weee.Web.Areas.Admin.ViewModels.Scheme.Overview
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@using EA.Weee.Web.Areas.Producer.Controllers
@using EA.Weee.Web.Areas.Producer.ViewModels
@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.Helpers
@using EA.Weee.Web.Areas.Admin.ViewModels.Producers;
@model OrganisationDetailsTabsViewModel

@{
    var hasYear = Model.Year != null;

    var @title = hasYear ? "Producer registrations" : "View organisation details";

    var area = Model.IsInternal ? "Admin" : "Producer";
    var controller = Model.IsInternal ? "ProducerSubmission" : "Producer";
}

@if (Model.IsInternal)
{
    @(this.WeeeGds().BackLink(@Url.UrlFor<EA.Weee.Web.Areas.Admin.Controllers.ProducersController>(a => a.Search(SearchTypeEnum.SmallProducer))))
}
else
{
    @(this.WeeeGds().BackLink(@Url.UrlFor<EA.Weee.Web.Areas.Scheme.Controllers.HomeController>(a => a.ChooseActivity(Model.SmallProducerSubmissionData.OrganisationData.Id, null))))
}

<header class="hgroup">
    <h1 class="govuk-heading-l">@title</h1>
</header>

@if (hasYear)
{
    using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), controller, FormMethod.Get))
    {
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Year)">
            @Html.Gds().LabelFor(m => m.Year, new { @class = "govuk-label--m", @for = "year-dropdown" })
            @Html.Gds().ValidationMessageFor(m => m.Year)
            @Html.Gds().DropDownListFor(m => m.Year, new SelectList(Model.Years), new { id = "year-dropdown" }, useHalfWidth: false, withLookAhead: false)
        </div>

        @Html.Hidden("registrationNumber", Model.RegistrationNumber)

        <noscript>
            <button class="govuk-button" data-module="govuk-button" type="submit" data-prevent-double-click="true">Select</button>
        </noscript>

        <div class="govuk-!-padding-bottom-5"></div>
    }

    <p>
        If this information is not correct, please contact your agency and they will be able to return your application to you.
    </p>
}

@if (Model.IsInternal)
{
    <p>
        @Html.ActionLink("Remove " + Model.Year + " producer submission", "RemoveSubmission", "ProducerSubmission", null, new { @class = "govuk-link" })
    </p>
}

<ul class="govuk-tabs__list" role="tablist">
    @this.WeeeGds().Tab("View organisation",
        Url.Action("OrganisationDetails", controller, new { area = area, RegistrationNumber = Model.RegistrationNumber, year = Model.Year }),
        Model.ActiveOption == OrganisationDetailsDisplayOption.OrganisationDetails, "organisationDetailsAnchor")

    @this.WeeeGds().Tab("Contact details",
        Url.Action("ContactDetails", controller, new { area = area, RegistrationNumber = Model.RegistrationNumber, year = Model.Year }),
        Model.ActiveOption == OrganisationDetailsDisplayOption.ContactDetails, "contactDetailsAnchor")

    @this.WeeeGds().Tab("Service of notice details",
        Url.Action("ServiceOfNoticeDetails", controller, new { area = area, RegistrationNumber = Model.RegistrationNumber, year = Model.Year }),
        Model.ActiveOption == OrganisationDetailsDisplayOption.ServiceOfNoticeDetails, "serviceOfNoticeDetailsAnchor")

    @if (@Model.SmallProducerSubmissionData.HasAuthorisedRepresentitive)
    {
        <span>
            @this.WeeeGds().Tab("Represented organisation details",
            Url.Action("RepresentedOrganisationDetails", controller, new { area = area, RegistrationNumber = Model.RegistrationNumber, year = Model.Year }),
            Model.ActiveOption == OrganisationDetailsDisplayOption.RepresentedOrganisationDetails, "representedOrganisationDetailsAnchor")
        </span>
    }

    @if (hasYear)
    {
        <span>
            @this.WeeeGds().Tab("Total EEE",
            Url.Action("TotalEEEDetails", controller, new { area = area, RegistrationNumber = Model.RegistrationNumber, year = Model.Year }),
            Model.ActiveOption == OrganisationDetailsDisplayOption.TotalEEEDetails, "totalEEEDetailsAnchor")
        </span>
    }
</ul>

@if (hasYear)
{
    <style>
        .govuk-tabs__tab:link, .govuk-tabs__tab:visited {
            font-size: 17px;
        }
    </style>
}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        $(() => {
            let onChange = function () {
                let currentUrl = new URL(window.location.href);
                currentUrl.searchParams.set("year", $(this).val());
                history.pushState(null, '', currentUrl);

                document.location = currentUrl;
            };

            $("#year-dropdown").change(onChange);
        });
    });
</script>
