@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers

@using EA.Weee.Web.Areas.Producer.ViewModels

@model OrganisationDetailsTabsViewModel

@{
    var title = "Service of notice details";
    ViewBag.Title = title + " - GOV.UK";

    var hasServiceOfNotice = Model.ServiceOfNoticeViewModel.Address.CountryId != Guid.Empty;
   
}
@section full_main_content{
    <div class="govuk-tabs">
        @Html.Partial("Producer/ViewOrganisation/_OrganisationDetailsTabs", Model)

        <div class="govuk-tabs__panel" id="organisationDetails">
            <h2 class="govuk-heading-m">
                @title
            </h2>
            @if (hasServiceOfNotice)
            {
                <table id="pcs-service-of-notice-details-table" class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" style="width: 30%;" scope="row">Address line 1</th>
                            <td class="govuk-table__cell">@Model.ServiceOfNoticeViewModel.Address.Address1</td>
                        </tr>

                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" style="width: 30%;" scope="row">Address line 2</th>
                            <td class="govuk-table__cell">@Model.ServiceOfNoticeViewModel.Address.Address2</td>
                        </tr>

                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" style="width: 30%;" scope="row">Town</th>
                            <td class="govuk-table__cell">@Model.ServiceOfNoticeViewModel.Address.TownOrCity</td>
                        </tr>

                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" style="width: 30%;" scope="row">County</th>
                            <td class="govuk-table__cell">@Model.ServiceOfNoticeViewModel.Address.CountyOrRegion</td>
                        </tr>

                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" style="width: 30%;" scope="row">Postcode</th>
                            <td class="govuk-table__cell">@Model.ServiceOfNoticeViewModel.Address.Postcode</td>
                        </tr>

                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" style="width: 30%;" scope="row">Country</th>
                            <td class="govuk-table__cell">@Model.ServiceOfNoticeViewModel.Address.CountryName</td>
                        </tr>

                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" style="width: 30%;" scope="row">Phone number</th>
                            <td class="govuk-table__cell">@Model.ServiceOfNoticeViewModel.Address.Telephone</td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <p class="govuk-body">
                    No service of notice details have been submitted yet. When service of notice details
                    have been submitted as part of a registration submission, they will appear here.
                </p>
            }


        </div>
        @if (Model.ShowReturnRegistrationToUser)
        {
            <div class="govuk-button-group govuk-!-padding-top-3">
                <a href="@Url.Action("ReturnProducerRegistration", new { registrationNumber = Model.RegistrationNumber, year = Model.Year })" class="govuk-button">
                    Return submission to user
                </a>
            </div>
        }
    </div>

    @(this.WeeeGds().BackToTopLink())
}