@using EA.Prsd.Core.Helpers
@using MvcNavigationHelpers
@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Web.Areas.Producer.ViewModels

@model OrganisationDetailsTabsViewModel

@{
    var @title = "Total EEE";
    ViewBag.Title = @title + " - GOV.UK";
}
@section full_main_content{
    <div class="govuk-tabs">
        @Html.Partial("Producer/ViewOrganisation/_OrganisationDetailsTabs", Model)

        <div class="govuk-tabs__panel" id="organisationDetails">
            <h1 class="govuk-heading-m">
                @title
            </h1>

            <table class="govuk-table category-row-no-break">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-text-align-left" style="width: 28%;">Category</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 18%; ">B2C Tonnes</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 19%; ">B2B Tonnes</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var category in Model.EditEeeDataViewModel.CategoryValues)
                    {
                        <tr class="govuk-table__row category-row-no-break" id="category-row-@category.CategoryId">
                            <td class="govuk-table__cell govuk-!-text-align-left govuk-!-padding-right-1 category-cell-no-break">
                                <div class="category">
                                    <span class="category-id" id="@category.CategoryId-label">@(@category.CategoryId).&nbsp;</span><span class="category-description">@category.CategoryDisplay</span>
                                </div>
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric printable-word-break category-cell-no-break">
                                @category.HouseHold
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric printable-word-break category-cell-no-break">
                                @category.NonHouseHold
                            </td>
                        </tr>
                    }
                    @if (@Model.EditEeeDataViewModel.SellingTechnique.IsDirectSelling || Model.EditEeeDataViewModel.SellingTechnique.IsIndirectSelling)
                    {
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-text-align-left" style="width: 28%;">Selling technique(s) that you use</th>
                            <td class="govuk-table__cell" colspan="2">
                                @Model.EditEeeDataViewModel.SellingTechnique.ToSellingTechniqueType().GetDisplayName()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        @if (Model.IsInternalAdmin)
        {
            <div>
                <p class="govuk-body">
                    @Html.ActionLink("Download as PDF", "DownloadSubmission", "ProducerSubmission", new { registrationNumber = Model.RegistrationNumber, complianceYear = Model.Year }, new { @class = "govuk-link" })
                </p>
            </div>
        }
        @if (!Model.IsInternalAdmin)
        {
            <div>
                <p class="govuk-body">
                    @Html.ActionLink("Download as PDF", "DownloadSubmission", "Producer", new { registrationNumber = Model.RegistrationNumber, complianceYear = Model.Year }, new { @class = "govuk-link" })
                </p>
            </div>
        }
        @if (Model.ShowReturnRegistrationToUser)
        {
            <div class="govuk-button-group govuk-!-padding-top-3">
                <a href="@Url.Action("ReturnProducerRegistration", new { registrationNumber = Model.RegistrationNumber, year = Model.Year })" class="govuk-button">
                    Return submission to user
                </a>
            </div>
        }
    </div>

    @(this.WeeeGds().BackToTopLink())
}
