@using System.Web.Mvc.Html
@using EA.Weee.Web.Controllers
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.ViewModels.Returns.SubmittedReturnViewModel
@{
    ViewBag.Title = "Submitted Return - GOV.UK";
}

<section id="main-content">
    <div class="govuk-!-padding-bottom-5"></div>
    <div class="govuk-panel govuk-panel--confirmation govuk-!-width-two-thirds">
        <h1 class="govuk-panel__title" style="font-size: 2.5rem;">
            You have successfully submitted your AATF return for @Model.Period
        </h1>
    </div>
    <div class="govuk-!-padding-bottom-5"></div>
    <div class="govuk-!-width-two-thirds">
        <p class="govuk-body">You can view a summary of your submission or make a resubmission from @Html.NavigationRouteLink("Manage AATF returns", "Manage AATF returns", AatfRedirect.ReturnsRouteName, new { controller = "Returns", action = "Index", organisationId = Model.OrganisationId })</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
            Your return has been submitted to your environmental regulator. You will be contacted if there are any queries.
        </p>
        <p class="govuk-body">
            @(this.WeeeGds().ActionLinkWithEventTracking("What did you think of this service?",
                        "What did you think of this service?",
                        Url.UrlFor<NewUserController>(c => c.Feedback()),
                        "Feedback",
                        "AATF return",
                        "Feedback link",
                        null,
                        true
                    ))
            (takes 30 seconds)
        </p>
        @using (Html.BeginForm("SignOut", "Account", new { area = string.Empty }, FormMethod.Post, new { id = "logout" }))
        {
            <p class="govuk-body">
                If you have completed all your activities you can

                @Html.AntiForgeryToken()
                @this.WeeeGds().CreateLinkButtonWithEventTracking("sign out", "AATF return", "Sign out", "Sign out")
                or proceed to perform more activities
            </p>
        }

    </div>

    @using (Html.BeginRouteForm(AatfRedirect.Default))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.OrganisationId)

        <div class="govuk-form-group">
            @this.WeeeGds().CreateButtonWithEventTracking("Perform another activity", "AATF return", "Perform another activity", "Perform another activity")
        </div>
    }
</section>