@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.SelectReportOptionsDeselectViewModel
@{
    ViewBag.Title = "Confirm removal of reporting options - GOV.UK";
}

<section id="main-content">
    <header class="hgroup">
        <h1 class="govuk-heading-l">Are you sure you want to remove these reporting options?</h1>
    </header>
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Any data entered against the options in the list will be deleted
                </strong>
            </div>
        </div>
    </div>

    <div class="govuk-!-padding-bottom-5"></div>
    <div class="govuk-body">
        @foreach (var deselectedOption in Model.ReportOnQuestions.Where(r => r.DeSelected))
        {
            <ol class="govuk-!-padding-left-0">
                @if (deselectedOption.AlternativeDescription != null)
                {
                    @deselectedOption.AlternativeDescription
                }
                else
                {
                    @deselectedOption.Title
                }
            </ol>
        }
    </div>
    @using (Html.BeginRouteForm(AatfRedirect.SelectReportOptionsDeselectRouteName, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.OrganisationId)
        @Html.HiddenFor(m => m.ReturnId)

        <div class="govuk-!-padding-bottom-3"></div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedValue)" id="WeeeRemoveOptions">
            @this.WeeeGds().RadioButtonsFor(
                m => m.SelectedValue,
                Model.DcfPossibleValues,
                "Confirm if this you want to remove these reporting options",
                RadioButtonLegend.VisuallyHidden,
                RadioButtonLayout.Inline)
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true">
            Save and continue
        </button>
    }
</section>