@using EA.Weee.Web.Areas.Admin.Controllers
@using MvcNavigationHelpers
@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Core.Helpers
@using EA.Weee.Core.Admin;
@model EA.Weee.Web.Areas.Admin.ViewModels.Aatf.DeleteViewModel
@{
    var facilityType = Model.FacilityType.ToDisplayString();

    if (Model.DeletionData.CanAatfBeDeletedFlags.HasFlag(CanAatfBeDeletedFlags.CanDelete))
    {
        ViewBag.Title = "Delete " + facilityType + " - GOV.UK";
    }
    else
    {
        ViewBag.Title = "Unable to delete this " + @facilityType + "- GOV.UK";
    }
}
<section id="main-content">

    @if (Model.DeletionData.CanAatfBeDeletedFlags.HasFlag(CanAatfBeDeletedFlags.IsNotLatest))
    {
        <header class="hgroup">
            <div>
                <h1 class="govuk-heading-l">Unable to delete this @facilityType</h1>
            </div>
        </header>
        <div>
            <p>
                This @facilityType can't be deleted because there is another record in a different compliance year
            </p>

            <p>
                <a class="govuk-button" href="@(Url.UrlFor<AatfController>(u => u.Details(Model.AatfId, null)))">Continue</a>
            </p>
        </div>
    }
    else if (Model.DeletionData.CanAatfBeDeletedFlags.HasFlag(CanAatfBeDeletedFlags.HasNotes) || Model.DeletionData.CanAatfBeDeletedFlags.HasFlag(CanAatfBeDeletedFlags.HasData))
    {
        <header class="hgroup">
            <div>
                <h1 class="govuk-heading-l">Unable to delete this @facilityType</h1>
            </div>
        </header>
        <div>
            <p>
                This @facilityType cannot be deleted due to having returns or evidence data
            </p>

            <p>
                <a class="govuk-button" href="@(Url.UrlFor<AatfController>(u => u.Details(Model.AatfId, null)))">Continue</a>
            </p>
        </div>
    }
    else if (!Model.DeletionData.CanAatfBeDeletedFlags.HasFlag(CanAatfBeDeletedFlags.CanDelete))
    {
        <header class="hgroup">
            <div>
                <h1 class="govuk-heading-l">Unable to delete this @facilityType</h1>
            </div>
        </header>
        <div>
            <p>
                This @facilityType can't be deleted because there is other data associated with it or the organisation that operates it
            </p>

            <p>
                <a class="govuk-button" href="@(Url.UrlFor<AatfController>(u => u.Details(Model.AatfId, null)))">Continue</a>
            </p>
        </div>

    }
    else
    {
        <header class="hgroup">
            <div>
                <h1 class="govuk-heading-l">Are you sure you want to delete this @facilityType?</h1>
            </div>
        </header>
        using (Html.BeginForm(actionName: "Delete", controllerName: "Aatf", method: FormMethod.Post))
        {

            if (Model.DeletionData.CanAatfBeDeletedFlags.HasFlag(CanAatfBeDeletedFlags.CanDelete)
                && Model.DeletionData.CanAatfBeDeletedFlags.HasFlag(CanAatfBeDeletedFlags.CanDeleteOrganisation))
            {
                <div>
                    @if (Model.DeletionData.CanOrganisationBeDeletedFlags.HasFlag(CanOrganisationBeDeletedFlags.HasActiveUsers))
                    {

                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-warning-text__assistive">Warning</span>
                                The organisation that operates this AATF has active users. If you delete the @facilityType these external users will no longer be able to see the @facilityType or the organisation.
                            </strong>
                        </div>
                    }
                    <p>
                        The @facilityType and the organisation that operates it will be deleted
                    </p>
                </div>
            }
            else if (Model.DeletionData.CanAatfBeDeletedFlags.HasFlag(CanAatfBeDeletedFlags.CanDelete))
            {
                <div>
                    @if (Model.DeletionData.CanOrganisationBeDeletedFlags.HasFlag(CanOrganisationBeDeletedFlags.HasActiveUsers))
                    {

                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-warning-text__assistive">Warning</span>
                                The organisation that operates this @facilityType has active users. If you delete the @facilityType these external users will no longer be able to see it.
                            </strong>
                        </div>
                    }
                    <p>
                        The @facilityType will be deleted and removed from any existing returns. The organisation that operates it will not be affected because it operates other AATFs, AEs or PCSs or because there are records or data for other compliance years.
                    </p>
                </div>
            }

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.AatfId)
            @Html.HiddenFor(m => m.OrganisationId)
            @Html.HiddenFor(m => m.DeletionData)
            @Html.HiddenFor(m => m.FacilityType)

            @(this.WeeeGds().Submit("Delete and continue"))

        }
    }
    <p>
        <a href="@(Url.Action("Details", new { area = "Admin", Id = Model.AatfId }))">Back</a>
    </p>
</section>