@using EA.Weee.Web.Areas.Admin.Controllers
@using EA.Weee.Web.Areas.Admin.ViewModels.Home
@using MvcNavigationHelpers
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Aatf.AatfDetailsViewModel
@{
    ViewBag.Title = "View AATF details - GOV.UK";
}

<div class="govuk-grid-row">
    <section class="govuk-grid-column-full" id="main-content">
        <header class="hgroup">
            <h1 class="govuk-heading-l"> @Model.Name</h1>
        </header>
    </section>
</div>

<div class="govuk-tabs" data-module="tabs">
    <h2 class="govuk-tabs__title">
        Contents
    </h2>

    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#aatfDetails">
                AATF details
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data">
                Data
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#organisationDetails">
                Organisation details
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#contactDetails">
                Contact details
            </a>
        </li>
    </ul>

    <section class="govuk-tabs__panel" id="aatfDetails">
        <table class="govuk-table">
            <thead>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header--large">AATF details</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td>&nbsp;</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Name of AATF</th>
                    <td class="govuk-table__cell">@Model.Name</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Site address</th>
                    <td class="govuk-table__cell">
                        @Model.SiteAddress.Address1<br />
                        @Model.SiteAddress.Address2<br />
                        @Model.SiteAddress.TownOrCity<br />
                        @Model.SiteAddress.CountyOrRegion<br />
                        @Model.SiteAddress.Postcode<br />
                        @Model.SiteAddress.CountryName<br />
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Approval number</th>
                    <td class="govuk-table__cell">@Model.ApprovalNumber</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Appropriate authority</th>
                    <td class="govuk-table__cell">
                        @Model.CompetentAuthority.Abbreviation <br />
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Status</th>
                    <td class="govuk-table__cell">@Model.AatfStatus</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Size</th>
                    <td class="govuk-table__cell">@Model.Size</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Approval date</th>
                    <td class="govuk-table__cell">@Model.ApprovalDateString</td>
                </tr>
            </tbody>
        </table>
        @if (Model.CanEdit)
        {
            <p>
                <a href="@(Url.UrlFor<AatfController>(a => a.ManageAatfDetails(Model.Id)))">Edit AATF details</a>
            </p>
        }
    </section>
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="data">
        <table class="govuk-table">
            <thead>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header--large">Data</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td>&nbsp;</td>
                </tr>
                <tr class="govuk-table__row">
                    <td>
                        <h2 class="govuk-table__header">
                            AATF data returns
                        </h2>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="organisationDetails">
        <table class="govuk-table">
            <thead>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header--large">Organisation details</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td>&nbsp;</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Company name</th>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Trading name</th>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Company registration number</th>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Address</th>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Telephone</th>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Email address</th>
                    <td class="govuk-table__cell"></td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="contactDetails">
        <table class="govuk-table">
            <thead>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header--large">Contact details</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td>&nbsp;</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Name</th>
                    <td class="govuk-table__cell">@(Model.ContactData.FirstName + " " + Model.ContactData.LastName)</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Position</th>
                    <td class="govuk-table__cell">@Model.ContactData.Position</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Address</th>
                    <td class="govuk-table__cell">
                        @Model.ContactData.AddressData.Address1<br />
                        @Model.ContactData.AddressData.Address2<br />
                        @Model.ContactData.AddressData.TownOrCity<br />
                        @Model.ContactData.AddressData.CountyOrRegion<br />
                        @Model.ContactData.AddressData.Postcode<br />
                        @Model.ContactData.AddressData.CountryName<br />
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Telephone</th>
                    <td class="govuk-table__cell">@Model.ContactData.Telephone</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Email</th>
                    <td class="govuk-table__cell">@Model.ContactData.Email</td>
                </tr>
            </tbody>
        </table>

        @if (Model.CanEdit)
        {
            <p>
                <a href="@(Url.UrlFor<AatfController>(a => a.ManageContactDetails(Model.Id)))">Edit contact details</a>
            </p>
        }
    </section>

    <div>&nbsp;</div>
    <p>
        <a href="@(Url.UrlFor<AatfController>(u => u.ManageAatfs()))">Back</a>
    </p>
</div>