@using EA.Weee.Web.Areas.Admin.Controllers
@using EA.Weee.Web.Areas.Admin.ViewModels.Home
@using MvcNavigationHelpers
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Core.Helpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Aatf.AatfDetailsViewModel
@{
    ViewBag.Title = "View " + Model.FacilityType.ToDisplayString() +  " details - GOV.UK";
}

<div class="govuk-grid-row">
    <section class="govuk-grid-column-full" id="main-content">
        <header class="hgroup">
            <h1 class="govuk-heading-l" style="word-break:break-all"> @Model.Name</h1>
        </header>
    </section>
</div>

<div class="govuk-tabs" data-module="tabs">
    <h2 class="govuk-tabs__title">
        Contents
    </h2>

    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#aatfDetails">
                @Model.FacilityType.ToDisplayString() details
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data">
                Data
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#organisationDetails">
                Organisation details
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#contactDetails">
                Contact details
            </a>
        </li>
    </ul>

    <section class="govuk-tabs__panel" id="aatfDetails">
        <div class="govuk-table__header--large">
            @Model.FacilityType.ToDisplayString() details
        </div>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td>&nbsp;</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Name of  @Model.FacilityType.ToDisplayString()</th>
                    <td class="govuk-table__cell" style="word-break:break-all">@Model.Name</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Site address</th>
                    <td class="govuk-table__cell">
                        @Html.Raw(Model.SiteAddressLong.Replace("\r\n", "<br />"))
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Approval number</th>
                    <td class="govuk-table__cell">@Model.ApprovalNumber</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Appropriate authority</th>
                    <td class="govuk-table__cell">
                        @Model.CompetentAuthority.Abbreviation <br />
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Status</th>
                    <td class="govuk-table__cell">@Model.AatfStatus</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Size</th>
                    <td class="govuk-table__cell">@Model.Size</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Approval date</th>
                    <td class="govuk-table__cell">@Model.ApprovalDateString</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Compliance Year</th>
                    <td class="govuk-table__cell">@Model.ComplianceYear</td>
                </tr>
            </tbody>
        </table>
        @if (Model.CanEdit)
        {
            <p>
                <a href="@(Url.UrlFor<AatfController>(a => a.ManageAatfDetails(Model.Id)))">Edit  @Model.FacilityType.ToDisplayString() details</a>
            </p>
        }
    </section>
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="data">
        <div class="govuk-table__header--large">
            Data
        </div>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td>&nbsp;</td>
                </tr>
                <tr class="govuk-table__row">
                    <td>
                        <h2 class="govuk-table__header">
                            AATF data returns
                        </h2>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="organisationDetails">
        <div class="govuk-table__header--large">
            Organisation details
        </div>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td>&nbsp;</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Organisation type</th>
                    <td class="govuk-table__cell">
                        @if (Model.Organisation.OrganisationType == EA.Weee.Core.Organisations.OrganisationType.SoleTraderOrIndividual)
                        {
                            @:Sole trader or individual
                        }
                        else if (Model.Organisation.OrganisationType == EA.Weee.Core.Organisations.OrganisationType.Partnership)
                        {
                            @:Partnership
                        }
                        else if (Model.Organisation.OrganisationType == EA.Weee.Core.Organisations.OrganisationType.RegisteredCompany)
                        {
                            @:Registered company
                        }
                    </td>
                </tr>
                @if (Model.Organisation.OrganisationType == EA.Weee.Core.Organisations.OrganisationType.RegisteredCompany)
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Company name</th>
                        <td class="govuk-table__cell">@Model.Organisation.Name</td>
                    </tr>
                }
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Business trading name</th>
                    <td class="govuk-table__cell">@Model.Organisation.TradingName</td>
                </tr>
                @if (Model.Organisation.OrganisationType == EA.Weee.Core.Organisations.OrganisationType.RegisteredCompany)
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Company registration number (CRN)</th>
                        <td class="govuk-table__cell">@Model.Organisation.CompanyRegistrationNumber</td>
                    </tr>
                }
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Address</th>
                    <td class="govuk-table__cell">
                        @Html.Raw(Model.OrganisationAddress.Replace("\r\n", "<br />"))
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Telephone</th>
                    <td class="govuk-table__cell">@Model.Organisation.BusinessAddress.Telephone</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Email address</th>
                    <td class="govuk-table__cell">@Model.Organisation.BusinessAddress.Email</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="contactDetails">
        <div class="govuk-table__header--large">
            Contact details
        </div>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td>&nbsp;</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Name</th>
                    <td class="govuk-table__cell">@(Model.ContactData.FirstName + " " + Model.ContactData.LastName)</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Position</th>
                    <td class="govuk-table__cell">@Model.ContactData.Position</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Address</th>
                    <td class="govuk-table__cell">
                        @Html.Raw(Model.ContactAddressLong.Replace("\r\n", "<br />"))
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Telephone</th>
                    <td class="govuk-table__cell">@Model.ContactData.Telephone</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Email</th>
                    <td class="govuk-table__cell">@Model.ContactData.Email</td>
                </tr>
            </tbody>
        </table>

        @if (Model.CanEdit)
        {
            <p>
                <a href="@(Url.UrlFor<AatfController>(a => a.ManageContactDetails(Model.Id, Model.FacilityType)))">Edit contact details</a>
            </p>
        }
    </section>

    <table class="govuk-table">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td>&nbsp;</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header aatf-details-associated-table-header-title" scope="col" style="width: 30%">This organisation also operates</th>
                @if (Model.AssociatedAatfs.Any())
                {
                    <td class="govuk-table__cell aatf-details-associated-table-cell-title">
                        AATF
                    </td>
                }
            </tr>
            @foreach (var aatf in Model.AssociatedAatfs)
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header aatf-details-associated-table-header" scope="col"></th>
                    <td class="govuk-table__cell aatf-details-associated-table-cell">
                        @Html.ActionLink(aatf.Name, "Details", "Aatf", new { id = aatf.Id }, new { })
                    </td>
                </tr>
            }
            @if (Model.AssociatedAEs.Any())
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header aatf-details-associated-table-header-title" scope="col"></th>
                    <td class="govuk-table__cell aatf-details-associated-table-cell-title">
                        AE
                    </td>
                </tr>
            }
            @foreach (var aatf in Model.AssociatedAEs)
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header aatf-details-associated-table-header" scope="col"></th>
                    <td class="govuk-table__cell aatf-details-associated-table-cell">
                        @Html.ActionLink(aatf.Name, "Details", "Aatf", new { id = aatf.Id }, new { })
                    </td>
                </tr>
            }
            @if (Model.AssociatedSchemes.Any())
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header aatf-details-associated-table-header-title" scope="col"></th>
                    <td class="govuk-table__cell aatf-details-associated-table-cell-title">
                        PCS
                    </td>
                </tr>
            }
            @foreach (var scheme in Model.AssociatedSchemes)
            {
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col" style="border-bottom: 5px"></th>
                    <td class="govuk-table__cell aatf-details-associated-table-cell">
                        @Html.ActionLink(scheme.SchemeName, "Overview", "Scheme", new { schemeId = scheme.Id }, new { })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>&nbsp;</div>
    <p>
        <a href="@(Url.UrlFor<AatfController>(u => u.ManageAatfs(Model.FacilityType)))">Back</a>
    </p>
</div>