@using EA.Weee.Core.AatfReturn
@using EA.Weee.Web.Areas.Admin.Controllers
@using MvcNavigationHelpers
@using EA.Weee.Core.Helpers
@using EA.Weee.Core.Organisations
@model EA.Weee.Web.Areas.Admin.ViewModels.Aatf.AatfDetailsViewModel
@{
    ViewBag.Title = "View " + Model.FacilityType.ToDisplayString() + " details - GOV.UK";
}

<div class="govuk-grid-row">
    <section class="govuk-grid-column-full" id="main-content">
        <header class="hgroup">
            <h1 class="govuk-heading-l" style="word-break: break-word"> @Model.Name</h1>
        </header>
    </section>
</div>

<div class="govuk-tabs" data-module="tabs">
    <h2 class="govuk-tabs__title">
        Contents
    </h2>

    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#aatfDetails">
                @Model.FacilityType.ToDisplayString() details
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#data">
                Data
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#organisationDetails">
                Organisation details
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#contactDetails">
                Contact details
            </a>
        </li>
    </ul>

    <section class="govuk-tabs__panel" id="aatfDetails">
        <div class="govuk-table__header--large">
            @Model.FacilityType.ToDisplayString() details
        </div>
        @if (Model.CanEdit)
        {
            <div style="float:right" hidden="hidden">
                <a href="@(Url.UrlFor<AatfController>(a => a.Delete(Model.Id, Model.Organisation.Id, Model.FacilityType)))">Delete  @Model.FacilityType.ToDisplayString()</a>
            </div>
        }
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-!-width-one-half">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Name of  @Model.FacilityType.ToDisplayString()</th>
                    <td class="govuk-table__cell" style="word-break: break-word">@Model.Name</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">@Model.AddressHeadingName</th>
                    <td class="govuk-table__cell">
                        @Html.Raw(Model.SiteAddressLong.Replace("\r\n", "<br />"))
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Approval number</th>
                    <td class="govuk-table__cell">@Model.ApprovalNumber</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Appropriate authority</th>
                    <td class="govuk-table__cell">
                        @Model.CompetentAuthority.Abbreviation <br />
                    </td>
                </tr>
                @if (Model.HasPatArea)
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">WROS pan area team</th>
                        <td class="govuk-table__cell">
                            @Model.PanArea.Name <br />
                        </td>
                    </tr>
                }
                @if (Model.HasLocalArea)
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">EA area</th>
                        <td class="govuk-table__cell">
                            @Model.LocalArea.Name <br />
                        </td>
                    </tr>
                }
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Status</th>
                    <td class="govuk-table__cell">@Model.AatfStatus</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Size</th>
                    <td class="govuk-table__cell">@Model.Size</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Approval date</th>
                    <td class="govuk-table__cell">@Model.ApprovalDateString</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Compliance year</th>
                    <td class="govuk-table__cell">@Model.ComplianceYear</td>
                </tr>
            </tbody>
        </table>
        @if (Model.CanEdit)
        {
            <p>
                <a href="@(Url.UrlFor<AatfController>(a => a.ManageAatfDetails(Model.Id)))">Edit  @Model.FacilityType.ToDisplayString() details</a>
            </p>
        }
    </section>
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="data">
        <div class="govuk-table__header--large">
            @Model.FacilityType.ToDisplayString() data returns
        </div>

        @if (Model.HasSubmissionData)
        {
            if (Model.FacilityType.Equals(FacilityType.Aatf))
            {
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-visually-hidden">Submission history</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" style="text-align: left" scope="col">Year</th>
                            <th class="govuk-table__header" style="text-align: left" scope="col">Quarter</th>
                            <th class="govuk-table__header" style="text-align: right" scope="col">Total obligated (B2C) (tonnes)</th>
                            <th class="govuk-table__header" style="text-align: right" scope="col">Total obligated (B2B) (tonnes)</th>
                            <th class="govuk-table__header" scope="col">Submitted date (GMT)</th>
                            <th class="govuk-table__header" scope="col">Submitted by</th>
                            <th class="govuk-table__header" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                        @for (var returnCount = 0; returnCount < Model.SubmissionHistoryData.Count; returnCount++)
                        {
                            var item = Model.SubmissionHistoryData[returnCount];

                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" style="text-align: left">@item.ComplianceYear</td>
                                <td class="govuk-table__cell" style="text-align: left">@item.Quarter.ToDisplayString()</td>
                                <td class="govuk-table__cell break-word" style="text-align: right">@item.ObligatedTotal</td>
                                <td class="govuk-table__cell break-word" style="text-align: right">@item.NonObligatedTotal</td>
                                <td class="govuk-table__cell">@item.SubmittedDate</td>
                                <td class="govuk-table__cell">@item.SubmittedBy</td>
                                <td class="govuk-table__cell"> <a href="@(Url.UrlFor<AdminHoldingController>(u => u.Index()))">Download</a> </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-visually-hidden">Submission history</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" style="text-align: left" scope="col">Year</th>
                            <th class="govuk-table__header" style="text-align: left" scope="col">Quarter</th>
                            <th class="govuk-table__header" scope="col">Submitted date (GMT)</th>
                            <th class="govuk-table__header" scope="col">Submitted by</th>
                            <th class="govuk-table__header" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                        @for (var returnCount = 0; returnCount < Model.SubmissionHistoryData.Count; returnCount++)
                        {
                            var item = Model.SubmissionHistoryData[returnCount];

                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" style="text-align: left">@item.ComplianceYear</td>
                                <td class="govuk-table__cell" style="text-align: left">@item.Quarter.ToDisplayString()</td>
                                <td class="govuk-table__cell">@item.SubmittedDate</td>
                                <td class="govuk-table__cell">@item.SubmittedBy</td>
                                <td class="govuk-table__cell"> <a href="@(Url.UrlFor<AdminHoldingController>(u => u.Index()))">Download</a> </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
        else
        {
            <p>No @Model.FacilityType.ToDisplayString() submission history </p>
        }

    </section>
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="organisationDetails">
        <div class="govuk-table__header--large">
            Organisation details
        </div>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-!-width-one-half">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Organisation type</th>
                    <td class="govuk-table__cell">
                        @if (Model.Organisation.OrganisationType == EA.Weee.Core.Organisations.OrganisationType.SoleTraderOrIndividual)
                        {
                            @:Sole trader or individual
                        }
                        else if (Model.Organisation.OrganisationType == EA.Weee.Core.Organisations.OrganisationType.Partnership)
                        {
                            @:Partnership
                        }
                        else if (Model.Organisation.OrganisationType == EA.Weee.Core.Organisations.OrganisationType.RegisteredCompany)
                        {
                            @:Registered company
                        }
                    </td>
                </tr>
                @if (Model.Organisation.OrganisationType == EA.Weee.Core.Organisations.OrganisationType.RegisteredCompany)
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Company name</th>
                        <td class="govuk-table__cell">@Model.Organisation.Name</td>
                    </tr>
                }
                else if (Model.Organisation.OrganisationType == EA.Weee.Core.Organisations.OrganisationType.SoleTraderOrIndividual)
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Sole trader / individual name</th>
                        <td class="govuk-table__cell">@Model.Organisation.Name</td>
                    </tr>
                }
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Business trading name</th>
                    <td class="govuk-table__cell">@Model.Organisation.TradingName</td>
                </tr>
                @if (Model.Organisation.OrganisationType == EA.Weee.Core.Organisations.OrganisationType.RegisteredCompany)
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Company registration number (CRN)</th>
                        <td class="govuk-table__cell">@Model.Organisation.CompanyRegistrationNumber</td>
                    </tr>
                }
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Address</th>
                    <td class="govuk-table__cell">
                        @Html.Raw(Model.OrganisationAddress.Replace("\r\n", "<br />"))
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Telephone</th>
                    <td class="govuk-table__cell">@Model.Organisation.BusinessAddress.Telephone</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Email address</th>
                    <td class="govuk-table__cell">@Model.Organisation.BusinessAddress.Email</td>
                </tr>
                @if (Model.HasAnyRelatedEntities)
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header aatf-details-associated-table-header-title govuk-!-width-one-half" scope="col" style="vertical-align: text-top">
                            This organisation also operates
                        </th>
                        <td>
                            <table>
                                <tbody>
                                    @if (Model.AssociatedAatfs.Any())
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell aatf-details-associated-table-cell-title">AATF</td>
                                        </tr>
                                        foreach (var aatf in Model.AssociatedAatfs)
                                        {
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell aatf-details-associated-table-cell" style="word-break: break-all">
                                                    @Html.ActionLink(aatf.Name, "Details", "Aatf", new { id = aatf.Id }, new { })
                                                </td>
                                            </tr>
                                        }
                                    }

                                    @if (Model.AssociatedAes.Any())
                                    {
                                        if (Model.AssociatedAatfs.Any())
                                        {
                                            <tr class="govuk-table__row">
                                                <td>
                                                    <br />
                                                </td>
                                            </tr>
                                        }
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell aatf-details-associated-table-cell-title">AE</td>
                                        </tr>
                                        foreach (var ae in Model.AssociatedAes)
                                        {
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell aatf-details-associated-table-cell" style="word-break: break-all">
                                                    @Html.ActionLink(ae.Name, "Details", "Aatf", new { id = ae.Id }, new { })
                                                </td>
                                            </tr>
                                        }
                                    }

                                    @if (Model.AssociatedSchemes.Any())
                                    {
                                        if (Model.AssociatedAes.Any() || Model.AssociatedAatfs.Any())
                                        {
                                            <tr class="govuk-table__row">
                                                <td>
                                                    <br />
                                                </td>
                                            </tr>
                                        }
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell aatf-details-associated-table-cell-title">PCS</td>
                                        </tr>
                                        foreach (var scheme in Model.AssociatedSchemes)
                                        {
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell aatf-details-associated-table-cell" style="word-break: break-all">
                                                    @Html.ActionLink(scheme.Name, "Overview", "Scheme", new { schemeId = scheme.Id }, null)
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Model.CanEdit)
        {
            <p>
                @if (Model.Organisation.OrganisationType == OrganisationType.RegisteredCompany)
                {
                    <a href="@(Url.UrlFor<EditOrganisationController>(a => a.EditRegisteredCompanyOrganisationDetails(null, Model.Organisation.Id, Model.Id, Model.FacilityType)))">Edit organisation details</a>
                }
                else if (Model.Organisation.OrganisationType == OrganisationType.SoleTraderOrIndividual)
                {
                    <a href="@(Url.UrlFor<EditOrganisationController>(a => a.EditSoleTraderOrganisationDetails(null, Model.Organisation.Id, Model.Id, Model.FacilityType)))">Edit organisation details</a>
                }
                else
                {
                    <a href="@(Url.UrlFor<EditOrganisationController>(a => a.EditPartnershipOrganisationDetails(null, Model.Organisation.Id, Model.Id, Model.FacilityType)))">Edit organisation details</a>
                }
            </p>
        }
    </section>
    <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="contactDetails">
        <div class="govuk-table__header--large">
            Contact details
        </div>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-!-width-one-half">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Name</th>
                    <td class="govuk-table__cell">@(Model.ContactData.FirstName + " " + Model.ContactData.LastName)</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Position</th>
                    <td class="govuk-table__cell">@Model.ContactData.Position</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Address</th>
                    <td class="govuk-table__cell">
                        @Html.Raw(Model.ContactAddressLong.Replace("\r\n", "<br />"))
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Telephone</th>
                    <td class="govuk-table__cell">@Model.ContactData.Telephone</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Email</th>
                    <td class="govuk-table__cell">@Model.ContactData.Email</td>
                </tr>
            </tbody>
        </table>

        @if (Model.CanEdit)
        {
            <p>
                <a href="@(Url.UrlFor<AatfController>(a => a.ManageContactDetails(Model.Id, Model.FacilityType)))">Edit contact details</a>
            </p>
        }
    </section>
    <div>&nbsp;</div>
    <p>
        <a class="govuk-button" href="@(Url.UrlFor<HomeController>(a => a.ChooseActivity()))">Perform another activity</a>
    </p>
    <p>
        <a href="@(Url.UrlFor<AatfController>(u => u.ManageAatfs(Model.FacilityType)))">Back</a>
    </p>
</div>