@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@using EA.Weee.Web.Areas.Scheme.ViewModels
@using EA.Weee.Web.Areas.Admin.Controllers
@using MvcNavigationHelpers
@using EA.Weee.Core.Helpers
@model EA.Weee.Web.ViewModels.Shared.Aatf.AatfEditContactAddressViewModel
@{
    var title = "Edit " + Model.AatfData.FacilityType.ToDisplayString() + " contact details";
    ViewBag.Title = title + " - GOV.UK";
}

    <section id="main-content">
        <h1 class="govuk-heading-l">@title</h1>
        <p>Make sure you update the contact details for the correct compliance year(s)</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.Gds().ValidationSummary()
            @Html.HiddenFor(m => m.ContactData.Id)
            @Html.HiddenFor(m => m.AatfData.FacilityType)
            @Html.HiddenFor(m => m.AatfData.Id)
            @Html.HiddenFor(m => m.Id)
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <Label class="govuk-label form-label">
                        Compliance year: @Model.AatfData.ComplianceYear
                    </Label>
                </div>
            </div>
            <br />

            @Html.EditorFor(m => m.ContactData)

            <div class="govuk-!-padding-bottom-6"></div>
            <button type="submit" name="save" class="govuk-button" id="site-details" data-module="govuk-button" >
                Save and continue
            </button>
            <div class="govuk-!-padding-bottom-6"></div>
            <p>
                <a href="@(Url.Action("Details", new { area = "Admin", Id = Model.Id }) + "#contactDetails")">Back</a>
            </p>
        }
    </section>