@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.Helpers
@using EA.Weee.Core.Shared
@using EA.Weee.Web.Areas.Admin.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Aatf.ManageAatfsViewModel
@{
    ViewBag.Title = "Manage AATFs - GOV.UK";
}

@section scripts{
    <script>
        $('#idManageAatfsTable tr').click(function () {
            $(this).find('td input[type=radio]').prop('checked', true);
        })
    </script>
}
<header class="hgroup">
    <h1 class="govuk-heading-l">
        Manage AATFs
    </h1>
</header>
@using (Html.BeginForm(actionName: "ManageAatfs", controllerName: "Aatf", method: FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    <div class="table-hr"></div>
    <table id="idManageAatfsTable" class="govuk-table prsd-table hover-effect">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Name of AATF</th>
                <th class="govuk-table__header" scope="col">Approval number</th>
                <th class="govuk-table__header" scope="col">Appropriate authority</th>
                <th class="govuk-table__header" scope="col">Status</th>
                <th class="govuk-table__header" style="padding-right: 20px;" scope="col">Select</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var aatf in Model.AatfDataList)
            {
                <tr>
                    <td class="govuk-table__cell" width="100%">@aatf.Name</td>
                    <td class="govuk-table__cell">@aatf.ApprovalNumber</td>
                    <td class="govuk-table__cell">@aatf.CompetentAuthority.Abbreviation</td>
                    <td class="govuk-table__cell">@aatf.AatfStatusString</td>
                    <td class="govuk-table__cell">@Html.RadioButtonFor(m => m.Selected, @aatf.Id)</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    @(this.WeeeGds().Submit("Continue"))

    if (Model.CanAddAatf)
    {
        <p>
            <a href="@(Url.UrlFor<AddAatfController>(u => u.Search()))">Add AATF</a>
        </p>
    }
}