@using EA.Weee.Core.DataStandards
@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.Areas.Admin.ViewModels.Aatf
@model AatfEditDetailsViewModel
@{
    ViewBag.Title = "Edit AATF details - GOV.UK";
}

<section id="main-content">
    <h1 class="govuk-heading-l">Manage AATF details</h1>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.Id)

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Name)">
                    @Html.Gds().LabelFor(m => m.Name)
                    @Html.Gds().ValidationMessageFor(m => m.Name)
                    @Html.Gds().TextBoxFor(m => m.Name, new { @class = "govuk-!-width-one-third", @maxlength = AatfEditDetailsViewModel.MaxLengthName })
                </div>

                @Html.EditorFor(m => m.SiteAddress)

                <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.ApprovalNumber)">
                    @Html.Gds().LabelFor(m => m.ApprovalNumber)
                    @Html.Gds().ValidationMessageFor(m => m.ApprovalNumber)
                    @Html.Gds().TextBoxFor(m => m.ApprovalNumber, new { @class = "govuk-!-width-one-third", @maxlength = AatfEditDetailsViewModel.MaxLengthApprovalNumber })
                </div>

                <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.CompetentAuthority)">
                    @Html.Gds().LabelFor(m => m.CompetentAuthority)
                    @Html.Gds().ValidationMessageFor(m => m.CompetentAuthority)
                    @Html.EnumDropDownListFor(m => m.CompetentAuthority, new { @class = "govuk-!-width-one-third govuk-input" })
                </div>

                <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.AatfStatus)">
                    @Html.Gds().LabelFor(m => m.AatfStatus)
                    @Html.Gds().ValidationMessageFor(m => m.AatfStatus)
                    @Html.EnumDropDownListFor(m => m.AatfStatus, new { @class = "govuk-!-width-one-third govuk-input" })
                </div>

                <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Size)">
                    @Html.Gds().LabelFor(m => m.Size)
                    @Html.Gds().ValidationMessageFor(m => m.Size)
                    @Html.EnumDropDownListFor(m => m.Size, new { @class = "govuk-!-width-one-third govuk-input" })
                </div>

                <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.ApprovalDate)">
                    @Html.Gds().LabelFor(m => m.ApprovalDate)
                    @Html.Gds().ValidationMessageFor(m => m.ApprovalDate)
                    @Html.Gds().TextBoxFor(m => m.ApprovalDate, new { @class = "govuk-!-width-one-third" })
                </div>
            </div>
        </div>

        <div class="govuk-!-padding-bottom-6"></div>
        <button type="submit" name="save" class="govuk-button" id="site-details">
            Save and continue
        </button>
        <div class="govuk-!-padding-bottom-6"></div>
        <p>
            <a href="@(Url.Action("Details", new { area = "Admin", Id = Model.Id }))">Back</a>
        </p>
    }
</section>