@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.Areas.Admin.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@using EA.Weee.Core.Helpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Aatf.ManageAatfsViewModel
@{
    ViewBag.Title = "Manage " + Model.FacilityType.ToDisplayString() + " - GOV.UK";
}

@section scripts{
    <script>
        $('#idManageAatfsTable tr').click(function () {
            $(this).find('td input[type=radio]').prop('checked', true);
        })
    </script>
}

<header class="hgroup">
    <h1 class="govuk-heading-l">
        Manage @Model.FacilityType.ToDisplayString()
    </h1>
</header>
@using (Html.BeginForm(actionName: "ApplyFilter", controllerName: "Aatf", method: FormMethod.Post))
{
    <div class="aatf-filter">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Filter.FacilityType)
        <label class="govuk-label">Filter by:</label>
        <br />
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td>
                        <div class="govuk-label form-label">Name of @Model.FacilityType.ToDisplayString()</div>
                        @Html.TextBoxFor(m => m.Filter.Name, new { @class = "govuk-!-width-three-quarters form-control govuk-input" })
                    </td>
                    <td>
                        @Html.Gds().LabelFor(m => m.Filter.ApprovalNumber, false)
                        @Html.TextBoxFor(m => m.Filter.ApprovalNumber, new { @class = "govuk-!-width-three-quarters form-control govuk-input" })
                    </td>
                </tr>
            </tbody>
        </table>

        @(this.WeeeGds().Submit("Apply"))
    </div>
}

@using (Html.BeginForm(actionName: "ManageAatfs", controllerName: "Aatf", method: FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.Filter.Name)
    @Html.HiddenFor(m => m.Filter.ApprovalNumber)
    @Html.HiddenFor(m => m.Filter.FacilityType)
    @Html.HiddenFor(m => m.FacilityType)
    <div class="table-hr"></div>
    <table id="idManageAatfsTable" class="govuk-table prsd-table hover-effect">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Name of @Model.FacilityType.ToDisplayString()</th>
                <th class="govuk-table__header" scope="col">Approval number</th>
                <th class="govuk-table__header" scope="col">Appropriate authority</th>
                <th class="govuk-table__header" scope="col">Status</th>
                <th class="govuk-table__header" style="padding-right: 20px;" scope="col">Select</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var aatf in Model.AatfDataList)
            {
                <tr>
                    <td style="word-break:break-all" class="govuk-table__cell">@aatf.Name</td>
                    <td class="govuk-table__cell">@aatf.ApprovalNumber</td>
                    <td class="govuk-table__cell">@aatf.CompetentAuthority.Abbreviation</td>
                    <td class="govuk-table__cell">@aatf.AatfStatusString</td>
                    <td class="govuk-table__cell">@Html.RadioButtonFor(m => m.Selected, @aatf.Id)</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    @(this.WeeeGds().Submit("Continue"))

    if (Model.CanAddAatf)
    {
        <p>
            <a href="@(Url.UrlFor<AddAatfController>(u => u.Search(Model.FacilityType)))">Add @Model.FacilityType.ToDisplayString()</a>
        </p>
    }
}