@using EA.Prsd.Core.Domain
@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.AatfReturn
@using EA.Weee.Web.Areas.Admin.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@using EA.Weee.Core.Helpers
@using EA.Weee.Core.Shared

@model EA.Weee.Web.Areas.Admin.ViewModels.Aatf.ManageAatfsViewModel
@{
    var type = Model.FacilityType.ToDisplayString();
    ViewBag.Title = "Which " + type + " would you like to manage? - GOV.UK";
}

@section scripts{
    <script>
        $('#idManageAatfsTable tr').click(function () {
            $(this).find('td input[type=radio]').prop('checked', true);
        })
    </script>
}

<style>
    .prsd-table thead th {
        padding-left: 10px;
    }

    .prsd-table tbody td {
        padding-left: 10px;
    }

   
</style>

<header class="hgroup">
    <h1 class="govuk-heading-l">
        @Html.Raw("Which " + @Model.FacilityType.ToDisplayString() + " would you like to manage?")
    </h1>
</header>
@using (Html.BeginForm(actionName: "ApplyFilter", controllerName: "Aatf", method: FormMethod.Post))
{
<div class="filter">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Filter.FacilityType)
    <div class="govuk-label">Filter by:</div>
    <br />
    <table class="govuk-table">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td>
                    <Label class="govuk-label form-label" for="Filter_Name">Name of @Model.FacilityType.ToDisplayString()</Label>
                    @Html.TextBoxFor(m => m.Filter.Name, new { @class = "govuk-!-width-three-quarters form-control govuk-input" })
                </td>
                <td>
                    @Html.Gds().LabelFor(m => m.Filter.ApprovalNumber, false)
                    @Html.TextBoxFor(m => m.Filter.ApprovalNumber, new { @class = "govuk-!-width-three-quarters form-control govuk-input" })
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr class="govuk-table__row">
                <td>
                    <table>
                        <tr class="govuk-table__row">
                            <td><Label class="govuk-label form-label" for="Appropriate authority_Name">Appropriate authority</Label></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td>
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-visually-hidden">
                                            select @Model.FacilityType.ToString() appropriate authority
                                        </legend>
                                        <span id="aatf-appropriate-authority" class="govuk-hint govuk-visually-hidden">
                                            Select all that apply.
                                        </span>
                                        <div class="govuk-checkboxes">
                                            @for (var i = 0; i < Model.Filter.CompetentAuthorityOptions.Count; i++)
                                            {

                                                <div class="govuk-checkboxes__item" style="display: inline-block; width: 25%;">
                                                    @{
                                                        var id = "Filter_CompetentAuthorityOptions_" + @i + "__Selected";
                                                        var name = "Filter.CompetentAuthorityOptions[" + @i + "].Selected";
                                                        var isChecked = Model.Filter.SelectedAuthority.Contains(Model.Filter.CompetentAuthorityOptions[i].Id) ? "checked" : "";
                                                    }

                                                    <input class="govuk-checkboxes__input govuk-checkboxes__input_opacity" id="@id" name="@name" type="checkbox" value="true" @isChecked>

                                                    <label class="govuk-label govuk-checkboxes__label" for="@id">
                                                        @Model.Filter.CompetentAuthorityOptions[i].Abbreviation
                                                        &nbsp;
                                                    </label>
                                                    <input name="@name" type="hidden" value="false">
                                                </div>
                                                @Html.HiddenFor(m => @Model.Filter.CompetentAuthorityOptions[i].Id)
                                                @Html.HiddenFor(m => @Model.Filter.CompetentAuthorityOptions[i].Abbreviation)
                                                @Html.HiddenFor(m => @Model.Filter.CompetentAuthorityOptions[i].Name)
                                            }
                                        </div>
                                    </fieldset>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr class="govuk-table__row">
                            <td><Label class="govuk-label form-label" for="Status_Name">Status</Label></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td>
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset" aria-describedby="aatf-status">
                                        <legend class="govuk-fieldset__legend govuk-visually-hidden">
                                            select @Model.FacilityType.ToString() status
                                        </legend>
                                        <span id="aatf-status" class="govuk-hint govuk-visually-hidden">
                                            Select all that apply.
                                        </span>
                                        <div class="govuk-checkboxes" style="display: inline-block;">
                                            <div class="govuk-checkboxes__item" style="display: inline-block; width: 25%;">
                                                @{
                                                    var approvedChecked = Model.Filter.SelectApproved ? "checked" : "";
                                                }
                                                <input @approvedChecked class="govuk-checkboxes__input govuk-checkboxes__input_opacity" id="Filter_SelectApproved" name="Filter.SelectApproved" type="checkbox" value="true">
                                                <label class="govuk-label govuk-checkboxes__label" for="Filter_SelectApproved">
                                                    @AatfStatus.Approved.ToDisplayString()
                                                </label>
                                                <input name="Filter.SelectApproved" type="hidden" value="false">
                                            </div>
                                            <div class="govuk-checkboxes__item" style="display: inline-block; width: 25%;">
                                                @{
                                                    var cancelledChecked = Model.Filter.SelectCancelled ? "checked" : "";
                                                }
                                                <input @cancelledChecked class="govuk-checkboxes__input govuk-checkboxes__input_opacity" id="Filter_SelectCancelled" name="Filter.SelectCancelled" type="checkbox" value="true">
                                                <label class="govuk-label govuk-checkboxes__label" for="Filter_SelectCancelled">
                                                    @AatfStatus.Cancelled.ToDisplayString()
                                                </label>
                                                <input name="Filter.SelectCancelled" type="hidden" value="false">
                                            </div>
                                            <div class="govuk-checkboxes__item" style="display: inline-block; width: 25%;">
                                                @{
                                                    var suspendedChecked = Model.Filter.SelectSuspended ? "checked" : "";
                                                }
                                                <input @suspendedChecked class="govuk-checkboxes__input govuk-checkboxes__input_opacity" id="Filter_SelectSuspended" name="Filter.SelectSuspended" type="checkbox" value="true">
                                                <label class="govuk-label govuk-checkboxes__label" for="Filter_SelectSuspended">
                                                    @AatfStatus.Suspended.ToDisplayString()
                                                </label>
                                                <input name="Filter.SelectSuspended" type="hidden" value="false">
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="govuk-table govuk-!-width-one-quarter buttons">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td>
                    @(this.WeeeGds().Submit("Apply"))
                </td>
                <td>
                    <div class="left-cleared">
                        @Html.ActionLink("Clear", "ClearFilter", new { facilityType = Model.FacilityType }, new { @class = "govuk-button cancel" })
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
}

@using (Html.BeginForm(actionName: "ManageAatfs", controllerName: "Aatf", method: FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()
    @Html.HiddenFor(m => m.Filter.Name)
    @Html.HiddenFor(m => m.Filter.ApprovalNumber)
    @Html.HiddenFor(m => m.Filter.FacilityType)
    @Html.HiddenFor(m => m.Filter.SelectApproved)
    @Html.HiddenFor(m => m.Filter.SelectCancelled)
    @Html.HiddenFor(m => m.Filter.SelectSuspended)
    @Html.HiddenFor(m => m.FacilityType)
    <div>
        <fieldset class="prsd-table-fieldset">
            <legend class="govuk-visually-hidden">@Html.Raw("Which " + @Model.FacilityType.ToDisplayString() + " would you like to manage?")</legend>
            <table id="idManageAatfsTable" class="govuk-table prsd-table hover-effect" style="table-layout:fixed">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" width="34%" scope="col">Name of @Model.FacilityType.ToDisplayString()</th>
                        <th class="govuk-table__header" width="23%" scope="col">Approval number</th>
                        <th class="govuk-table__header" width="13%" scope="col">Appropriate authority</th>
                        <th class="govuk-table__header" width="8%" scope="col">Latest year</th>
                        <th class="govuk-table__header" width="13%" scope="col">Status</th>
                        <th class="govuk-table__header" style="width:9%; padding-right: 20px;" scope="col">Select</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var aatf in Model.AatfDataList)
                    {
                        var id = "selectAatf" + @aatf.Id;
                        <tr>
                            <td style="word-break:break-word" class="govuk-table__cell">@aatf.Name</td>
                            <td class="govuk-table__cell">@aatf.ApprovalNumber</td>
                            <td class="govuk-table__cell">@aatf.CompetentAuthority.Abbreviation</td>
                            <td class="govuk-table__cell">@aatf.ComplianceYear</td>
                            <td class="govuk-table__cell">@aatf.AatfStatusString</td>
                            <td class="govuk-table__cell"><label class="govuk-visually-hidden" for="@id">select</label> @Html.RadioButtonFor(m => m.Selected, @aatf.Id, new { id = @id })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </fieldset>
    </div>

    if (Model.CanAddAatf)
    {
        <p>
            <a href="@(Url.UrlFor<AddOrganisationController>(u => u.Search((EntityType)Model.FacilityType)))">Add @Model.FacilityType.ToDisplayString()</a>
        </p>
    }
    <br />
    @(this.WeeeGds().Submit("Continue"))

    <p>
        <a href="@(Url.UrlFor<HomeController>(a => a.ChooseActivity()))">Back</a>
    </p>
}
