@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Scheme.ViewModels.TransferEvidenceNotesViewModel
@{
    ViewBag.Title = "From which evidence notes would you like to transfer tonnage to? - GOV.UK";
}

@section full_main_content
{
    @(this.WeeeGds().BackLink(
        Url.Action("EditCategories", "OutgoingTransfers",
            new {
                @pcsId = Model.ViewTransferNoteViewModel.SchemeId,
                @evidenceNoteId = Model.ViewTransferNoteViewModel.EvidenceNoteId})))
    @(this.WeeeGds().Warning("Unselecting notes may remove data you have previously input"))

    <h1 class="govuk-heading-l">
        From which evidence notes would you like to transfer tonnage to @Model.RecipientName?
    </h1>

    @Html.Gds().ValidationSummary()

    @{ Html.RenderPartial("~/Areas/Scheme/Views/Shared/_TransferSummaryPartial.cshtml", Model.ViewTransferNoteViewModel); }

    @using (Html.BeginRouteForm("Scheme_edit_transfer_notes", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ViewTransferNoteViewModel.EvidenceNoteId)
        @Html.HiddenFor(m => m.ViewTransferNoteViewModel.Reference)
        @Html.HiddenFor(m => m.ViewTransferNoteViewModel.Type)
        @Html.HiddenFor(m => m.ViewTransferNoteViewModel.Status)
        @Html.HiddenFor(m => m.ViewTransferNoteViewModel.ComplianceYear)
        @Html.HiddenFor(m => m.RecipientId)

        { Html.RenderPartial("~/Areas/Scheme/Views/Shared/_TransferFromSummaryPartial.cshtml", Model); }
    }
}

