@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.ViewModels.Shared.ViewTransferNoteViewModel
@{
    ViewBag.Title = "Evidence note(transfer) - GOV.UK";
}

@section full_main_content
{
    <p>Guido</p>
    @if (Model.ReturnToView)
    {
        @(this.WeeeGds().BackLink(
        Url.RouteUrl(SchemeTransferEvidenceRedirect.ViewSubmittedTransferEvidenceRouteName, 
                     new { pcsId = Model.SchemeId, evidenceNoteId = Model.EvidenceNoteId, selectedComplianceYear = Model.ComplianceYear, redirectTab = Model.RedirectTab, page = ViewBag.Page })))
    }
    else
    {
        @(this.WeeeGds().BackLink(
        Url.Action("Index", "ManageEvidenceNotes",
            new { @pcsId = Model.SchemeId, @selectedComplianceYear = Model.ComplianceYear, @tab = Model.RedirectTab, @page = ViewBag.Page })))
    }

    @Html.Partial("~/Areas/Scheme/Views/TransferEvidence/_ViewTransferEvidenceNotePartial.cshtml", Model)

    @using (Html.BeginForm("SubmittedTransferNote", "TransferEvidence", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.SchemeId)
        @Html.HiddenFor(m => m.EvidenceNoteId)
        @Html.HiddenFor(m => m.Status)

        <div>
            @(this.WeeeGds().Button("Submit transfer", new { id = "submit-transfer-note" }))
        </div>
    }
}
