@model EA.Weee.Web.Areas.Admin.ViewModels.Reports.ProducersDataViewModel

<div class="form-group @Html.Gds().FormGroupClass(m => m.SelectedYear)">
    @Html.Gds().LabelFor(m => m.SelectedYear)
    @Html.Gds().ValidationMessageFor(m => m.SelectedYear)
    @Html.Gds().DropDownListFor(m => m.SelectedYear, Model.ComplianceYears, string.Empty, new { autocomplete = "false" })
</div>
<div class="form-group @Html.Gds().FormGroupClass(m => m.SelectedObligationType)">
    @Html.Gds().LabelFor(m => m.SelectedObligationType)
    @Html.Gds().ValidationMessageFor(m => m.SelectedObligationType)
    @Html.Gds().DropDownListFor(m => m.SelectedObligationType, Model.ObligationTypes, string.Empty, new { autocomplete = "false" })
</div>
