@using EA.Weee.Web.Areas.Admin.ViewModels.Reports
@model EA.Weee.Web.Areas.Admin.ViewModels.Reports.ReportsFilterViewModel

<div class="form-group @Html.Gds().FormGroupClass(m => m.SelectedYear)">
    @Html.Gds().LabelFor(m => m.SelectedYear)
    @Html.Gds().ValidationMessageFor(m => m.SelectedYear)
    @Html.Gds().DropDownListFor(m => m.SelectedYear, Model.ComplianceYears, string.Empty, new { autocomplete = "false" })
</div>
@if (Model.FilterByScheme)
{
<div class="form-group  @Html.Gds().FormGroupClass(m => m.SelectedScheme)">
    @Html.Gds().LabelFor(m => m.SelectedScheme)
    @Html.Gds().DropDownListFor(m => m.SelectedScheme, Model.SchemeNames, string.Empty, new { autocomplete = "false" })
</div>
}
<div class="form-group  @Html.Gds().FormGroupClass(m => m.SelectedAA)">
    @Html.Gds().LabelFor(m => m.SelectedAA)
    @Html.Gds().DropDownListFor(m => m.SelectedAA, Model.AppropriateAuthorities, string.Empty, new { autocomplete = "false" })
</div>
@if (Model.FilterByScheme)
{
    <div class="form-group @Html.Gds().FormGroupClass(m => m.IncludeRemovedProducer)">
        <fieldset>
            <label class="block-label" for="IncludeRemovedProducer">
                @Html.CheckBoxFor(m => m.IncludeRemovedProducer, new { @id = "IncludeRemovedProducer" })
                Include removed producers?
            </label>
        </fieldset>
    </div>
}