@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Reports.ReportsFilterViewModel
@{
    ViewBag.Title = "PCS charges";
}

@section main_content {

<header class="hgroup">
        <h1 class="heading-large">Download PCS charges</h1>
    </header>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.FilterbyScheme)
        <p>Filter results to show only charges that match your interests. Your results will be provided as a CSV file download.</p>
    
        @Html.Partial("_ReportSearchFilters")

        <p class="small">
            If your selection criteria is broad, it may take a while to download your results.
        </p>

        @(this.WeeeGds().Submit("Download", new { @class = "button" }))
    }
    <p>
        @Html.ActionLink("Perform another activity", "ChooseActivity", "Home")
    </p>
    <p>
        <a href="javascript:history.back();">Back</a>
    </p>
}