@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Reports.ProducerEEEDataViewModel
@{
    ViewBag.Title = "Producer EEE Data";
}

@section main_content {

    <header class="hgroup">
        <h1 class="heading-large">Download producer EEE data</h1>
    </header>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        <p>Filter the report to download entries that match your criteria.</p>
        <div class="form-group @Html.Gds().FormGroupClass(m => m.SelectedYear)">
            @Html.Gds().LabelFor(m => m.SelectedYear)
            @Html.Gds().ValidationMessageFor(m => m.SelectedYear)
            @Html.Gds().DropDownListFor(m => m.SelectedYear, Model.ComplianceYears, string.Empty, new { autocomplete = "false" })
        </div>
        <div class="form-group @Html.Gds().FormGroupClass(m => m.SelectedQuarter)">
            @Html.Gds().LabelFor(m => m.SelectedQuarter)
            @Html.Gds().ValidationMessageFor(m => m.SelectedQuarter)
            @Html.Gds().DropDownListFor(m => m.SelectedQuarter, Model.Quarters, string.Empty, new { autocomplete = "false" })
        </div>
        <div class="form-group @Html.Gds().FormGroupClass(m => m.SelectedObligationtype)">
            @Html.Gds().LabelFor(m => m.SelectedObligationtype)
            @Html.Gds().ValidationMessageFor(m => m.SelectedObligationtype)
            @Html.Gds().DropDownListFor(m => m.SelectedObligationtype, Model.Obligationtypes, string.Empty, new { autocomplete = "false" })
        </div>
        @(this.WeeeGds().Submit("Download", new { @class = "button" }))
    }
    <p>
        @Html.ActionLink("Perform another activity", "ChooseActivity", "Home")
    </p>
    <p>
        <a href="javascript:history.back();">Back</a>
    </p>
}

