@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Reports.ProducersDataViewModel
@{
    ViewBag.Title = "Download PCS WEEE Data";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="govuk-heading-l">Download PCS WEEE data</h1>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <p>Filter the report to download entries that match your criteria.</p>
        <p>All data is reported in tonnes (t) to three decimal places.</p>

        @Html.Partial("_ProducersDataReportFilters")

        <p>
            If there is a large amount of returns data for your selected criteria, it may take a while to download your results.
        </p>

        @(this.WeeeGds().SubmitWithEventTracking("Download (CSV)", "Internal reports",
           "Report download", "PCS WEEE data", new Dictionary<string, object> { { "class", "button" } }))
    }

    <p>
        @Html.ActionLink("Perform another activity", "ChooseActivity", "Home")
    </p>
    <p>
        @Html.ActionLink("Back", "ChooseReport")
    </p>
}

@section scripts
{
    @if (ViewBag.TriggerDownload)
    {
        <script type="text/javascript">
            window.location = "@Html.Raw(@Url.Action("DownloadSchemeWeeeDataCsv", new
                          {
                              complianceYear = Model.SelectedYear,
                              schemeId = Model.SelectedSchemeId,
                              obligationType = Model.SelectedObligationType
                          }))";
        </script>
    }
}