@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Reports.ProducersDataViewModel
@{
    ViewBag.Title = "Download Scheme WEEE Data";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="heading-large">Download scheme WEEE data</h1>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <p>Filter the report to download entries that match your criteria.</p>

        @Html.Partial("_ProducersDataReportFilters")

        @(this.WeeeGds().Submit("Download", new { @class = "button" }))
    }

    <p>
        @Html.ActionLink("Perform another activity", "ChooseActivity", "Home")
    </p>
    <p>
        <a href="javascript:history.back();">Back</a>
    </p>
}

@section scripts
{
    @if (ViewBag.TriggerDownload)
    {
        <script type="text/javascript">
            window.location = "@Html.Raw(@Url.Action("DownloadSchemeWeeeDataCsv", new { complianceYear = Model.SelectedYear, obligationType = Model.SelectedObligationtype }))";
        </script>
    }
}

