@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.AatfReturn
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.ReturnViewModel
@{
    ViewBag.Title = "CheckYourReturnView";
}
<h2 class="govuk-heading-l">Check your AATF return for @Model.ReturnOperator.OperatorName</h2>
<p style="display: inline">Check and review your AATF return before you proceed to submit</p>
<div class="govuk-!-padding-bottom-9"></div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <p><strong>Compliance year</strong></p>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <p>@Model.Year</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <p><strong>Reporting period</strong></p>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <p>@Model.Period</p>
    </div>
</div>
<div class="govuk-!-padding-bottom-6"></div>
<h4 class="govuk-heading-s" style="margin-bottom: 0px;">Non-obligated WEEE</h4>
<div class="govuk-!-padding-bottom-6"></div>
<table class="govuk-table govuk-!-font-size-16" style="width: 50%;">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">
                WEEE received (t)
            </th>
            <td class="govuk-table__header" scope="col">
            </td>
            <th class="govuk-table__header" scope="col">
                WEEE retained by a DCF (t)
            </th>
            <td class="govuk-table__header" scope="col">
            </td>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">@Model.NonObligatedTonnageTotal</td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state">Change</a></td>
            <td class="govuk-table__cell">@Model.NonObligatedTonnageTotalDcf</td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state">Change</a></td>
        </tr>
    </tbody>
</table>
<div class="govuk-!-padding-bottom-6"></div>

@using (Html.BeginForm("Index", "CheckYourReturn", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ReturnId)

    <div class="govuk-form-group">
        <button class="govuk-button" type="submit">Submit</button>
    </div>
}
