@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.AatfReturn
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.ReturnViewModel
@{
    ViewBag.Title = "CheckYourReturnView";
}

<section id="main-content">
    <header class="hgroup">
        <div>
            <h1 class="govuk-heading-l">Check your AATF return for @Model.ReturnOperator.OperatorName</h1>
        </div>
    </header>
    <p>Check and review your AATF return before you proceed to submit</p>

    <div class="govuk-table govuk-grid-column-full" id="weee-data-entry-table">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><strong>Compliance year</strong></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                @Model.Year
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><strong>Reporting period</strong></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                @Model.Period
            </div>
        </div>
    </div>

    <h2 class="govuk-heading-m">Obligated WEEE</h2>
    <div class="govuk-!-padding-bottom-6"></div>

    <span id="mainLink-collapsible" class="mainLink-collapsibleclass collapsible-font-size">
        <a href="#" id="collapsibleHref" onclick="return CollapsibleLinkHref();">Close all</a>
    </span>

    <div class="govuk-table govuk-grid-column-full">

        @foreach (var aatf in Model.AatfsData)
        {
            <div class="govuk-grid-row govuk-table__row govuk-table__cell">
                <div class="govuk-grid-column-one-quarter">
                    @aatf.Aatf.Name
                </div>
                <div class="govuk-grid-column-one-quarter">
                    @aatf.Aatf.ApprovalNumber
                </div>
            </div>

            <div class="govuk-!-padding-bottom-4"></div>

            <div class="govuk-grid-column-one-half">&nbsp;</div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <strong>B2C (tonnes)</strong>
                    </div>
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <strong>B2B (tonnes)</strong>
                    </div>
                </div>
            </div>

            <div class="govuk-!-padding-bottom-4"></div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <strong>Received for treatment</strong>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <p>
                            @aatf.WeeeReceived.B2C
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <p>
                            @aatf.WeeeReceived.B2B
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <p>
                            @Html.NavigationRouteLink("Change", @aatf.Aatf.Name + " change received for treatment", AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, aatfId = @aatf.Aatf.Id, action = "Index", controller = "ReceivedPcsList" })
                        </p>
                    </div>
                </div>
            </div>

            if (aatf.SchemeData.Count > 0)
            {
                <details class="govuk-details collapsible-font-size" open ="open">
                    <summary id="summary-collapsible" class="govuk-details__summary" aria-controls="details-content" aria-expanded="false">
                        <span id="unset-padding" class="govuk-details__summary-text" onclick="return CollapsibleLinkHefSummary();">
                            Breakdown by PCS
                        </span>
                    </summary>
                    <div class="govuk-!-padding-bottom-4"></div>
                    <div class="collapsible-govuk-grid">
                        <div class="govuk-grid-row govuk-body collapsible-font-size">
                            <div class="govuk-grid-column-one-half">
                                <div class="govuk-grid-column-one-quarter">
                                    <strong>PCS Name</strong>
                                </div>

                                <div class="govuk-grid-column-one-half collapsible-padding-right">
                                    <strong>Approval Name</strong>
                                </div>

                            </div>
                        </div>
                        @foreach (var pcsdata in aatf.SchemeData)
                        {
                            <div class="govuk-grid-row govuk-body govuk-body collapsible-font-size">
                                <div class="govuk-grid-column-one-half">
                                    <div class="govuk-grid-column-one-quarter">
                                        @pcsdata.Scheme.Name
                                    </div>

                                    <div class="govuk-grid-column-one-quarter collapsible-padding-right">
                                        @pcsdata.ApprovalName
                                    </div>
                                </div>
                                <div class="govuk-grid-column-one-half">
                                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                                        @pcsdata.Received.B2C
                                    </div>
                                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                                        @pcsdata.Received.B2B
                                    </div>
                                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                                        <span class="govuk-visually-hidden">Change Data for Scheme @pcsdata.Scheme.Name </span>@Html.RouteLink("Change", AatfRedirect.AatfSchemeSelectedRoute, new { returnId = Model.ReturnId, schemeId = pcsdata.Scheme.Id, aatfId = aatf.Aatf.Id, action = "Index", controller = "ObligatedReceived" }, null)
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </details>
            }

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <strong>Sent to another AATF/ATF</strong>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <p>
                            @aatf.WeeeSentOn.B2C
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <p>
                            @aatf.WeeeSentOn.B2B
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <p>
                            @Html.NavigationRouteLink("Change", @aatf.Aatf.Name + " sent to another AATF / ATF", AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, aatfId = @aatf.Aatf.Id, action = "Index", controller = "SentOnCreateSite" })
                        </p>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <strong>Reused as a whole appliance</strong>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <p>
                            @aatf.WeeeReused.B2C
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <p>
                            @aatf.WeeeReused.B2B
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <p>
                            @if (Equals(aatf.WeeeReused.B2B, "-") && Equals(aatf.WeeeReused.B2C, "-"))
                            {
                                @Html.NavigationRouteLink("Change", aatf.Aatf.Name + " Reused as a whole appliance", AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, aatfId = aatf.Aatf.Id, action = "Index", controller = "ObligatedReused" })
                            }
                            else
                            {
                                @Html.NavigationRouteLink("Change", @aatf.Aatf.Name + " Change reused as a whole appliance", AatfRedirect.AatfSelectedRoute, new { returnId = Model.ReturnId, aatfId = aatf.Aatf.Id, organisationId = Model.OrganisationId, action = "Index", controller = "ReusedOffSiteSummaryLIst" })
                            }
                        </p>
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="govuk-!-padding-bottom-2 collapsible-padding-right"></div>
    <h2 class="govuk-heading-m govuk-table__cell">Non-obligated WEEE</h2>

    <div class="govuk-!-padding-bottom-4"></div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">&nbsp;</div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                <p>
                    <strong>Total (tonnes)</strong>
                </p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <p>
                <strong>WEEE received (tonnes)</strong>
            </p>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                <p>
                    @Model.NonObligatedTonnageTotal
                </p>
            </div>

            <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                <p>
                    @Html.NavigationRouteLink("Change", "Change non obligated", AatfRedirect.NonObligatedRouteName, new { returnId = Model.ReturnId, dcf = false })
                </p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <p>
                <strong>WEEE retained by a DCF (tonnes)</strong>
            </p>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                <p>
                    @Model.NonObligatedTonnageTotalDcf
                </p>
            </div>
            <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                <p>
                    @Html.NavigationRouteLink("Change", "Change non obligated DCF", AatfRedirect.NonObligatedDcfRouteName, new { returnId = Model.ReturnId, dcf = true })
                </p>
            </div>
        </div>
    </div>

    <div class="govuk-!-padding-bottom-6"></div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                @using (Html.BeginRouteForm(AatfRedirect.Default, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(m => m.ReturnId)
                    @Html.HiddenFor(m => m.OrganisationId)

                    <div class="govuk-form-group">
                        <button class="govuk-button" type="submit">Continue</button>
                    </div>
                }

            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <div class="govuk-body govuk-!-font-size-19">
                    <a class="govuk-link govuk-link--no-visited-state">
                        @Html.NavigationRouteLink("AATF task list", "TaskList", AatfRedirect.Default, new { returnId = Model.ReturnId, action = "Index", controller = "AatfTaskList" }, null)
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

@Scripts.Render("~/bundles/weee-collapsible-link")
@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        InitialStartup();
    });
  </script>
}

