@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.AatfReturn
@using EA.Weee.Web.Infrastructure
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.ReturnViewModel
@{
    ViewBag.Title = "CheckYourReturnView";
}

<section id="main-content">
    <header class="hgroup">
        <div>
            <h1 class="govuk-heading-l">Check your AATF return for @Model.ReturnOperator.OperatorName</h1>
        </div>
    </header>
    <p>Check and review your AATF return before you proceed to submit</p>

    <div class="govuk-table govuk-grid-column-full" id="weee-data-entry-table">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><strong>Compliance year</strong></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                @Model.Year
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><strong>Reporting period</strong></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                @Model.Period
            </div>
        </div>
    </div>

    @*<div class="govuk-!-padding-bottom-6"></div>*@

    <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Obligated WEEE</h2>
    <div class="govuk-!-padding-bottom-6"></div>

    <div class="govuk-table govuk-grid-column-full" id="weee-data-entry-table">

        @foreach (var aatf in Model.AatfsData)
        {
            <div class="govuk-grid-row govuk-table__row govuk-table__cell">
                <div class="govuk-grid-column-one-quarter">
                    @aatf.Aatf.Name
                </div>
                <div class="govuk-grid-column-one-quarter">
                    @aatf.Aatf.ApprovalNumber
                </div>
            </div>

            <div class="govuk-!-padding-bottom-2"></div>

            <div class="govuk-grid-column-one-half">&nbsp;</div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <strong>B2C (tonnes)</strong>
                    </div>
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <strong>B2B (tonnes)</strong>
                    </div>
                </div>
            </div>

            <div class="govuk-!-padding-bottom-2"></div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <strong>Received for treatment</strong>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <p>
                            @aatf.WeeeReceived.B2C
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <p>
                            @aatf.WeeeReceived.B2B
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <p>
                            <span class="govuk-visually-hidden">@aatf.Aatf.Name change received for treatment</span><a class="govuk-link govuk-link--no-visited-state">Change</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <strong>Sent to another AATF/ATF</strong>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <p>
                            @aatf.WeeeSentOn.B2C
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <p>
                            @aatf.WeeeSentOn.B2B
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <p>
                            <span class="govuk-visually-hidden">@aatf.Aatf.Name change sent to another AATF/ATF</span><a class="govuk-link govuk-link--no-visited-state">Change</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <strong>Reused as a whole appliance</strong>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <p>
                            @aatf.WeeeReused.B2C
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <p>
                            @aatf.WeeeReused.B2B
                        </p>
                    </div>
                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                        <p>
                            <span class="govuk-visually-hidden">@aatf.Aatf.Name change reused as a whole appliance</span><a class="govuk-link govuk-link--no-visited-state">Change</a>
                        </p>
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="govuk-!-padding-bottom-2"></div>

    <div class="govuk-grid-row govuk-table__cell">

        <div class="govuk-grid-column-half">
            <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Non-obligated WEEE</h2>
        </div>
    </div>
    <div class="govuk-!-padding-bottom-2"></div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">&nbsp;</div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                <p>
                    <strong>Total</strong>
                </p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <p>
                <strong>WEEE received (tonnes)</strong>
            </p>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                <p>
                    @Model.NonObligatedTonnageTotal
                </p>
            </div>

            <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                <p>
                    <span class="govuk-visually-hidden">Change non obligated</span><a class="govuk-link govuk-link--no-visited-state">Change</a>
                </p>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <p>
                <strong>WEEE retained by a DCF (tonnes)</strong>
            </p>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                <p>
                    @Model.NonObligatedTonnageTotalDcf
                </p>
            </div>
            <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                <p>
                    <span class="govuk-visually-hidden">Change non obligated DCF</span><a class="govuk-link govuk-link--no-visited-state">Change</a>
                </p>
            </div>
        </div>
    </div>

    <div class="govuk-!-padding-bottom-6"></div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            @using (Html.BeginRouteForm(AatfRedirect.Default, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.ReturnId)
                @Html.HiddenFor(m => m.OrganisationId)

                <div class="govuk-form-group">
                    <button class="govuk-button" type="submit">Continue</button>
                </div>
            }

        </div>
        <div class="govuk-grid-column-one-quarter">
            <div class="govuk-body govuk-!-font-size-19">
                <a class="govuk-link govuk-link--no-visited-state">
                    @Html.RouteLink("AATF task list", AatfRedirect.Default, new { returnId = Model.ReturnId, action = "Index", controller = "AatfTaskList" }, null)
                </a>
            </div>
        </div>
    </div>

    @*@using (Html.BeginRouteForm(AatfRedirect.Default, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.ReturnId)
        @Html.HiddenFor(m => m.OrganisationId)

        <div class="govuk-form-group">
            <button class="govuk-button" type="submit">Continue</button>
        </div>
    }

    <div class="govuk-!-padding-bottom-2"></div>

    <div class="govuk-body govuk-!-font-size-19">
        <a class="govuk-link govuk-link--no-visited-state">
            @Html.RouteLink("AATF task list", AatfRedirect.Default, new { returnId = Model.ReturnId, action = "Index", controller = "AatfTaskList" }, null)
        </a>
    </div>*@
</section>

@*<section id="main-content">
    <header class="hgroup">
        <div>
            <h1 class="govuk-heading-l">Check your AATF return for @Model.ReturnOperator.OperatorName</h1>
        </div>
    </header>

    <p style="display: inline">Check and review your AATF return before you proceed to submit</p>
    <div class="govuk-!-padding-bottom-9"></div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <p><strong>Compliance year</strong></p>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <p>@Model.Year</p>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <p><strong>Reporting period</strong></p>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <p>@Model.Period</p>
        </div>
    </div>
    <div class="govuk-!-padding-bottom-6"></div>

    <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Obligated WEEE</h2>
    <div class="govuk-!-padding-bottom-6"></div>

    @foreach (var aatf in Model.AatfsData)
    {
        <table class="govuk-table govuk-!-font-size-16">
            <thead class="govuk-table__head">
                <tr class="gov-uk-no-bottom-border">
                    <td class="govuk-table__header" style="width:20%" scope="col" rowspan="2">
                        @aatf.Aatf.Name
                    </td>
                    <td class="govuk-table__header" style="width:20%" scope="col" rowspan="2">
                        @aatf.Aatf.ApprovalNumber
                    </td>
                    <th class="govuk-table__header gov-uk-no-bottom-border" style="text-align:center; width:15%" colspan="2">
                        Received for treatment (tonnes)
                    </th>
                    <td class="govuk-table__header gov-uk-no-bottom-border" style="width:5%" scope="col"></td>
                    <th class="govuk-table__header gov-uk-no-bottom-border" style="text-align:center; width:15%" colspan="2">
                        Sent to another AATF/ATF (tonnes)
                    </th>
                    <td class="govuk-table__header gov-uk-no-bottom-border" style="width:5%" scope="col"></td>
                    <th class="govuk-table__header gov-uk-no-bottom-border" style="text-align:center; width:15%" colspan="2">
                        Reused as a whole appliance (tonnes)
                    </th>
                    <td class="govuk-table__header gov-uk-no-bottom-border" style="width:5%" scope="col"></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__cell govuk-!-font-weight-regular" style="text-align: right" scope="col">B2C</th>
                    <th class="govuk-table__cell govuk-!-font-weight-regular" style="text-align: right" scope="col">B2B</th>
                    <td class="govuk-table__header" scope="col"></td>
                    <th class="govuk-table__cell govuk-!-font-weight-regular" style="text-align: right" scope="col">B2C</th>
                    <th class="govuk-table__cell govuk-!-font-weight-regular" style="text-align: right" scope="col">B2B</th>
                    <td class="govuk-table__header" scope="col"></td>
                    <th class="govuk-table__cell govuk-!-font-weight-regular" style="text-align: right" scope="col">B2C</th>
                    <th class="govuk-table__cell govuk-!-font-weight-regular" style="text-align: right" scope="col">B2B</th>
                    <td class="govuk-table__header" scope="col"></td>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell">Total</td>
                    <td class="govuk-table__cell" style="text-align: right">@aatf.WeeeReceived.B2C</td>
                    <td class="govuk-table__cell" style="text-align: right">@aatf.WeeeReceived.B2B</td>
                    <td class="govuk-table__cell"><span class="govuk-visually-hidden">@aatf.Aatf.Name change received for treatment</span><a class="govuk-link govuk-link--no-visited-state">Change</a></td>
                    <td class="govuk-table__cell" style="text-align: right">@aatf.WeeeSentOn.B2C</td>
                    <td class="govuk-table__cell" style="text-align: right">@aatf.WeeeSentOn.B2B</td>
                    <td class="govuk-table__cell"><span class="govuk-visually-hidden">@aatf.Aatf.Name change sent to another AATF/ATF</span><a class="govuk-link govuk-link--no-visited-state">Change</a></td>
                    <td class="govuk-table__cell" style="text-align: right">@aatf.WeeeReused.B2C</td>
                    <td class="govuk-table__cell" style="text-align: right">@aatf.WeeeReused.B2B</td>
                    <td class="govuk-table__cell"><span class="govuk-visually-hidden">@aatf.Aatf.Name change reused as a whole appliance</span><a class="govuk-link govuk-link--no-visited-state">Change</a></td>
                </tr>
            </tbody>
        </table>
    }
    <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Non-obligated WEEE</h2>
    <div class="govuk-!-padding-bottom-6"></div>
    <table class="govuk-table govuk-!-font-size-16" style="width: 60%;">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" style="text-align: right" scope="col">
                    WEEE received (tonnes)
                </th>
                <td class="govuk-table__header" scope="col"></td>
                <th class="govuk-table__header" style="text-align: right" scope="col">
                    WEEE retained by a DCF (tonnes)
                </th>
                <td class="govuk-table__header" scope="col"></td>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" style="text-align: right">@Model.NonObligatedTonnageTotal</td>
                <td class="govuk-table__cell"><span class="govuk-visually-hidden">Change non obligated</span><a class="govuk-link govuk-link--no-visited-state">Change</a></td>
                <td class="govuk-table__cell" style="text-align: right">@Model.NonObligatedTonnageTotalDcf</td>
                <td class="govuk-table__cell"><span class="govuk-visually-hidden">Change non obligated DCF</span><a class="govuk-link govuk-link--no-visited-state">Change</a></td>
            </tr>
        </tbody>
    </table>
    <div class="govuk-!-padding-bottom-6"></div>

    @using (Html.BeginRouteForm(AatfRedirect.Default, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.ReturnId)
        @Html.HiddenFor(m => m.OrganisationId)

        <div class="govuk-form-group">
            <button class="govuk-button" type="submit">Submit</button>
        </div>
    }

    <div class="govuk-body govuk-!-font-size-19">
        <a class="govuk-link govuk-link--no-visited-state">
            @Html.RouteLink("AATF task list", AatfRedirect.Default, new { returnId = Model.ReturnId, action = "Index", controller = "AatfTaskList" }, null)
        </a>
    </div>
</section>*@