@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.AatfReturn
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.ViewModels.Returns.ReturnViewModel
@{
    ViewBag.Title = "Check your AATF return for " + Model.Organisation.OrganisationName + " - GOV.UK";
}

@{
    var hideOpenClass = Model.AnyAatfSchemes ? "" : "hide";
}

<section id="main-content">
    <header class="hgroup">
        <div>
            <h1 class="govuk-heading-l">Check your AATF return for @Model.Organisation.OrganisationName</h1>
        </div>
    </header>
    <p>Check and review your AATF return before you proceed to submit</p>

    @Html.Partial("_SummaryPartial", Model, new ViewDataDictionary(){ new KeyValuePair<string, object>("displayEdit", true)})

    <div class="govuk-!-padding-bottom-6"></div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                @using (Html.BeginRouteForm(AatfRedirect.Default, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(m => m.ReturnId)
                    @Html.HiddenFor(m => m.OrganisationId)

                    <div class="govuk-form-group">
                        @this.WeeeGds().CreateButtonWithEventTracking("Submit", "AATF return", "Submit AATF return", "Submit AATF return")
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter govuk-!-padding-left-0">
            <div class="govuk-body govuk-!-font-size-19">
                <a class="govuk-link govuk-link--no-visited-state">
                    @Html.NavigationRouteLink("AATF task list", "TaskList", AatfRedirect.Default, new { returnId = Model.ReturnId, action = "Index", controller = "AatfTaskList" }, null)
                </a>
            </div>
        </div>
    </div>
</section>

@Scripts.Render("~/bundles/weee-collapsible-link")
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            InitialStartup();
        });
    </script>
}