@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.Infrastructure
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.NonObligatedValuesViewModel
@{
    ViewBag.Title = "Non-obligated WEEE";
}

@{
    var formName = AatfRedirect.NonObligatedRouteName;
    if (Model.Dcf)
    {
        formName = AatfRedirect.NonObligatedDcfRouteName;
    }
}
<section id="main-content">
    <header class="hgroup">
        <div>
            @{
                if (Model.Dcf == true)
                {
                    <h1 class="govuk-heading-l">Non-obligated WEEE retained by a DCF</h1>
                    <p class="govuk-body">This is how much of the total non-obligated WEEE that a local authority who is a DCF operator has been allowed to keep under regulation 53 and has sent to you for treatment</p>
                }
                else
                {
                    <h1 class="govuk-heading-l">Non-obligated WEEE</h1>
                    <p class="govuk-body">This is WEEE that you received at your AATF(s) other than from or on behalf of a PCS. It should not include WEEE that has already been reported by another AATF(s).</p>
                }
            }
        </div>
    </header>
    <br />
    <p class="govuk-body">Provide tonnage to 3 decimal places. For example 1.238</p>

    @using (Html.BeginRouteForm(formName, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        @Html.HiddenFor(m => m.Dcf)
        @Html.HiddenFor(m => m.OrganisationId)

        <div class="govuk-table govuk-!-margin-bottom-0">
            <div class="govuk-grid-column-one-half">&nbsp;</div>
            <div class="govuk-grid-column-one-half govuk-body govuk-!-font-size-19" style="text-align:right; padding-right:0">
                @Html.RouteLink("Use copy and paste to populate the table", AatfRedirect.Default, new { returnId = Model.ReturnId, dcf = Model.Dcf, action = "Index", controller = "NonObligatedValuesCopyPaste" }, null)
            </div>
        </div>

        Html.RenderPartial("_NonObligatedWeeeTable", Model);

        <div class="govuk-form-group">
            <button class="govuk-button" type="submit">Save and continue</button>
        </div>
    }
    <a href="@Url.RouteUrl(AatfRedirect.Default, new {controller = "AatfTaskList", returnId = Model.ReturnId })" class="govuk-back-link">Back</a>
</section>
