@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.SentOnCreateSiteOperatorViewModel
@{
    ViewBag.Title = "Sent On WEEE Operator";
}

<section id="main-content">
    <h1 class="govuk-heading-l">Which operator was the WEEE sent to for treatment?</h1>

    @using (Html.BeginRouteForm(AatfRedirect.AatfOrganisationSelectedRoute, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.WeeeSentOnId)

    <div class="govuk-form-group">
        @Html.Gds().CheckBoxFrontEndFor(m => m.IsOperatorTheSameAsAATF, new { @class = "govuk-checkboxes__input" })
        <!--<p class="govuk-body" style="color: grey">If the operator address associated with this AATF/ATF is different please uncheck this box</p>-->
    </div>

        @Html.EditorFor(m => m.OperatorAddressData)

        <div class="govuk-!-padding-bottom-3"></div>
        <button type="submit" name="save" class="govuk-button" id="site-details">
            Save and continue
        </button>

    }
</section>