@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.SentOnCreateSiteOperatorViewModel
@{
    ViewBag.Title = "Sent On WEEE Operator";
}

<section id="main-content">
    <h1 class="govuk-heading-l">Which operator was the WEEE sent to for treatment?</h1>
    @using (Html.BeginRouteForm(AatfRedirect.AatfOrganisationSelectedRoute, FormMethod.Get))
    {
        @Html.HiddenFor(m => m.WeeeSentOnId)
        @Html.HiddenFor(m => m.OrganisationId)
        @Html.HiddenFor(m => m.AatfId)
        @Html.HiddenFor(m => m.ReturnId)
        @Html.Hidden("javascriptDisabled", true)

        <div class="govuk-form-group" id="operatorButton" style="display: none">
            <button type="submit" class="govuk-button" formmethod="get" name="operatorButtonName">
                The operator address is the same as the AATF/ATF address
            </button>
        </div>
    }
    @using (Html.BeginRouteForm(AatfRedirect.AatfOrganisationSelectedRoute, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.WeeeSentOnId)
        @Html.HiddenFor(m => m.SiteAddressData.Name)
        @Html.HiddenFor(m => m.SiteAddressData.Address1)
        @Html.HiddenFor(m => m.SiteAddressData.Address2)
        @Html.HiddenFor(m => m.SiteAddressData.CountyOrRegion)
        @Html.HiddenFor(m => m.SiteAddressData.TownOrCity)
        @Html.HiddenFor(m => m.SiteAddressData.Postcode)
        @Html.HiddenFor(m => m.SiteAddressData.CountryId)
        @Html.HiddenFor(m => m.SiteAddressData.CountryName)

        <div class="govuk-form-group" id="operatorCheckBox">
            <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    @if (Model.IsOperatorTheSameAsAATF)
                    {
                        <input name="IsOperatorTheSameAsAATF" class="govuk-checkboxes__input" id="IsOperatorTheSameAsAATF" onclick="IsOperatorSameAddress()" type="checkbox" value="true" checked />
                    }
                    else
                    {
                        <input name="IsOperatorTheSameAsAATF" class="govuk-checkboxes__input" id="IsOperatorTheSameAsAATF" onclick="IsOperatorSameAddress()" type="checkbox" value="true" />
                    }
                    <label class="govuk-label govuk-checkboxes__label" for="IsOperatorTheSameAsAATF" style="font-weight: bold; padding-top: 0px;">@Html.DisplayNameFor(m => m.IsOperatorTheSameAsAATF)</label> <br />
                    <label class="govuk-label govuk-checkboxes__label" for="IsOperatorTheSameAsAATF" style="padding-top: 0px;">If the operator address associated with this AATF/ATF is different please uncheck this box</label>
                </div>
            </div>
        </div>

        @Html.EditorFor(m => m.OperatorAddressData)

        <div class="govuk-!-padding-bottom-3"></div>
        <button type="submit" name="save" class="govuk-button" id="site-details">
            Save and continue
        </button>

    }
</section>

@Scripts.Render("~/bundles/sent-on-operator-address")
@section scripts {
    <noscript>
        <style type="text/css">
            #operatorCheckBox {
                display: none;
            }

            #operatorButton {
                display: block !important;
            }
        </style>
    </noscript>
}