@using EA.Weee.Core.Helpers
@using EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@using HomeController = EA.Weee.Web.Areas.Scheme.Controllers.HomeController

@model ManageEvidenceNoteSchemeViewModel
@{
    var mainTitle = Model.SchemeInfo.IsBalancingScheme ? "Manage PBS evidence notes" : string.Format("Manage evidence notes for {0}", Model.SchemeInfo.Name);
    ViewBag.Title = mainTitle + " - GOV.UK";
}

@(this.WeeeGds().BackLink(@Url.UrlFor<HomeController>(a => a.ChooseActivity(Model.OrganisationId))))

<header class="hgroup">
    <h1 class="govuk-heading-l">
        @mainTitle
    </h1>
</header>

@{ Html.RenderPartial("_ComplianceYearPartial", Model.ManageEvidenceNoteViewModel, new ViewDataDictionary() { { "controller", "ManageEvidenceNotes" }, { "tab", Model.ActiveDisplayOption.ToDisplayString() }});}

<!-- injected Withdrawn scheme message when applicable -->
@if (Model.IsWithdrawn)
{
    <p class="govuk-details__text govuk-!-margin-bottom-7">
        Your scheme approval has been withdrawn and therefore you are unable to approve, return or reject any evidence notes or transfer any evidence. Contact your environmental regulator if you think this is not the case.
    </p>
} else if (Model.ManageEvidenceNoteViewModel.ComplianceYearClosed)
{
    <p class="govuk-details__text govuk-!-margin-bottom-7">
        This compliance year has now closed and you are unable to approve, return or reject any evidence notes or transfer any evidence
    </p>
}

<ul class="govuk-tabs__list">
    @if (!Model.SchemeInfo.IsBalancingScheme)
    {
        @(this.WeeeGds().Tab("Summary",
            Url.Action("Index", "ManageEvidenceNotes",
                new { @pcsId = Model.OrganisationId, @tab = ManageEvidenceNotesDisplayOptions.Summary.ToDisplayString(), @selectedComplianceYear = Model.ManageEvidenceNoteViewModel.SelectedComplianceYear }),
            Model.ActiveDisplayOption == ManageEvidenceNotesDisplayOptions.Summary))
    }
    
    @this.WeeeGds().Tab("Review submitted evidence",
        Url.Action("Index", "ManageEvidenceNotes",
            new { @pcsId = Model.OrganisationId, @tab = ManageEvidenceNotesDisplayOptions.ReviewSubmittedEvidence.ToDisplayString(), @selectedComplianceYear = Model.ManageEvidenceNoteViewModel.SelectedComplianceYear }),
        Model.ActiveDisplayOption == ManageEvidenceNotesDisplayOptions.ReviewSubmittedEvidence)
    @this.WeeeGds().Tab("View and transfer evidence",
        Url.Action("Index", "ManageEvidenceNotes",
            new { @pcsId = Model.OrganisationId, @tab = ManageEvidenceNotesDisplayOptions.ViewAndTransferEvidence.ToDisplayString(), @selectedComplianceYear = Model.ManageEvidenceNoteViewModel.SelectedComplianceYear }),
        Model.ActiveDisplayOption == ManageEvidenceNotesDisplayOptions.ViewAndTransferEvidence)
    @this.WeeeGds().Tab("Outgoing transfers",
        Url.Action("Index", "ManageEvidenceNotes",
            new { @pcsId = Model.OrganisationId, @tab = ManageEvidenceNotesDisplayOptions.OutgoingTransfers.ToDisplayString(), @selectedComplianceYear = Model.ManageEvidenceNoteViewModel.SelectedComplianceYear }),
        Model.ActiveDisplayOption == ManageEvidenceNotesDisplayOptions.OutgoingTransfers)
</ul>


