@using EA.Weee.Core.Helpers
@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes
@using EA.Weee.Web.RazorHelpers

@model EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes.TransferredOutEvidenceNotesSchemeViewModel

@section full_main_content
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            @Html.Partial("_ManageEvidenceNotesHeaderAndTabs", Model)

            <section class="govuk-tabs__panel" id="pcsDetails">
                <h2 class="govuk-heading-m">
                    View evidence that has been transferred to another PCS
                </h2>

                <table id="outgoing-transfers-notes-table" class="govuk-table">
                    <caption class="govuk-table__caption govuk-visually-hidden">View evidence that has been transferred to another PCS</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header govuk-!-text-align-left" scope="col">
                                Reference ID
                            </th>
                            <th class="govuk-table__header govuk-!-text-align-left" scope="col">
                                Date submitted
                            </th>
                            <th class="govuk-table__header govuk-!-text-align-left" scope="col">
                                Recipient
                            </th>
                            <th class="govuk-table__header govuk-!-text-align-left" scope="col">
                                Status
                            </th>
                            <th class="govuk-table__header" style="width: 5%">
                                @Html.Gds().VisuallyHidden("actions")
                            </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    @if (Model.EvidenceNotesDataList.Any())
                    {
                        foreach (var note in Model.EvidenceNotesDataList)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@note.ReferenceDisplay</td>
                                <td class="govuk-table__cell">@(note.SubmittedDateDisplay)</td>
                                <td class="govuk-table__cell">@note.Recipient</td>
                                <td class="govuk-table__cell">@note.Status</td>
                                <td class="govuk-table__cell">
                                    @if (note.DisplayViewLink)
                                    {
                                        if (note.Status == EA.Weee.Core.AatfEvidence.NoteStatus.Draft || note.Status == EA.Weee.Core.AatfEvidence.NoteStatus.Submitted)
                                        {
                                            @Html.NavigationRouteLink("View", "View transfer note " + @note.ReferenceId, note.SchemeViewRouteName, new { pcsId = Model.OrganisationId, evidenceNoteId = @note.Id, selectedComplianceYear = Model.ManageEvidenceNoteViewModel.SelectedComplianceYear }, null)
                                        }
                                    }
                                    @if (note.DisplayEditLink)
                                    {
                                        @Html.NavigationRouteLink("Edit", "Edit transfer note " + @note.ReferenceId, "Scheme_edit_transfer", new { pcsId = Model.OrganisationId, evidenceNoteId = @note.Id, selectedComplianceYear = Model.ManageEvidenceNoteViewModel.SelectedComplianceYear }, null)
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">
                                <p>There have not been any evidence note transfers </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> Showing 0 - 0 of 0 </p>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </section>
        </div>
    </div>
}