@using EA.Weee.Core.Helpers
@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes
@using EA.Weee.Web.RazorHelpers
@using EA.Prsd.Core.Web.Mvc.RazorHelpers


@model EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes.TransferredOutEvidenceNotesSchemeViewModel

@section full_main_content
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            @Html.Partial("_ManageEvidenceNotesHeaderAndTabs", Model)

            <section class="govuk-tabs__panel" id="pcsDetails">
                <h2 class="govuk-heading-m">
                    View evidence that has been transferred
                </h2>

                @using (Html.BeginForm("Index", "ManageEvidenceNotes", FormMethod.Get))
                {
                    @Html.Gds().ValidationSummary()
                    @Html.Hidden("tab", Model.ActiveDisplayOption, new { id = "tab-hidden" })
                    @Html.Hidden("ManageEvidenceNoteViewModel.SelectedComplianceYear", Model.ManageEvidenceNoteViewModel.SelectedComplianceYear)

                    <div class="govuk-!-width-full govuk-panel-grey-background govuk-!-padding-bottom-0 govuk-!-margin-bottom-3">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter govuk-!-padding-right-1 govuk-!-padding-left-3 govuk-!-padding-bottom-3">
                                @Html.EditorFor(m => m.ManageEvidenceNoteViewModel, "RecipientStatusFiltersViewModel", new { htmlAttributes = new { @class = "govuk-grid-column-half" } })
                            </div>
                            <div class="govuk-grid-column-one-quarter govuk-!-padding-top-9 govuk-!-padding-bottom-1">
                                @Html.Partial("~/Areas/Aatf/Views/ManageEvidenceNotes/Overview/_SearchFilterButtonsPartial.cshtml", Model.ManageEvidenceNoteViewModel,
                                                     new ViewDataDictionary() { new KeyValuePair<string, object>("tab",
                                                        ManageEvidenceNotesDisplayOptions.OutgoingTransfers.ToDisplayString()) })
                            </div>
                        </div>
                    </div>
                }
                <table id="outgoing-transfers-notes-table" class="govuk-table">
                    <caption class="govuk-table__caption govuk-visually-hidden">View evidence that has been transferred to another PCS</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header govuk-!-text-align-left" scope="col">
                                Reference ID
                            </th>
                            <th class="govuk-table__header govuk-!-text-align-left" scope="col">
                                Submitted date
                            </th>
                            <th class="govuk-table__header govuk-!-text-align-left" scope="col">
                                Recipient
                            </th>
                            <th class="govuk-table__header govuk-!-text-align-left" scope="col">
                                Status
                            </th>
                            <th class="govuk-table__header" style="width: 5%">
                                @Html.Gds().VisuallyHidden("actions")
                            </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @if (Model.EvidenceNotesDataList.Any())
                        {
                            foreach (var note in Model.EvidenceNotesDataList)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">@note.ReferenceDisplay</td>
                                    <td class="govuk-table__cell">@note.SubmittedDateDisplay</td>
                                    <td class="govuk-table__cell">@note.Recipient</td>
                                    <td class="govuk-table__cell">@note.Status</td>
                                    <td class="govuk-table__cell">
                                        @Html.NavigationRouteLink("View", "View transfer note with reference " + @note.ReferenceId, note.SchemeViewRouteName, new { pcsId = Model.OrganisationId, evidenceNoteId = @note.Id, selectedComplianceYear = Model.ManageEvidenceNoteViewModel.SelectedComplianceYear, redirectTab = ManageEvidenceNotesDisplayOptions.OutgoingTransfers.ToDisplayString(), page = Model.EvidenceNotesDataList.PageNumber }, null)
                                        @if (note.DisplayEditLink)
                                        {
                                            @Html.NavigationRouteLink("Edit", "Edit transfer note with reference " + @note.ReferenceId, "Scheme_edit_transfer", new { pcsId = Model.OrganisationId, evidenceNoteId = @note.Id, selectedComplianceYear = Model.ManageEvidenceNoteViewModel.SelectedComplianceYear, redirectTab = ManageEvidenceNotesDisplayOptions.OutgoingTransfers.ToDisplayString(), page = Model.EvidenceNotesDataList.PageNumber }, null)
                                            @*@Html.NavigationRouteLink("Edit", "Edit transfer note " + @note.ReferenceId, "Scheme_edit_transfer", new { pcsId = Model.OrganisationId, evidenceNoteId = @note.Id }, null)*@
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5">
                                    <p>There have not been any evidence note transfers </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p> Showing 0 - 0 of 0 </p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                @{
                    Html.RenderPartial("~/Views/Shared/_EvidenceNotesPagerPartial.cshtml", Model.EvidenceNotesDataList, new ViewDataDictionary() { { "pagerRouteValues", new { tab = Model.ActiveDisplayOption.ToDisplayString(), selectedComplianceYear = Model.ManageEvidenceNoteViewModel.SelectedComplianceYear } } });
                }
            </section>
        </div>
    </div>
}