@using EA.Weee.Core.AatfEvidence
@using EA.Weee.Web.Areas.Aatf.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@using EA.Weee.Web.Areas.Aatf.ViewModels;
@model EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes.ReviewEvidenceNoteViewModel

@{
    //var title = Model.Status == NoteStatus.Draft ? "Draft evidence note" : "Submitted evidence note";
    //var navigateBackToSelectedTab = Model.Status == NoteStatus.Draft ? ManageEvidenceOverviewDisplayOption.EditDraftAndReturnedNotes : ManageEvidenceOverviewDisplayOption.ViewAllOtherEvidenceNotes;
    //ViewBag.Title = title;
}

<section id="main-content">


    @*@if (Model.DisplayMessage)
    {
        @(this.WeeeGds().BackLink(@Url.UrlFor<ManageEvidenceNotesController>(a => a.Index(Model.OrganisationId, Model.AatfId, navigateBackToSelectedTab, null)), "Manage evidence notes"))
        @(this.WeeeGds().Panel(Model.SuccessMessage))
    }
    else
    {
        @(this.WeeeGds().BackLink(@Url.UrlFor<ManageEvidenceNotesController>(a => a.Index(Model.OrganisationId, Model.AatfId, navigateBackToSelectedTab, null))))
    }*@


    @Html.Partial("_ViewEvidenceNotePartial", Model.ViewEvidenceNoteViewModel)
    
    @*@if (Model.DisplayEditButton)
    {
        <div class="govuk-!-margin-top-3">
            @Html.RouteLink("Edit evidence note", new { organisationId = Model.OrganisationId, aatfId = Model.AatfId, evidenceNoteId = Model.Id}, new { @class="govuk-button govuk-button--secondary"})
        </div>
    }*@
</section>