@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.Areas.Scheme.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes.ReviewEvidenceNoteViewModel
@{
    ViewBag.Title = "Manage Evidence";
}

<section id="main-content">

    @using (Html.BeginForm("ReviewEvidenceNote", "ManageEvidenceNotes", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.ViewEvidenceNoteViewModel.OrganisationId)
        @Html.HiddenFor(m => m.ViewEvidenceNoteViewModel.Id)
        @Html.HiddenFor(m => m.ViewEvidenceNoteViewModel.Reference)
        @Html.HiddenFor(m => m.ViewEvidenceNoteViewModel.Type)
        @Html.HiddenFor(m => m.ViewEvidenceNoteViewModel.Status, new { id = "status-id" })

        @(this.WeeeGds().BackLink(@Url.UrlFor<ManageEvidenceNotesController>(a => a.Index(Model.ViewEvidenceNoteViewModel.OrganisationId, null)), "Manage evidence notes"))

        @Html.Gds().ValidationSummary()

        <h1 class="govuk-heading-l">Review evidence</h1>
        <p class="govuk-body govuk-!-margin-bottom-7">After review, you can choose whether to approve, reject or return the evidence note.</p>

        @Html.Partial("_ViewEvidenceNotePartial", Model.ViewEvidenceNoteViewModel)

        <!-- radiobuttons for approved -->
        <p>Choose whether to approve, reject or return the evidence note</p>
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedValue)" id="approval-options">
            @Html.Gds().ValidationMessageFor(m => m.SelectedValue)
            @this.WeeeGds().RadioButtonsFor(
                m => m.SelectedValue,
                Model.PossibleValues,
                "Choose whether to approve, reject or return the evidence note",
                RadioButtonLegend.VisuallyHidden,
                RadioButtonLayout.Stacked,
                Model.HintItems)
        </div>

        <div class="govuk-form-group">
            <button class="govuk-button" type="submit" data-module="govuk-button" data-prevent-double-click="true">Save and continue</button>
        </div>
    }
</section>
