@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.Areas.Scheme.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes.ReviewEvidenceNoteViewModel
@{
    ViewBag.Title = "Manage Evidence";
}

<section id="main-content">

    @(this.WeeeGds().BackLink(@Url.UrlFor<ManageEvidenceNotesController>(a => a.Index(Model.ViewEvidenceNoteViewModel.OrganisationId, null)), "Manage evidence notes"))

    <h1>Review evidence</h1>
    <p>After review, you can choose whether to approve, reject or return the evidence note.</p>

    @Html.Partial("_ViewEvidenceNotePartial", Model)

    @using (Html.BeginForm("ReviewEvidenceNote", "ManageEvidenceNotes", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <!-- radiobuttons for approved -->
        <p>Choose whether to approve, reject or return the evidence note</p>
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.EvidenceNoteApprovalOptionsViewModel.SelectedValue)" id="WeeeStatusOptions">
            @this.WeeeGds().RadioButtonsFor(
                 m => m.EvidenceNoteApprovalOptionsViewModel.SelectedValue,
                 Model.EvidenceNoteApprovalOptionsViewModel.PossibleValues,
                 "Choose whether to approve, reject or return the evidence note",
                 RadioButtonLegend.VisuallyHidden,
                 RadioButtonLayout.Inline)
        </div>

        <div class="govuk-form-group">
            <button class="govuk-button" type="submit" data-module="govuk-button" data-prevent-double-click="true">Save and continue</button>
        </div>
    }
</section>
