@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.Helpers
@using EA.Weee.Web.Areas.Scheme.Controllers
@using EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes.ReviewEvidenceNoteViewModel
@{
    ViewBag.Title = "Review evidence - GOV.UK";
}

@section full_main_content
{
    @(this.WeeeGds().BackLink(@Url.UrlFor<ManageEvidenceNotesController>(a => a.Index(Model.ViewEvidenceNoteViewModel.SchemeId, ManageEvidenceNotesDisplayOptions.ReviewSubmittedEvidence.ToDisplayString()))))

    @using (Html.BeginForm("ReviewEvidenceNote", "ManageEvidenceNotes", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.ViewEvidenceNoteViewModel.SchemeId)
        @Html.HiddenFor(m => m.ViewEvidenceNoteViewModel.OrganisationId)
        @Html.HiddenFor(m => m.ViewEvidenceNoteViewModel.Id)
        @Html.HiddenFor(m => m.ViewEvidenceNoteViewModel.Reference)
        @Html.HiddenFor(m => m.ViewEvidenceNoteViewModel.Type)
        @Html.HiddenFor(m => m.ViewEvidenceNoteViewModel.Status, new { id = "status-id" })

        @Html.Gds().ValidationSummary()

        <h1 class="govuk-heading-l">Review evidence</h1>
        <p class="govuk-body govuk-!-margin-bottom-5">After review, you can choose whether to approve, reject or return the evidence note.</p>

        @Html.Partial("_ViewEvidenceNotePartial", Model.ViewEvidenceNoteViewModel)

        <!-- radiobuttons for approved -->
        <p class="govuk-!-margin-top-7">Choose whether to approve, reject or return the evidence note</p>
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedValue)" id="SelectedValue">
            @Html.Gds().ValidationMessageFor(m => m.SelectedValue)
            @this.WeeeGds().RadioButtonsFor(
                m => m.SelectedValue,
                Model.PossibleValues,
                "Choose whether to approve, reject or return the evidence note",
                RadioButtonLegend.VisuallyHidden,
                RadioButtonLayout.Stacked,
                Model.HintItems)
        </div>

        <div id="reason-text" class="govuk-!-margin-bottom-7">
            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Reason)" id="reason">
                @Html.Gds().LabelFor(m => m.Reason, showOptionalLabel: false)
                @Html.Gds().ValidationMessageFor(m => m.Reason)
                @Html.TextAreaFor(m => m.Reason, htmlAttributes: new { @class = "govuk-textarea", @maxlength = "200", @title = "You can type up to 200 characters" })
            </div>
        </div>

        <div class="govuk-form-group">
            @this.WeeeGds().Button("Save and continue")
        </div>
    }
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            initReviewEvidenceNote();
        });
    </script>
}