@model EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes.SummaryEvidenceViewModel

@section full_main_content
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            @Html.Partial("_ManageEvidenceNotesHeaderAndTabs", Model)

            <section class="govuk-tabs__panel" id="pcsEvidenceSummary">

                <header class="hgroup">
                    <h2 class="govuk-heading-m">
                        Evidence summary
                    </h2>
                </header>

                @if (!Model.SchemeInfo.IsBalancingScheme)
                {
                    if (Model.DisplayNoDataMessage)
                    {
                        <p class="govuk-details__text govuk-!-margin-bottom-4 govuk-!-margin-bottom-4">
                            Evidence column includes approved evidence and net transfer
                        </p>
                    }
                    else
                    {
                        <p class="govuk-details__text govuk-!-margin-bottom-4 govuk-!-margin-bottom-4">
                            The data shown in the table is for household evidence.
                            <br />
                            The evidence column includes approved evidence and net transfer.
                        </p>
                    }
                }
                else
                {
                    <!-- dont need any of the details or report links -->
                    <!--<p class="govuk-body">
                        <span class="govuk-!-font-size-36 govuk-!-font-weight-bold govuk-!-padding-left-0">@Model.NumberOfSubmittedNotes &nbsp; <span class="govuk-body">Submitted evidence notes for review &nbsp;</span> </span>
                    </p>-->
                    <!-- two download links here -->
                    <!--<p class="govuk-body"><a href="#">Download evidence notes report</a></p>
                    <p class="govuk-body"><a href="#">Download transferred evidence report</a></p>-->
                }

                <table id="evidence-summary-table" class="govuk-table">
                    <caption class="govuk-table__caption govuk-visually-hidden">Obligation evidence summary</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">
                                Category
                            </th>
                            @if (!Model.SchemeInfo.IsBalancingScheme)
                            {
                                <th class="govuk-table__header govuk-!-text-align-left" style="width: 20%;">
                                    Obligation (tonnes)
                                </th>
                            }
                            @if (!Model.SchemeInfo.IsBalancingScheme)
                            {
                                <th class="govuk-table__header govuk-!-text-align-left" style="width: 16%;">
                                    Evidence (tonnes)
                                </th>
                            }
                            else
                            {
                                <th class="govuk-table__header govuk-!-text-align-left" style="width: 20%;">
                                    Evidence received (tonnes)
                                </th>
                            }
                            @if (!Model.SchemeInfo.IsBalancingScheme)
                            {
                                <th class="govuk-table__header govuk-!-text-align-left" style="width: 16%;">
                                    Reuse (tonnes)
                                </th>
                            }
                            <th class="govuk-table__header govuk-!-text-align-left" style="width: 16%;">
                                Transferred out (tonnes)
                            </th>
                            @if (!Model.SchemeInfo.IsBalancingScheme)
                            {
                                <th class="govuk-table__header govuk-!-text-align-left" style="width: 16%;">
                                    Transferred in (tonnes)
                                </th>
                            }
                            <th class="govuk-table__header govuk-!-text-align-left" style="width: 16%;">
                                Difference (tonnes)
                            </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @for (var i = 0; i < Model.ObligationEvidenceValues.Count; i++)
                        {
                            var category = Model.ObligationEvidenceValues[i];

                            <tr class="govuk-table__row" id="category-row-@category.CategoryId">
                                <td class="govuk-table__cell">
                                    <span id="@category.CategoryId-label">@(@category.CategoryId). @category.CategoryDisplay</span>
                                </td>
                                @if (!Model.SchemeInfo.IsBalancingScheme)
                                {
                                    <td class="govuk-table__cell govuk-!-text-align-right">
                                        @category.Obligation
                                    </td>
                                }
                                <td class="govuk-table__cell govuk-!-text-align-right">
                                    @category.Evidence
                                </td>
                                @if (!Model.SchemeInfo.IsBalancingScheme)
                                {
                                    <td class="govuk-table__cell govuk-!-text-align-right">
                                        @category.Reused
                                    </td>
                                }
                                <td class="govuk-table__cell govuk-!-text-align-right">
                                    @category.TransferredOut
                                </td>
                                @if (!Model.SchemeInfo.IsBalancingScheme)
                                {
                                    <td class="govuk-table__cell govuk-!-text-align-right">
                                        @category.TransferredIn
                                    </td>
                                }
                                <td class="govuk-table__cell govuk-!-text-align-right">
                                    @category.Difference
                                </td>
                            </tr>
                        }

                        <tr class="govuk-table__row govuk-panel-grey-background">
                            <td class="govuk-table__cell">
                                <p class="govuk-body"><strong>Category 2-10 summary</strong></p>
                            </td>
                            @if (!Model.SchemeInfo.IsBalancingScheme)
                            {
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <p class="govuk-body govuk-!-text-align-right" id="Obligation2To10Total">@Model.Obligation210Total</p>
                                </td>
                            }
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                <p class="govuk-body govuk-!-text-align-right" id="Evidence2To10Total">@Model.Evidence210Total</p>
                            </td>
                            @if (!Model.SchemeInfo.IsBalancingScheme)
                            {
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <p class="govuk-body govuk-!-text-align-right" id="Reused2To10Total">@Model.Reuse210Total</p>
                                </td>
                            }
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                <p class="govuk-body govuk-!-text-align-right" id="TransferredOut2To10Total">@Model.TransferredOut210Total</p>
                            </td>
                            @if (!Model.SchemeInfo.IsBalancingScheme)
                            {
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <p class="govuk-body govuk-!-text-align-right" id="TransferredIn2To10Total">@Model.TransferredIn210Total</p>
                                </td>
                            }
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                <p class="govuk-body govuk-!-text-align-right" id="Difference2To10Total">@Model.Difference210Total</p>
                            </td>
                        </tr>

                        <tr class="govuk-table__row govuk-panel-grey-background">
                            <td class="govuk-table__cell">
                                <p class="govuk-body"><strong>Total (tonnes)</strong></p>
                            </td>
                            @if (!Model.SchemeInfo.IsBalancingScheme)
                            {
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <p class="govuk-body govuk-!-text-align-right" id="ObligationTotal">@Model.ObligationTotal</p>
                                </td>
                            }
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                <p class="govuk-body govuk-!-text-align-right" id="EvidenceTotal">@Model.EvidenceTotal</p>
                            </td>
                            @if (!Model.SchemeInfo.IsBalancingScheme)
                            {
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <p class="govuk-body govuk-!-text-align-right" id="ReusedTotal">@Model.ReuseTotal</p>
                                </td>
                            }
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                <p class="govuk-body govuk-!-text-align-right" id="TransferredOutTotal">@Model.TransferredOutTotal</p>
                            </td>
                            @if (!Model.SchemeInfo.IsBalancingScheme)
                            {
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <p class="govuk-body govuk-!-text-align-right" id="TransferredInTotal">@Model.TransferredInTotal</p>
                                </td>
                            }
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                <p class="govuk-body govuk-!-text-align-right" id="DifferenceTotal">@Model.DifferenceTotal</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </section>
        </div>
    </div>
}