@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.AatfEvidence
@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Web.Areas.Scheme.ViewModels
@using EA.Weee.Web.Areas.Scheme.Controllers
@using EA.Weee.Web.Extensions
@using MvcNavigationHelpers

@model EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes.SummaryEvidenceViewModel

@section full_main_content
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            @Html.Partial("_ManageEvidenceNotesHeaderAndTabs", Model)

            <section class="govuk-tabs__panel" id="pcsEvidenceSummary">

                <header class="hgroup">
                    <h2 class="govuk-heading-m">
                        @if (Model.ManageEvidenceNoteViewModel.SelectedComplianceYear > 0)
                        {
                            <span>Evidence summary for @Model.ManageEvidenceNoteViewModel.SelectedComplianceYear</span>
                        }
                        else
                        {
                            <span>Evidence summary</span>
                        }
                    </h2>
                </header>

                @Html.Partial("_EvidenceNotesReportsLinks", Model)

                <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-7">
                    @(this.WeeeGds().ActionLinkWithEventTracking("Download evidence transfers report (CSV)",
                                                                 null,
                                                                 Url.UrlFor<ManageEvidenceNotesController>(c => c.DownloadEvidenceTransfersReport(Model.OrganisationId, Model.ManageEvidenceNoteViewModel.SelectedComplianceYear)),
                                                                 "Downloads",
                                                                 "Evidence evidence transfers report (CSV)"))
                </p>

                <table id="evidence-summary-table" class="govuk-table">
                    <caption class="govuk-table__caption govuk-visually-hidden">Obligation evidence summary</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">
                                Category
                            </th>
                            <th class="govuk-table__header govuk-!-text-align-left" style="width: 20%;">
                                Evidence received (tonnes)
                            </th>
                            <th class="govuk-table__header govuk-!-text-align-left govuk-!-padding-left-5" style="width: 20%;">
                                Transferred out (tonnes)
                            </th>
                            <th class="govuk-table__header govuk-!-text-align-left govuk-!-padding-left-9" style="width: 20%;">
                                Difference (tonnes)
                            </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @for (var i = 0; i < Model.ObligationEvidenceValues.Count; i++)
                        {
                            var category = Model.ObligationEvidenceValues[i];

                            <tr class="govuk-table__row" id="category-row-@category.CategoryId">
                                <td class="govuk-table__cell">
                                    <span id="@category.CategoryId-label">@(@category.CategoryId). @category.CategoryDisplay</span>
                                </td>
                                <td class="govuk-table__cell govuk-!-text-align-right govuk-!-padding-right-1">
                                    @category.EvidenceOriginal
                                </td>
                                <td class="govuk-table__cell govuk-!-text-align-right govuk-!-padding-right-1">
                                    @category.TransferredOut
                                </td>
                                <td class="govuk-table__cell govuk-!-text-align-right govuk-!-padding-right-1">
                                    @category.EvidenceDifference
                                </td>
                            </tr>
                        }

                        <tr class="govuk-table__row govuk-panel-grey-background">
                            <td class="govuk-table__cell">
                                <p class="govuk-body"><strong>Category 2-10 summary</strong></p>
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-padding-right-1">
                                <p class="govuk-body govuk-!-text-align-right" id="Evidence2To10Total">@Model.EvidenceOriginal210Total</p>
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-padding-right-1">
                                <p class="govuk-body govuk-!-text-align-right" id="TransferredOut2To10Total">@Model.TransferredOut210Total</p>
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-padding-right-1">
                                <p class="govuk-body govuk-!-text-align-right" id="Difference2To10Total">@Model.Difference210Total</p>
                            </td>
                        </tr>

                        <tr class="govuk-table__row govuk-panel-grey-background">
                            <td class="govuk-table__cell">
                                <p class="govuk-body"><strong>Total (tonnes)</strong></p>
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-padding-right-1">
                                <p class="govuk-body govuk-!-text-align-right" id="EvidenceTotal">@Model.EvidenceOriginalTotal</p>
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-padding-right-1">
                                <p class="govuk-body govuk-!-text-align-right" id="TransferredOutTotal">@Model.TransferredOutTotal</p>
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-padding-right-1">
                                <p class="govuk-body govuk-!-text-align-right" id="DifferenceTotal">@Model.DifferenceTotal</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </section>
        </div>
    </div>
}