@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.AatfEvidence
@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Web.Areas.Aatf.ViewModels
@using EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes
@using EA.Weee.Web.Extensions

@model EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes.SchemeViewAndTransferManageEvidenceSchemeViewModel


@section full_main_content
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            @Html.Partial("_ManageEvidenceNotesHeaderAndTabs", Model)

            <section class="govuk-tabs__panel" id="pcsDetails">
                <h2 class="govuk-heading-m">
                    View all reviewed evidence or transfer to another PCS
                </h2>

                @if (Model.DisplayTransferButton)
                {
                    using (Html.BeginForm(actionName: "Transfer", controllerName: "ManageEvidenceNotes", method: FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.OrganisationId)

                        @(this.WeeeGds().Submit("Transfer evidence"))
                    }
                }

                <table id="reviewed-evidence-notes-table" class="govuk-table">
                    <caption class="govuk-table__caption govuk-visually-hidden">View all reviewed evidence or transfer to another PCS</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">
                            Reference ID
                        </th>
                        <th class="govuk-table__header">
                            Submitted date
                        </th>
                        <th class="govuk-table__header">
                            Submitted by
                        </th>
                        <th class="govuk-table__header">
                            Type of waste
                        </th>
                        <th class="govuk-table__header">
                            Status
                        </th>
                        <th class="govuk-table__header">
                            @Html.Gds().VisuallyHidden("actions")
                        </th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    @if (Model.EvidenceNotesDataList.Any())
                    {
                        foreach (var note in Model.EvidenceNotesDataList)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@note.ReferenceDisplay</td>
                                <td class="govuk-table__cell">@(note.SubmittedDateDisplay)</td>
                                <td class="govuk-table__cell">@note.SubmittedBy</td>
                                @if (note.TypeOfWaste.HasValue)
                                {
                                    <td class="govuk-table__cell">@(note.TypeOfWaste.Value.ToDisplayString()) </td>
                                }
                                else
                                {
                                    <td class="govuk-table__cell"> </td>
                                }
                                <td class="govuk-table__cell">@note.Status</td>
                                <td class="govuk-table__cell">
                                    @if (@note.Type == NoteType.Transfer)
                                    {
                                        @Html.NavigationRouteLink("View", "View transfer note " + @note.ReferenceId, note.SchemeViewRouteName, new { pcsId = Model.OrganisationId, evidenceNoteId = @note.Id, selectedComplianceYear = Model.ManageEvidenceNoteViewModel.SelectedComplianceYear, redirectTab = ManageEvidenceNotesDisplayOptions.ViewAndTransferEvidence.ToDisplayString() }, null)
                                    }
                                    else
                                    {
                                        @Html.NavigationRouteLink("View", "View evidence note with reference " + @note.ReferenceId, "Scheme_evidence_default", new { action = "DownloadEvidenceNote", controller = "ManageEvidenceNotes", pcsId = Model.OrganisationId, evidenceNoteId = @note.Id, selectedComplianceYear = Model.ManageEvidenceNoteViewModel.SelectedComplianceYear }, null)
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">
                                <p>There are currently no evidence notes to view or transfer </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p> Showing 0 - 0 of 0 </p>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </section>
        </div>
    </div>
}