@model EA.Iws.Requests.Producers.ProducerData

@{
    ViewBag.Title = "Waste Generator(s) - Producer(s)";
}

@using (Html.BeginForm("Add", "Producer", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    <header class="hgroup">
        <h2 class="heading-large">Add waste generator - producer</h2>
        <div class="colored-header-bar"></div>
    </header>

    <div class="form-group">
        @Html.HiddenFor(m => m.NotificationId)
    </div>

    @Html.EditorFor(m => m.Business)

    <h2 class="heading-medium">Address</h2>
    <hr/>
    
    @Html.EditorFor(m => m.Address)

    <h2 class="heading-medium">Contact person</h2>
    <hr/>
    
    @Html.EditorFor(m => m.Contact)

    <button class="button" type="submit">Continue</button>
}