@model EA.Weee.Web.ViewModels.NotificationApplication.MultipleProducersViewModel
@{
    ViewBag.Title = "List Producers";
}
<h2 class="heading-large">Waste generator - producer <br/>Select site of export</h2>

@Html.AntiForgeryToken()
@Html.Gds().ValidationSummary()

@if (Model != null && Model.ProducerData.Any())
{
    <div class="colored-header-bar"></div>
    <table>
        <tbody>
            @for (var i = 0; i < Model.ProducerData.Count; i++)
            {
                <tr>
                    <td>
                        <details>
                            <summary><span class="summary">@Html.DisplayFor(m => m.ProducerData[i].Business.Name)</span></summary>
                            <div class="grid-row">
                                <div class="column-third">
                                    @Html.DisplayFor(m => m.ProducerData[i].Contact.FirstName) @Html.DisplayFor(m => m.ProducerData[i].Contact.LastName)<br />
                                    <a href="mailto:@Model.ProducerData[i].Contact.Email">@Model.ProducerData[i].Contact.Email</a><br />
                                    Tel: @Html.DisplayFor(m => m.ProducerData[i].Contact.Telephone)<br />
                                    @if (Model.ProducerData[i].Contact.Fax != null)
                                    {
                                        <label>Fax: </label>
                                        @Html.DisplayFor(model => model.ProducerData[i].Contact.Fax);
                                    }
                                </div>
                                <div class="column-third">
                                    @Html.DisplayFor(m => m.ProducerData[i].Address.Building),<br />
                                    @Html.DisplayFor(m => m.ProducerData[i].Address.StreetOrSuburb),<br />
                                    @if (Model.ProducerData[i].Address.Address2 != null)
                                    {
                                        @Html.DisplayFor(model => model.ProducerData[i].Address.Address2)
                                        @Html.Raw(",<br/>")
                                    }
                                    @Html.DisplayFor(m => m.ProducerData[i].Address.TownOrCity) @Html.DisplayFor(m => m.ProducerData[i].Address.PostalCode)
                                </div>
                                <div class="column-third">
                                </div>
                            </div>
                        </details>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="form-group"></div>
<div class="form-group">
    @Html.ActionLink("Add more", "Add", "Producer", new { id = Model.NotificationId }, null)
</div>
@Html.ActionLink("Continue", "Add", "Importer", new { id = Model.NotificationId }, new { @class = "button" })

<div id="divConfirmDelete" class="clearfix"></div>

@section scripts
{
    <script type="text/javascript">
                $(function () {
                    // When the background is clicked, hide the background
                    $("#btnYes").click(function (e) {
                    });

                    $("#divConfirmDelete").click(function (e) {
                        if (e.target === this && $(this).hasClass("fadeBackground")) {
                            $(this).removeClass("fadeBackground");
                            $(this).empty();
                        }
                    });

                    $(".deleteLink").click(function () {
                        $("#divConfirmDelete").addClass("fadeBackground").removeClass("clearfix");
                    });
                })
    </script>
}
