@{
    Layout = "~/Views/Shared/_Layout.GovUK.cshtml";
    ViewBag.HeaderClass = "with-proposition";
}

@* Implement sections here *@

@section head {
    @Html.Partial("_WeeeHead")
    @*Html.Partial("_WeeeTracking")*@
    @RenderSection("head", required: false)
}

@section body_end {
    @Scripts.Render("~/bundles/jquery-3")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/govuk_frontend")
    @Scripts.Render("~/bundles/govuk_weee")
    @RenderSection("scripts", required: false)
}

<main id="content" role="main">
    @RenderBody()
    @if (IsSectionDefined("main_content"))
    {
        <div class="govuk-grid-row">
            <section class="govuk-grid-column-two-thirds">
                @RenderSection("main_content", required: false)
            </section>
            @if (IsSectionDefined("related_content"))
            {
                <div class="related-container">
                    <div class="related">
                        @RenderSection("related_content", required: false)
                    </div>
                </div>
            }
        </div>
    }
</main>