@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.AatfReturn
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.ViewModels.Returns.ReturnViewModel
@{
    ViewBag.Title = "AATF return summary - GOV.UK";
}

@{
    var hideOpenClass = Model.AnyAatfSchemes ? "" : "hide";
}

<section id="main-content">
    <header class="hgroup">
        <div>
            <h1 class="govuk-heading-l">AATF return summary</h1>
        </div>
    </header>

    <div class="govuk-table govuk-grid-column-full" id="weee-data-entry-table">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><strong>Compliance year</strong></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                @Model.Year
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p><strong>Reporting period</strong></p>
            </div>
            <div class="govuk-grid-column-one-quarter">
                @Model.Period
            </div>
        </div>
    </div>

    <h2 class="govuk-heading-m">Obligated WEEE</h2>
    <div class="govuk-!-padding-bottom-6"></div>

    <span id="mainLink-collapsible" class="mainLink-collapsibleclass collapsible-font-size">
        <a href="#" id="collapsibleHref" class="@hideOpenClass">Open all</a>
    </span>

    <div class="govuk-table govuk-grid-column-full">
        <div class="govuk-grid-row govuk-table__line"></div>

        @foreach (var aatf in Model.AatfsData)
        {
            <div class="govuk-grid-row govuk-table__row govuk-table__header--no-line">
                <p>
                    <b>Obligated WEEE - @aatf.Aatf.Name (@aatf.Aatf.ApprovalNumber)</b>
                </p>
                <p>
                    Status: <b>@aatf.Aatf.AatfStatus</b>
                </p>
            </div>

            <div class="govuk-grid-column-one-half">&nbsp;</div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-grid-column-one-half weee-tonnage-right-aligned-display">
                        <strong>B2C (tonnes)</strong>
                    </div>
                    <div class="govuk-grid-column-one-half weee-tonnage-right-aligned-display">
                        <strong>B2B (tonnes)</strong>
                    </div>
                </div>
            </div>

            <div class="govuk-!-padding-bottom-4"></div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <strong>Received for treatment</strong>
                </div>

                <div class="govuk-grid-column-one-half">
                    @if (Model.ReportOnDisplayOptions.DisplayObligatedReceived)
                    {
                        <div class="govuk-grid-column-one-half weee-tonnage-right-aligned-display">
                            <p>
                                @aatf.WeeeReceived.B2C
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half weee-tonnage-right-aligned-display">
                            <p>
                                @aatf.WeeeReceived.B2B
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="weee-tonnage-right-aligned-display">
                            <p class="not-reported-option-center">
                                Not selected for reporting this quarter
                            </p>
                        </div>
                    }
                </div>
            </div>

            if (aatf.SchemeData.Count > 0)
            {
                <details class="govuk-details collapsible-font-size" aria-live="polite" role="group">
                    <summary id="details-@aatf.Aatf.Id" class="govuk-details__summary" aria-controls="details-content" aria-expanded="false">
                        <span class="govuk-details__summary-text">
                            Breakdown by PCS
                        </span>
                    </summary>
                    <div class="govuk-details__text" aria-hidden="true">
                        <div class="govuk-grid-row govuk-body collapsible-font-size">
                            <div class="govuk-grid-column-one-half">
                                <div class="govuk-grid-column-two-thirds">
                                    <strong>PCS name</strong>
                                </div>

                                <div class="govuk-grid-column-one-third collapsible-padding-right">
                                    <strong>Approval number</strong>
                                </div>

                            </div>
                        </div>
                        @foreach (var pcsdata in aatf.SchemeData)
                        {
                            <div class="govuk-grid-row govuk-body govuk-body collapsible-font-size">
                                <div class="govuk-grid-column-one-half">
                                    <div class="govuk-grid-column-two-thirds">
                                        @pcsdata.Scheme.SchemeName
                                    </div>

                                    <div class="govuk-grid-column-one-third collapsible-padding-right">
                                        @pcsdata.ApprovalName
                                    </div>
                                </div>
                                <div class="govuk-grid-column-one-half">
                                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                                        @pcsdata.Received.B2C
                                    </div>
                                    <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                                        @pcsdata.Received.B2B
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </details>
            }

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <strong>Sent to another AATF / ATF</strong>
                </div>
                <div class="govuk-grid-column-one-half">
                    @if (Model.ReportOnDisplayOptions.DisplayObligatedSentOn)
                    {
                        <div class="govuk-grid-column-one-half weee-tonnage-right-aligned-display">
                            <p>
                                @aatf.WeeeSentOn.B2C
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half weee-tonnage-right-aligned-display">
                            <p>
                                @aatf.WeeeSentOn.B2B
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="weee-tonnage-right-aligned-display">
                            <p class="not-reported-option-center">
                                Not selected for reporting this quarter
                            </p>
                        </div>
                    }
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <strong>Reused as a whole appliance</strong>
                </div>
                <div class="govuk-grid-column-one-half">
                    @if (Model.ReportOnDisplayOptions.DisplayObligatedReused)
                    {
                        <div class="govuk-grid-column-one-half weee-tonnage-right-aligned-display">
                            <p>
                                @aatf.WeeeReused.B2C
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half weee-tonnage-right-aligned-display">
                            <p>
                                @aatf.WeeeReused.B2B
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="weee-tonnage-right-aligned-display">
                            <p class="not-reported-option-center">
                                Not selected for reporting this quarter
                            </p>
                        </div>
                    }
                </div>
            </div>
            <div class="govuk-grid-row govuk-table__line"></div>
        }

    </div>


    <h2 class="govuk-heading-m">Non-obligated WEEE</h2>

    <div class="govuk-!-padding-bottom-4"></div>
    <div class="govuk-table govuk-grid-column-full">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">&nbsp;</div>
            <div class="govuk-grid-column-one-third weee-tonnage-right-aligned-display">
                <p>
                    <strong>Total (tonnes)</strong>
                </p>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p>
                    <strong>WEEE received</strong>
                </p>
            </div>
            <div class="govuk-grid-column-one-third">
                @if (Model.ReportOnDisplayOptions.DisplayNonObligated)
                {
                    <div class="weee-tonnage-right-aligned-display">
                        <p>
                            @Model.NonObligatedTonnageTotal
                        </p>
                    </div>
                }
                else
                {
                    <p class="not-reported-option">
                        Not selected for reporting this quarter
                    </p>
                }
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p>
                    <strong>WEEE retained by a DCF</strong>
                </p>
            </div>
            <div class="govuk-grid-column-one-third">

                @if (Model.ReportOnDisplayOptions.DisplayNonObligatedDcf)
                {
                    <div class="weee-tonnage-right-aligned-display">
                        <p>
                            @Model.NonObligatedTonnageTotalDcf
                        </p>
                    </div>
                }
                else
                {
                    <p class="not-reported-option">
                        Not selected for reporting this quarter
                    </p>
                }
            </div>
        </div>
    </div>

    <div class="govuk-!-padding-bottom-6" />
    <div class="govuk-grid-row" />
    <a href="@Url.Action("Index", "Returns", new { organisationId = Model.OrganisationId})" class="govuk-back-link">Back</a>
</section>

@Scripts.Render("~/bundles/weee-collapsible-link")
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            InitialStartup();
        });
    </script>
}