@using EA.Weee.Web.Areas.Aatf.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@using HomeController = EA.Weee.Web.Areas.Scheme.Controllers.HomeController
@model EA.Weee.Web.Areas.Aatf.ViewModels.ManageEvidenceNoteViewModel
@{
    var title = String.Format("Manage evidence notes for {0}", Model.AatfName);
    ViewBag.Title = title + " - GOV.UK";

}

@if (Model.SingleAatf)
{
    @(this.WeeeGds().BackLink(@Url.UrlFor<HomeController>(a => a.ChooseActivity(Model.OrganisationId))))
}
else
{
    @(this.WeeeGds().BackLink(@Url.UrlFor<ChooseSiteController>(a => a.Index(Model.OrganisationId))))
}

<header class="hgroup">
    <h1 class="govuk-heading-l">
        @title
    </h1>
</header>

@using (Html.BeginForm(actionName: "Index", controllerName: "ManageEvidenceNotes", method: FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.OrganisationId)
    @Html.HiddenFor(m => m.AatfId)

    @(this.WeeeGds().Submit("Create new evidence note"))
}

<br />