@using EA.Weee.Web.Areas.Aatf.Controllers
@using EA.Weee.Core.Shared
@using MvcNavigationHelpers
@using EA.Weee.Web.Extensions
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Web.Areas.Aatf.ViewModels
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Web.ViewModels.Shared

@model EA.Weee.Web.Areas.Aatf.ViewModels.AllOtherEvidenceNotesViewModel

<section id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            @Html.Partial("~/Areas/Aatf/Views/ManageEvidenceNotes/Overview/_CreateEvidenceNotePartial.cshtml", Model.ManageEvidenceNoteViewModel)

            <div class="govuk-tabs">
                @Html.Partial("~/Areas/Aatf/Views/ManageEvidenceNotes/Overview/_ManageEvidenceNotesOverviewHeaderAndTabs.cshtml", Model)

                <section class="govuk-tabs__panel" id="allOtherNotes">
                    @using (Html.BeginForm("Index", "ManageEvidenceNotes", FormMethod.Get))
                    {
                        @Html.Gds().ValidationSummary()

                        <div class="govuk-!-width-full govuk-panel-grey-background">
                            @Html.Partial("~/Areas/Aatf/Views/ManageEvidenceNotes/Overview/_SearchByReferencePartial.cshtml", Model.ManageEvidenceNoteViewModel,
                                     new ViewDataDictionary() { new KeyValuePair<string, object>("activeOverviewDisplayOption", Model.ActiveOverviewDisplayOption) })

                            @Html.Partial("~/Areas/Aatf/Views/ManageEvidenceNotes/Overview/_SearchBySubmittedDatesPartial.cshtml", Model.ManageEvidenceNoteViewModel,
                                   new ViewDataDictionary() { new KeyValuePair<string, object>("activeOverviewDisplayOption", Model.ActiveOverviewDisplayOption) })

                           
                                @Html.Partial("~/Areas/Aatf/Views/ManageEvidenceNotes/Overview/_SearchByRecipientWasteStatusPartial.cshtml", Model.ManageEvidenceNoteViewModel,
                                    new ViewDataDictionary() { new KeyValuePair<string, object>("activeOverviewDisplayOption", Model.ActiveOverviewDisplayOption) })


                                @Html.Partial("~/Areas/Aatf/Views/ManageEvidenceNotes/Overview/_SearchFilterButtonsPartial.cshtml", Model.ManageEvidenceNoteViewModel,
                                    new ViewDataDictionary() { new KeyValuePair<string, object>("activeOverviewDisplayOption", Model.ActiveOverviewDisplayOption) })
                           
                            </div>
                            }
                            <table id="all-other-notes-table" class="govuk-table">
                                <caption class="govuk-table__caption govuk-visually-hidden">All other evidence notes</caption>
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header">
                                            Reference ID
                                        </th>
                                        <th class="govuk-table__header">
                                            Submitted date
                                        </th>
                                        <th class="govuk-table__header">
                                            Recipient
                                        </th>
                                        <th class="govuk-table__header">
                                            Type of waste
                                        </th>
                                        <th class="govuk-table__header">
                                            Status
                                        </th>
                                        <th class="govuk-table__header">@Html.Gds().VisuallyHidden("actions")</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @if (Model.EvidenceNotesDataList.Any())
                                    {
                                        foreach (var note in Model.EvidenceNotesDataList)
                                        {
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell">@note.ReferenceDisplay</td>
                                                @if (note.SubmittedDate.HasValue)
                                                {
                                                    <td class="govuk-table__cell">@note.SubmittedDate.Value.ToShortDateString()</td>
                                                }
                                                else
                                                {
                                                    <td class="govuk-table__cell"></td>
                                                }
                                                <td class="govuk-table__cell">@note.Recipient</td>
                                                @if (note.TypeOfWaste.HasValue)
                                                {
                                                    <td class="govuk-table__cell">@(note.TypeOfWaste.Value.ToDisplayString()) </td>
                                                }
                                                else
                                                {
                                                    <td class="govuk-table__cell"> </td>
                                                }

                                                <td class="govuk-table__cell">@note.Status.ToString() </td>

                                                @if (note.DisplayViewLink)
                                                {
                                                    <td class="govuk-table__cell">
                                                        @Html.NavigationRouteLink("View", "View evidence note with reference " + @note.ReferenceId, AatfEvidenceRedirect.ViewSubmittedEvidenceRouteName, new { organisationId = Model.ManageEvidenceNoteViewModel.OrganisationId, aatfId = Model.ManageEvidenceNoteViewModel.AatfId, evidenceNoteId = @note.Id }, null)<br />
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="govuk-table__cell"> </td>
                                                }
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6">
                                                @Html.Partial("~/Areas/Aatf/Views/ManageEvidenceNotes/Overview/_NoResultsPartial.cshtml", Model, new ViewDataDictionary() { new KeyValuePair<string, object>("no-results-message", "<p>There are currently no evidence notes </p>") })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p> Showing 0 - 0 of 0 </p>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <br />
                    </section>
            </div>
        </div>
    </div>
</section>
