@model EA.Weee.Web.ViewModels.Payment.PaymentResultViewModel
@{
    ViewBag.Title = "PaymentResult";
}

@section main_content
{
    <header class="hgroup">
        <h2 class="govuk-heading-l">Payment Result</h2>
    </header>
    <p id="payment-description" class="govuk-body">@Html.DisplayFor(model => model.Description)</p>

    <table id="paymentResultsTable" class="govuk-table prsd-table">
        <tbody class="govuk-table__body">
            <tr>
                <th class="govuk-table__cell" style="text-align: left;">
                    @Html.DisplayNameFor(model => model.Reference)
                </th>
                <td class="govuk-table__cell" style="text-align: left;">
                    @Html.DisplayFor(model => model.Reference)
                </td>
            </tr>
            <tr>
                <th class="govuk-table__cell" style="text-align: left;">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <td class="govuk-table__cell" style="text-align: left;">
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <th class="govuk-table__cell" style="text-align: left;">
                    Card brand
                </th>
                <td class="govuk-table__cell" style="text-align: left;">
                    @Html.DisplayFor(model => model.Card_brand)
                </td>
            </tr>
            <tr>
                <th class="govuk-table__cell" style="text-align: left;">
                    Total Amount
                </th>
                <td class="govuk-table__cell" style="text-align: left;">
                    <span id="amount" class="amount" data-amount="30.00">£@Html.DisplayFor(model => model.Amount)</span>
                </td>
            </tr>
            <tr>
                <th class="govuk-table__cell" style="text-align: left;">
                    Date of payment
                </th>
                <td class="govuk-table__cell" style="text-align: left;">
                    @Html.DisplayFor(model => model.Created_date)
                </td>
            </tr>
            <tr>
                <th class="govuk-table__cell" style="text-align: left;">
                    Payment Status
                </th>
                <td class="govuk-table__cell" style="text-align: left;">
                    @Html.DisplayFor(model => model.Status)
                </td>
            </tr>
        </tbody>
    </table>
}