@using EA.Weee.Core.DataStandards
@using EA.Weee.Web.Areas.Aatf.ViewModels
@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Web.ViewModels.Shared

@model EA.Weee.Web.Areas.Aatf.ViewModels.EditEvidenceNoteViewModel

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <button aria-hidden="true" class="govuk-visually-hidden" type="submit" name="Action" value="@ActionEnum.Save" tabindex="-1">Save</button>
        @Html.HiddenFor(m => m.OrganisationId)
        @Html.HiddenFor(m => m.AatfId)
        @Html.HiddenFor(m => m.Type)
        @Html.HiddenFor(m => m.Status, new { id = "status-id" })
        @Html.HiddenFor(m => m.Reference)
        @Html.HiddenFor(m => m.RejectedReason)
        @Html.HiddenFor(m => m.ReturnedReason)

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-body-m govuk-!-margin-bottom-1 govuk-label--s">Period in which WEEE was received for treatment</div>

            <div class="govuk-grid-column-one-half">
                <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.StartDate)">
                    @Html.Gds().LabelFor(m => m.StartDate, new { @class = "govuk-label--s" })
                    @Html.Gds().ValidationMessageFor(m => m.StartDate)
                    @Html.Gds().TextBoxFor(m => m.StartDate, new { @maxlength = CommonMaxFieldLengths.DefaultString, @class = "jquery-datepicker", @autocomplete = "off", @placeholder = "dd/mm/yyyy" }, false, "{0:dd/MM/yyyy}")
                </div>
            </div>

            <div class="govuk-grid-column-one-half">
                <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.EndDate)">
                    @Html.Gds().LabelFor(m => m.EndDate, new { @class = "govuk-label--s" })
                    @Html.Gds().ValidationMessageFor(m => m.EndDate)
                    @Html.Gds().TextBoxFor(m => m.EndDate, new { @maxlength = CommonMaxFieldLengths.DefaultString, @class = "jquery-datepicker", @autocomplete = "off", @placeholder = "dd/mm/yyyy" }, false, "{0:dd/MM/yyyy}")
                </div>
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-padding-top-3">
            <div class="govuk-grid-column-one-half">
                @if (Model.Status == EA.Weee.Core.AatfEvidence.NoteStatus.Returned)
                {
                    <div class="govuk-grid-column-full govuk-!-padding-left-0 govuk-!-padding-bottom-0 govuk-!-margin-0">
                        @Html.Gds().LabelFor(m => m.ReceivedId, new { @class = "govuk-label--s" })
                        @Html.HiddenFor(m => m.ReceivedId)
                        <span aria-labelledby="ReceivedId" class="govuk-body">@Html.Raw(Model.SelectedSchemeName)</span>
                    </div>
                }
                else
                {
                    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.ReceivedId)">
                        @Html.Gds().LabelFor(m => m.ReceivedId, new { @class = "govuk-label--s" })
                        @Html.Gds().ValidationMessageFor(m => m.ReceivedId)
                        @Html.Gds().DropDownListFor(m => m.ReceivedId, new SelectList(Model.SchemeList, "Id", "SchemeName"), string.Empty, new { @class = "govuk-!-width-full" }, useHalfWidth: false, withLookAhead: true)
                    </div>
                }
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-padding-top-3">
            <div class="govuk-grid-column-one-half">
                <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.WasteTypeValue)">
                    @Html.Gds().LabelFor(m => m.WasteTypeValue, new { @class = "govuk-label--s" }, false)
                    @Html.Gds().ValidationMessageFor(m => m.WasteTypeValue)
                    @Html.Gds().DropDownListFor(m => m.WasteTypeValue, Model.WasteTypeList, string.Empty, new { @class = "govuk-!-width-full" }, useHalfWidth: false)

                </div>
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-padding-top-3">
            <div class="govuk-grid-column-one-half">
                <div class="govuk-form-group  @Html.Gds().FormGroupClass(m => m.ProtocolValue)">
                    @Html.Gds().LabelFor(m => m.ProtocolValue, new { @class = "govuk-label--s" }, false)
                    @Html.Gds().ValidationMessageFor(m => m.ProtocolValue)
                    @Html.Gds().DropDownListFor(m => m.ProtocolValue, Model.ProtocolList, string.Empty, new { @class = "govuk-!-width-full" }, useHalfWidth: false)
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-full govuk-!-padding-top-3">
        <div class="govuk-!-padding-top-4">
            @this.WeeeGds().CreateProgressiveDisclosure("What are the different types of protocol?",
           @Html.Partial("~/Areas/Aatf/Views/ManageEvidenceNotes/Overview/_PDProtocolTypesPartial.cshtml").ToString(),
           "Hidden content",
           "Progressive disclosure",
           "Protocol Types")
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.CategoryValues)">
            <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
                <p class="govuk-!-padding-top-5">
                    Input tonnage below
                    <br />
                    Provide tonnage to 3 decimal places. For example 1.238
                </p>
            </div>
            <div class="govuk-grid-column-one-half govuk-body govuk-!-font-size-19 govuk-!-padding-top-5 govuk-!-padding-right-0 govuk-!-padding-left-3">
                <button aria-hidden="true" class="link-submit govuk-link govuk-link--no-visited-state govuk-!-padding-top-5" style="float: right" type="submit" name="Action" value="@ActionEnum.CopyAndPaste">Use copy and paste to populate the table</button>
            </div>
            <label for="CategoryValues" class="govuk-visually-hidden">hidden link for navigation to tonnage error</label> <input id="CategoryValues" class="govuk-visually-hidden" />
            @Html.Gds().ValidationMessageFor(m => m.CategoryValues)
        </div>
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-visually-hidden">Category tonnage values</caption>
            <thead class="govuk-table__head">
                <tr>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-half">Category</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Total received (tonnes)</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reused as whole appliances (tonnes)</th>
                </tr>
            </thead>

            <tbody class="govuk-table__body">

                @for (var i = 0; i < Model.CategoryValues.Count; i++)
                {
                    var category = Model.CategoryValues[i];

                    <tr class="govuk-table__row" id="category-row-@category.CategoryId">
                        <td class="govuk-table__cell">
                            @(@category.CategoryId). @category.CategoryDisplay
                            @Html.HiddenFor(m => m.CategoryValues[i].CategoryId)
                            @Html.HiddenFor(m => m.CategoryValues[i].CategoryDisplay)
                            @Html.HiddenFor(m => m.CategoryValues[i].Id)
                        </td>
                        <td class="govuk-table__cell">
                            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.CategoryValues[i], m => m.CategoryValues[i].Received)">
                                <span class="govuk-visually-hidden" id="category-received-@category.CategoryId">Total received in tonnes for @category.CategoryDisplay</span>
                                @Html.Gds().ValidationMessageFor(m => m.CategoryValues[i].Received)
                                @Html.TextBoxFor(m => m.CategoryValues[i].Received, new { @class = "govuk-input tonnage-entry", aria_labelledby = "category-received-" + @category.CategoryId, autocomplete = "off", maxlength = CommonMaxFieldLengths.Tonnage })
                            </div>
                        </td>
                        <td class="govuk-table__cell">
                            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.CategoryValues[i], m => m.CategoryValues[i].Reused)">
                                <span class="govuk-visually-hidden" id="category-reused-@category.CategoryId">Total reused in tonnes for @category.CategoryDisplay</span>
                                @Html.Gds().ValidationMessageFor(m => m.CategoryValues[i].Reused)
                                @Html.TextBoxFor(m => m.CategoryValues[i].Reused, new { @class = "govuk-input tonnage-entry", aria_labelledby = "category-reused-" + @category.CategoryId, autocomplete = "off", maxlength = CommonMaxFieldLengths.Tonnage })
                            </div>
                        </td>
                    </tr>

                }

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <p class="govuk-body"><strong>Total</strong></p>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <p class="govuk-body govuk-!-text-align-right" id="ReceivedTotal">@Model.ReceivedTotal</p>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <p class="govuk-body govuk-!-text-align-right" id="ReusedTotal">@Model.ReusedTotal</p>
                    </td>
                </tr>

            </tbody>
        </table>

        <div class="govuk-!-margin-top-3">

            <div class="govuk-button-group">
                @* This is a hidden button to force the default action to be save rather than submit*@
                @this.WeeeGds().Button("Submit evidence note", new { name = "Action", value = ActionEnum.Submit, id = "submit-note", @class = "govuk-!-width-one-quarter" })
                @this.WeeeGds().Button(!Model.Edit ? "Save as draft" : "Save", new { name = "Action", value = ActionEnum.Save, id = "save-note", @class = "govuk-!-width-one-quarter" }, secondaryButton: true)
            </div>

        </div>
    </div>

</div>