@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.ViewModels.Shared.EvidenceNoteViewModel
@{
    ViewBag.Title = "Create evidence note";
}

@section full_main_content{
    @(this.WeeeGds().BackLink(
        Url.Action("Index", "ManageEvidenceNotes",
            new { oranisationId = Model.OrganisationId, aatfId = Model.AatfId, @selectedComplianceYear = Model.ComplianceYear })))

    @using (Html.BeginForm("CreateEvidenceNote", "ManageEvidenceNotes", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <h1 class="govuk-heading-l govuk-!-padding-top-3">
            Enter evidence note details
        </h1>

        @Html.Partial("~/Areas/Aatf/Views/ManageEvidenceNotes/_EditEvidenceNotePartial.cshtml", Model)
    }
    @Scripts.Render("~/bundles/weee_tonnage_totals")
    <script>
        TonnageTotals('Received');
        TonnageTotals('Reused');
    </script>
}

