@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.Helpers
@using EA.Weee.Web.Areas.Aatf.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers

@model EA.Weee.Web.ViewModels.Shared.EvidenceNoteViewModel
@{
    ViewBag.Title = "Edit evidence note details";
}

@section full_main_content{
    @(this.WeeeGds().BackLink(@Url.UrlFor<ManageEvidenceNotesController>(a => a.Index(Model.OrganisationId, Model.AatfId, Model.AatfRedirectTab, null))))
    @*@(this.WeeeGds().BackLink(@Url.UrlFor<ManageEvidenceNotesController>(a => a.RedirectWithComplianceYear(Model.OrganisationId, Model.AatfId, Model.AatfRedirectTab))))*@

    @using (Html.BeginForm("EditEvidenceNote", "ManageEvidenceNotes", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <h1 class="govuk-heading-l govuk-!-padding-top-3">
            Edit evidence note details
        </h1>

        <div class="govuk-width-container govuk-!-margin-top-3 govuk-!-padding-bottom-5">

            <div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-padding-bottom-1">
                @Html.Gds().DisplayFor(m => m.ReferenceDisplay, Model.ReferenceDisplay)
            </div>

            <div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-padding-bottom-1">
                @Html.Gds().DisplayFor(m => m.Status, Model.Status.ToDisplayString())
            </div>

            <div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-padding-bottom-1">
                @Html.Partial("_DisplayRejectedReasonPartial", Model, new ViewDataDictionary() { { "widthCss", "govuk-grid-column-one-third" } })
            </div>
            <div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-padding-bottom-1">
                @Html.Partial("_DisplayReturnedReasonPartial", Model, new ViewDataDictionary() { { "widthCss", "govuk-grid-column-one-third" } })
            </div>

        </div>

        @Html.Partial("~/Areas/Aatf/Views/ManageEvidenceNotes/_EditEvidenceNotePartial.cshtml", Model)
    }
    @Scripts.Render("~/bundles/weee_tonnage_totals")
    <script>
        TonnageTotals('Received');
        TonnageTotals('Reused');
    </script>
}
