@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.Helpers
@using EA.Weee.Web.Areas.Aatf.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers

@model EA.Weee.Web.ViewModels.Shared.EvidenceNoteViewModel
@{
    ViewBag.Title = "Edit evidence note details";
}

@section full_main_content{
    @(this.WeeeGds().BackLink(@Url.UrlFor<ManageEvidenceNotesController>(a => a.Index(Model.OrganisationId, Model.AatfId, Model.RedirectTab, null))))

    @using (Html.BeginForm("EditEvidenceNote", "ManageEvidenceNotes", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <h1 class="govuk-heading-l govuk-!-padding-top-3">
            Edit evidence note details
        </h1>

        <div class="govuk-width-container govuk-!-margin-top-3 govuk-!-padding-bottom-5">

            <div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-padding-bottom-1">
                @Html.Gds().DisplayFor(m => m.ReferenceDisplay, Model.ReferenceDisplay)
            </div>

            <div class="govuk-grid-row govuk-!-width-two-thirds govuk-!-padding-bottom-1">
                @Html.Gds().DisplayFor(m => m.Status, Model.Status.ToDisplayString())
            </div>

            @if (Model.DisplayReturnedReason)
            {
                <div class="govuk-grid-row govuk-!-width-one-full govuk-!-margin-bottom-1">
                    <span id="reason-label" class="govuk-label--s govuk-grid-column-one-quarter" style="width: 198px">
                        @Html.DisplayNameFor(m => m.Reason)
                    </span>
                    <span aria-labelledby="reason-label" class="govuk-grid-column-three-quarters govuk-body weee-word-break" maxlength="200">
                        @Html.DisplayTextFor(m => m.Reason)
                    </span>
                </div>
            }

        </div>

        @Html.Partial("~/Areas/Aatf/Views/ManageEvidenceNotes/_EditEvidenceNotePartial.cshtml", Model)
    }
    @Scripts.Render("~/bundles/weee_tonnage_totals")
    <script>
        TonnageTotals('Received');
        TonnageTotals('Reused');
    </script>
}


