@using EA.Weee.Web.Areas.Aatf.Controllers
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.ViewModels.Shared.ViewEvidenceNoteViewModel
@{
    ViewBag.Title = Model.TabName + " - GOV.UK";
}

@section full_main_content{

    @if (Model.DisplayMessage)
    {
        @(this.WeeeGds().BackLink(
            Url.Action("Index", "ManageEvidenceNotes",
                new { organisationId = Model.OrganisationId, aatfId = Model.AatfId, tab = Model.AatfRedirectTab, selectedComplianceYear = Model.ComplianceYear }), "Manage evidence notes"))
			
        @(this.WeeeGds().Panel(Model.SuccessMessage))
    }
    else
    {
        @(this.WeeeGds().BackLink(
            Url.Action("Index", "ManageEvidenceNotes",
                new { organisationId = Model.OrganisationId, aatfId = Model.AatfId, tab = Model.AatfRedirectTab, selectedComplianceYear = Model.ComplianceYear })))
    }


    @Html.Partial("_ViewEvidenceNotePartial", Model)

    @if (Model.DisplayEditButton)
    {
        <div class="govuk-!-margin-top-3">
            @Html.RouteLink("Edit evidence note", AatfEvidenceRedirect.EditEvidenceRouteName, new { organisationId = Model.OrganisationId, aatfId = Model.AatfId, evidenceNoteId = Model.Id }, new { @class = "govuk-button govuk-button--secondary" })
        </div>
    }
}

