@model EA.Weee.Web.ViewModels.NewUser.UserCreationViewModel
@{
    ViewBag.Title = "Register";
    var signin = Request.QueryString["signin"];
}
<h1 class="heading-large">
    About you and your organisation
</h1>
<p>
    Enter your contact details and the name of your organisation
</p>
<h1 class="heading-large"></h1>

@using (Html.BeginForm("CreateUser", "NewUser"))
{
    @Html.AntiForgeryToken()
    @Html.Gds().ValidationSummary()

    <div class="form-group @Html.Gds().FormGroupClass(m => m.Name)">
        @Html.ValidationMessageFor(m => m.Name)
        @Html.Gds().LabelFor(m => m.Name)
        @Html.Gds().TextBoxFor(m => m.Name)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.Surname)">
        @Html.ValidationMessageFor(m => m.Surname)
        @Html.Gds().LabelFor(m => m.Surname)
        @Html.Gds().TextBoxFor(m => m.Surname)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.Email)">
        @Html.ValidationMessageFor(m => m.Email)
        @Html.Gds().LabelFor(m => m.Email)
        @Html.Gds().TextBoxFor(m => m.Email)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.Password)">
        @Html.ValidationMessageFor(m => m.Password)
        @Html.Gds().LabelFor(m => m.Password)
        <p class="form-hint text">Password must be at least 6 characters and contain at least 1 uppercase letter, 1 lowercase letter and 1 number</p>
        @Html.Gds().PasswordFor(m => m.Password)
    </div>
    <div class="form-group @Html.Gds().FormGroupClass(m => m.ConfirmPassword)">
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
        @Html.Gds().LabelFor(m => m.ConfirmPassword)
        @Html.Gds().PasswordFor(m => m.ConfirmPassword)
    </div>
    <div class="form-group">
        <input type="submit" class="button" value="Continue" />
    </div>
}