@using EA.Weee.Core.DataStandards
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.ViewModels.NewUser.UserCreationViewModel
@{
    ViewBag.Title = "Register";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="heading-large">Create your user account</h1>
    </header>
    @using (Html.BeginForm("UserCreation", "NewUser"))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <div class="form-group @Html.Gds().FormGroupClass(m => m.Name)">
            @Html.Gds().LabelFor(m => m.Name)
            @Html.Gds().ValidationMessageFor(m => m.Name)
            @Html.Gds().TextBoxFor(m => m.Name, new { @maxlength = CommonMaxFieldLengths.FirstName })
        </div>
        <div class="form-group @Html.Gds().FormGroupClass(m => m.Surname)">
            @Html.Gds().LabelFor(m => m.Surname)
            @Html.Gds().ValidationMessageFor(m => m.Surname)
            @Html.Gds().TextBoxFor(m => m.Surname, new { @maxlength = CommonMaxFieldLengths.LastName })
        </div>
        <div class="form-group @Html.Gds().FormGroupClass(m => m.Email)">
            @Html.Gds().LabelFor(m => m.Email)
            @Html.Gds().ValidationMessageFor(m => m.Email)
            @Html.Gds().TextBoxFor(m => m.Email, new { @maxlength = CommonMaxFieldLengths.EmailAddress })
        </div>
        <div class="form-group @Html.Gds().FormGroupClass(m => m.Password)">
            @Html.Gds().LabelFor(m => m.Password)
            @Html.Gds().ValidationMessageFor(m => m.Password)
            <p class="form-hint text">Your password has to be at least 8 characters long and must contain at least 1 lower-case letter, 1 upper-case letter and 1 number.</p>
            @Html.Gds().PasswordFor(m => m.Password, new { @maxlength = CommonMaxFieldLengths.Password })
        </div>
        <div class="form-group @Html.Gds().FormGroupClass(m => m.ConfirmPassword)">
            @Html.Gds().LabelFor(m => m.ConfirmPassword)
            @Html.Gds().ValidationMessageFor(m => m.ConfirmPassword)
            @Html.Gds().PasswordFor(m => m.ConfirmPassword, new { @maxlength = CommonMaxFieldLengths.Password })
        </div>
        <div class="form-group @Html.Gds().FormGroupClass(m => m.TermsAndConditions)">
            <fieldset>
                @Html.Gds().ValidationMessageFor(m => m.TermsAndConditions)
                <p>
                    @this.WeeeGds().ActionLinkWithEventTracking("Read full terms and conditions of use", "TermsAndConditions", "NewUser",
                         "Policies", "Terms and conditions", routeValues: new RouteValueDictionary { { "area", string.Empty } }, newTab: true)
                </p>
                <label class="block-label" for="TermsAndConditions">
                    @Html.CheckBoxFor(m => m.TermsAndConditions, new { @id = "TermsAndConditions" })
                    Accept terms and conditions of use
                </label>
            </fieldset>
        </div>

        <p>
            <input type="submit" class="button" value="Create a user account" />
        </p>
        <p>
            @Html.ActionLink("Sign in to your account", "SignIn", "Account")
        </p>
    }
}