@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.ReusedRemoveSiteViewModel
@{
    ViewBag.Title = "Are you sure you want to remove this site from your list? - GOV.UK";
}
<section id="main-content">
    @using (Html.BeginForm("Index", "ReusedRemoveSite", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.SiteId)
        @Html.HiddenFor(m => m.ReturnId)
        @Html.HiddenFor(m => m.AatfId)
        <h1 class="govuk-heading-l">Are you sure you want to remove this site from your list?</h1>
        <div class="govuk-table govuk-grid-column-full" id="weee-data-entry-table">
            <div class="govuk-table__head">
                <div class="govuk-grid-row govuk-table__row govuk-table__header" style="width: 50%">
                    <div class="govuk-grid-column-one-half">
                        Site name
                    </div>
                    <div class="govuk-grid-column-one-half weee-tonnage-column-padding-left" style="font-weight: normal">
                        @Html.HiddenFor(m => m.SiteAddressName)
                        @Model.SiteAddressName
                    </div>
                </div>
            </div>
            <div class="govuk-table__head">
                <div class="govuk-grid-row govuk-table__row govuk-table__header" style="width: 50%">
                    <div class="govuk-grid-column-one-half">
                        Site address
                    </div>
                    <div class="govuk-grid-column-one-half weee-tonnage-column-padding-left" style="font-weight: normal">
                        @Html.HiddenFor(m => m.SiteAddress)
                        @Html.Raw(Model.SiteAddress.Replace("\r\n", "<br />"))
                    </div>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-full">
            <div class="govuk-grid-row">
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        You may need to update the reuse tonnage values you have entered
                    </strong>
                </div>
                <div class="govuk-!-padding-bottom-5"></div>
                <div class="govuk-grid-column-full govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedValue)" style="padding-left: 0px; margin-bottom: 10px;">
                    @this.WeeeGds().RadioButtonsFor(
                        m => m.SelectedValue,
                        Model.PossibleValues,
                        "Confirm if you want to remove this site from your list",
                        RadioButtonLegend.VisuallyHidden,
                        RadioButtonLayout.Inline)
                </div>
            </div>
        </div>

        <div class="govuk-!-padding-bottom-7"></div>
        <button type="submit" name="save" class="govuk-button" id="site-details" data-module="govuk-button" data-prevent-double-click="true">
            Save and continue
        </button>
    }

</section>
@Styles.Render("~/Content/remove-site")