@using EA.Weee.Core.Organisations
@model EA.Weee.Web.ViewModels.Organisation.OrganisationUserPendingViewModel
@{
    ViewBag.Title = "Holding Message For Pending";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="heading-large">
            Organisations you have applied to perform activities for:
        </h1>
    </header>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <table>
                <thead>
                    <tr>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (OrganisationUserData item in Model.OrganisationUserData)
                {
                    <tr>
                        @if (item.Organisation.OrganisationType == OrganisationType.RegisteredCompany)
                        {
                            <td>
                                <span>@item.Organisation.Name</span>
                                <span style="color:#6F777B;">- @item.OrganisationUserStatus</span>
                            </td>
                        }
                        else
                        {
                            <td>
                                <span>@item.Organisation.TradingName</span>
                                <span style="color:#6F777B;">- @item.OrganisationUserStatus</span>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <a href="@Url.Action("Type", "OrganisationRegistration")">Create or join another organisation</a>
        </div>

        <div class="form-group">
            <input type="submit" class="button" value="Sign out" />
        </div>
    }
}
