@using System.Collections.Generic
@using System.Web.Mvc
@using EA.Weee.Core.Organisations
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.ViewModels.Organisation.AllOrganisationsViewModel
@{
    ViewBag.Title = "All organisations";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="govuk-heading-l">
            Here is a list of all organisations registered
        </h1>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedOrganisationId)">
            @this.WeeeGds().RadioButtonsFor(
                 m => m.SelectedOrganisationId,
                 Model.Organisations,
                 o => o.Id,
                 o => o.OrganisationName, //Use instead of "Name" to prevent null pointer for partnerships
                 RadioButtonLegend.VisuallyHidden,
                 RadioButtonLayout.Stacked)
        </div>
        
            <button class="govuk-button" type="submit">Perform activities</button>
        
        <div>
            <a href="@Url.Action("Search", "OrganisationRegistration")">Access another organisation</a>
        </div>
    }
}