@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Scheme.ViewModels.SuccessfulSubmissionViewModel
@{
    ViewBag.Title = "Successful Submission";
}

@section main_content {
    <header class="hgroup">
        <div>
            <h1 class="heading-large">You have successfully submitted your XML file</h1>
        </div>
    </header>

    @using (Html.BeginForm("SignOut", "Account", new { Area = "" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <p>You can now download an overview of your 
           @(this.WeeeGds().ActionLinkWithEventTracking("current members (CSV, less than 500KB)", "GetProducerCSV", "MemberRegistration",
                           "Downloads", "Registered members CSV", routeValues: new RouteValueDictionary(new { pcsId = @Model.PcsId, complianceYear = @Model.ComplianceYear }))).
            In it you'll find the notification of all your registered PCS members and their producer registration numbers.</p>
        <p>We will send an invoice for any producer registration charges to your organisation's contact.</p>
        <p>If you have finished performing tasks you can <input type="submit" value="sign out" class="link-submit" /> or proceed to perform more activities.</p>
    }

    <p>
    @Html.ActionLink("Perform another activity", "ChooseActivity", "Home", null, new { @class = "button" })
    </p>
    <p>
        @this.WeeeGds().ActionLinkWithEventTracking(
           "What did you think of this service?", 
           "Feedback", 
           "NewUser", 
           "Feedback", 
           "Successful XML submission", 
           "What did you think of this service?", new RouteValueDictionary { { "area", string.Empty } }, newTab: true)
        (takes 30 seconds)
    </p>
}