@using EA.Weee.Web.Areas.Scheme.Controllers
@using EA.Weee.Web.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Scheme.ViewModels.SuccessfulSubmissionViewModel
@{
    ViewBag.Title = "Successful Submission";
}

@section main_content {
    <header class="hgroup">
        <div>
            <h1 class="heading-large">You have successfully submitted your @Model.ComplianceYear member registration file</h1>
        </div>
    </header>

    @using (Html.BeginForm("SignOut", "Account", new { Area = "" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <p>To find notification of all your registered members and their producer registration numbers, <a href="@(Url.UrlFor<MemberRegistrationController>(c => c.Summary(Model.PcsId)))">manage PCS members</a>.</p>

        <p>We will send an invoice for any producer registration charges to your organisation's contact.</p>
        <p>If you have finished performing tasks you can <input type="submit" value="sign out" class="link-submit" /> or proceed to perform more activities.</p>
    }

    <p>
    @Html.ActionLink("Perform another activity", "ChooseActivity", "Home", null, new { @class = "button" })
    </p>
    <p>
        @this.WeeeGds().ActionLinkWithEventTracking("What did you think of this service?",
            Url.UrlFor<NewUserController>(c => c.Feedback()),
            "Feedback",
            "Successful XML submission",
            "What did you think of this service?",
            null, 
            true) (takes 30 seconds)
    </p>
}