@model EA.Weee.Web.Areas.Scheme.ViewModels.SuccessfulSubmissionViewModel
@{
    ViewBag.Title = "Successful Submission";
}

@section main_content {
    <header class="hgroup">
        <div>
            <h1 class="heading-large">You have successfully submitted your XML file</h1>
        </div>
    </header>

    @using (Html.BeginForm("SignOut", "Account", new { Area = "" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <p>You can now <a href="@Url.Action("GetProducerCSV", "MemberRegistration", new { @Model.PcsId, @Model.ComplianceYear })">download this CSV file</a>. In it you'll find the notification of your registered scheme members and their producer registration numbers.</p>
        <p>We will invoice you for any producer registration charges that apply.</p>
        <p>If you have finished performing tasks you can <span id="log-off-link"><noscript><input type="submit" value="sign-out" /></noscript></span> or proceed to perform more activities</p>
    }

    @Html.ActionLink("Perform another activity", "ChooseActivity", "Home", null, new { @class = "button" })
}

@section scripts {
    <script type="text/javascript">
        $("#log-off-link").html("<a href=\"#\" onclick=\"$(this).closest('form').submit();\">sign-out</a>");
    </script>
}