@using EA.Weee.Core.Shared
@model EA.Weee.Web.Areas.Scheme.ViewModels.MemberUploadResultViewModel
@{
    ViewBag.Title = "View errors and warnings";
}

@section main_content {

    <header class="hgroup">
        <div>
            @{ 
                int numOfErrors = @Model.ErrorData.Count(e => e.ErrorLevel == ErrorLevel.Error || e.ErrorLevel == ErrorLevel.Fatal);
                string errorText = (numOfErrors > 1 ? "errors" : "error");
            }
            <h1 class="heading-large">The XML file contains @numOfErrors @errorText</h1>
        </div>
    </header>

    <p>Errors are problems with the XML file structure and formatting that stop it being uploaded successfully.</p>
    <p>You must review, amend and re-upload your file before you can proceed to the next step.</p>

    <details>
        <summary class="error-details-summary bold-small">
            View @numOfErrors @errorText
        </summary>
        <div class="error-list-container">
            <ul>
                @foreach (var uploadError in Model.ErrorData)
                {
                    if (uploadError.ErrorLevel == ErrorLevel.Error || uploadError.ErrorLevel == ErrorLevel.Fatal)
                    {
                        <li class="error-list-item font-xsmall">@uploadError.Description</li>
                    }
                }
            </ul>
        </div>
    </details>
    <p>@Html.ActionLink("Download the " + errorText, "DownloadErrorsAndWarnings", new { Model.MemberUploadId })</p>
    <p>@Html.ActionLink("Upload a new file", "AddOrAmendMembers", "MemberRegistration", new { @class = "button" })</p>
}
