@using EA.Weee.Core.Shared
@model EA.Weee.Web.Areas.Scheme.ViewModels.MemberUploadResultViewModel
@{
    ViewBag.Title = "View any warnings";
}

@section main_content {
    <header class="hgroup">
        <div>
            <h1 class="heading-large">Your file has passed our validation checks</h1>
            <p>Please note: Though your file has passed our technical validation checks, we can’t verify that all the information you submitted within it is correct.</p>
        </div>
    </header>

    @{int numWarnings = Model.ErrorData.Count(e => e.ErrorLevel == ErrorLevel.Warning);}
    @if (numWarnings > 0)
    {
        <p>Your XML file contains @numWarnings @(numWarnings == 1 ? "warning" : "warnings"). Warnings may be displayed where member details are incorrect or invalid.</p>
        <p>You must review all the warnings. Make corrections to the XML file and re-upload it, or, where the changes are valid, you may choose to submit the file as it is.</p>
        <details>
            <summary class="warning-details-summary bold-small">
                @numWarnings Warning(s)
            </summary>
            <div class="warning-list-container">
                <ul>
                    @foreach (var uploadError in Model.ErrorData)
                    {
                        if (uploadError.ErrorLevel == ErrorLevel.Warning)
                        {
                            <li class="warning-list-item font-xsmall">@uploadError.Description</li>
                        }
                    }
                </ul>
            </div>
        </details>
        <br />
    }

        <div class="highlight-section">
        <div class="highlight-section-text">The producer registration charges for new members and amended members in this XML file are:</div>
            <div class="highlight-section-amount">
                £@Model.TotalCharges.ToString("N2")
            </div>
        </div>


    @using (Html.BeginForm("SubmitXml", "MemberRegistration", FormMethod.Post, new { area = "Scheme", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.MemberUploadId)

        <div class="form-group">
            <input type="submit" value="Submit" class="button" />
        </div>

        <p>Go back and @Html.ActionLink("upload a new file.", "AddOrAmendMembers", "MemberRegistration")</p>
    }
}
