@model EA.Iws.Requests.Shared.AddressData

<div class="form-group">
    @Html.ValidationMessageFor(m => m.Building)
    @Html.Gds().LabelFor(m => m.Building)
    @Html.Gds().TextBoxFor(m => m.Building)
</div>
<div class="form-group">
    @Html.ValidationMessageFor(m => m.StreetOrSuburb)
    @Html.Gds().LabelFor(m => m.StreetOrSuburb)
    @Html.Gds().TextBoxFor(m => m.StreetOrSuburb)
</div>
<div class="form-group">
    @Html.ValidationMessageFor(m => m.Address2)
    @Html.Gds().LabelFor(m => m.Address2)
    @Html.Gds().TextBoxFor(m => m.Address2)
</div>
<div class="form-group">
    @Html.ValidationMessageFor(m => m.TownOrCity)
    @Html.Gds().LabelFor(m => m.TownOrCity)
    @Html.Gds().TextBoxFor(m => m.TownOrCity)
</div>
<div class="form-group">
    @Html.ValidationMessageFor(m => m.Region)
    @Html.Gds().LabelFor(m => m.Region)
    @Html.Gds().TextBoxFor(m => m.Region)
</div>
<div class="form-group">
    @Html.ValidationMessageFor(m => m.PostalCode)
    @Html.Gds().LabelFor(m => m.PostalCode)
    @Html.Gds().TextBoxFor(m => m.PostalCode)
</div>
<div class="form-group @Html.Gds().FormGroupClass(m => m.CountryId)">
    @Html.ValidationMessageFor(m => m.CountryId)
    @Html.Gds().LabelFor(m => m.CountryId)
    @Html.Gds().DropDownListFor(m => m.CountryId, (SelectList)ViewBag.Countries)
</div>