@model EA.Iws.Web.ViewModels.Shared.Address
@{
    ViewBag.Title = "Address";
}

<div class="form-group">
    @Html.ValidationMessageFor(model => model.Building, "", new { @class = "text-danger" })
    @Html.Gds().LabelFor(m => m.Building, htmlAttributes: new { @class = "form-label" })
    @Html.TextBoxFor(m => m.Building, htmlAttributes: new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
    @Html.Gds().LabelFor(m => m.Address1, htmlAttributes: new { @class = "form-label" })
    @Html.TextBoxFor(m => m.Address1, htmlAttributes: new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
    @Html.Gds().LabelFor(m => m.Address2, htmlAttributes: new { @class = "form-label" })
    @Html.TextBoxFor(m => m.Address2, htmlAttributes: new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.ValidationMessageFor(model => model.TownOrCity, "", new { @class = "text-danger" })
    @Html.Gds().LabelFor(m => m.TownOrCity, htmlAttributes: new { @class = "form-label" })
    @Html.TextBoxFor(m => m.TownOrCity, htmlAttributes: new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.ValidationMessageFor(model => model.County, "", new { @class = "text-danger" })
    @Html.Gds().LabelFor(m => m.County, htmlAttributes: new { @class = "form-label" })
    @Html.TextBoxFor(m => m.County, htmlAttributes: new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-danger" })
    @Html.Gds().LabelFor(m => m.Postcode, htmlAttributes: new { @class = "form-label" })
    @Html.TextBoxFor(m => m.Postcode, htmlAttributes: new { @class = "form-control" })
</div>