@model EA.Weee.Web.ViewModels.Shared.BusinessViewModel
@{
    ViewBag.Title = "Business Name and Type";
}

<div class="form-group">
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    @Html.Gds().LabelFor(m => m.Name, new { @class = "form-label" })
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
</div>

<div class="form-group" @Html.Gds().FormGroupClass(m => m.EntityType)>
    @Html.ValidationMessageFor(m => m.EntityType)
    <label class="form-label">Organisation type</label>
    <label class="block-label" data-target="sole-trader-number">
        @Html.RadioButtonFor(m => m.EntityType, "Sole Trader") Sole trader
    </label>
    <div class="panel-indent @(Model.EntityType != null && Model.EntityType.Equals("Sole Trader") ? "" : "js-hidden")" id="sole-trader-number">
        <div class="form-group" @Html.Gds().FormGroupClass(m => m.SoleTraderRegistrationNumber)>
            @Html.ValidationMessageFor(m => m.SoleTraderRegistrationNumber)
            @Html.Gds().LabelFor(m => m.SoleTraderRegistrationNumber)
            @Html.Gds().TextBoxFor(m => m.SoleTraderRegistrationNumber)
        </div>
    </div>

    <label class="block-label" data-target="partnership-number">
        @Html.RadioButtonFor(m => m.EntityType, "Partnership") Partnership
    </label>
    <div class="panel-indent @(Model.EntityType != null && Model.EntityType.Equals("Partnership") ? "" : "js-hidden")" id="partnership-number">
        <div class="form-group" @Html.Gds().FormGroupClass(m => m.SoleTraderRegistrationNumber)>
            @Html.ValidationMessageFor(m => m.PartnershipRegistrationNumber)
            @Html.Gds().LabelFor(m => m.PartnershipRegistrationNumber)
            @Html.Gds().TextBoxFor(m => m.PartnershipRegistrationNumber)
        </div>
    </div>

    <label class="block-label" data-target="companies-house-number">
        @Html.RadioButtonFor(m => m.EntityType, "Limited Company") Limited company
    </label>
    <div class="panel-indent @(Model.EntityType != null && Model.EntityType.Equals("Limited Company") ? "" : "js-hidden")" id="companies-house-number">
        <div class="form-group" @Html.Gds().FormGroupClass(m => m.CompaniesHouseRegistrationNumber)>
            @Html.ValidationMessageFor(m => m.CompaniesHouseRegistrationNumber)
            @Html.Gds().LabelFor(m => m.CompaniesHouseRegistrationNumber)
            @Html.Gds().TextBoxFor(m => m.CompaniesHouseRegistrationNumber)
        </div>
        <div class="form-group">
            <details>
                <summary><span class="summary">Where can I find my company number</span></summary>
                <div class="panel-indent">
                    <p>
                        Your Companies House number is on your organisation's certificate of incorporation.
                        You can also get the number from your organisation's accountant or accounts department, or
                        <a href="http://wck2.companieshouse.gov.uk">search the Companies House online services</a>
                    </p>
                </div>
            </details>
        </div>
    </div>
</div>

<div class="form-group">
    @Html.ValidationMessageFor(model => model.AdditionalRegistrationNumber, "", new { @class = "text-danger" })
    @Html.Gds().LabelFor(m => m.AdditionalRegistrationNumber, new { @class = "form-label" })
    @Html.TextBoxFor(m => m.AdditionalRegistrationNumber, new { @class = "form-control" })
</div>