@model EA.Weee.Web.ViewModels.Shared.RadioButtonStringCollectionBaseViewModel
@{
    var modelMetadata = ViewData.ModelMetadata;
}
@if (Model != null)
{
    @Html.Gds().ValidationMessageFor(model => model.SelectedValue, "Please answer this question")
    <fieldset>
        @if (!String.IsNullOrEmpty(modelMetadata.DisplayName))
        {
            <legend>@modelMetadata.DisplayName</legend>
        }

        @for (int i = 0; i < Model.PossibleValues.Count; i++)
        {
            MvcHtmlString idForThisRadioButton = Html.NameFor(m => m.PossibleValues[i]);

            <div>@Html.HiddenFor(m => m.PossibleValues[i])</div>

            <label for="@idForThisRadioButton" class="block-label">

                @Html.RadioButtonFor(m => m.SelectedValue,
                    Model.PossibleValues[i],
                    new {id = idForThisRadioButton})

                @Html.DisplayFor(m => m.PossibleValues[i])
            </label>
        }
    </fieldset>
}