@using EA.Weee.Web.ViewModels.JoinOrganisation
@model EA.Weee.Web.ViewModels.JoinOrganisation.SelectOrganisationRadioButtons

@if (Model != null)
{
    for (int i = 0; i < Model.PossibleValues.Count; i++)
    {
        MvcHtmlString nameForThisValue = Html.NameFor(m => m.PossibleValues[i].Value);

        if (@Model.PossibleValues[i].Value == SelectOrganisationAction.CreateNewOrg)
        {
            <div class="form-group" style="margin-bottom : 10px">
                <hr />
            </div>
        }

        <label for="@nameForThisValue" class="block-label">
            @Html.HiddenFor(m => m.PossibleValues[i].Key)
            @Html.HiddenFor(m => m.PossibleValues[i].Value)

            @Html.RadioButtonFor(m => m.SelectedValue, Model.PossibleValues[i].Value,
             htmlAttributes: new { id = nameForThisValue })

            @Html.DisplayFor(m => m.PossibleValues[i].Key)
        </label>
    }
}
