@using EA.Weee.Core.DataStandards

@model EA.Weee.Web.ViewModels.Shared.ManageEvidenceNoteViewModel

<div class="govuk-grid-column-one-quarter">
    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SubmittedDatesFilterViewModel.StartDate)">
        @Html.Gds().LabelFor(m => m.SubmittedDatesFilterViewModel.StartDate, new { @class = "govuk-label--s" }, false)
        @Html.Gds().ValidationMessageFor(m => m.SubmittedDatesFilterViewModel.StartDate)
        <div class="weee-submitted-date-to">
            @Html.Gds().TextBoxFor(m => m.SubmittedDatesFilterViewModel.StartDate, new { @maxlength = CommonMaxFieldLengths.DefaultString, @class = "jquery-datepicker", @autocomplete = "off", @placeholder = "dd/mm/yyyy" }, false, "{0:dd/MM/yyyy}")
            <span class="govuk-body">to&nbsp;  </span>
        </div>
        </div>
    </div>

<div class="govuk-grid-column-one-quarter">
    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SubmittedDatesFilterViewModel.EndDate)">
        @Html.Gds().LabelFor(m => m.SubmittedDatesFilterViewModel.EndDate, new { @class = "govuk-label--s" }, false)
        @Html.Gds().ValidationMessageFor(m => m.SubmittedDatesFilterViewModel.EndDate)
        @Html.Gds().TextBoxFor(m => m.SubmittedDatesFilterViewModel.EndDate, new { @maxlength = CommonMaxFieldLengths.DefaultString, @class = "jquery-datepicker", @autocomplete = "off", @placeholder = "dd/mm/yyyy" }, false, "{0:dd/MM/yyyy}")
    </div>
</div>

<div class="govuk-grid-column-one-quarter">
    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.RecipientWasteStatusFilterViewModel.SubmittedBy)">
        @Html.Gds().LabelFor(m => m.RecipientWasteStatusFilterViewModel.SubmittedBy, new { @class = "govuk-label--s" }, false)
        @Html.Gds().ValidationMessageFor(m => m.RecipientWasteStatusFilterViewModel.SubmittedBy)
        @Html.Gds().DropDownListFor(m => m.RecipientWasteStatusFilterViewModel.SubmittedBy, Model.RecipientWasteStatusFilterViewModel.SubmittedByList,
        string.Empty, new { @class = "full-width-important" })
    </div>
</div>

<style type="text/css">
    .weee-submitted-date-to {
        display: flex;
    }

    .weee-submitted-date-to > span {
        position: relative;
        left: 20px;
        top: 10px;
    }

    @@media only screen and (max-width: 640px) {
        .weee-submitted-date-to{
            display: inline-block;
            width: 100%;

        }

        .weee-submitted-date-to > span {
            top: 0px;
        }
    }
</style>