@model EA.Weee.Web.ViewModels.Shared.ManageEvidenceNoteViewModel


<div class="govuk-grid-column-one-half">
    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.RecipientWasteStatusFilterViewModel.ReceivedId)">
        @Html.Gds().LabelFor(m => m.RecipientWasteStatusFilterViewModel.ReceivedId, new { @class = "govuk-label--s" }, false)
        @Html.Gds().DropDownListFor(m => m.RecipientWasteStatusFilterViewModel.ReceivedId, Model.RecipientWasteStatusFilterViewModel.RecipientList,
        string.Empty, new { @class = "use-overlay" }, useHalfWidth: false, withLookAhead: true)
    </div>
</div>

<div class="govuk-grid-column-one-quarter">
    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.RecipientWasteStatusFilterViewModel.WasteTypeValue)">
        <label class="govuk-label form-label govuk-label--s" for="ManageEvidenceNoteViewModel_RecipientWasteStatusFilterViewModel_WasteTypeValue" id="ManageEvidenceNoteViewModel_RecipientWasteStatusFilterViewModel_WasteTypeValue-label">Obligation <span>type</span> </label>
        @Html.Gds().ValidationMessageFor(m => m.RecipientWasteStatusFilterViewModel.WasteTypeValue)
        @Html.Gds().DropDownListFor(m => m.RecipientWasteStatusFilterViewModel.WasteTypeValue, Model.RecipientWasteStatusFilterViewModel.WasteTypeList,
        string.Empty, new { @class = "use-overlay" }, useHalfWidth: true, withLookAhead: true)
    </div>
</div>
<div class="govuk-grid-column-one-quarter">
    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.RecipientWasteStatusFilterViewModel.NoteStatusValue)">
        @Html.Gds().LabelFor(m => m.RecipientWasteStatusFilterViewModel.NoteStatusValue, new { @class = "govuk-label--s" }, false)
        @Html.Gds().ValidationMessageFor(m => m.RecipientWasteStatusFilterViewModel.NoteStatusValue)
        @Html.Gds().DropDownListFor(m => m.RecipientWasteStatusFilterViewModel.NoteStatusValue, Model.RecipientWasteStatusFilterViewModel.NoteStatusList,
        string.Empty, new { @class = "use-overlay" }, useHalfWidth: true, withLookAhead: true)

    </div>
</div>

<style type="text/css">
    @@media only screen and (max-width: 996px) and (min-width: 640px) {
        #ManageEvidenceNoteViewModel_RecipientWasteStatusFilterViewModel_WasteTypeValue-label > span {
            display: none;
        }
    }
</style>
