@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.AatfReturn
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.SearchedAatfResultListViewModel

@{
    ViewBag.Title = "AATF search results list - GOV.UK";
}

@section full_main_content
{
    <h1 class="govuk-heading-l" style="padding-top: 0px;">Search results</h1>
    <h2 class="govuk-heading-m">We found results for '@Model.AatfName'</h2>

    @using (Html.BeginForm("Index", "SearchedAatfResultList", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.OrganisationId)
        @Html.HiddenFor(m => m.ReturnId)
        @Html.HiddenFor(m => m.AatfId)
        @Html.HiddenFor(m => m.SelectedAatfId)
        @Html.HiddenFor(m => m.SelectedAatfName)
        @Html.HiddenFor(m => m.SelectedSiteName)

        <p class="govuk-body">Select the AATF the waste was sent to from the list below</p>

        if (Model.Sites.Count > 0)
        {
            <table class="govuk-table prsd-table-small-collapse aatf-task-list-table" id="weee-data-entry-table">
                <thead class="govuk-table__head prsd-table-small-collapse prsd-table-small-collapse-header">
                <tr class="govuk-table__row govuk-table__cell--thick prsd-table-small-collapse prsd-table-small-collapse-header">
                    <th scope="col" class="govuk-table__header prsd-table-small-collapse">@Resources.AatfReturn.ReturnsResources.AATFNameAndAddress</th>
                    <th scope="col" class="govuk-table__header prsd-table-small-collapse">@Resources.AatfReturn.ReturnsResources.OperatorNameAndAddress</th>
                    <th scope="col" class="govuk-table__header prsd-table-small-collapse">@Resources.AatfReturn.ReturnsResources.AATFApprovalNumber</th>
                    <th scope="col" class="govuk-table__header prsd-table-small-collapse">@Resources.AatfReturn.ReturnsResources.Select</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body prsd-table-small-collapse">
                @foreach (var weeeSentOn in Model.Sites)
                {
                    <tr class="govuk-table__row govuk-table__cell--thick prsd-table-small-collapse">
                        <td data-label="@Resources.AatfReturn.ReturnsResources.AATFNameAndAddress" class="govuk-table__cell prsd-table-small-collapse prsd-table-small-collapse-cell">
                            <span class="prsd-long-address">
                                @Html.Raw(weeeSentOn.SiteAddress.ToAccessibleDisplayString(true, true))
                            </span>
                        </td>
                        <td data-label="@Resources.AatfReturn.ReturnsResources.OperatorNameAndAddress" class="govuk-table__cell prsd-table-small-collapse prsd-table-small-collapse-cell">
                            <span class="prsd-long-address">
                                @Html.Raw(weeeSentOn.OperatorAddress.ToAccessibleDisplayString(true, true))
                            </span>
                        </td>
                        <td data-label="@Resources.AatfReturn.ReturnsResources.AATFApprovalNumber" class="govuk-table__cell prsd-table-small-collapse prsd-table-small-collapse-cell">
                            <span>
                                @Html.Raw(weeeSentOn.ApprovalNumber)
                            </span>
                        </td>
                        <td data-label="@Resources.AatfReturn.ReturnsResources.Select @weeeSentOn.SiteAddress.Address1" class="govuk-table__cell prsd-table-small-collapse prsd-table-small-collapse-cell">
                            <label class="govuk-visually-hidden" for="@Model.SelectedAatfId">@weeeSentOn.SiteAddress.Address1</label>
                            @Html.RadioButtonFor(m => m.SelectedAatfId, weeeSentOn.WeeeAatfId, new { @onclick = "setSiteSelectedId('" + weeeSentOn.WeeeAatfId + "','" + weeeSentOn.SiteAddress.Name + "')" })
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <div class="govuk-!-padding-bottom-8"></div>
            <p class="govuk-grid-row govuk-table__row govuk-table__header--noline">You have not entered any sites. If WEEE has been sent to another AATF / ATF for treatment, use the add another ATF link.</p>
        }

        <div class="govuk-!-padding-bottom-2"></div>

        <p class="govuk-body">
            @Html.RouteLink("Can't find the AATF you're looking for?", AatfRedirect.AatfOrganisationSelectedRoute, new { returnId = Model.ReturnId, aatfId = Model.AatfId, isCanNotFindLinkClick = true, organisationId = Model.OrganisationId, action = "Index", controller = "CanNotFindAatf" }, null)
        </p>

        <div class="govuk-!-padding-bottom-4"></div>
        @(this.WeeeGds().Submit("Save and continue"))

        <p class="govuk-body">
            @Html.RouteLink("Back", AatfRedirect.AatfOrganisationSelectedRoute, new { returnId = Model.ReturnId, organisationId = Model.OrganisationId, aatfId = Model.AatfId, action = "Index", controller = "SearchAnAatf" }, new { @class = "govuk-back-link" })
        </p>

        <div class="govuk-!-padding-bottom-8"></div>
    }
}
<script type="text/javascript">
    function setSiteSelectedId(siteValue, siteName) {
        document.getElementById("SelectedAatfId").value = siteValue;
        document.getElementById("SelectedSiteName").value = siteName;
    }
</script>
