@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Web.ViewModels.Shared
@model EA.Weee.Web.Areas.Scheme.ViewModels.TransferEvidenceNotesViewModel

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.PcsId)
@Html.HiddenFor(m => m.RecipientName)
@Html.HiddenFor(m => m.ComplianceYear)

<h2 class="govuk-heading-m">Showing approved evidence notes with categories</h2>
<ul class="govuk-list">
    @for (var categoryCount = 0; categoryCount < Model.CategoryValues.Count; categoryCount++)
    {
        var item = categoryCount;

        @Html.HiddenFor(m => m.CategoryValues[item].CategoryId)
        @Html.HiddenFor(m => m.CategoryValues[item].CategoryDisplay)

        <li>@Model.CategoryValues[categoryCount].CategoryId. @Model.CategoryValues[categoryCount].CategoryDisplay</li>
    }
</ul>
<p class="govuk-body-m">Select up to 5 notes</p>

@*<div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SelectedEvidenceNotePairs)">
    <label for="SelectedEvidenceNotePairs" class="govuk-visually-hidden">hidden link for navigation to evidence error</label> <input id="SelectedEvidenceNotePairs" class="govuk-visually-hidden" />
    @Html.Gds().ValidationMessageFor(m => m.SelectedEvidenceNotePairs)
</div>*@

<table id="transfer-notes-selection" class="govuk-table">
    <caption class="govuk-table__caption govuk-visually-hidden">Select up to 5 notes to transfer</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header">
                Reference ID
            </th>
            <th class="govuk-table__header">
                Submitted by
            </th>
            <th class="govuk-table__header">
                Total (tonnes)
            </th>
            <th class="govuk-table__header">
                <span class="govuk-visually-hidden">actions</span>
            </th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">

        @for (var i = 0; i < Model.EvidenceNotesDataList.Count; i++)
        {
            var i1 = i;
            @Html.HiddenFor(m => m.EvidenceNotesDataList[i1].Type)
            @Html.HiddenFor(m => m.EvidenceNotesDataList[i1].Reference)
            @Html.HiddenFor(m => m.EvidenceNotesDataList[i1].SubmittedBy)
            @Html.HiddenFor(m => m.EvidenceNotesDataList[i1].TotalReceivedDisplay)
            @Html.HiddenFor(m => m.EvidenceNotesDataList[i1].Id)

            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    @Model.EvidenceNotesDataList[i].ReferenceDisplay
                </td>
                <td class="govuk-table__cell">
                    @Model.EvidenceNotesDataList[i].SubmittedBy
                </td>
                <td class="govuk-table__cell">@Model.EvidenceNotesDataList[i].TotalReceivedDisplay</td>
                <td class="govuk-table__cell">
                    @using (Html.BeginForm(actionName: "AddEvidenceNote", controllerName: "TransferEvidence", method: FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("page", Model.EvidenceNotesDataListPaged.PageNumber)
                        @Html.Hidden("evidenceNoteId", @Model.EvidenceNotesDataList[i].Id)
                        @Html.Hidden("complianceYear", @Model.ComplianceYear)
                        @Html.Hidden("pcsId", @Model.PcsId)

                        <button>Add</button>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="govuk-!-margin-top-3">
    <div class="govuk-button-group">
        @this.WeeeGds().Button("Continue", new { name = "Action", value = ActionEnum.Continue, id = "transfer-from-btn", @class = "govuk-!-width-one-quarter" })
    </div>
</div>
