@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.Constant
@using EA.Weee.Web.Infrastructure.Paging
@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Web.ViewModels.Shared
@model EA.Weee.Web.Areas.Scheme.ViewModels.TransferEvidenceNotesViewModel

@{
    var controller = ViewData["controller"] as string;
    var postAction = ViewData["postAction"] as string;
}

<style type="text/css">
    .reference-column {
        width: 20%;
    }

    .submitted-column {
        width: 55%;
    }

    .tonnage-column {
        width: 15%;
    }

    .add-remove-column {
        width: 10%;
    }
</style>


<h2 class="govuk-heading-m">Showing approved evidence notes with categories</h2>
<ul class="govuk-list">
    @for (var categoryCount = 0; categoryCount < Model.CategoryValues.Count; categoryCount++)
    {
        var item = categoryCount;

        @Html.HiddenFor(m => m.CategoryValues[item].CategoryId)
        @Html.HiddenFor(m => m.CategoryValues[item].CategoryDisplay)

        <li>@Model.CategoryValues[categoryCount].CategoryId. @Model.CategoryValues[categoryCount].CategoryDisplay</li>
    }
</ul>
<p class="govuk-body govuk-!-padding-bottom-5">Select evidence notes from the available evidence notes table. A maximum of 5 notes can be chosen.</p>
<table id="selected-notes-selection" class="govuk-table">
    <caption class="govuk-table__caption govuk-heading-m">Selected evidence notes</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header reference-column govuk-!-text-align-left">
                Reference ID
            </th>
            <th class="govuk-table__header submitted-column govuk-!-text-align-left">
                Submitted by
            </th>
            <th class="govuk-table__header tonnage-column govuk-!-text-align-left">
                Total (tonnes)
            </th>
            <th class="govuk-table__header add-remove-column">
                <span class="govuk-visually-hidden">remove note</span>
            </th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">

        @if (Model.EvidenceNotesDataList.Count > 0)
        {
            for (var i = 0; i < Model.EvidenceNotesDataList.Count; i++)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-text-align-left">
                        @Model.EvidenceNotesDataList[i].ReferenceDisplay
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-left">
                        @Model.EvidenceNotesDataList[i].SubmittedBy
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-right">@Model.EvidenceNotesDataList[i].TotalReceivedDisplay</td>
                    <td class="govuk-table__cell govuk-!-padding-left-5">
                        @using (Html.BeginForm(actionName: "DeselectEvidenceNote", controllerName: controller, method: FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("page", Model.EvidenceNotesDataListPaged.PageNumber, new { id = "deselected-evidence-note-page" + i })
                            @Html.Hidden("selectedEvidenceNoteId", Model.EvidenceNotesDataList[i].Id, new { id = "deselected-evidence-note-id" + i })
                            @Html.Hidden("complianceYear", Model.ComplianceYear, new { id = "deselected-evidence-compliance-year" + i })
                            @Html.Hidden("pcsId", Model.PcsId, new { id = "deselected-evidence-pcs" + i })
                            @Html.Hidden("selected", false, new { id = "deselected-evidence-selected-true" + i })
                            if (Model.ViewTransferNoteViewModel != null)
                            {
                                @Html.Hidden("editEvidenceNoteId", Model.ViewTransferNoteViewModel.EvidenceNoteId, new { id = "deselect-evidence-id" + i })
                            }

                            <button class="link-submit transfer-choose-notes-submit" type="submit">@Html.Gds().VisuallyHidden(string.Format("Add evidence note with reference {0}", @Model.EvidenceNotesDataList[i].ReferenceDisplay))Remove</button>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" colspan="4">
                    There are currently no evidence notes selected to transfer evidence from
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var displayNoteCountError = string.Empty;
    var error = string.Empty;
    if (ViewData.ModelState.ContainsKey(ValidationKeyConstants.TransferEvidenceNotesSelectedNotesError) && ViewData.ModelState[ValidationKeyConstants.TransferEvidenceNotesSelectedNotesError].Errors.Any())
    {
        displayNoteCountError = "govuk-form-group govuk-form-group--error error";
        error = ViewData.ModelState[ValidationKeyConstants.TransferEvidenceNotesSelectedNotesError].Errors.ElementAt(0).ErrorMessage;
    }
}
<div class="govuk-!-padding-top-3"></div>
<div class="left-cleared"></div>
<div class="govuk-form-group @displayNoteCountError">
    <label for="@ValidationKeyConstants.TransferEvidenceNotesSelectedNotesError" class="govuk-visually-hidden">hidden link for navigation to evidence error</label>
    <input id="@ValidationKeyConstants.TransferEvidenceNotesSelectedNotesError" class="govuk-visually-hidden" />
    <p id="selectedNotesErrorText" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> @error
    </p>
</div>

<h3 class="govuk-heading-m">Available evidence notes</h3>

<div class="govuk-!-padding-bottom-8">
    @using (Html.BeginForm(postAction, controller, FormMethod.Get))
    {
        @Html.Hidden("complianceYear", Model.ComplianceYear, new { id = "search-reference-compliance-year" })
        @Html.Hidden("pcsId", Model.PcsId, new { id = "search-reference-pcs" })
        if (Model.ViewTransferNoteViewModel != null)
        {
            @Html.Hidden("evidenceNoteId", Model.ViewTransferNoteViewModel.EvidenceNoteId, new { id = "search-reference-evidence-id" })
        }

        <div class="govuk-grid-column-full">
            <div class="govuk-grid-row govuk-panel-grey-background">
            
                @{
                    object clearFilterRouteValues = null;

                    if (Model.ViewTransferNoteViewModel != null)
                    {
                        clearFilterRouteValues = new { pcsId = Model.PcsId, evidenceNoteId = Model.ViewTransferNoteViewModel.EvidenceNoteId, page = 1 };
                    }
                    else
                    {
                        clearFilterRouteValues = new { pcsId = Model.PcsId, complianceYear = Model.ComplianceYear, page = 1 };
                    }

                }

                <div class="govuk-form-group govuk-grid-column-one-half govuk-!-padding-left-2 govuk-!-padding-top-4">
                    <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.SearchRef)">
                        @Html.Gds().LabelFor(m => m.SearchRef, new { @class = "govuk-label--s" }, false)
                        @Html.Gds().TextBoxFor(m => m.SearchRef, new { type = "search" })
                        <button class="govuk-button weee-search-button"><span class="fa fa-search" aria-hidden="true" title="search by reference"></span><span class="sr-only">Search by reference number</span></button>
                    
                        <span class="govuk-!-padding-left-3">
                            @Html.ActionLink("Clear filter", postAction, controller,
                                clearFilterRouteValues, new { @class = "link-submit govuk-link govuk-link--no-visited-state" })
                        </span>
                    </div>
                </div>

            </div>

        </div>
    }
</div>
<div class="left-cleared govuk-!-padding-top-5"></div>
<table id="transfer-notes-selection" class="govuk-table">
    <caption class="govuk-table__caption govuk-heading-m govuk-visually-hidden">Available evidence notes</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header reference-column govuk-!-text-align-left">
                Reference ID
            </th>
            <th class="govuk-table__header submitted-column govuk-!-text-align-left">
                Submitted by
            </th>
            <th class="govuk-table__header tonnage-column govuk-!-text-align-left">
                Total (tonnes)
            </th>
            <th class="govuk-table__header add-remove-column">
                <span class="govuk-visually-hidden">add note</span>
            </th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">

        @if (Model.EvidenceNotesDataListPaged.Count > 0)
        {
            for (var i = 0; i < Model.EvidenceNotesDataListPaged.Count; i++)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-text-align-left">
                        @Model.EvidenceNotesDataListPaged[i].ReferenceDisplay
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-left">
                        @Model.EvidenceNotesDataListPaged[i].SubmittedBy
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-right">@Model.EvidenceNotesDataListPaged[i].TotalReceived</td>
                    <td class="govuk-table__cell govuk-!-padding-left-5">
                        @using (Html.BeginForm(actionName: "SelectEvidenceNote", controllerName: controller, method: FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("page", Model.EvidenceNotesDataListPaged.PageNumber, new { id = "selected-evidence-note-page" + i })
                            @Html.Hidden("pageCount", Model.EvidenceNotesDataListPaged.Count, new { id = "selected-evidence-note-page-count" + i })
                            @Html.Hidden("selectedEvidenceNoteId", Model.EvidenceNotesDataListPaged[i].Id, new { id = "selected-evidence-note-id" + i })
                            @Html.Hidden("complianceYear", Model.ComplianceYear, new { id = "selected-evidence-compliance-year" + i })
                            @Html.Hidden("pcsId", Model.PcsId, new { id = "selected-evidence-pcs" + i })
                            @Html.Hidden("numberOfSelectedNotes", Model.EvidenceNotesDataList.Count, new { id = "selected-evidence-number-notes" + i })
                            @Html.Hidden("searchRef", Model.SearchRef, new { id = "selected-evidence-note-search-ref" + i })

                            if (Model.ViewTransferNoteViewModel != null)
                            {
                                @Html.Hidden("editEvidenceNoteId", Model.ViewTransferNoteViewModel.EvidenceNoteId, new { id = "select-evidence-id" + i })
                            }

                            <button class="link-submit transfer-choose-notes-submit" type="submit">@Html.Gds().VisuallyHidden(string.Format("Add evidence note with reference {0}", Model.EvidenceNotesDataListPaged[i].ReferenceDisplay))Add</button>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell" colspan="4">

                    @if (Model.SearchPerformed)
                    {
                        <span>There are no search results with that reference ID. Please try again with another reference ID.</span>
                    }
                    else
                    {
                        <span>There are currently no evidence notes available to transfer from</span>
                    }

                </td>
            </tr>
        }

    </tbody>
</table>

<div class="pager govuk-body">
    @Html.Pager(@Model.EvidenceNotesDataListPaged.PageSize, @Model.EvidenceNotesDataListPaged.PageNumber, @Model.EvidenceNotesDataListPaged.TotalItemCount).Options(o => o.Action(postAction).RouteValues(new { pcsId = Model.PcsId, complianceYear = Model.ComplianceYear, evidenceNoteId = (Model.ViewTransferNoteViewModel != null ? Model.ViewTransferNoteViewModel.EvidenceNoteId : (Guid?)null) }))
</div>

<p class="govuk-body">Showing @(Model.EvidenceNotesDataListPaged.PageCount > 0 ? Model.EvidenceNotesDataListPaged.ItemStart : 0) - @Model.EvidenceNotesDataListPaged.ItemEnd of @Model.EvidenceNotesDataListPaged.TotalItemCount</p>

@using (Html.BeginForm(actionName: postAction, controllerName: controller, method: FormMethod.Post, htmlAttributes: new { id = "transfer-summary-partial-form" }))
{
    @Html.AntiForgeryToken()

    if (Model.EvidenceNotesDataList.Count > 0)
    {
        for (var i = 0; i < Model.EvidenceNotesDataList.Count; i++)
        {
            @Html.HiddenFor(m => m.EvidenceNotesDataList[i].Id)
        }
    }

    @Html.HiddenFor(m => m.PageNumber)
    @Html.HiddenFor(m => m.ComplianceYear)
    @Html.HiddenFor(m => m.PcsId)
    if (Model.ViewTransferNoteViewModel != null)
    {
        @Html.HiddenFor(m => m.ViewTransferNoteViewModel.EvidenceNoteId)
    }

    <div class="govuk-!-margin-top-3 govuk-!-padding-top-5">
        <div class="govuk-button-group">
            @this.WeeeGds().Button("Continue", new { name = "Action", value = ActionEnum.Continue, id = "transfer-from-btn", @class = "govuk-!-width-one-quarter" })
        </div>
    </div>
}