@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Scheme.ViewModels.TransferEvidenceNoteCategoriesViewModel

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.OrganisationId)

<div class="govuk-form-group govuk-!-width-one-half @Html.Gds().FormGroupClass(m => m.SelectedSchema)">
    @Html.Gds().LabelFor(m => m.SelectedSchema, new { @class = "govuk-label--m" })
    @Html.Gds().ValidationMessageFor(m => m.SelectedSchema)
    @Html.Gds().DropDownListFor(m => m.SelectedSchema, new SelectList(Model.SchemasToDisplay, "OrganisationId", "DisplayName"), string.Empty, new { @class = "govuk-!-width-one-quarter", autocomplete = "false" }, useHalfWidth: false, withLookAhead: true)
</div>

<div class="govuk-!-padding-top-5 govuk-form-group @Html.Gds().FormGroupClass(m => m.HasSelectedAtLeastOneCategory)">

    @Html.Gds().ValidationMessageFor(m => m.HasSelectedAtLeastOneCategory)
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Which categories would you like to transfer?
        </legend>
        <div class="govuk-!-padding-top-5"></div>
        @for (var i = 0; i < Model.CategoryBooleanViewModels.Count; i++)
        {

            @Html.HiddenFor(m => m.HasSelectedAtLeastOneCategory, new { id = i + "_HasSelectedAtLeastOneCategory" })

            <div>
                <div class='govuk-checkboxes'>
                    <div class='govuk-checkboxes__item'>
                        @{
                            var category = Model.CategoryBooleanViewModels[i];
                            var selectedOption = Model.CategoryBooleanViewModels[i].Selected ? "checked" : "";
                            var id = "CategoryBooleanViewModels_" + i + "__Selected";
                            var name = "CategoryBooleanViewModels[" + i + "].Selected";
                        }

                        <input class="govuk-checkboxes__input" id=@id name=@name type="checkbox" value="true" @selectedOption />
                        <label class="govuk-label&#32;govuk-checkboxes__label" for="@id">
                            @category.CategoryId. @category.CategoryDisplay
                        </label>
                        <input name="@name" type="hidden" value="false">
                    </div>
                </div>
                <br />
            </div>
            @Html.HiddenFor(m => m.CategoryBooleanViewModels[i].CategoryId)
        }
    </fieldset>
</div>

<div class="govuk-!-margin-top-3">
    <div class="govuk-button-group">
        @this.WeeeGds().Button("Continue", new { id = "transfer-continue-btn", @class = "govuk-!-width-one-quarter" })
    </div>
</div>
