@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Web.ViewModels.Shared
@model EA.Weee.Web.Areas.Scheme.ViewModels.TransferEvidenceNotesViewModel

<style type="text/css">
    .reference-column {
        width: 15%;
    }

    .submitted-column {
        width: 55%;
    }

    .tonnage-column {
        width: 20%;
    }

    .add-remove-column {
        width: 10%;
    }
</style>



@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.PcsId)
@Html.HiddenFor(m => m.RecipientName)
@Html.HiddenFor(m => m.ComplianceYear)

<h2 class="govuk-heading-m">Showing approved evidence notes with categories</h2>
<ul class="govuk-list">
    @for (var categoryCount = 0; categoryCount < Model.CategoryValues.Count; categoryCount++)
    {
        var item = categoryCount;

        @Html.HiddenFor(m => m.CategoryValues[item].CategoryId)
        @Html.HiddenFor(m => m.CategoryValues[item].CategoryDisplay)

        <li>@Model.CategoryValues[categoryCount].CategoryId. @Model.CategoryValues[categoryCount].CategoryDisplay</li>
    }
</ul>


<table id="selected-notes-selection" class="govuk-table">
    <caption class="govuk-table__caption govuk-visually-hidden">selected notes to transfer</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header reference-column">
                Reference ID
            </th>
            <th class="govuk-table__header submitted-column">
                Submitted by
            </th>
            <th class="govuk-table__header tonnage-column">
                Total (tonnes)
            </th>
            <th class="govuk-table__header add-remove-column">
                <span class="govuk-visually-hidden">remove note</span>
            </th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">

        @for (var i = 0; i < Model.EvidenceNotesDataList.Count; i++)
        {
            var i1 = i;

            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    @Model.EvidenceNotesDataList[i].ReferenceDisplay
                </td>
                <td class="govuk-table__cell">
                    @Model.EvidenceNotesDataList[i].SubmittedBy
                </td>
                <td class="govuk-table__cell">@Model.EvidenceNotesDataList[i].TotalReceivedDisplay</td>
                <td class="govuk-table__cell">
                    @using (Html.BeginForm(actionName: "DeselectEvidenceNote", controllerName: "TransferEvidence", method: FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("page", Model.EvidenceNotesDataListPaged.PageNumber, new {id = "deselected-evidence-note-page" })
                        @Html.Hidden("evidenceNoteId", @Model.EvidenceNotesDataList[i].Id, new { id = "deselected-evidence-note-id" })
                        @Html.Hidden("complianceYear", @Model.ComplianceYear, new { id = "deselected-evidence-compliance-year" })
                        @Html.Hidden("pcsId", @Model.PcsId, new { id = "deselected-evidence-pcs" })
                        @Html.Hidden("selected", false, new { id = "deselected-evidence-selected-true" })
                        <button class="link-submit" type="submit">Remove</button>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>



<p class="govuk-body-m">Select up to 5 notes</p>
@{
    var displayNoteCountError = string.Empty;
    var error = string.Empty;
    if (ViewData.ModelState.ContainsKey("selectedNotesError") && ViewData.ModelState["selectedNotesError"].Errors.Any())
    {
        displayNoteCountError = "govuk-form-group govuk-form-group--error error";
        error = ViewData.ModelState["selectedNotesError"].Errors.ElementAt(0).ErrorMessage;
    }
}
<div class="govuk-form-group @displayNoteCountError">
    <label for="selectedNotesError" class="govuk-visually-hidden">hidden link for navigation to evidence error</label> 
        <input id="selectedNotesError" class="govuk-visually-hidden" />
        <p id="selectedNotesErrorText" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> @error
        </p>
    </div>

<table id="transfer-notes-selection" class="govuk-table">
    <caption class="govuk-table__caption govuk-visually-hidden">Select up to 5 notes to transfer</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header reference-column">
                Reference ID
            </th>
            <th class="govuk-table__header submitted-column">
                Submitted by
            </th>
            <th class="govuk-table__header tonnage-column">
                Total (tonnes)
            </th>
            <th class="govuk-table__header add-remove-column">
                <span class="govuk-visually-hidden">add note</span>
            </th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">

        @for (var i = 0; i < Model.EvidenceNotesDataListPaged.Count; i++)
        {
            var i1 = i;

            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    @Model.EvidenceNotesDataListPaged[i].ReferenceDisplay
                </td>
                <td class="govuk-table__cell">
                    @Model.EvidenceNotesDataListPaged[i].SubmittedBy
                </td>
                <td class="govuk-table__cell">@Model.EvidenceNotesDataListPaged[i].TotalReceivedDisplay</td>
                <td class="govuk-table__cell">
                    @using (Html.BeginForm(actionName: "SelectEvidenceNote", controllerName: "TransferEvidence", method: FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("page", Model.EvidenceNotesDataListPaged.PageNumber, new { id = "selected-evidence-note-page" })
                        @Html.Hidden("evidenceNoteId", @Model.EvidenceNotesDataListPaged[i].Id, new { id = "selected-evidence-note-id" })
                        @Html.Hidden("complianceYear", @Model.ComplianceYear, new { id = "selected-evidence-compliance-year" })
                        @Html.Hidden("pcsId", @Model.PcsId, new { id = "selected-evidence-pcs" })
                        @Html.Hidden("numberOfSelectedNotes", @Model.EvidenceNotesDataList.Count, new { id = "selected-evidence-pcs" })

                        <button class="link-submit" type="submit">Add</button>
                    }
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="govuk-!-margin-top-3">
    <div class="govuk-button-group">
        @this.WeeeGds().Button("Continue", new { name = "Action", value = ActionEnum.Continue, id = "transfer-from-btn", @class = "govuk-!-width-one-quarter" })
    </div>
</div>
