@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@model EA.Weee.Web.Areas.Admin.ViewModels.User.EditUserViewModel
@{
    ViewBag.Title = "Edit User";
}

@section main_content {

    <header class="hgroup">
        <div>
            <h1 class="govuk-heading-l">User details</h1>
        </div>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        @Html.HiddenFor(m => m.Email)
        @Html.HiddenFor(m => m.OrganisationName)
        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.OrganisationId)
        @Html.HiddenFor(m => m.IsCompetentAuthorityUser)
        @Html.HiddenFor(m => m.CanManageStatus)

        <div class="govuk-form-group">
            <table title="This table contains the organisation user details.">
                <tbody>
                    <tr>
                        <th>Company</th>
                        <td>@Model.OrganisationName</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><a href="mailto:@Html.DisplayFor(m => m.Email)" target="_top">@Html.DisplayFor(m => m.Email)</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.FirstName)">
            @Html.Gds().LabelFor(m => m.FirstName)
            @Html.Gds().ValidationMessageFor(m => m.FirstName)
            @Html.Gds().TextBoxFor(m => m.FirstName, new { @maxlength = CommonMaxFieldLengths.FirstName })
        </div>

        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.LastName)">
            @Html.Gds().LabelFor(m => m.LastName)
            @Html.Gds().ValidationMessageFor(m => m.LastName)
            @Html.Gds().TextBoxFor(m => m.LastName, new { @maxlength = CommonMaxFieldLengths.LastName })
        </div>

        if (Model.CanManageStatus)
        {
            if (Model.IsCompetentAuthorityUser)
            {
                <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.Role)">
                    @Html.Gds().LabelFor(m => m.Role)
                    @Html.Gds().ValidationMessageFor(m => m.Role)
                    @Html.Gds().DropDownListFor(m => m.Role.Name, Model.UserRoleSelectList, new { autocomplete = "false" })
                </div>
            }
            else
            {
                @Html.Gds().DropDownListFor(m => m.Role.Name, Model.UserRoleSelectList, new { @class = "hidden" })
            }

            <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.UserStatus)">
                @Html.Gds().LabelFor(m => m.UserStatus)
                @Html.Gds().ValidationMessageFor(m => m.UserStatus)
                @Html.Gds().DropDownListFor(m => m.UserStatus, Model.UserStatusSelectList, new { autocomplete = "false" })
            </div>
        }
        else
        {
            @Html.Gds().DropDownListFor(m => m.Role.Name, Model.UserRoleSelectList, new { @class = "hidden" })
            @Html.Gds().DropDownListFor(m => m.UserStatus, Model.UserStatusSelectList, new { @class = "hidden" })
        }

        <div class="govuk-form-group">
            <button class="button" type="submit">Save and continue</button>
        </div>
        <p>
            @Html.ActionLink("Back", "View", new { id = Model.Id })
        </p>
    }
}
