@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@model EA.Weee.Web.Areas.Admin.ViewModels.User.EditUserViewModel
@{
    ViewBag.Title = "View User";
}

@section main_content {

    <header class="hgroup">
        <div>
            <h1 class="govuk-heading-l">User details</h1>
        </div>
    </header>

    <div class="govuk-form-group">
        <table class="govuk-table" title="This table contains the organisation user details.">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Company</th>
                    <td class="govuk-table__cell">@Model.OrganisationName</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Email</th>
                    <td class="govuk-table__cell"><a href="mailto:@Html.DisplayFor(m => m.Email)" target="_top">@Html.DisplayFor(m => m.Email)</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">First name</th>
                    <td class="govuk-table__cell">@Model.FirstName</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Last name</th>
                    <td class="govuk-table__cell">@Model.LastName</td>
                </tr>
                @if (Model.IsCompetentAuthorityUser)
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Role</th>
                        <td class="govuk-table__cell">@Model.Role.Description</td>
                    </tr>
                }
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Current status</th>
                    <td class="govuk-table__cell">@Model.UserStatus</td>
                </tr>
            </tbody>
        </table>
    </div>

    @if (Model.CanEditUser)
    {
        <p>
            @Html.ActionLink("Edit user details", "Edit", new { id = Model.Id })
        </p>
    }
    <p>
        @Html.ActionLink("Perform another activity", "Index", "Home", null, new { @class = "govuk-button" })
    </p>
    <p>
        @Html.ActionLink("Back", "Index")
    </p>
}
